& {  

    position: relative;

    .language {
        position: absolute;
        z-index: 5;
        top: px(1020);
    }

    .top-panel {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9998;
        width: 100%;
        height: px(240);
        background: transparent;
        transition: top $time * 2 ease-out, background $time, opacity $time * 2 ease-out;

        &.active {
            background: rgba(238, 238, 238, .70);
            opacity: 1;

            &.scrolled {
                top: px(-242);
                opacity: 0;
            }
        }
    }

    .logo,
    .menu {
        animation: fadeIn $time * 3 both;
    }

    .big-bg-letter-c {

        .big-background-letter {
            top: initial;
            right: initial;
            bottom: px(0);
            left: px(-200);
            font-family: $raleway;
            font-size: px(2000);

            span {

                &:before {
                    content: 'C';
                }
            }
        }
    }

    .big-bg-letter-o {

        .big-background-letter {
            top: 35%;
            right: initial;
            left: px(500);
            font-family: $raleway;
            font-size: px(2000);

            span {

                &:before {
                    content: 'O';
                }
            }
        }
    }

    p {
        color: $darkGray;
        font-family: $roboto;
        font-size: px(32);
        line-height: 1.4;

        &.big {
            padding: px(60) 0;
            border-bottom: 1px solid $gray;
            border-top: 1px solid $gray;
            font-size: px(48);
        }

        &.bold {
            font-size: px(36);
            font-weight: 800;
        }

        &.italic {
            font-style: italic;
        }

        &.underlined {

            span {
                text-decoration: underline;
            }
        }
    }

    .column {

        &-1 {
            padding-right: 6.5%;
            width: 44.5%;
        }

        &-2 {
            padding-right: px(130);
            width: 29.5%;
        }

        &-3 {
            width: 26%;
        }

    }

    .double {
        width: 55.5%;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        margin: 0 auto;
        padding-top: px(240);
        width: 81%;
        height: px(1720);

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: px(2070);
            height: px(1470);
            object-fit: cover;
        }

        .big-background-letter {
            top: initial;
            right: initial;
            bottom: px(-200);
            left: px(-150);
            font-size: px(520);

            span {
                color: $darkGray;
                font-family: $raleway;

                &:before {
                    content: 'o';
                }
            }
        }
    }

    .info {
        position: relative;
        z-index: 2;
        padding: px(110) 0 px(60) 6.5%;
        width: 62%;
        background: $white;

        .big {
            margin: px(120) 0 px(90);
        }
    }

    .sticker {
        margin-bottom: px(40);

        span {

            &:before {
                content: 'Услуги комплексные решения';
            }
        }
    }

    ul {

        &.circled {
    
            li {
                position: relative;
                margin-bottom: px(40);
                padding-left: px(60);
                color: $darkGray;
                font-family: $roboto;
    
                &:before {
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: -4px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $blue;
                    content: '';
                }
            }
        }

        &.bold {

            li {
                font-weight: 700;
            }
        }

        &.indexed {

            li {
                position: relative;
                margin-bottom: px(180);

                &:before,
                &:after {
                    display: block;
                    position: absolute;
                }

                &:before {
                    z-index: 2;
                    top: px(-110);
                    left: px(-80);
                    color: $darkGray;
                    font-family: $raleway;
                    font-size: px(96);
                    font-weight: 800;
                }

                &:after {
                    z-index: -1;
                    top: px(-50);
                    left: px(-40);
                    width: px(88);
                    height: px(88);
                    background: $darkWhite;
                    content: '';
                }

                &:nth-child(1) {

                    &:before {
                        content: '01';
                    }
                }

                &:nth-child(2) {

                    &:before {
                        content: '02';
                    }
                }

                &:nth-child(3) {

                    &:before {
                        content: '03';
                    }
                }

                &:nth-child(4) {

                    &:before {
                        content: '04';
                    }
                }
            }
        }
    }

    .new-title {

        .text-container {
            margin-top: px(20);
            display: inline-block;
            font-family: $raleway;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        padding-bottom: px(450);
        width: 81%;

        h3 {
            color: $darkGray;
            font-family: $roboto;
            font-size: px(96);
            font-weight: 700;
            line-height: 1.2;

            span {
                color: $blue;
            }
        }

        h4 {
            margin-bottom: px(20);
            font-family: $roboto;
            font-weight: 700;
        }

        &__item {
            display: flex;
            position: relative;
            z-index: 2;
            width: 100%;

            &--1 {
                margin-top: px(260);

                .italic {
                    padding-bottom: px(36);
                    border-bottom: 1px solid lighten($darkGray, 35%);;
                    color: lighten($darkGray, 35%);
                }

                .column-2 {

                    p {

                        &:last-child {
                            margin-top: px(60);
                        }
                    }
                }
            }

            &--2 {
                margin-top: px(230);

                img {
                    width: 100%;
                    // height: px(880);
                }

                .double {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    p {

                        span {
                            font-weight: 700;
                        }

                        &:first-of-type {
                            padding-right: px(130);
                            width: 52.73%;
                        }

                        &:last-of-type {
                            width: 47.27%;
                        }
                    }
                }

                h3 {
                    margin-bottom: px(160);
                    width: 100%;
                    font-family: $roboto;
                    font-size: px(96);
                    line-height: px(110);
                    font-weight: 700;

                    span {
                        color: $blue;
                    }
                }
            }

            &--3 {
                margin-top: px(290);

                .column {
                    padding-right: px(130);
                    width: 74%;

                    img {
                        width: 100%;
                        height: px(1180);
                    }
                }

                .column-3 {

                    p {
                        margin-bottom: px(90);
                    }

                    span {
                        font-weight: 700;
                    }
                }
            }

            &--4 {
                margin-top: px(230);

                ul {
                    margin-top: px(60);
                }

                .column-2 {

                    p {
                        margin-bottom: px(54);
                    }
                }

                .column-2,
                .column-3 {

                    span {
                        font-weight: 700;
                    }
                }
            }

            &--5 {
                margin-top: px(280);

                .column-1 {
                    position: relative;

                    p {
                        position: relative;
                        top: px(560);
                        width: px(600);
                        transform-origin: 0 0;
                        transform: rotate(-90deg);
                    }
                }

                .double {

                    p {
                        position: relative;
                        padding: 0 px(70) px(50) px(100);
                        font-size: px(48);
                        font-weight: 700;
    
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 9px;
                            height: 100%;
                            background: $blue;
                            content: '';
                        }
                    }
                }
            }

            &--6 {
                margin-top: px(230);

                .column-2 {
                    margin-left: 44.5%;
                }

                span {
                    font-weight: 700;
                }
            }

            &--7 {
                flex-wrap: wrap;
                margin-top: px(110);

                h3 {
                    margin-bottom: px(140);
                }

                .column {
                    margin-left: 44.5%;

                    &-2 {
                        margin-left: 44.5%;
                    }
                }
            }

            &--8 {
                margin-top: px(450);
            }

            &--9 {
                margin-top: px(370);

                ul {
                    padding-top: px(100);
                }

                p {

                    &.big {
                        margin-top: px(400);
                    }
                }
            }
        }
    }
}