@import '../desktop';
& {
    .front-layer, .back-layer { height: px(1750); }
    .front-layer {
        .container { width: 95%; }
        h2 {
            margin-right: px(100);
            font-size: px(80);
        }
        .crossed-button { margin-left: px(20); }
        .works { width: px(1400); }
        .work { &--audi { left: px(50); } }
    }
    .back-layer { padding-right: px(80); }
    form {
        padding-top: px(150);
        width: px(650);
        height: px(900);
        h3 {
            margin-bottom: px(150);
            font-size: px(46);
        }
        .send {
            width: px(300);
            height: px(70);
        }
    }
    .back-layer { padding-right: px(80); }
    &.opened { .front-layer { transform: rotateY(15deg) scaleX(.8); } }
}