.site-types {
    height: initial;
    min-height: initial;

    .container {
        display: block;
        padding: 80px 0;
    }

    .line {

        &--2 {
            left: 50%;
        }

        &--3 {
            left: 100%;
        }

        &--4 {
            display: none;
        }
    }

    .types-title {
        margin: 0 0 50px;
        padding-right: 0;
        width: 100%;
    }

    .types {
        width: 100%;
    }
}
