.seo-header {

    .new-title {
        margin-top: 20px;
        font-size: 32px;
    }

    .seo-feed {

        ul {
            margin: 70px 0;
        }

        li {
            margin-bottom: 25px;
        }

        .huge {
            font-size: 30px;
        }

        .big {
            font-size: 24px;
        }
    }
}
