& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    position: relative;
    min-height: auto;
    display: inherit;
    z-index: 1;
    left: 0;
    
    // ----- animation -----
    // ----- other -----
    .back-layer {
        animation: fadeIn 0s 0s both;
    }
    .vertical-text, .questions { animation: fadeIn $time * 6 $time * 15 both; }

    // ----- big-background-letter -----
    .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }

    // ----- name -----
    .name { animation: fadeIn $time * 3 both; }
    
    // ----- line -----
    .line { animation: heightPercentChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }

    // ----- other -----
    .table .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime * 1.1 both; }
    .table .container .item img { animation: fadeInUp $BPostLinkAnimationTime $BPostLinkDelayTime both; }

    // ----- title -----
    .title {
        animation: fadeIn $time * 2 $time * 5 linear;
        animation-fill-mode: forwards;
        span.name {
            span {
                animation: titleName $time * 2 $time * 11 linear;
                animation-fill-mode: forwards;
            }
            &:before {
                animation: titleNameShape $time * 2 $time * 10 linear;
                animation-fill-mode: forwards;
            }
        }
        .word {
            &:after { animation: halfDown $time * 2 linear $time * 7 both; }
            span {
                animation: titleWord $time * 2 $time * 8 linear;
                animation-fill-mode: forwards;
            }
        }
    }
    
    // // ----- animation left -----
    // &.current, &.current-back,
    // &.previous, &.previous-back {
    //     animation: Left $time * 3 0s both;
        
    //     // ----- other -----
    //     .back-layer {
    //         animation: fadeIn 0s 0s both;
    //     }
    //     .vertical-text, .questions { animation: fadeIn $time * 6 $time * 15 both; }

    //     // ----- big-background-letter -----
    //     .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }

    //     // ----- name -----
    //     .name { animation: fadeIn $time * 3 both; }
        
    //     // ----- line -----
    //     .line { animation: heightPercentChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }

    //     // ----- other -----
    //     .table .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime * 1.1 both; }
    //     .table .container .item img { animation: fadeInUp $BPostLinkAnimationTime $BPostLinkDelayTime both; }

    //     // ----- title -----
    //     .title {
    //         animation: fadeIn $time * 2 $time * 5 linear;
    //         animation-fill-mode: forwards;
    //         span.name {
    //             span {
    //                 animation: titleName $time * 2 $time * 11 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //             &:before {
    //                 animation: titleNameShape $time * 2 $time * 10 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //         }
    //         .word {
    //             &:after { animation: halfDown $time * 2 linear $time * 7 both; }
    //             span {
    //                 animation: titleWord $time * 2 $time * 8 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //         }
    //     }
    // }

    // // ----- animation right -----
    // &.previous, &.previous-back {
    //     animation: slideRight $time * 3 $topPanelAnimationTime both;
    //     animation-play-state: paused;
        
    //     // ----- other -----
    //     .back-layer {
    //         animation: fadeIn 0s 0s both;
    //     }
    //     .vertical-text, .questions { animation: fadeIn $time * 6 $time * 15 both; }

    //     // ----- big-background-letter -----
    //     .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }

    //     // ----- name -----
    //     .name { animation: fadeIn $time * 3 both; }
        
    //     // ----- line -----
    //     .line { animation: heightPercentChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }

    //     // ----- other -----
    //     .table .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime * 1.1 both; }
    //     .table .container .item img { animation: fadeInUp $BPostLinkAnimationTime $BPostLinkDelayTime both; }

    //     // ----- title -----
    //     .title {
    //         animation: fadeIn $time * 2 $time * 5 linear;
    //         animation-fill-mode: forwards;
    //         span.name {
    //             span {
    //                 animation: titleName $time * 2 $time * 11 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //             &:before {
    //                 animation: titleNameShape $time * 2 $time * 10 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //         }
    //         .word {
    //             &:after { animation: halfDown $time * 2 linear $time * 7 both; }
    //             span {
    //                 animation: titleWord $time * 2 $time * 8 linear;
    //                 animation-fill-mode: forwards;
    //             }
    //         }
    //     }
    // }
    // &.current-back { animation: none; }
    // &.previous-back { animation-play-state: running; }

    // ----- front-layer -----
    .front-layer {
        z-index: 2;
        overflow: hidden;
        position: relative;
        background: $background;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;
        &:after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            content: '';
            z-index: -1;
            height: 100%;
            display: block;
            position: absolute;
            transition: opacity $time;
            background: rgba(0,0,0,.4);
        }

        // ----- vertical-text -----
        .vertical-text {
            font-family: $Roboto-Thin;
            transform: rotate(-90deg);
            position: absolute;
            font-size: px(26);
            line-height: 1.4;
            bottom: 30.5vh;
            left: px(-160);
            color: $white;
            width: 12%;
        }

        // ----- table -----
        .table .container {
            height: 100vh;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            max-width: 1170px;
            position: relative;

            // ----- item -----
            .item {
                width: 25%;
                position: relative;
                display: -webkit-inline-box;
                .block {
                    height: 40%;
                    display: grid;
                    margin: 29vh 0 auto;
                    .questions .open-form {
                        text-align: left;
                        span {
                            font-family: $Raleway-ExtraBold;
                            line-height: 1.5;
                            font-size: px(48);
                            color: $white;
                            span {
                                font-family: $Raleway-ExtraBold;
                                font-size: px(48);
                                color: $blue;
                            }
                        }
                    }
                }
                .line {
                    top: 0;
                    left: 0;
                    width: 1px;
                    position: absolute;
                    background: $darkGray;
                    &.right {
                        right: 0;
                        left: inherit;
                    }
                }
                & + .title {
                    display: block;
                    margin-top: 12vh;
                    position: absolute;
                    font-family: $Raleway-ExtraBold;
                    .word span {
                        font-size: px(88);
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    // ----- back-layer -----
    .back-layer {
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        padding-right: px(140);
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        background: $black;
        height: 100vh;
        width: 100%;
    }

    // ----- opened -----
    &.opened .front-layer {
        transform: rotateY(30deg);
        &:after {
            z-index: 9999;
            opacity: 1;
        }
    }
}