& {

    padding: px(200) px(30) 0;
    background: $lightBlack;
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    .questions {
        display: none;
    }

    .block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        img {
            display: block;
            margin-bottom: px(30);
            width: 45%;
            object-fit: contain;
        }
    }

    .title {
        margin: px(30) 0;
        color: $white;
        font-size: px(36);
    }
    
    .vertical-text {
        margin-top: px(40);
        font-family: $Roboto-Thin;
        font-size: px(26);
        line-height: 1.4;
        color: $white;
    }
}