& {  

    // Animation for block
    @keyframes apear {
        from {
            transform: translate3d(-100%, -100%, 0);
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }
    // Animation for block ends

    font-family: $Raleway-Regular;
    cursor: default;
    position: relative;
    padding-top: px(300);
    padding-left: px(360);
    width: 100vw;
    height: 100vh;
    background: $white;
    overflow: hidden;

    .big-background-letter {

        span {

            &:before {
                content: 'o';
            }
        }
    }

    .small-gray-lines {
        z-index: 1;

        .line {
            background: $lightGray;

            &.up {
                transform: rotate(-65deg) translate3d(100%, 0, 0);
            }

            &.down {
                transform: rotate(-65deg) translate3d(-100%, 0, 0);
            }

            &.up,
            &.down {
                animation: none;
            }
        }
    }

    .portfolio-client {
        bottom: px(130);
        
        .client-name-container {
            
            span {

                &:before {
                    content: 'Eurovision';
                }
            }
        }
    }

    .portfolio-right-panel {
        
        .date {

            &-month {

                &:before {
                    content: 'May';
                }
            }

            &-year {
                &:after {
                    content: '2017';
                }
            }
        }
    }

    .info {
        position: absolute;
        top: px(420);
        left: px(2090);
        z-index: 3;
    }

    @keyframes widthIncreaseStickerLine {
        from {
            width: 0;
        }
        to {
            width: px(100);
        }
    }

    .sticker {
        position: relative;
        font-family: $Raleway-Bold;
        font-size: px(24);

        span {
            display: inline-block;
            color: $darkGray;
            text-transform: uppercase;

            &:before {
                content: 'Портфолио';
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: px(-120);
            width: px(100);
            height: 3px;
            background: $lightBlack;
            content: '';
            transform: translateY(-50%);
        }
    }

    .new-title {
        margin-top: px(60);

        .text-container {
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: px(60);
                background: $blue;
                content: '';
                transform: translate3d(0, 50%, 0);
            }

            &:last-child {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            color: $black;
            font-size: px(120);
            font-family: $Raleway-ExtraBold;
            line-height: px(125);
            text-transform: uppercase;
        }
    }

    .about-work {
        margin-top: px(50);
        width: px(780);

        p {
            display: block;
            margin-bottom: px(30);
            color: $darkGray;
            font-family: $Roboto-Regular;
            font-size: px(32);
            line-height: px(40);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @keyframes heightChanging {
        from {
            height: 0;
        }
        to {
            height: 100vh;
        }
    }
    
    .blue-line {
        position: absolute;
        top: 0;
        left: px(920);
        z-index: 1;
        width: px(980);
        height: 100vh;
        background: $blue;
    }

    @keyframes beforeApear {
        from {
            transform: translate3d(100%, -100%, 0);           
        }
        50% {
            transform: translate3d(0, 0, 0);
        }
        to {
            transform: translate3d(-100%, 100%, 0);
        }
    }

    @keyframes imageApear {
        from {
            transform: translate3d(100%, -100%, 0);           
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes textApear {
        from {
            opacity: 0;
            transform: rotate(90deg) translateY(-100%);           
        }
        to {
            opacity: 1;
            transform: rotate(90deg) translateY(0);
        }
    }

    @keyframes shadowAppearance {
        from {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        to {
            box-shadow: 0 0 px(60) px(16) rgba(0, 0, 0, .3);    
        }
    }

    .image-block {
        position: relative;
        z-index: 3;
        width: px(1360);
        height: px(1360);

        .image-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-shadow: 0 0 px(60) px(16) rgba(0, 0, 0, .3);

            img {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
                transform: translate3d(-90%, 90%, 0);
            }
        }

        p {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            padding: px(40) px(130);
            width: px(900);
            color: $darkGray;
            font-size: px(24);
            line-height: px(30);
            transform-origin: 0 0;
            transform: rotate(90deg);
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Down $time * 3 0s both;

        .small-gray-lines {
            
            .line {
                animation: lineUp 1s $time * 3 both;

                &.down {
                    animation-name: lineDown; 
                }
            }
        }

        .big-background-letter {
            animation: fadeIn $portfolioEuroclubLetterAnimationTime $portfolioEuroclubLetterDelayTime both;
        }

        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .portfolio-client {
            
            .client {
                animation: client $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: clientName $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {
            
            span {
                animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PEStickerTextAnimationTime $PEStickerTextDelayTime both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PEStickerLineAnimationTime $PEStickerLineDelayTime both;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation: halfDown $PETitleLineAnimationTime linear $PETitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $PETitleTextAnimationTime $PETitleTextDelayTime both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PEAboutAnimationTime $PEAboutDelayTime both;
            }
        }

        .blue-line {
            animation: heightChanging $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both;
        }

        .image-block {
    
            .image-container {
                animation: shadowAppearance $portfolioEuroclubImageShadowAnimationTime $portfolioEuroclubImageShadowDelayTime both;
    
                img {
                    animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both;
                }
    
                &:before {
                    animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both;
                }
            }
    
            p {
                animation: textApear $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both;
            }
        }
    }

    &.previous,
    &.previous-back {
        animation: slideUp $time * 3 $topPanelAnimationTime both;
        animation-play-state: paused;

        .small-gray-lines {
            
            .line {
                animation-play-state: paused;
            }
        }

        .big-background-letter {
            animation-play-state: paused;
        }

        .logo {
            animation-play-state: paused;
        }

        .menu {
            animation-play-state: paused;
        }

        .portfolio-client {
            
            .client {
                animation-play-state: paused;
        
                &-name-container {
        
                    span {
                        animation-play-state: paused;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation-play-state: paused;
            }
        
            .devices {
                
                span {
                    animation-play-state: paused;
                }
            }
        }

        .bottom-button {
            
            span {
                animation-play-state: paused;
            }
        
            .line {
                animation-play-state: paused;
            }
        }

        .sticker {

            span {
                animation-play-state: paused;
            }
    
            &:before {
                animation-play-state: paused;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation-play-state: paused;
                }
            }
    
            span {
                animation-play-state: paused;
            }
        }
    
        .about-work {
    
            p {
                animation-play-state: paused;
            }
        }

        .blue-line {
            animation-play-state: paused;
        }

        .image-block {
    
            .image-container {
                animation-play-state: paused;
    
                img {
                    animation-play-state: paused;
                }
    
                &:before {
                    animation-play-state: paused;
                }
            }
    
            p {
                animation-play-state: paused;
            }
        }
        
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}