.more-marketing-services {

    .container {
        width: 80%;
    }

    .line {

        &--2 {
            left: 100%;
        }

        &--3 {
            display: none;
        }
    }

    .more-services-list {

        li {
            width: 100%;
        }
    }
}