.blog-two {

    .title {
        margin: 21vh 0 0 140px;

        .word {

            span {
                font-size: 27px;
            }

            &:after {
                height: 17px;
            }
        }
    }

    .big-background-letter {
        top: 50vh;
        left: 70vh;
    }

    .image-block {
        height: 350px;
        width: 307px;

        &.up {
            right: 200px;

            p {
                top: 213px;
            }

            .gray {
                right: -82px;
                height: 100px;
                width: 100px;
                top: 325px;
            }
        }

        &.down {
            right: 300px;
            top: 275px;
        }
    }

    .service-info {

        &.horizontal {
            left: 40px;
        }

        &.vertical.one {
            left: -10px;
        }
    }
}
