& {
    
    padding-top: px(100);
    background-color: $white;
    color: $darkGray;
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    .image-container {
        margin: px(30) auto;
        width: 100%;
        height: px(400);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}