@import '../desktop';

// ----- table -----
.front-layer {

	// ----- vertical-text -----
	.vertical-text { left: px(-5); }
	
	// ----- table -----
	.table .container {
		max-width: 1000px;
		
		// ----- item -----
		.item {
			.block {
				height: 55%;
				margin-top: 37vh;
				img { margin-bottom: 8vh; }	
			}
			& + .title { margin-top: 20vh; }
		}
	}
}