@import '../desktop';

// ----- table -----
.front-layer {

	// ----- vertical-text -----
	.vertical-text { left: 0; }

	// ----- table -----
	.table .container {
		max-width: 700px;
		
		// ----- item -----
		.item {
			.block {
				height: 60%;
				margin-top: 30vh;
				img { max-width: 150px; }
			}
			& + .title {
				margin-top: 18vh;
				.word span { font-size: px(65); }
			}
		}
	}
}