@import '../desktop';

// ----- table -----
.front-layer {

	// ----- vertical-text -----
	.vertical-text { left: px(-5); }
	
	// ----- table -----
	.table .container {
		max-width: 1000px;
		
		// ----- item -----
		.item {
			.block {
				margin-top: 37vh;
				img {
				    max-width: 200px;
				    max-height: 35px;
				    margin-bottom: 8vh;
				}
			}
			& + .title { margin-top: 20vh; }
		}
	}
}