<header class="marketing-header" data-top-panel-bg="light">
    <div class="gray-block"></div>

    <div class="blue-block"></div>

    <div class="container">
        <div class="image-container">
            <img src="../../../../images/services/marketing/marketing-header.jpg" alt="marketing">
        </div>
        
        <div class="info">
            <div class="sticker">
                <span class="sticker-text">Услуги маркетинга</span>
            </div>
            
            <h1 class="new-header">Маркетинг</h1>

            <article>
                <p>
                    Маркетинг — комплексная деятельность в отношении бренда и 
                    его услуг, направленная на укрепление рыночных позиций, 
                    рост доходов и улучшение имиджа. Качественный маркетинг 
                    выполняет все важные управленческие функции: организация 
                    и планирование, реклама и продвижение, исследование и анализ.
                </p>

                <p>
                    Маркетинг определяет векторы развития бизнеса, поведение по 
                    отношению к потребителю, позицию в отношении конкурентов, 
                    формирует цены и ассортимент товаров.
                </p>
            </article>
        </div>
    </div>
</header>