<header class="marketing-header screen-block">

    @@include('./components/language.html')

    <div class="container">
        <div class="gray-block"></div>

        <div class="blue-block"></div>

        <div class="info">
            @@include('./components/sticker.html')
            <div class="new-title">
                <div class="text-container">
                    <span>Маркетинг</span>
                </div>
            </div>
            <article>
                <p>
                    Маркетинг — комплексная деятельность в отношении бренда и 
                    его услуг, направленная на укрепление рыночных позиций, 
                    рост доходов и улучшение имиджа. Качественный маркетинг 
                    выполняет все важные управленческие функции: организация 
                    и планирование, реклама и продвижение, исследование и анализ.
                </p>
                <p>
                    Маркетинг определяет векторы развития бизнеса, поведение по 
                    отношению к потребителю, позицию в отношении конкурентов, 
                    формирует цены и ассортимент товаров.
                </p>

                <button class="crossed-button open-long-read">
                    <span></span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </button>
            </article>
        </div>

        <div class="image-container">
            <img data-target-long-read="true" src="../../../../images/services/marketing/marketing-header.jpg" alt="marketing">
        </div>
    </div>

    <div class="long-read">

        <div class="long-read-background"></div>
        
        <div class="long-read-container">
            <button class="cross close-long-read wow fadeIn">
                <span></span>
                <span></span>    
            </button>

            <div class="row row--1">
                <div class="text-container">
                    <p class="bottom-bordered wow fadeInUp">
                        Маркетинг — поиск и реализация мер для 
                        удовлетворения клиента с целью извлечения 
                        максимальной прибыли. 
                    </p>
                </div>
                <div class="text-container wow fadeInUp">
                    <p>
                        Маркетинг находит и реализует способы 
                        увеличивать ваши доходы — через повышение 
                        лояльности со стороны клиента. А повышать 
                        его интерес и признание к бренду можно различными 
                        эффективными маркетинговыми и PR-инструментами. 
                    </p>
                </div>
            </div>
            <div class="row row--2">
                <div>
                    <span class="row-title wow fadeInUp">
                        <span>Сделайте предложение</span>,
                        от которого они не смогут отказаться
                    </span>
                </div>
                <div class="text-container">
                    <p class="wow fadeInUp">
                        Для достижения высоких результатов в маркетинге 
                        необходимо, очень грамотно применяя существующие 
                        инструменты, хорошо изучить рынок и конкретные 
                        запросы потребителей. 
                    </p>
                    <p class="left-bordered wow fadeInUp">
                        Ведь цель маркетинга — не в том, чтобы научиться 
                        продавать больше, а в том, чтобы досконально изучить 
                        и понять клиента, а затем сделать ему самое подходящее 
                        предложение. Нужны не усилия по сбыту, а оптимизация 
                        услуг под клиента, и в итоге они (услуги) будут 
                        продавать себя сами. 
                    </p>
                </div>
            </div>
            <div class="row row--3">
                <div>
                    <span class="row-title wow fadeInUp">
                        На пути к «своему потребителю» 
                        <span>маркетинг</span>
                        должен выполнять следующие задачи:
                    </span>
                </div>
                <div>
                    <ul class="circled circled-double">
                        <li class="wow fadeInUp">Анализ и оценка нужд своего целевого потребителя;</li>
                        <li class="wow fadeInUp">Маркетинговая поддержка разработки новых позиций в ассортименте;</li>
                        <li class="wow fadeInUp">Анализ и прогноз рыночной ситуации, в том числе оценка деятельности конкурентов;</li>
                        <li class="wow fadeInUp">Управление ассортиментной и ценовой политикой бренда; </li>
                        <li class="wow fadeInUp">Создание возможностей для стабильного сбыта товаров и услуг компании;</li>
                        <li class="wow fadeInUp">Качественное сервисное обслуживание.</li>
                    </ul>
                </div>
            </div>
            <div class="row row--4">
                <div>
                    <span class="row-title wow fadeInUp">
                        Почему вам нужен профессиональный 
                        <span>маркетинг?</span>
                    </span>
                </div>
                <div class="content-container">
                    <ul class="indexed indexed-double">
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Исследовать рынок</span>
                            <p>
                                Вы должны быть в курсе, какие услуги нужны сейчас на рынке, 
                                что предлагают конкуренты и каких предложений на рынке не хватает.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Расширять поле деятельности и влияния</span>
                            <p>
                                Нельзя стоять на месте и оставаться локальным брендом, необходимо 
                                постоянно развиваться и расти.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Продвигать свои услуги и товары</span>
                            <p>
                                Нужно рассказывать потребителю, какие услуги у вас есть, почему 
                                они им нужны и как их можно получить. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Создавать положительный имидж и узнаваемость бренда</span>
                            <p>
                                О вашем бренде должны говорить, его должны знать ещё до того, 
                                как обратиться к вам за услугой или покупкой. 
                            </p>
                        </li>
                    </ul>
                    <div class="text-container">
                        <p class="bordered wow fadeInUp">
                            Профессиональный маркетинг эффективно решает перечисленные задачи и 
                            запускает положительные процессы, напрямую влияющие на ваш бизнес. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row row--5">
                <div>
                    <span class="row-title wow fadeInUp">
                        Виды
                        <span>маркетинга</span>
                    </span>
                </div>
                <div>
                    <ul class="circled">
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Конверсионный маркетинг</span>
                            <p>
                                Направлен на изменение отрицательного или негативного отношения аудитории к 
                                тому или иному виду продукции. Отрицательный спрос может быть снижен путём 
                                снижения стоимости, изменения вида или характеристик продукции, более эффективного 
                                продвижения. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Стимулирующий маркетинг</span>
                            <p>
                                Применяется при полном отсутствии спроса на продукцию. С помощью определённых 
                                маркетинговых инструментов продукт продвигается как весьма соответствующий 
                                потребностям и интересам аудитории. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Развивающий маркетинг</span>
                            <p>
                                Эффективен при существовании лишь потенциального спроса на определённую продукцию, 
                                то есть когда спрос есть, а соответствующего продукта ещё нет на рынке. Маркетинг 
                                обнаруживает такой спрос и развивает это направление — создаёт нужный продукт 
                                и превращает скрытый спрос в реальный.  
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Ремаркетинг</span>
                            <p>
                                Восстанавливает спрос на продукт при обнаружении резкого снижения интереса к нему 
                                со стороны потребителей. В этом случае необходимо творчески и аналитически переосмыслить 
                                ранее применявшиеся маркетинговые ходы и применить более эффективную программу — оживить спрос.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Синхромаркетинг</span>
                            <p>
                                Находит и применяет инструменты для повышения стабильности спроса — когда время 
                                от времени наблюдаются его колебания под влиянием сезонных и других факторов, при 
                                общем удовлетворении спросом. Может быть применена более гибкая ценовая политика, 
                                новые методы продвижения продукции. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Поддерживающий маркетинг</span>
                            <p>
                                Даже при полноценном стабильном спросе на продукцию необходимо применять поддерживающие 
                                меры. Уровень спроса зависит от колебаний потребностей и появления на рынке других аналогичных 
                                предложений. Поддерживающий маркетинг обеспечит полноценный спрос вне зависимости от внешних 
                                факторов, оперативно реагируя на обстоятельства. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Демаркетинг</span>
                            <p>
                                Необходим при чрезмерном спросе, когда нет возможности противопоставить ему предложение в 
                                полной мере. Если ваши производственные возможности ниже спроса, можно, например, снизить 
                                стимулирование продаж, повысить цены и убрать рекламу. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Противодействующий маркетинг</span>
                            <p>
                                Меры борьбы с иррациональным спросом на продукцию, которая несёт вред покупателю. Справиться 
                                с нежелательным спросом можно путём резкого повышения стоимости, ограничения доступа к продукту, 
                                распространения дискредитирующей информации. 
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row--6">
                <div>
                    <span class="row-title wow fadeInUp">
                        Интернет-<span>маркетинг</span>
                    </span>
                </div>
                <div class="text-container">
                    <p class="wow fadeInUp">
                        Спрос на услуги и товары в интернете крайне высок и постоянно повышается. 
                        Онлайн-продажи несут несомненные преимущества и выгоды для бизнеса. Все ведущие 
                        компании в Украине и мире активно продвигают свой бренд в интернете и сообщают 
                        о превосходных результатах. Ведь привычная реклама больше не убеждает аудиторию, 
                        ставшую гораздо искушённей. А вот профессиональный интернет-маркетинг с уникальной 
                        стратегией даёт реальные возможности ненавязчивого и оригинального рассказа о 
                        ваших преимуществах. 
                    </p>
                    <p class="left-bordered wow fadeInUp">
                        Интернет-маркетинг — планирование и стимулирование продаж в веб-пространстве, 
                        с использованием всех инструментов традиционного маркетинга. Основная задача — 
                        получить максимальный эффект от аудитории вашего сайта, превратить посетителей 
                        в покупателей. 
                    </p>
                    <p class="wow fadeInUp">
                        С этой целью используются такие инструменты как контекстная и медийная реклама, 
                        ремаркетинг, реклама в Youtube, таргетинговая реклама в Facebook и Instagram. 
                        Грамотно продуманная стратегия с использованием всех или некоторых из этих методов 
                        позволяет привлекать посетителей на сайт, повысить эффективность сайта и настойчиво 
                        завоёвывать внимание аудитории.  
                    </p>
                    <p class="bordered wow fadeInUp">
                        Интернет-маркетинг не заставляет купить товар, а делает его настолько привлекательным, 
                        что аудитория получает сильную заинтересованность в нём — товары и услуги продают сами 
                        себя. И для этого нужно следовать профессиональной интернет-стратегии.
                    </p>
                </div>
            </div>
            <div class="row row--7">
                <div>
                    <span class="row-title wow fadeInUp">Услуги</span>
                </div>
                <div>
                    <ul class="circled">
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Разработка маркетинговой стратегии</span>
                            <p>
                                Поиск и определение уникальных ноу-хау решений, определяющих 
                                поведение вашего бренда на протяжении длительного периода. В 
                                стратегии будет заложен комплекс действий, направленных на 
                                формирование эффективной модели деятельности на рынке.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <span class="list-item-title">Интернет-маркетинг</span>
                            <p>
                                Интернет-маркетинг — комплекс действий, нацеленных на продвижение 
                                товаров/услуг в веб-пространстве.  Используются такие инструменты 
                                как медийная и контекстная реклама, ремаркетинг, реклама в Youtube, 
                                Таргетинговая реклама в Facebook и Instagram. 
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row row--8">
                <div>
                    <h3 class="wow fadeInUp">
                        Как мы 
                        <span>работаем</span>
                        над проектом?
                    </h3>
                </div>
                <div>
                    <ul class="indexed">
                        <li class="wow fadeInUp">
                            <p>
                                <span>Разработка стратегии продвижения бренда.</span>
                                Мы продумываем идеи акций, PR-кампаний, ивентов.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <p>
                                <span>Проработка медиаканалов</span>
                                и планирование действий по реализации мероприятий.
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <p>
                                <span>Составление медиаплана.</span>
                                Разрабатываем календарный план-график реализации стратегии. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <p>
                                <span>Прогноз бюджета и оценка эффективности.</span>
                                Планируем затраты на реализацию, определяем ключевые показатели эффеткивности. 
                            </p>
                        </li>
                        <li class="wow fadeInUp">
                            <p>
                                <span>Контроль реализации программы мероприятий.</span>
                                В ходе реализации стратегии проводим мониторинг рыночной ситуации, даём 
                                рекомендации по улучшению и корректировке плана. 
                            </p>
                        </li>
                    </ul>
                </div>
            </div> -->

            <div class="jumping-button wow fadeInUp">
                <button class="close-long-read">
                    <span>З</span>
                    <span>а</span>
                    <span>к</span>
                    <span>р</span>
                    <span>ы</span>
                    <span>т</span>
                    <span>ь</span>
                </button>
            </div>
        </div>
    
    </div>
    
</header>