<div class="marketing-services" data-top-panel-bg="dark">
    <img class="marketing-services-background" src="../../../../images/services/marketing/marketing-photo.png" alt="marketing-services-bg">

    <div class="container">
        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
        </div>

        <span class="marketing-services-title">
            Услуги
            <span class="blue">маркетинга</span>
        </span>

        <div class="types">
            <a href="marketing/marketing-strategy.html" class="types__item">
                <span class="index">
                    <span>01</span>
                </span>
                <div class="content">
                    <div class="new-title">
                        <div class="text-container">
                            <span class="new-title-text">Разработка</span>
                        </div>
                        <div class="text-container">
                            <span class="new-title-text">маркетинговой</span>
                        </div>
                        <div class="text-container">
                            <span class="new-title-text">стратегии</span>
                        </div> 
                    </div>
                    <p class="content-text">
                        Комплекс организационных и проектных действий, 
                        направленных на формирование эффективной модели 
                        поведения бренда.
                    </p>
                    <button class="crossed-button">
                        <span>Подробнее</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
            <a href="marketing/internet-marketing.html" class="types__item">
                <span class="index">
                    <span>02</span>
                </span>
                <div class="content">
                    <div class="new-title">
                        <div class="text-container">
                            <span class="new-title-text">Интернет маркетинг</span>
                        </div>
                    </div>
                    <p class="content-text">
                        Комплекс действий, нацеленных на продвижение 
                        товаров/услуг в веб-пространстве.
                    </p>
                    <button class="crossed-button">
                        <span>Подробнее</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>