<div class="marketing-brand">
    <div class="front-layer">
                
        <div class="dark-logo">
            //= templates/modules/logo.html
        </div>
        
        <div class="dark-menu">
            //= templates/modules/menu.html
        </div>
    
        <div class="dark-language">
            //= templates/modules/language.html
        </div>

        <div class="container">
            
            <div class="development">
                //= templates/modules/sticker.html
                
                <h2>
                    <span>Разработка</span>
                    <span>стратегии</span>
                    <span>продвижения</span>
                    <span class="blue">бренда</span>
                </h2>
            </div>

            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>01</span>
                    </div>
                    <div class="content">
                        <h3>Разработка стратегии продвижения бренда</h3>
                        <p>
                            Генерируются идеи акций, кампаний, ивентов и т.д.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>04</span>
                    </div>
                    <div class="content">
                        <h3>Контроль реализации программы мероприятий</h3>
                        <p>
                            Планируются затраты на реализацию стратегии, определяются ключевые 
                            показатели эффективности.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>02</span>
                    </div>
                    <div class="content">
                        <h3>Проработка медиаканалов и инструментов реализации мероприятий</h3>
                        <p>
                            Отбираются наиболее оптимальные средства массовой информации и 
                            каналы коммуникации
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>05</span>
                    </div>
                    <div class="content">
                        <h3>Тестирование</h3>
                        <p>
                            В ходе реализации стратегии осуществляется мониторинг рыночной 
                            ситуации, даются рекомендации по устранению недочетов.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>03</span>
                    </div>
                    <div class="content">
                        <h3>Составление медиаплана</h3>
                        <p>
                            Разрабатывается календарный план-график реализации стратегии.
                        </p>
                    </div>
                </div>
                <div class="questions">
                    <h3>Появились вопросы ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit, sed do eiusmod tempor 
                        incididunt
                    </p>
                    <button class="open-form">Да</button>
                </div>
            </div>

        </div>

    </div>
    
    <div class="back-layer">
        //= templates/modules/big-background-letter.html
        <form action="">
            <button class="close-form"></button>
            <h3>Задать вопрос</h3>
            <label class="name">
                <input type="text" required>
                <span>имя</span>
            </label>
            <label class="phone">
                <input type="text" required>
                <span>телефон</span>
            </label>
            <label class="question">
                <input type="text">
                <span>Ваш вопрос</span>
            </label>
            <button class="send">Отправить</button>
        </form>
    </div>
</div>