<div class="marketing-brand screen-block">
    <div class="front-layer">
    
        <div class="dark-language">
            @@include('./components/language.html')
        </div>

        <div class="container">
            
            <div class="development">
                @@include('./components/sticker.html')
                
                <h2>
                    <span>Как мы</span>
                    <span class="blue">работаем</span>
                    <span>над проектом?</span>
                </h2>
            </div>

            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>01</span>
                    </div>
                    <div class="content">
                        <h3>Разработка стратегии продвижения бренда</h3>
                        <p>
                            Мы проводим тщательную маркетинговую диагностику 
                            бизнеса: находя проблемные точки и, с другой стороны, 
                            преимущества бизнеса, выстраиваем чёткую схему развития 
                            бренда.  Формируем новые идеи относительно ассортимента, 
                            подачи и позиции. На основе этой аналитики и выработанных 
                            идей подбираются ключевые инструменты маркетинга, 
                            ориентированные на решение поставленных задач.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>03</span>
                    </div>
                    <div class="content">
                        <h3>Планирование бюджета, составление сметы и оценка эффективности</h3>
                        <p>
                            Планируем затраты на реализацию маркетинговой стратегии, 
                            определяем ключевые показатели эффективности, по которым 
                            в дальнейшем будет оцениваться успех проекта.                                
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>02</span>
                    </div>
                    <div class="content">
                        <h3>Создание плана мероприятий по реализации маркетинговой стратегии</h3>
                        <p>
                            Самая превосходная маркетинговая стратегия ничего не будет 
                            стоить, если не будут применены необходимые меры по её реализации — 
                            рекламные кампании, PR-акции, ивенты. Именно в результате 
                            маркетинговых мероприятий будут реализованы поставленные 
                            цели и шаги стратегии.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>04</span>
                    </div>
                    <div class="content">
                        <h3>Контроль реализации маркетинговой стратегии</h3>
                        <p>
                            На этапе реализации строго контролируется выполнение всех 
                            пунктов программы. Осуществляется мониторинг качества и 
                            точности проведения запланированных мероприятий.                                
                        </p>
                    </div>
                </div>
                <div class="questions">
                    <h3>Появились вопросы ?</h3>
                    <p>
                        Для экономии Вашего времени и нервов просто обратитесь к нам  
                        за  успехом  для Вашего бизнеса.
                    </p>
                    <button class="open-form">Да</button>
                </div>
            </div>

        </div>

    </div>
    
    <div class="back-layer">
        @@include('./components/big-background-letter.html')
        @@include('./components/form.html')
    </div>
</div>