<header class="marketing-header">

    @@include('./components/language.html')

    <div class="container">
        <div class="gray-block"></div>

        <div class="blue-block"></div>

        <div class="info">
            @@include('./components/sticker.html')
            <h1 class="new-header">Маркетинг</h1>
            <article>
                <p>
                    Маркетинг — комплексная деятельность в отношении бренда и 
                    его услуг, направленная на укрепление рыночных позиций, 
                    рост доходов и улучшение имиджа. Качественный маркетинг 
                    выполняет все важные управленческие функции: организация 
                    и планирование, реклама и продвижение, исследование и анализ.
                </p>
                <p>
                    Маркетинг определяет векторы развития бизнеса, поведение по 
                    отношению к потребителю, позицию в отношении конкурентов, 
                    формирует цены и ассортимент товаров.
                </p>

                <!-- <button class="crossed-button open-long-read">
                    <span></span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </button> -->
            </article>
        </div>

        <div class="image-container">
            <img data-target-long-read="true" src="../../../../images/services/marketing/marketing-header.jpg" alt="marketing">
        </div>
    </div>
    
</header>