.about-us {

    .lines {

        &__item {

            &:nth-child(2) {
                left: calc(100% / 3);
            }

            &:nth-child(3) {
                left: calc(100% / 3 * 2);
            }
        }
    }

    .title {
        width: calc(100% / 3 * 2);
        font-size: 42px;

        & + .text {
            width: calc(100% / 3 * 2);
        }
    }

    .text {
        font-size: 18px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        padding-bottom: 30px;

        &__item {
            padding-right: 10px;
            width: calc(100% / 3);
        }
    }

    .index {
        font-size: 18px;
    }

    .list-title {
        font-size: 26px;
    }

    .special-button {
        width: calc(100% / 3);

        & + .special-button {
            margin-left: calc(100% / 3);
        }
    }
}
