<div class="seo-services" data-top-panel-bg="light">    
    <div class="container">   
        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
        </div>

        <h2 class="title">Услуги SEO</h2>

        <div class="items">
            <div class="item">
                <span class="index">01</span>

                <div class="new-title">
                    <div class="text-container">
                        <span class="new-title-text">SEO - аудит</span>
                    </div>
                </div>

                <p class="item-text">
                    Профессиональный анализ сайта, его показателей и 
                    общего качества. Полученная информация будет очень 
                    ценной при формировании стратегии предстоящего 
                    SEO-продвижения сайта.
                </p>
    
                <a href="seo/audit.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>
    
            <div class="item">
                <span class="index">02</span>

                <div class="new-title">
                    <div class="text-container">
                        <span class="new-title-text">SEO на этапе</span>
                    </div>
                    <div class="text-container">
                        <span class="new-title-text">создания сайта</span>
                    </div>
                </div>

                <p class="item-text">
                    Привлечение SEO-специалиста на этапе разработки 
                    сайта обеспечит его полное соответствие требованиям 
                    современной поисковой оптимизации, упрастит  упростит 
                    разработку сайта и дальнейшего его продвижения.
                </p>
    
                <a href="seo/creating.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>
    
            <div class="item">
                <span class="index">03</span>

                <div class="new-title">
                    <div class="text-container">
                        <span class="new-title-text">Снятие санкций</span>
                    </div>
                    <div class="text-container">
                        <span class="new-title-text">поисковых систем</span>
                    </div>
                </div>

                <p class="item-text">
                    Комплекс работ по снятию фильтров и блокировок, 
                    наложенных на сайт по тем или иным причинам. 
                    SEO-продвижение при наличии санкций невозможно, 
                    а это будет большим упущением для вашего бизнеса.
                </p>
    
                <a href="seo/sanctions.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>