.clock-bg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    user-select: none;

    .letter-container {
        width: 20%;
        color: $white;
        font-family: $Raleway-ExtraBold;
        font-size: 0;
        line-height: 100vh;
        text-align: center;
        overflow-x: hidden;
    }

    &-letter {
        display: block;
        font-size: 30vw;
    }
}
