.clock-bg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    span {
        width: 20%;
        color: $white;
        font-family: $Raleway-ExtraBold;
        font-size: 0;
        line-height: 100vh;
        text-align: center;
        overflow-x: hidden;

        &:before {
            display: block;
            font-size: 30vw;
        }

        &:nth-child(1) {

            &:before {
                content: 'c';
            }
        }

        &:nth-child(2) {

            &:before {
                content: 'l';
            }
        }

        &:nth-child(3) {

            &:before {
                content: 'o';
            }
        }

        &:nth-child(4) {

            &:before {
                content: 'c';
            }
        }

        &:nth-child(5) {

            &:before {
                content: 'k';
            }
        }
    }
}
