& {
    width: 100vw;
    color: $darkGray;
    overflow-x: hidden;

    p {
        margin: 30px 0;
        font-family: $Roboto-Regular;
        font-size: 16px;
        line-height: 1.4;

        a {
            color: $blue;
            text-decoration: underline;
        }
    }

    .italic {
        font-style: italic;
    }

    .bold {
        font-family: $Roboto-Bold;
    }

    .bottom-bordered {
        padding: 25px 0;
        border-bottom: 1px solid $gray;
        color: $gray;
    }

    .left-bordered {
        position: relative;

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: -15px;
            width: 4px;
            height: 100%;
            background: $blue;
            content: '';
        }
    }

    .big {
        display: block;
        margin: 35px 0;
        font-family: $Roboto-Black;
        font-size: 30px;
        line-height: 1.1;
    }

    .huge {
        display: block;
        margin-bottom: 15px;
        font-family: $Roboto-Black;
        font-size: 120px;
    }

    .blue {
        color: $blue;
    }

    .gray {
        color: $gray;
    }

    .list-item-title {
        display: block;
        margin-bottom: 20px;
        font-family: $Roboto-Bold;
        font-size: 24px;
        line-height: 1.2;
    }

    .list-title {
        display: block;
        margin-bottom: 30px;
        font-family: $Roboto-Black;
        font-size: 18px;
    }

    .paragraph-title {
        margin-bottom: 5px;
        font-family: $Roboto-Bold;
    }

    .circled {

        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 35px;
            font-family: $Roboto-Regular;
            font-size: 14px;
            line-height: 1.4;

            &:before {
                display: block;
                position: absolute;
                top: 5px;
                left: 15px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $blue;
                content: '';
            }
        }
    }

    & > header {
        width: 100vw;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .page-title {
        display: block;
        margin-top: 35px;
        margin-bottom: 7px;
        padding: 0 15px;
        color: $gray;
        font-family: $Raleway-ExtraBold;
        font-size: 11px;
        text-transform: uppercase;
    }

    article {
        padding: 0 15px;
        color: $darkGray;

        img {
            width: 100%;
            height: 170px;
            object-fit: cover;
        }

        li {
            margin-bottom: 40px;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }

        .article-image {
            display: block;
            margin: 40px 0 75px;
            width: 100%;
            height: 170px;
            object-fit: cover;
        }

        .article-title {
            display: block;
            margin-bottom: 45px;
            font-family: $Roboto-Black;
            font-size: 30px;
            line-height: 1.2;
        }

        .targets-and-tasks {
            margin: 80px 0;
            padding: 40px 15px 65px;
            width: 100vw;
            background: $lightBlack;
            color: $white;
            transform: translateX(-15px);

            &-title {
                display: block;
                margin-bottom: 55px;
                font-family: $Roboto-Black;
                font-size: 30px;
                line-height: 1.2;
            }

            p {
                color: $lightGray;
            }

            ul {
                margin-bottom: 75px;
            }
        }
    }

    .time {
        padding: 25px 15px 30px;
        background: $lightBlack;
        color: $darkWhite;

        &-title {
            color: $white;
            font-family: $Roboto-Black;
            font-size: 30px;

            .blue {
                color: $blue;
            }
        }

        .watch {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 20px auto 0;
            width: 280px;
            height: 280px;
            border-radius: 50%;
            cursor: pointer;
        }

        .watch-ticks,
        .watch-lines,
        .watch-marks,
        .watch-sectors {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
        }

        .watch__tick {
            position: absolute;
            top: 0;
            z-index: 2;
            left: 50%;
            height: 50%;
            width: 30px;
            transform-origin: 50% 100%;
            transform: translateX(-50%);

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                width: 3px;
                height: 8px;
                background: $gray;
                content: '';
                transform: translateX(-50%);
                transition: background $time;
            }

            &--big {

                &:before {
                    width: 5px;
                    height: 20px;
                }
            }

            &.current {

                &:before {
                    background: $white;
                }
            }

            &:nth-child(1) {
                transform: translateX(-50%);
            }

            &:nth-child(2) {
                transform: translateX(-50%) rotate(6deg);
            }

            &:nth-child(3) {
                transform: translateX(-50%) rotate(6deg * 2);
            }

            &:nth-child(4) {
                transform: translateX(-50%) rotate(6deg * 3);
            }

            &:nth-child(5) {
                transform: translateX(-50%) rotate(6deg * 4);
            }

            &:nth-child(6) {
                transform: translateX(-50%) rotate(6deg * 5);
            }

            &:nth-child(7) {
                transform: translateX(-50%) rotate(6deg * 6);
            }

            &:nth-child(8) {
                transform: translateX(-50%) rotate(6deg * 7);
            }

            &:nth-child(9) {
                transform: translateX(-50%) rotate(6deg * 8);
            }

            &:nth-child(10) {
                transform: translateX(-50%) rotate(6deg * 9);
            }

            &:nth-child(11) {
                transform: translateX(-50%) rotate(6deg * 10);
            }

            &:nth-child(12) {
                transform: translateX(-50%) rotate(6deg * 11);
            }

            &:nth-child(13) {
                transform: translateX(-50%) rotate(6deg * 12);
            }

            &:nth-child(14) {
                transform: translateX(-50%) rotate(6deg * 13);
            }

            &:nth-child(15) {
                transform: translateX(-50%) rotate(6deg * 14);
            }

            &:nth-child(16) {
                transform: translateX(-50%) rotate(6deg * 15);
            }

            &:nth-child(17) {
                transform: translateX(-50%) rotate(6deg * 16);
            }

            &:nth-child(18) {
                transform: translateX(-50%) rotate(6deg * 17);
            }

            &:nth-child(19) {
                transform: translateX(-50%) rotate(6deg * 18);
            }

            &:nth-child(20) {
                transform: translateX(-50%) rotate(6deg * 19);
            }

            &:nth-child(21) {
                transform: translateX(-50%) rotate(6deg * 20);
            }

            &:nth-child(22) {
                transform: translateX(-50%) rotate(6deg * 21);
            }

            &:nth-child(23) {
                transform: translateX(-50%) rotate(6deg * 22);
            }

            &:nth-child(24) {
                transform: translateX(-50%) rotate(6deg * 23);
            }

            &:nth-child(25) {
                transform: translateX(-50%) rotate(6deg * 24);
            }

            &:nth-child(26) {
                transform: translateX(-50%) rotate(6deg * 25);
            }

            &:nth-child(27) {
                transform: translateX(-50%) rotate(6deg * 26);
            }

            &:nth-child(28) {
                transform: translateX(-50%) rotate(6deg * 27);
            }

            &:nth-child(29) {
                transform: translateX(-50%) rotate(6deg * 28);
            }

            &:nth-child(30) {
                transform: translateX(-50%) rotate(6deg * 29);
            }

            &:nth-child(31) {
                transform: translateX(-50%) rotate(6deg * 30);
            }

            &:nth-child(32) {
                transform: translateX(-50%) rotate(6deg * 31);
            }

            &:nth-child(33) {
                transform: translateX(-50%) rotate(6deg * 32);
            }

            &:nth-child(34) {
                transform: translateX(-50%) rotate(6deg * 33);
            }

            &:nth-child(35) {
                transform: translateX(-50%) rotate(6deg * 34);
            }

            &:nth-child(36) {
                transform: translateX(-50%) rotate(6deg * 35);
            }

            &:nth-child(37) {
                transform: translateX(-50%) rotate(6deg * 36);
            }

            &:nth-child(38) {
                transform: translateX(-50%) rotate(6deg * 37);
            }

            &:nth-child(39) {
                transform: translateX(-50%) rotate(6deg * 38);
            }

            &:nth-child(40) {
                transform: translateX(-50%) rotate(6deg * 39);
            }

            &:nth-child(41) {
                transform: translateX(-50%) rotate(6deg * 40);
            }

            &:nth-child(42) {
                transform: translateX(-50%) rotate(6deg * 41);
            }

            &:nth-child(43) {
                transform: translateX(-50%) rotate(6deg * 42);
            }

            &:nth-child(44) {
                transform: translateX(-50%) rotate(6deg * 43);
            }

            &:nth-child(45) {
                transform: translateX(-50%) rotate(6deg * 44);
            }

            &:nth-child(46) {
                transform: translateX(-50%) rotate(6deg * 45);
            }

            &:nth-child(47) {
                transform: translateX(-50%) rotate(6deg * 46);
            }

            &:nth-child(48) {
                transform: translateX(-50%) rotate(6deg * 47);
            }

            &:nth-child(49) {
                transform: translateX(-50%) rotate(6deg * 48);
            }

            &:nth-child(50) {
                transform: translateX(-50%) rotate(6deg * 49);
            }

            &:nth-child(51) {
                transform: translateX(-50%) rotate(6deg * 50);
            }

            &:nth-child(52) {
                transform: translateX(-50%) rotate(6deg * 51);
            }

            &:nth-child(53) {
                transform: translateX(-50%) rotate(6deg * 52);
            }

            &:nth-child(54) {
                transform: translateX(-50%) rotate(6deg * 53);
            }

            &:nth-child(55) {
                transform: translateX(-50%) rotate(6deg * 54);
            }

            &:nth-child(56) {
                transform: translateX(-50%) rotate(6deg * 55);
            }

            &:nth-child(57) {
                transform: translateX(-50%) rotate(6deg * 56);
            }

            &:nth-child(58) {
                transform: translateX(-50%) rotate(6deg * 57);
            }

            &:nth-child(59) {
                transform: translateX(-50%) rotate(6deg * 58);
            }

            &:nth-child(60) {
                transform: translateX(-50%) rotate(6deg * 59);
            }
        }

        .watch-lines {
            z-index: 2;

            .line {
                position: absolute;
                top: 50%;
                left: 10%;
                width: 80%;
                height: 1px;
                background: $gray;

                &--2 {
                    transform: rotate(90deg);
                }
            }
        }

        .watch-marks {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            align-content: space-between;
            z-index: 3;
            padding: 55px 40px;

            span {
                width: 50%;
                height: 30px;
                font-family: $Roboto-Regular;
                font-size: 14px;
                line-height: 1.2;
                text-align: center;
            }
        }

        .watch-sectors {

            .sector {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 0;
                transition: opacity $time;

                &--web-production {
                    background-color: $blue;
                    background-image: linear-gradient(180deg, transparent 50%, $black 50%), linear-gradient(90deg, $black 50%, transparent 50%);
                }

                &--marketing {
                    background-color: $blue;
                    background-image: linear-gradient(180deg, transparent 50%, $black 50%), linear-gradient(270deg, $black 50%, transparent 50%);
                }

                &--design {
                    background-color: $blue;
                    background-image: linear-gradient(0deg, transparent 50%, $black 50%), linear-gradient(270deg, $black 50%, transparent 50%);
                }

                &--seo {
                    background-color: $blue;
                    background-image: linear-gradient(0deg, transparent 50%, $black 50%), linear-gradient(90deg, $black 50%, transparent 50%);
                }

                &.current {
                    opacity: 1;
                }
            }
        }

        .watch-core {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            width: 100px;
            height: 100px;
            background: $blue;
            border-radius: 50%;
            color: $white;
            font-family: $Roboto-Regular;
            font-size: 14px;
            line-height: 1.2;
            text-align: center;

            &:before,
            &:after {
                position: absolute;
                top: calc((100px - 120px) / 2);
                left: calc((100px - 120px) / 2);
                z-index: -1;
                display: block;
                width: 120px;
                height: 120px;
                background: $blue;
                border-radius: 50%;
                content: '';
                opacity: .5;
                animation: pulse $time * 5 infinite both;
            }

            &:after {
                top: calc((100px - 155px) / 2);
                left: calc((100px - 155px) / 2);
                width: 155px;
                height: 155px;
                opacity: .3;
            }

            &.disabled {

                &:before,
                &:after {
                    animation-play-state: paused;
                }
            }
        }

        .descriptions {
            margin-top: 25px;
        }

        .description {
            color: $darkWhite;
            font-family: $Roboto-Regular;
            font-size: 14px;
            line-height: 1.4;

            span {
                color: $white;
                font-family: $Roboto-Bold;
            }
        }
    }

    .portfolio-container {
        margin-top: 100px;

        .big {
            display: block;
            margin-bottom: 20px;
            padding: 0 15px;
            font-family: $Roboto-Black;
            font-size: 30px;
        }

        .blue {
            display: block;
            margin-top: 12px;
            color: $blue;
        }
    }

    .discuss {
        padding: 85px 15px 15px;

        &-title {
            font-family: $Raleway-ExtraBold;
            font-size: 48px;
            line-height: 1.2;

            .blue {
                color: $blue;
            }
        }

        &-text {
            margin-top: 30px;
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }

        .open-form {
            display: block;
            margin-top: 160px;
            width: 100%;
            height: 45px;
            background: $blue;
            color: $white;
            font-family: $Roboto-Medium;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .answers {
        padding: 65px 15px 120px;
        background: $black;

        &-title {
            color: $white;
            font-family: $Roboto-Black;
            font-size: 36px;

            .blue {
                display: block;
                margin-top: 25px;
                color: $blue;
                font-size: 24px;
                line-height: 1.2;
            }
        }

        &-list {
            margin-top: 80px;

            .list-item {
                margin-bottom: 40px;
            }

            .list-item-title {
                margin-bottom: 25px;
                padding: 0;
                color: $white;
                font-family: $Roboto-Black;
                font-size: 16px;
                text-align: left;

                &.active {
                    color: $blue;
                }
            }

            .text-container {
                height: 0;
                color: $lightGray;
                font-family: $Roboto-Regular;
                font-size: 16px;
                line-height: 1.4;
                overflow: hidden;

                p {
                    margin-bottom: 30px;
                    margin-top: 0;
                }
            }
        }
    }

    .more-services {
        padding: 90px 15px 65px;

        &-title {
            font-family: $Roboto-Black;
            font-size: 36px;

            .blue {
                display: block;
                margin-top: 5px;
                color: $blue;
                font-size: 24px;
            }
        }

        &-list {
            margin-top: 60px;

            li {
                margin-bottom: 30px;
            }

            a {
                display: flex;
                color: $darkGray;
            }

            img {
                width: 75px;
                height: 55px;
                object-fit: cover;
            }

            span {
                margin-left: 15px;
                font-family: $Roboto-Black;
                font-size: 24px;
                line-height: 1.2;
            }
        }
    }

    .services-blog {
        margin-top: 50px;
        padding: 0 15px 70px;

        &-title {
            color: $gray;
            font-family: $Raleway-Bold;
            font-size: 11px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &-image {
            display: block;
            margin-top: 15px;
            width: 100%;
            height: 230px;
            object-fit: cover;
        }

        .blog-data {
            margin-top: 30px;
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: 12px;

            .date {
                position: relative;
                padding-right: 10px;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    content: '.';
                }
            }

            .read-duration {
                padding-left: 10px;
            }
        }

        .blog-title {
            display: block;
            margin-top: 20px;
            font-family: $Roboto-Black;
            font-size: 30px;
            line-height: 1.1;
        }

        .read-more {
            display: block;
            margin-top: 45px;
            color: $gray;
            text-transform: uppercase;
            font-family: $Roboto-Bold;
            font-size: 12px;
        }
    }
}