& {  
    font-family: $Roboto-Regular;
    position: relative;
    overflow: hidden;
    z-index: -1;
    
    // ----- clock-bg -----
    .clock-bg span {
        line-height: 72.5vh;
        &:before { animation: Right $PPClockAnimationTime both; }
        &:nth-child(1):before { animation-delay: $PPClockFirstDelayTime; }
        &:nth-child(2):before { animation-delay: $PPClockSecondDelayTime; }
        &:nth-child(3):before { animation-delay: $PPClockThirdDelayTime; }
        &:nth-child(4):before { animation-delay: $PPClockFourthDelayTime; }
        &:nth-child(5):before { animation-delay: $PPClockFifthDelayTime; }
    }
    
    // ----- container -----
    .container {
        padding: px(350) 0 px(180);
        position: relative;
        margin: 0 auto;
        z-index: 2;
        width: 81%;
        & > div {
            display: flex;
            color: $white;
            width: 100%;
        }
        .plan-title {
            display: block;
            font-family: $Raleway-Bold;
            font-size: px(90);
            color: $darkGray;
            margin-top: 22vh;
            span {
                display: -webkit-inline-box;
                margin-top: px(20);
                font-size: px(90);
                color: $blue;
            }
        }
        ul li {
            margin-bottom: px(170);
            padding-left: px(84);
            padding-top: px(14);
            position: relative;
            color: $darkGray;
            line-height: 1.4;
            font-size: px(32);
            min-height: 16vh;
            width: 82%;
            span {
                font-family: $Roboto-Bold;
                margin-bottom: px(-20);
                font-size: px(36);
                display: block;
            }
            &:before {
                background: $lightGray;
                position: absolute;
                display: block;
                top: px(-36);
                left: px(2);
                content: '';
                z-index: -1;
                width: px(92);
                height: px(92);
            }
            .index {
                font-family: $Raleway-ExtraBold;
                position: absolute;
                font-size: px(90);
                color: $darkGray;
                top: px(-100);
                left: px(-24);
            }
        }
        .lines .line {
            position: absolute;
            background: $gray;
            height: 100%;
            opacity: .2;
            width: 1px;
            top: 0;
            &--1 { left: 0; }
            &--2 { left: 44.6%; }
            &--3 { left: 75.7%; }
        }
        .column {
            &-1 { min-width: 42%; }
            &-2 {
                min-width: 31%;
                padding-top: px(50);
            }
            &-3 {
                min-width: 35%;
                padding-top: px(45);
            }
        }
    }

    // ----- ui-ux -----
    &.ui-ux {
        .container .plan-title { margin-top: 17.5vh; }
        .clock-bg span { line-height: 60vh; }
    }

    // ----- seo -----
    &.seo {
        background: $white;
        
        // ----- creating -----
        &.creating {
            .container {
                h2 { margin-top: 5.5vh; }
                ul li { margin-bottom: px(125); }
                .column-1 { padding-right: px(110); }
                .column-2, .column-3 { padding-top: px(570); }
            }
        }
        .container {
            padding: px(350) 0 px(630);
            h2 {
                margin-top: 10vh;
                span { margin-top: 0; }
            }
            ul li {
                width: 81%;
                min-height: auto;
                &:last-of-type { margin-bottom: 0; }
                font-family: $Roboto-Regular;
                margin-bottom: px(185);
                position: relative;
                font-size: px(32);
                line-height: 1.4;
                padding-left: 0;
                &:before {
                    position: absolute;
                    display: block;
                    left: px(-68);
                    top: px(-30);
                    content: '';
                    z-index: -1;
                    width: px(70);
                    height: px(70);
                }
                .index {
                    font-family: $Raleway-Bold;
                    position: absolute;
                    font-size: px(72);
                    left: px(-86);
                    top: px(-86);
                }
            }
            .lines .line {
                &--1 { left: 0; }
                &--2 { left: 33.3%; }
                &--3 { left: 66.6%; }
                &--4 { left: 100%; }
            }
            .column-1 {
                min-width: auto;
                width: 33.33%;
            }
            .column-2 {
                padding-top: px(470);
                min-width: auto;
                width: 33.33%;
            }
            .column-3 {
                padding-top: px(470);
                min-width: auto;
                width: 33.33%;
            }
        }
    }
}