@import '../desktop';

& {

    .container {
        position: relative;
        margin: 0 auto;
        padding: px(150) 0;
        width: 81%;
    }

    .row {
        margin-bottom: px(200);
    }

    .margined-half {
        margin-bottom: px(70);
    }
}