<div id="seo-three" class="screen-block">

    <!-- logo -->
    <div class="dark-logo">
        @@include('./components/logo.html')
    </div>

    <!-- language -->
    <div class="dark">
        @@include('./components/language.html')
    </div>
    
    <!-- menu -->
    <div class="dark-menu">
        @@include('./components/menu.html')
    </div>

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- table -->
    <div class="table">
        <div class="container">  

            <!-- item -->
            <div class="item">
                <span>Привлечение на сайт клиентов, заинтересованных в приобретении товара или услуги</span>
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <span>Приток на сайт новых пользователей, которые являются потенциальными</span>
                <div class="line"></div>
                <button class="open-form">Заказать
                    <div class="active">Заказать</div>
                </button>
            </div>

            <!-- item -->
            <div class="item">
                <span>Увеличение посещаемости ресурса за счет высоких позиций</span>
                <div class="line"></div>
                <div class="line right"></div>
            </div>

            <!-- title -->
            <div class="title dark">
                <span class="name"><span class="cyrillic">Услуги SEO продвижения</span></span>
                <div class="word">
                    <span>Закажите <span> SEO оптимизацию</span></span>
                </div>
                <div class="word">
                    <span>для решения следующих задач:</span>
                </div>
            </div>
        </div>
    </div>
</div>