<div id="seo-two" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')
    
    <!-- language -->
    @@include('./components/language.html')
    
    <!-- menu -->
    @@include('./components/menu.html')
    
    <!-- table -->
    <div class="table">
        <div class="container">   

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>SEO - аудит</span>
                    </div>
                    <p>Это продающий сайт который как правило состоит из одной страницы. Самое короткое время на превращение посетителя в клиента. Cамый быстроокупаемый тип сайта.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>SEO на этапе</span>
                    </div>
                    <div class="word">
                        <span>создания сайта</span>
                    </div>
                    <p>Если посадочная — лицо товара, то корпоративный сайт — лицо вашего бизнеса. Работает как продающий, когда для принятия решения клиенту нужно понять, с какой компанией он имеет дело.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>Снаятие санкций</span>
                    </div>
                    <div class="word">
                        <span>поисковых систем</span>
                    </div>
                    <p>Это продающий сайт который как правило состоит из одной страницы. Самое короткое время на превращение посетителя в клиента. Cамый быстроокупаемый тип сайта.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>

            <!-- lines -->
            <div class="lines">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- title -->
            <section class="title">
                <div class="word">
                    <span>Услуги</span>
                </div>
                <div class="word">
                    <span>SEO</span>
                </div>
            </section>
        </div>
    </div>
</div>