<div class="seo-three">
    <div class="front-layer">
        <div class="big-background-letter">
            <span>c</span>
        </div>
        
        <div class="table">
            <div class="container">
                <div class="item">
                    <span>
                        Привлечение на сайт клиентов, заинтересованных 
                        в приобретении товара или услуги
                    </span>
                    <div class="line"></div>
                </div>
                <div class="item">
                    <span>
                        Приток на сайт новых пользователей, которые 
                        являются потенциальными
                    </span>
                    <div class="line"></div>
                </div>
                <div class="item">
                    <span>
                        Увеличение посещаемости ресурса за счет 
                        высоких позиций
                    </span>
                    <div class="line"></div>
                    <div class="line right"></div>
                </div>
                <div class="title dark">
                    <span class="name">
                        <span>Услуги SEO продвижения</span>
                    </span>
                    <div class="word">
                        <h2>Закажите SEO оптимизацию для решения следующих задач:</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="questions wow fadeInUp">
            <button class="open-form">
                <span>Заказать</span>
            </button>
        </div>
    </div>

    <div class="back-layer">
        <div class="big-background-letter">
            <span>o</span>
        </div>
        
        @@include('./components/form.html')
    </div>
</div>