<div id="seo-one" class="screen-block">
    
    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- container -->
    <div class="container">
        
        <!-- lines -->
        <div class="lines">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- image-block -->
    <div class="image-block">
        <div class="image-container">
            <img data-target-long-read="true" src="../../images/services/seo/seo-1.jpg" alt="seo-one">
        </div>
    </div>

    <!-- title -->
    <div class="title padding">
        <span class="name"><span>Услуги SEO продвижения</span></span>
        <div class="word">
            <span>SEO продвижение</span>
        </div>
        <p>Хороший траффик (посещаемость) — один из главных признаков качественного сайта, который пользователи считают полезным для себя. Обеспечить высокую посещаемость сможет SEO-оптимизация.<br><br>
        При качественной и всесторонней оптимизации ваш сайт будет гораздо проще находить — соответственно, трафик будет высоким. И чем выше трафик, тем выше конверсия, которая, в свою очередь, существенно повышает вероятность продаж. Очевидно, что заниматься SEO-продвижением — выгодно для вашего бизнеса.</p>

        <!-- crossed-button -->
        <!-- <button class="crossed-button open-long-read">
            <span></span>
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </button> -->
    </div>

    <!-- graph -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1936.6 970.3" style="enable-background: new 0 0 1936.6 970.3;" xml:space="preserve" class="graph">
        <g id="layer0">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="2.8585" y1="350.8826" x2="1940.0778" y2="350.8826">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st0" d="M6.4,638.3c0,0,600.3,119.2,1158.5-266C1658.7,31.7,1733.1,69.1,1936.6,46"/>
        </g>
        <g id="layer1" class="st1">
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="477.3437" x2="1936.2773" y2="477.3437">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st2" d="M1936.3,47v860.8H0v-270c0,0,360,79,792-75.9c6.1,5,315.7-129,377.8-192.8c63.4-65.2,403.5-257.1,511.7-281.2C1782.3,55.6,1936.3,47,1936.3,47z"/>
        </g>
        <g id="layer2">
            <circle class="st3" cx="1502" cy="161" r="30.7"/>
            <circle class="st4" cx="1502" cy="161" r="13.6"/>
            <circle class="st5" cx="1502" cy="161" r="9.5"/>
            <text transform="matrix(1 0 0 1 1445.333 87.3856)" class="st6 st7 st8">+ 7.68</text>
        </g>
        <g id="layer3">
            <circle class="st4" cx="1286.7" cy="288" r="13.6"/>
            <circle class="st5" cx="1286.7" cy="288" r="9.5"/>
            <text transform="matrix(1 0 0 1 1252.333 235.3856)" class="st6 st7 st8">+ 2.45</text>
        </g>
    </svg>
</div>