<div id="seo-two" class="screen-block">

    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- table -->
    <div class="table">
        <div class="container">   

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>SEO - аудит</span>
                    </div>
                    <p>Профессиональный анализ сайта, его показателей и общего качества. Полученная информация будет очень ценной при формировании стратегии предстоящего SEO-продвижения сайта.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                <a href="seo/audit.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>SEO на этапе</span>
                    </div>
                    <div class="word">
                        <span>создания сайта</span>
                    </div>
                    <p>Привлечение SEO-специалиста на этапе разработки сайта обеспечит его полное соответствие требованиям современной поисковой оптимизации, упрастит  упростит разработку сайта и дальнейшего его продвижения.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                <a href="seo/creating.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>

            <!-- item -->
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>Снаятие санкций</span>
                    </div>
                    <div class="word">
                        <span>поисковых систем</span>
                    </div>
                    <p>Комплекс работ по снятию фильтров и блокировок, наложенных на сайт по тем или иным причинам. SEO-продвижение при наличии санкций невозможно, а это будет большим упущением для вашего бизнеса.</p>
                </section>
                <div class="line"></div>

                <!-- crossed-button -->
                <a href="seo/sanctions.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>

            <!-- lines -->
            <div class="lines">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <!-- title -->
            <section class="title">
                <div class="word">
                    <h2>Услуги SEO</h2>
                </div>
            </section>
        </div>
    </div>
</div>