<div id="seo-one" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')
    
    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- menu -->
    @@include('./components/menu.html')

    <!-- lines -->
    <div class="lines">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- image-block -->
    <div class="image-block">
        <div class="image-container">
            <img data-target-long-read="true" src="../../images/services/seo/seo-1.jpg" alt="seo-one">
        </div>
    </div>

    <!-- title -->
    <div class="title padding">
        <span class="name"><span>Услуги SEO продвижения</span></span>
        <div class="word">
            <span>SEO продвижение</span>
        </div>
        <p>Хороший траффик (посещаемость) — один из главных признаков качественного сайта, который пользователи считают полезным для себя. Обеспечить высокую посещаемость сможет SEO-оптимизация.<br><br>
        При качественной и всесторонней оптимизации ваш сайт будет гораздо проще находить — соответственно, трафик будет высоким. И чем выше трафик, тем выше конверсия, которая, в свою очередь, существенно повышает вероятность продаж. Очевидно, что заниматься SEO-продвижением — выгодно для вашего бизнеса.</p>

        <!-- crossed-button -->
        <button class="crossed-button open-long-read">
            <span></span>
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </button>
    </div>

    <!-- long-read -->
    <div class="long-read long-read--seo">
        <div class="long-read-background"></div>
        <div class="long-read-container">
            <button class="cross close-long-read wow fadeIn">
                <span></span>
                <span></span>    
            </button>

            <!-- row -->
            <div class="row row--1">
                <div>
                    <p class="bottom-bordered wow fadeInUp">SEO — это настройка веб-сайта под поисковые системы, помогающая повысить их лояльность к ресурсу и вывести его на первые позиции в поиске.</p>
                </div>
                <div>
                    <p class="wow fadeInUp">Маркетинг находит и реализует способы увеличивать ваши доходы — через повышение лояльности со стороны клиента. А повышать его интерес и признание к бренду можно различными эффективными маркетинговыми и PR-инструментами.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--2">
                <div>
                    <h3 class="wow fadeInUp">Что такое <span>SEO</span>?</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Поисковая оптимизация (SEO - search engine optimization) бывает внутренней — настройка самого сайта, и внешней — работа над закупкой и применением обратных ссылок. Работа над оптимизацией сайта — всегда индивидуальна: подбирается уникальный список ключевых слов (запросов), по которым будет продвигаться сайт, разрабатывается уникальная стратегия SEO-продвижения, учитывающая множество деталей.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--3">
                <div>
                    <h3 class="wow fadeInUp">Но все же, для чего нужна <span>SEO-оптимизация</span>?</h3>
                </div>
                <div>
                    <ul class="circled circled-double">
                        <li class="wow fadeInUp">Увеличивает посещаемость</li>
                        <li class="wow fadeInUp">Даёт возможность рассказать о вас и ваших услугах большому количеству людей (а ведь среди них— ваши потенциальные клиенты)</li>
                        <li class="wow fadeInUp">Улучшает имидж, положительно влияет на оценку вашей компании в обществе</li>
                        <li class="wow fadeInUp">Делает ваш сайт полезным и интересным для аудитории</li>
                    </ul>
                    <p class="left-bordered wow fadeInUp">Так или иначе, качественное SEO-продвижение ведёт к росту доходов. Вы будете получать постоянный прирост аудитории сайта, и это заметно отобразится на объёмах продаж, количестве звонков и заказов.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--4">
                <div>
                    <h3 class="wow fadeInUp">Что влияет на <span>позиции сайта</span> в выдаче Google?</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Существует более 200 факторов, определяющих позицию сайта в поисковой выдаче. Соответствовать всем факторам очень сложно, но тем не менее: мы готовы довести ваш сайт до идеального состояния, согласно всем рекомендациям Google.</p>
                    <h4 class="big wow fadeInUp">Наши услуги по разработке фирменного стиля компании</h4>
                    <ul class="indexed indexed-double">
                        <li class="wow fadeInUp"><span>Качественным контентом</span></li>
                        <li class="wow fadeInUp"><span>Высокой скоростью загрузки</span></li>
                        <li class="wow fadeInUp"><span>Полноценной мобильной версией</span></li>
                        <li class="wow fadeInUp"><span>Большим количеством обратных ссылок</span></li>
                        <li class="wow fadeInUp"><span>Присутствием в специальных каталогах и сервисах</span></li>
                        <li class="wow fadeInUp"><span>Понятной и доступной структурой</span></li>
                        <li class="wow fadeInUp"><span>Удобным и логичным дизайном</span></li>
                    </ul>
                    <p class="wow fadeInUp">Помните, это основные факторы ранжирования сайта в поисковой выдаче. На практике на позицию в поиске влияет гораздо больше причин: обнаружить и принять их во внимание можно только в процессе профессиональной кропотливой работы.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--5">
                <div>
                    <h3 class="wow fadeInUp">Методы <span>поисковой оптимизации</span> (как мы это делаем):</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Мы разобрались, какие факторы влияют на позиции сайта в выдаче Google. Теперь вам будет понятней, какие методы SEO-оптимизации нужно использовать:</p>
                    <ul class="circled">
                        <li class="wow fadeInUp"><span>Писать качественный, оригинальный контент для сайта, действительно полезный для посетителя и решающий его проблему</span></li>
                        <li class="wow fadeInUp"><span>Увеличить скорость работы сайта</span></li>
                        <li class="wow fadeInUp"><span>Адаптировать сайт под мобильные устройства</span></li>
                        <li class="wow fadeInUp"><span>Использовать подходящие ключевые слова</span></li>
                        <li class="wow fadeInUp"><span>Использовать мета-теги на всех страницах</span></li>
                        <li class="wow fadeInUp"><span>Зарегестрировать сайт в каталогах поисковых систем</span></li>
                        <li class="wow fadeInUp"><span>Вести обмен ссылками</span></li>
                        <li class="wow fadeInUp"><span>Размещать интересный контент о вас (либо ссылка на ваш сайт) на внешних источниках</span></li>
                        <li class="wow fadeInUp"><span>Использовать социальные сети</span></li>
                    </ul>
                </div>
            </div>

            <!-- row -->
            <div class="row row--6">
                <div>
                    <h3 class="wow fadeInUp">Как нельзя вести <span>SEO-продвижение</span>:</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Поисковые системы  могут снижать рейтинг сайта по разным причинам, но совершенно определённо не рекомендуется использовать неуникальный контент, чересчур усердствовать с увеличением количества внешних ссылок, использовать методы, которые Google официально рассматривает как нарушения, а также игнорировать мобильную версию сайта. </p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--7">
                <div>
                    <h3 class="wow fadeInUp">Как происходит <span>SEO-продвижение</span>?</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Универсальной стратегии по SEO-оптимизации сайта не существует. Каждый проект требует индивидуальной стратегии и пристального внимания к деталям. Тем не менее, общие моменты, которые обязательны для любого сайта, назвать можно.</p>
                    <p class="bordered wow fadeInUp">Работа строится по трём направлениям — исследование, подготовка сайта, продвижение. Рассмотрим работу над SEO подробнее.</p>
                    <h4 class="big wow fadeInUp">Этапы оптимизации сайта</h4>
                    <ul class="indexed">
                        <li class="wow fadeInUp">
                            <p><span>Определение целей, формирование общих задач для SEO</span><br>
                            Мы вникаем в бизнес клиента, узнаём всю необходимую информацию и вместе с ним формируем цели, задачи и амбиции. На этом этапе проводится тщательный маркетинговый анализ вашего бизнеса. Обязательное изучение рынка и конкурентов. Такой долгосрочный и масштабный процесс как SEO-продвижение сайта должен иметь совершенно ясные и точные цели — амбициозные, но вполне реальные и достижимые.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <p><span>Составление семантического ядра</span><br>
                            На основе собранных данных и с учётом поставленных задач составляет «семантика» — подборка поисковых слов и словосочетаний, которые с одной стороны, отражают деятельность компании и её предложения для клиентов, а с другой — соответствуют тем запросам, которые вводят пользователи в поиске Google. Мы подбираем самые запрашиваемые комбинации по тематике вашего сайта.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <p><span>Работа над структурой и кодом сайта</span><br>
                            Для правильной индексации сайта поисковыми системами нужно «подготовить почву» — обеспечить логичность и правильность кода страниц, доступность и простоту структуры. Также техническая оптимизация позволяет избавиться от дублированных страниц, обеспечить корректность отображения каждой страницы и её адреса.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <p><span>Написание и размещение контента, заголовков, мета-тегов</span><br>
                            На основе семантического ядра и существующей стратегии создаётся, а затем размещается уникальный контент для сайта — тексты на категории меню, статьи для блога, фотографии и т.д.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <p><span>Работа с внешними факторами</span><br>
                            На этом этапе мы работаем над увеличением ссылочной массы, обеспечиваем видимость сайта во всевозможных каталогах и сервисах, запускаем контекстную рекламу и т.д. В дальнейшем мы беспрерывно следим за сайтом, совершенствуем и развиваем его. Тщательно анализируется статистика и данные о поведении посетителей на сайте. В идеале работа над SEO-продвижением должна всегда продолжаться, и корректироваться в зависимости от актуальных трендов SEO и текущих результатов продвижения.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- row -->
            <div class="row row--8">
                <div>
                    <h3 class="wow fadeInUp">Услуги</h3>
                </div>
                <div>
                    <ul class="circled">
                        <li class="wow fadeInUp">
                            <h4>SEO-аудит</h4>
                            <p>Профессиональный анализ сайта, его показателей и общего качества. Полученная информация будет очень ценной при формировании стратегии предстоящего SEO-продвижения сайта.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <h4>SEO на этапе создания сайта</h4>
                            <p>Привлечение SEO-специалиста на этапе разработки сайта обеспечит его полное соответствие требованиям современной поисковой оптимизации.</p>
                        </li>
                        <li class="wow fadeInUp">
                            <h4>Снятие санкций поисковых систем</h4>
                            <p>Комплекс работ по снятию фильтров и блокировок, наложенных на сайт по тем или иным причинам. SEO-продвижение при наличии санкций невозможно, а это будет большим упущением для вашего бизнеса.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- row -->
            <div class="row row--8">
                <div>
                    <h3 class="wow fadeInUp"><span>SEO-оптимизация</span> сайта решает следующие задачи:</h3>
                </div>
                <div>
                    <ul class="indexed indexed-double">
                        <li class="wow fadeInUp"><span>Увеличение аудитории и рост клиентской базы</span></li>
                        <li class="wow fadeInUp"><span>Повышение видимости в интернете и общей узнаваемости бренда</span></li>
                        <li class="wow fadeInUp"><span>Рост продаж</span></li>
                        <li class="wow fadeInUp"><span>Снижение затрат на рекламу, PR-мероприятия</span></li>
                    </ul>
                </div>
            </div>

            <!-- jumping-button -->
            <div class="jumping-button wow fadeInUp">
                <button class="close-long-read">
                    <span>З</span>
                    <span>а</span>
                    <span>к</span>
                    <span>р</span>
                    <span>ы</span>
                    <span>т</span>
                    <span>ь</span>
                </button>
            </div>
        </div>
    </div>

    <!-- graph -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1936.6 970.3" style="enable-background: new 0 0 1936.6 970.3;" xml:space="preserve" class="graph">
        <g id="layer0">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="2.8585" y1="350.8826" x2="1940.0778" y2="350.8826">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st0" d="M6.4,638.3c0,0,600.3,119.2,1158.5-266C1658.7,31.7,1733.1,69.1,1936.6,46"/>
        </g>
        <g id="layer1" class="st1">
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="477.3437" x2="1936.2773" y2="477.3437">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st2" d="M1936.3,47v860.8H0v-270c0,0,360,79,792-75.9c6.1,5,315.7-129,377.8-192.8c63.4-65.2,403.5-257.1,511.7-281.2C1782.3,55.6,1936.3,47,1936.3,47z"/>
        </g>
        <g id="layer2">
            <circle class="st3" cx="1502" cy="161" r="30.7"/>
            <circle class="st4" cx="1502" cy="161" r="13.6"/>
            <circle class="st5" cx="1502" cy="161" r="9.5"/>
            <text transform="matrix(1 0 0 1 1445.333 87.3856)" class="st6 st7 st8">+ 7.68</text>
        </g>
        <g id="layer3">
            <circle class="st4" cx="1286.7" cy="288" r="13.6"/>
            <circle class="st5" cx="1286.7" cy="288" r="9.5"/>
            <text transform="matrix(1 0 0 1 1252.333 235.3856)" class="st6 st7 st8">+ 2.45</text>
        </g>
    </svg>
</div>