<div id="seo-one" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')
    
    <!-- language -->
    @@include('./components/language.html')
    
    <!-- menu -->
    @@include('./components/menu.html')

    <!-- lines -->
    <div class="lines">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- image-block -->
    <div class="image-block">
        <div class="image-container">
            <img src="../../images/services/seo/seo-1.jpg" alt="seo-one">
        </div>
    </div>

    <!-- title -->
    <div class="title padding">
        <span class="name"><span class="cyrillic">Услуги SEO продвижения</span></span>
        <div class="word">
            <span>SEO продвижение</span>
        </div>
        <p class="wow fadeInUp" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

        <!-- crossed-button -->
        <a class="crossed-button">
            <span></span>
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
    </div>

    <!-- graph -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1936.6 970.3" style="enable-background: new 0 0 1936.6 970.3;" xml:space="preserve" class="graph">
        <g id="layer0">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="2.8585" y1="350.8826" x2="1940.0778" y2="350.8826">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st0" d="M6.4,638.3c0,0,600.3,119.2,1158.5-266C1658.7,31.7,1733.1,69.1,1936.6,46"/>
        </g>
        <g id="layer1" class="st1">
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="477.3437" x2="1936.2773" y2="477.3437">
                <stop  offset="5.078125e-04" style="stop-color: #C84081"/>
                <stop  offset="1" style="stop-color: #3A367C"/>
            </linearGradient>
            <path class="st2" d="M1936.3,47v860.8H0v-270c0,0,360,79,792-75.9c6.1,5,315.7-129,377.8-192.8c63.4-65.2,403.5-257.1,511.7-281.2C1782.3,55.6,1936.3,47,1936.3,47z"/>
            <animate attributeType="CSS" attributeName="visibility" from="hidden" to="visible" dur="10s" repeatCount="0"/>
        </g>
        <g id="layer2">
            <circle class="st3" cx="1502" cy="161" r="30.7"/>
            <circle class="st4" cx="1502" cy="161" r="13.6"/>
            <circle class="st5" cx="1502" cy="161" r="9.5"/>
            <text transform="matrix(1 0 0 1 1445.333 87.3856)" class="st6 st7 st8">+ 7.68</text>
            <animate attributeType="CSS" attributeName="visibility" from="hidden" to="visible" dur="8s" repeatCount="0"/>
        </g>
        <g id="layer3">
            <circle class="st4" cx="1286.7" cy="288" r="13.6"/>
            <circle class="st5" cx="1286.7" cy="288" r="9.5"/>
            <text transform="matrix(1 0 0 1 1252.333 235.3856)" class="st6 st7 st8">+ 2.45</text>
            <animate attributeType="CSS" attributeName="visibility" from="hidden" to="visible" dur="7.35s" repeatCount="0"/>
        </g>
    </svg>
</div>