& {  

    position: absolute;
    top: 0;
    right: px(240);
    z-index: 5;
    height: 100vh;
    color: $darkGray;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: px(28);
    text-align: right;

    @keyframes rightPanelDate {
        from {
            opacity: 0;
            transform: translate3d(100%, 60vh, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 60vh, 0);
        }
    }

    @keyframes rightPanelDevices {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .date {
        opacity: 0;
        transform: translate3d(0, 60vh, 0);
        animation: rightPanelDate $time forwards;

        span {

            &:last-child {
                padding-left: px(40);
            }
        }
    }

    .devices {
        transform: translateY(80vh);

        span {
            display: block;
            margin-bottom: px(14);
            opacity: 0;
            transform: translateX(100%);
            animation: rightPanelDevices $time $time forwards;

            &:nth-child(2) {
                animation-delay: $time * 2;
            }

            &:nth-child(3) {
                animation-delay: $time * 3;
            }
        }
    }

    &.white {
        color: $white;
    }
}