& {  

    position: absolute;
    bottom: px(300);
    right: px(240);
    z-index: 5;
    color: $white;
    font-family: $Raleway-Medium;
    font-size: px(28);
    text-align: right;

    .date {
        margin-bottom: px(480);

        span {

            &:last-child {
                padding-left: px(40);
            }
        }
    }

    .devices {

        span {
            display: block;
            margin-bottom: px(14);
        }
    }
}