& {  
    
    $btnWidthBefore: 7vh;
    $btnWidthAfter: 250vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @keyframes widthHeightIncrease {
        from {
            width: $btnWidthBefore;
            height: $btnWidthBefore;
        }
        to {
            width: $btnWidthAfter;
            height: $btnWidthAfter;
            transform: translate3d(($btnWidthAfter - $btnWidthBefore) / 2, ($btnWidthAfter - $btnWidthBefore) / 2, 0);
        }
    }

    .open-long-text {
        display: block;
        position: absolute;
        bottom: px(20);
        right: px(30);
        width: $btnWidthBefore;
        height: $btnWidthBefore;
        border-radius: 50%;
        background: $darkGray;
        user-select: none;
        outline: none;

        .row {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: px(20);
            height: 2px;
            background: $white;
            transform: translate3d(-50%, -50%, 0);

            &:last-child {
                transform: translate3d(-50%, -50%, 0) rotate(90deg);
            }
        }

        &:focus,
        &:hover {
            user-select: none;
            outline: none;
            border: none;
        }
    }

    .content {
        position: relative;
        z-index: 2;
        visibility: hidden;
        width: 100vw;
        padding: px(40) px(30) 0;
    }

    .cross {
        position: absolute;
        top: px(60);
        right: px(30);
        background: transparent;

        .row {
            position: absolute;
            top: 0;
            left: 0;
            width: px(30);
            height: 4px;
            background: $white;
            
            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    h2 {
        display: inline-block;
        margin-bottom: px(30);
        color: $white;
        font-size: px(48);
        font-family: $raleway;
        font-weight: 800;
        text-transform: uppercase;
    }

    article {
        position: relative;
        width: 100%;

        &:after,
        &:before {
            display: block;
            position: absolute;
            left: 0;
            z-index: 2;
            width: 100%;
            height: px(40);
            content: '';
        }

        &:before {
            top: 0;
            background: linear-gradient($darkGray, transparent);
        }

        &:after {
            bottom: 0;
            background: linear-gradient(transparent, $darkGray);
        }
    }

    .text-container {
        position: relative;
        padding: px(30);
        padding-left: 0;
        padding-bottom: px(60);
        height: 85vh;
        max-height: 85vh;
        color: $white;
        overflow-y: auto;

        p {
            margin-bottom: px(46);
            font-family: $roboto;
            font-size: px(28);
            line-height: px(34);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .crossed-button {
        position: relative;
        background: transparent;

        span {
            padding: 0 px(10);
            font-family: $roboto;
            font-weight: 400;
            color: $white;

            &:after {
                content: 'Назад';
            }

            &:before {
                display: none;
            }
        }

        .arrow-container {
            transform: translateX(0%) rotate(180deg);
        }

        .arrow {
            opacity: 1;
            transform: none;

            .st0,
            .st1 {
                stroke: $white;
            }
        }
    }

    &.open {
        z-index: 9999;

        .open-long-text {
            animation: widthHeightIncrease $time * 4 both;

            .row {
                animation: fadeOut $time * 3 both;
            }
        }

        .content {
            visibility: visible;
        }

        .close-long-text {
            animation: fadeIn $time * 4 $time * 2 both; 
        }

        h2 {
            animation: fadeInUp $time * 4 $time * 2 both;
        }

        article {
            animation: fadeIn $time * 4 $time * 4 both; 
        }

        .crossed-button {
            animation: fadeInLeft $time * 4 $time * 2 both; 
        }
    }
}