& {  
    
    $btnWidthBefore: 7vh;
    $btnWidthAfter: 250vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @keyframes widthHeightIncrease {
        from {
            width: $btnWidthBefore;
            height: $btnWidthBefore;
        }
        to {
            width: $btnWidthAfter;
            height: $btnWidthAfter;
            transform: translate3d(($btnWidthAfter - $btnWidthBefore) / 2, ($btnWidthAfter - $btnWidthBefore) / 2, 0);
        }
    }

    .open-long-text {
        display: block;
        position: absolute;
        bottom: px(20);
        right: px(30);
        width: $btnWidthBefore;
        height: $btnWidthBefore;
        border-radius: 50%;
        background: $darkGray;

        .row {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: px(20);
            height: 2px;
            background: $white;
            transform: translate3d(-50%, -50%, 0);

            &:last-child {
                transform: translate3d(-50%, -50%, 0) rotate(90deg);
            }
        }
    }

    .content {
        position: relative;
        z-index: 2;
        visibility: hidden;
    }

    &.open {
        z-index: 9999;

        .open-long-text {
            animation: widthHeightIncrease $time * 4 both;

            .row {
                animation: fadeOut $time * 3 both;
            }
        }
    }
}