@import '../desktop';

& {
    
    .front-layer {
        
        .content-container {
            justify-content: space-around;
            padding: px(170) px(200) px(160);
            min-height: 650px;
        }

        .portfolio-item {

            &--audi,
            &--zabirie-landing,
            &--rs,
            &--stem,
            &--walker,
            &--pepe-jeans {
                margin: px(400) 0;
                margin-right: px(170);

                .image-container {
                    min-width: px(600);
                    min-height: px(500);

                    img {
                        min-width: px(600);
                        min-height: px(500);
                    }
                }
            }

            &--dela,
            &--alta-capital,
            &--lets-help,
            &--diesel,
            &--gant,
            &--tommy-hilfiger {
                
                .image-container {
                    min-width: px(600);
                    min-height: px(350);

                    img {
                        min-width: px(600);
                        min-height: px(350);
                    }
                }
            }

            &--vino-grad,
            &--bobo, 
            &--doberman,
            &--g-star,
            &--zabirie {
                
                .image-container {
                    min-width: px(400);
                    min-height: px(400);

                    img {
                        min-width: px(400);
                        min-height: px(400);
                    }
                }
            }

            &--euro-club,
            &--q7,
            &--a5-q3,
            &--preppy,
            &--shell {
                margin-right: px(200);
                
                .image-container {
                    min-width: px(400);
                    min-height: px(800);

                    img {
                        min-width: px(400);
                        min-height: px(800);
                    }
                }
            }

            &--q7 {

                .new-title {
                    width: px(500);
                }
            }
        }
    }
}