@import '../mobile';

& {

    .back-layer {

        .clock-bg {

            span {
                text-shadow: px(4) px(4) px(4) rgba(0, 0, 0, 0.2);
            }
        }

        .letter {
            font-size: px(400);

            &-c {
                top: px(200);
                left: px(200);
            }

            &-o {
                bottom: px(200);
                right: px(200);
            }
        }
    }

    .front-layer {
        
        .content-container {
            justify-content: space-around;
            padding: px(220);
            width: initial;
            min-height: 1024px;
            max-height: 1024px;
        }

        .portfolio-item {

            &--audi {
                margin-top: px(700);
                margin-right: px(220);
                margin-bottom: 0;

                .image-container {
                    width: px(780);
                    min-width: px(780);
                    height: px(610);
                    min-height: px(610);

                    img {
                        width: px(780);
                        min-width: px(780);
                        height: px(610);
                        min-height: px(610);
                    }
                }
            }

            &--alta-capital {
                margin-left: 0;
                transform: translateX(-70%);
                
                .image-container {
                    width: px(860);
                    min-width: px(860);
                    height: px(540);
                    min-height: px(540);

                    img {
                        width: px(860);
                        min-width: px(860);
                        height: px(540);
                        min-height: px(540);
                    }
                }

                .new-title {
                    display: block;
                    position: absolute;
                    right: 0;
                    left: initial;
                    bottom: initial;
                    transform: translateY(px(30));
                }
            }

            &--vino-grad {
                margin-bottom: px(150);
                
                .image-container {
                    width: px(470);
                    min-width: px(470);
                    height: px(470);
                    min-height: px(470);

                    img {
                        width: px(470);
                        min-width: px(470);
                        height: px(470);
                        min-height: px(470);
                    }
                }

                .new-title {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: initial;
                    transform: translateY(px(30));
                }
            }

            &--euro-club {
                margin-top: 0;
                margin-left: px(-150);
                padding-right: px(160);
                
                .image-container {
                    width: px(500);
                    min-width: px(500);
                    height: px(1000);
                    min-height: px(1000);

                    img {
                        width: px(500);
                        min-width: px(500);
                        height: px(1000);
                        min-height: px(1000);
                    }
                }
            }

            &:last-child {
                padding-right: px(100);
            }
        }
    }

    .new-copyright {
        display: none;
    }
}