@import '../desktop';

& {

    img {
        min-height: 650px;
   }

   .portfolio-right-panel {
    
        .date {
            margin-bottom: px(100);
        }
    }

   .project-name-container {
        top: px(170);
        right: px(600);
    }
    
    .project-name {
        font-size: px(270);
    }

    .info {
        top: px(150);
        right: px(300);
        width: px(1000);
    }

    .about-work {
        margin-top: px(270);
        width: 70%;

        p {
            font-size: px(40);
        }
    }

    .special-button {
        margin-right: px(90);
        width: px(400);
    }
}
