@import '../desktop';

& {

    height: px(1400);

    .container {
        align-content: flex-start;
        padding-top: px(50);
        padding-bottom: 0;
    }

    h2 {
        margin-bottom: px(120);
        font-size: px(110);
    }

    .column {
        height: px(1000);
    }

    .watch {
        width: px(1000);
        height: px(1000);
    }

    .watch__tick {

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: px(6);
            height: px(40);
            background: $gray;
            content: '';
            transform: translateX(-50%);
        }

        &--big {

            &:before {
                width: px(12);
                height: px(64);
            }
        }
    }

    .watch-core {
        width: px(340);
        height: px(340);
        font-size: px(40);
    }
}