& {  

    font-family: $raleway;

    .page-layer {
        top: 0;
        left: 0;
    }

    .back-layer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .clock-bg {
            z-index: 1;

            span {
                color: $lightBlack;
            }
        }

        .letters {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 100vh;
            color: rgba(0, 0, 0, .2);
            color: $gray;
            font-size: 12vw;
            font-weight: 700;
        }

        .letter {
            position: absolute;
            animation: fadeIn $PPLettersAnimationTime $PPLettersDelayTime both;

            &-c {
                top: px(280);
                left: px(900);
            }

            &-o {
                bottom: px(200);
                right: px(800);
            }
        }

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            width: 50vw;
            height: 100vh;
            background: $lightBlack;
            content: '';
        }

        &:before {
            left: 0;
            animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
        }

        &:after {
            right: 0;
            animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
        }
    }

    .front-layer {
        position: absolute;
        width: 100vw;
        height: 100vh;
        cursor: -webkit-grab;
        user-select: none;
        overflow-x: auto;

        .content-container {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: flex-start;
            padding: px(270) px(300) px(280) px(250);
            // width: 200vw;
            height: 100%;
            min-height: 900px;
        }

        .portfolio-item {
            position: relative;
            color: $white;

            .image-container {
                position: relative;
                overflow: hidden;
                font-size: 0;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    content: '';
                    animation: Right $PPImageBgAnimationTime  $PPImageBgDelayTime both;
                }
            }

            img {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                animation: Right $PPImageAnimationTime  $PPImageDelayTime both;
            }

            &--audi {
                margin: px(320) 0;
                margin-right: px(170);

                .image-container {
                    //width: px(860);
                    width: 45vh;
                    min-width: px(860);
                    //height: px(720);
                    height: 37.5vh;
                    min-height: px(720);
                }

                .new-title {
                    display: block;
                    position: absolute;
                    margin-top: px(30);
                }
            }

            &--alta-capital {
                margin-left: px(60);
                vertical-align: bottom;
                
                .image-container {
                    display: inline-block;
                    // width: px(1000);
                    width: 52vh;
                    min-width: px(1000);
                    // height: px(600);
                    height: 31.25vh;
                    min-height: px(600);
                }

                .new-title {
                    display: inline-block;
                    bottom: px(40);
                    left: px(20);
                }
            }

            &--vino-grad {
                
                .image-container {
                    display: inline-block;
                    // width: px(600);
                    width: 31.25vh;
                    min-width: px(600);
                    // height: px(600);
                    height: 31.25vh;
                    min-height: px(600);
                }

                .new-title {
                    display: inline-block;
                    bottom: px(60);
                    left: px(40);
                }
            }

            &--euro-club {
                margin-top: px(90);
                margin-left: px(160);
                
                .image-container {
                    // width: px(600);
                    width: 31.25vh;
                    min-width: px(600);
                    // height: px(1060);
                    height: 55vh;
                    min-height: px(1060);
                }

                .new-title {
                    display: block;
                    position: absolute;
                    margin-top: px(40);
                }
            }

            &:last-child {
                padding-right: px(200);
            }
        }

        .new-title {
            position: relative;
            padding: 0 px(16);
            font-size: px(48);
            font-weight: 700;
            overflow: hidden;

            span {
                display: block;
                position: relative;
                z-index: 1;
                font-size: px(48);
                line-height: px(60);
                color: $white;
                animation: Up $PPTitleTextAnimationTime $PPTitleTextDelayTime both;
            }

            &:before {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: px(48);
                background: $blue;
                content: '';
                animation: halfDown $PPTitleLineAnimationTime linear $PPTitleLineDelayTime both;
            }
        }

        .language,
        .social,
        .new-copyright {
            position: fixed;
            z-index: 5;
        }

        .menu {
            position: fixed;
            animation: Down $PPMenuAnimationTime $PPMenuDelayTime both;
        }

        .logo {
            position: fixed;
            top: 0;
            padding-top: px(60);
            height: px(182);
            animation: Down $PPLogoAnimationTime $PPLogoDelayTime both; 
        }

        .language {

            a {
                animation: Down $PPLangAnimationTime $PPLangDelayTime both;
            }
        }

        .new-copyright {

            p {
                animation: Up $PPCopyAnimationTime $PPCopyDelayTime both;
            }
        }

        .social {

            .facebook,
            .instagram {
                animation-delay: $time * 3;
            } 

            .jumping-button {
                animation-delay: $time * 6;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}