& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $white;
    overflow: hidden;
    
    // ----- animation down -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Down $time * 3 0s both;
        
        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info p { animation: fadeInDown $time * 2 $time * 9 both; }
        .jumping-button { animation: fadeInUp $time * 2 $time * 9 both; }

        // ----- other -----
        .bottom-button {
            span { animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear both;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(3) span {
                    animation: titleWord $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
        }

        // ----- small-gray-lines -----
        .small-gray-lines .line {
            animation: lineUp 1s $time * 3 both;
            &.down { animation-name: lineDown; }
        }

        // ----- blue-line and image-block -----
        .blue-line { animation: heightChanging $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both; }
        .image-block {
            p { animation: fadeIn $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both; }
            .image-container {
                animation: shadowAppearance $portfolioEuroclubImageShadowAnimationTime $portfolioEuroclubImageShadowDelayTime both;
                img { animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both; }
                &:before { animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both; }
            }
        }
    }

    // ----- animation up -----
    &.previous, &.previous-back {
        animation: slideUp $time * 3 $topPanelAnimationTime both;
        
        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info p { animation: fadeInDown $time * 2 $time * 9 both; }
        .jumping-button { animation: fadeInUp $time * 2 $time * 9 both; }

        // ----- other -----
        .bottom-button {
            span { animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear both;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
            }
        }

        // ----- small-gray-lines -----
        .small-gray-lines .line {
            animation: lineUp 1s $time * 3 both;
            &.down { animation-name: lineDown; }
        }

        // ----- blue-line and image-block -----
        .blue-line { animation: heightChanging $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both; }
        .image-block {
            p { animation: fadeIn $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both; }
            .image-container {
                animation: shadowAppearance $portfolioEuroclubImageShadowAnimationTime $portfolioEuroclubImageShadowDelayTime both;
                img { animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both; }
                &:before { animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both; }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }

    // ----- title -----
    .title {
        top: px(400);
        left: px(2110);
        position: absolute;
        .word:nth-of-type(2) { margin-bottom: 5px; }
    }

    // ----- jumping-button -----
    .jumping-button {
        left: initial;
        right: px(1380);
        bottom: px(580);
        a {
            text-transform: uppercase;
            &:before { background: $black; }
            span {
                color: $black;
                font-size: px(27);
                font-family: $Raleway-Medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- blue-line -----
    .blue-line {
        top: 0;
        z-index: 2;
        left: px(620);
        width: px(550);
        background: $blue;
        position: absolute;
    }
    
    // ----- image-block -----
    .image-block {
        z-index: 3;
        width: px(1140);
        height: px(1530);
        margin-top: px(180);
        margin-left: px(750);
        position: relative;
        .image-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            box-shadow: 0 0 px(60) px(16) rgba(0, 0, 0, .3);
            img {
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            &:before {
                height: 100%;
                width: 100%;
                z-index: 2;
                content: '';
                position: absolute;
                background: $darkGray;
                transform: translate3d(-90%, 90%, 0);
            }
        }
        p {
            transform: rotate(-90deg);
            position: absolute;
            font-size: px(34);
            left: px(-70);
            top: 13vh;
            color: $white;
            transform-origin: 0 0;
            font-family: $Roboto-Thin;
        }
    }

    // ----- service-info -----
    .service-info {
        position: absolute;
        transform: rotate(90deg);
        width: px(300);
        right: px(70);
        bottom: 29vh;
        z-index: 2;
        p {
            font-family: $Raleway-Medium;
            font-size: px(22);
            line-height: 1.4;
        }
    }
}