.our-best-works {

    $info-width: 20%;

    .lines {

        .line {

            &--2 {
                left: $info-width;
            }
        }
    }

    .info {
        width: $info-width;
    }

    &.opened {

        .front-layer {
            transform: rotateY(10deg) scaleX(.85);
        }
    }
}
