.our-best-works {

    $paddingLeft: 500px;
    $infoWidth: 300px;
    $marginLeft: 275px;
    $portfolioWidth: 800px;

    .lines {

        .line {

            &--1 {
                left: $paddingLeft;
            }

            &--2 {
                left: $paddingLeft + $infoWidth;
            }

            &--3 {
                left: $paddingLeft + $infoWidth + ($marginLeft + $portfolioWidth / 2) / 2;
            }

            &--4 {
                left: $paddingLeft + $infoWidth + $marginLeft + $portfolioWidth / 2;
            }

            &--5 {
                left: $paddingLeft + $infoWidth + $marginLeft * 3 / 2 + $portfolioWidth * 3 / 4;
            }
        }
    }

    .container {
        padding-left: $paddingLeft;
    }

    .info {
        width: $infoWidth;
    }

    .portfolio {
        margin-left: $marginLeft;
        width: $portfolioWidth;
    }

    &.opened {

        .front-layer {
            transform: rotateY(10deg) scaleX(.85);
        }
    }
}
