.our-best-works {

    $info-width: 25%;
    $delta: 30px;

    .container {
        width: 80%;
    }

    .lines {

        .line {

            &--2 {
                left: $info-width;
            }
        }
    }

    .info {
        width: $info-width;
    }

    .portfolio {

        &__item {
            height: 350px;

            &--audi {
                left: -$delta;
                top: -$delta;
            }

            &--dela {

                .project-name {
                    right: -50px;
                }
            }

            &--euro-club {

                .project-name {
                    left: -105px;
                }
            }

            &--your-project {
                left: $delta;
                top: $delta;

                .project-name {
                    right: -50px;
                }
            }
        }
    }

    .project-name {
        padding: 10px 20px;
        font-size: 34px;
    }

    &.opened {

        .front-layer {
            transform: rotateY(20deg) scaleX(.8);
        }
    }
}
