.our-best-works {

    $portfolio-width: 58%;
    $info-width: 25%;
    $delta: 20px;

    .front-layer,
    .back-layer {
        min-height: 650px;
    }

    .container {
        width: 83%;
    }

    .lines {

        .line {

            &--2 {
                left: $info-width;
            }

            &--3 {
                right: calc(#{$portfolio-width} - #{$delta});
            }

            &--4 {
                right: $portfolio-width / 2;
            }

            &--5 {
                right: $delta;
            }
        }
    }

    .info {
        width: $info-width;
    }

    .new-title {
        margin-top: 20px;

        .text-container {

            span {
                font-size: 50px;
                line-height: 1.1;
            }
        }
    }

    .special-button {
        margin-top: 50px;
        height: 45px;
        line-height: 45px;
        letter-spacing: 1px;
    }

    .portfolio {
        width: $portfolio-width;

        &__item {
            height: 210px;

            &--audi {
                left: -$delta;
                top: -$delta;
            }

            &--dela {

                .project-name {
                    right: -30px;
                }
            }

            &--euro-club {

                .project-name {
                    left: -75px;
                }
            }

            &--your-project {
                left: $delta;
                top: $delta;

                .project-name {
                    right: -20px;
                }
            }
        }
    }

    .project-name {
        padding: 10px 20px;
        font-size: 34px;
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg) scaleX(.8);
        }
    }
}
