.our-best-works {

    $paddingLeft: 200px;
    $infoWidth: 250px;
    $marginLeft: 160px;
    $portfolioWidth: 500px;

    .back-layer {
        padding-right: 40px;
    }

    .lines {

        .line {

            &--1 {
                left: $paddingLeft;
            }

            &--2 {
                left: $paddingLeft + $infoWidth;
            }

            &--3 {
                left: $paddingLeft + $infoWidth + ($marginLeft + $portfolioWidth / 2) / 2;
            }

            &--4 {
                left: $paddingLeft + $infoWidth + $marginLeft + $portfolioWidth / 2;
            }

            &--5 {
                left: $paddingLeft + $infoWidth + $marginLeft * 3 / 2 + $portfolioWidth * 3 / 4;
            }
        }
    }

    .container {
        padding-left: $paddingLeft;
    }

    .info {
        width: $infoWidth;
    }

    .new-title {
        margin-top: 15px;

        .text-container {

            span {
                font-size: 50px;
            }
        }
    }

    .special-button {
        margin-top: 45px;
        letter-spacing: 1px;
    }

    .portfolio {
        margin-left: $marginLeft;
        width: $portfolioWidth;

        &__item {
            width: $portfolioWidth / 2;
            height: $portfolioWidth / 2;

            &--audi {
                left: -40px;
                top: -20px;

                .project-name {
                    left: -60px;
                }
            }

            &--dela {

                .project-name {
                    right: -100px;
                }
            }

            &--euro-club {

                .project-name {
                    left: -125px;
                }
            }

            &--your-project {
                left: 40px;
                top: 20px;

                .project-name {
                    right: -150px;
                }
            }
        }
    }

    .back {
        padding: 15px;
    }

    .project-name {
        padding: 10px 25px;
        font-size: 35px;
    }

    .bottom-button {
        bottom: 15px;
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg) scaleX(.8);
        }
    }
}
