.our-best-works {

    $portfolio-width: 65%;
    $delta: 15px;
    $info-width: 27%;

    .back-layer {
        padding-right: 4%;
    }

    .container {
        width: 83%;
    }

    .lines {

        .line {

            &--2 {
                left: $info-width;
            }

            &--3 {
                right: calc(#{$portfolio-width} - #{$delta * 2});
            }

            &--4 {
                right: $portfolio-width / 2;
            }

            &--5 {
                right: $delta * 2;
            }
        }
    }

    .info {
        width: $info-width;
    }

    .new-title {
        margin-top: 20px;
    }

    .new-title-text {
        font-size: 36px;
    }

    .special-button {
        margin-top: 30px;
        font-size: 12px;
        letter-spacing: 0;
    }

    .portfolio {
        width: $portfolio-width;

        &__item {

            &--audi {
                left: -$delta;
                top: -$delta;
            }

            &--your-project {
                left: $delta;
                top: $delta;
            }
        }
    }

    .project-name {
        padding: 10px;
        font-size: 22px;
    }

    .form {
        width: 35%;
    }

    &.opened {

        .front-layer {
            transform: rotateY(25deg) scaleX(.65);
        }
    }
}
