<div class="about-company-one">
    <div class="scroll">
        <a href="#long-read">
            <div class="circle"></div>
            <div class="arrow"></div>
        </a>
    </div>
    
    @@include('./components/copyright.html')
    
    <div class="bg-image">
        <img src="../images/about-company/space.jpg" alt="Space">
    </div>

    @@include('./components/social.html')
    
    <section class="title">
        <div class="word">
            <span>Let's rock the world</span>
        </div>
        <div class="word">
            <span>with our ideas</span>
        </div>
        <div class="word">
            <span>Покоряйте мир вместе с</span>
        </div>
        <div class="word">
            <span>нашими идеями</span>
        </div>
    </section>
</div>