<div id="about-company-one" class="screen-block">

    <!-- navigation-elements -->
    @@include('./components/navigation-elements.html')
    
    <!-- menu -->
    @@include('./components/menu.html')

    <!-- scroll -->
    @@include('./components/scroll.html')
    
    <!-- bg-image -->
    <img class="bg-image" src="../images/about-company/office.jpg" alt="">
    
    <!-- shadow -->
    <div class="shadow">
        <div></div>
    </div>

    <!-- title -->
    <div class="title">
        <div class="word">
            <span><span>Lorem ipsum</span> dolor sit</span>
        </div>
        <div class="word">
            <span>amet, cosec</span>
        </div>
    </div>
</div>