<div class="about-company-seven">
    <div class="container">
        <div class="result">
            <div class="title dark">
                <span class="name"><span class="cyrillic">Вакансии</span></span>
                <div class="word">
                    <span>присоединиться</span>
                </div>
                <div class="word">
                    <span>к нам</span>
                </div>
            </div>  
        </div>

        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
            <div class="line line--5"></div>
        </div>

        <div class="steps">
            <div class="step">
                <div class="content">
                    <span class="content-title">Front-End разработчки</span>
                    <p>Хорошие знания HTML, CSS (Sass), JS (React). Углубленное понимание цикла разработки (Gulp / Webpack, Npm, Babel) и архитектуры веб приложения является обязательным. Мы предлагаем сложные и интересные проекты по современным стеком технологий. Пожалуйста, добавьте ссылки на 3 ваших лучших работы. Опыт работы от 1 года.</p>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <span class="content-title">Back-End разработчик</span>
                    <p>Языки программирования: PHP, JS, SQL. Углубленное понимание паттернов OOP является обязательным. Мы предлагаем сложные и интересные проекты по современным стеком технологий. Опыт работы от 1 года.</p>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <span class="content-title">Менеджер проектов</span>
                    <p>Требования: сильные технические коммуникативные навыки. Исчерпывающее понимание жизненного цикла разработки проекта. Ответственность и пунктуальность. Обязанности: планирование проектов, разработка юзер-кейсов и технических спецификаций. Коммуникация с клиентом и управления командой из 3-5 человек. Опыт работы от 1 года.</p>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <a class="special-button" href="/kontakty">
                        <span class="special-button-text">Связаться с нами</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>