<div id="about-company-six" class="screen-block">

    <!-- front-layer -->
    <div class="front-layer">

        <!-- table -->
        <div class="table">
            <div class="container">  

                <!-- item -->
                <div class="item">
                    <div class="block">
                        <img src="../images/about-company/brands/audi.png" alt="Audi">
                        <img src="../images/about-company/brands/eurovision.png" alt="Eurovision">
                        <img src="../images/about-company/brands/gstar-raw.png" alt="G-Star Raw">
                        <img src="../images/about-company/brands/dkny-men.png" alt="DKNY">
                        <img src="../images/about-company/brands/lets-help.png" alt="Let's Help">
                    </div>
                    <div class="line"></div>
                </div>

                <!-- item -->
                <div class="item">
                    <div class="block">
                        <img src="../images/about-company/brands/accessorize.png" alt="Accessorize">
                        <img src="../images/about-company/brands/walker.png" alt="Walker">
                        <img src="../images/about-company/brands/alta-capital.png" alt="Alta Capital">
                        <img src="../images/about-company/brands/dela.png" alt="Dela">
                        <img src="../images/about-company/brands/vinograd.png" alt="Vinograd">
                    </div>
                    <div class="line"></div>
                </div>

                <!-- item -->
                <div class="item">
                    <div class="block">
                        <img src="../images/about-company/brands/pepe-jeans.png" alt="Pepe Jeans">
                        <img src="../images/about-company/brands/zabirya.png" alt="Zabirya">
                        <img src="../images/about-company/brands/gant.png" alt="GANT">
                        <img src="../images/about-company/brands/diesel.png" alt="Diesel">
                        <img src="../images/about-company/brands/bobo.png" alt="Bobo">
                    </div>
                    <div class="line"></div>
                </div>

                <!-- item -->
                <div class="item">
                    <div class="block">
                        <img src="../images/about-company/brands/shell.png" alt="Shell">
                        <img src="../images/about-company/brands/jti.png" alt="JTI">
                        <img src="../images/about-company/brands/stem.png" alt="Stem">
                        <img src="../images/about-company/brands/oodji.png" alt="Oodji">

                        <!-- questions -->
                        <div class="questions">
                            <button class="open-form">
                                <span><span>Стать нашим</span><br>
                                клиентом</span>
                            </button>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="line right"></div>
                </div>

                <!-- title -->
                <div class="title">
                    <span class="name"><span class="cyrillic">Наши клиенты</span></span>
                    <div class="word">
                        <span>Нам доверяют, нас знают, нас ценят</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- vertical-text -->
        <p class="vertical-text">Предлагаем то, что нужно именно Вам. Идей много, но решение одно — самое эффективное.</p>
    </div>

    <!-- back-layer -->
    <div class="back-layer">

        <!-- big-background-letter -->
        @@include('./components/big-background-letter.html')
        
        <!-- form -->
        @@include('./components/form.html')
    </div>
</div>