<div class="about-company-two screen-block">

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')
    
    <!-- image-block -->
    <div class="image-block one">
        <div class="image-container">
            <img src="../images/about-company/about-company-1.png" alt="about-company-two">
        </div>
    </div>
    <div class="image-block two">
        <div class="image-container">
            <img data-target-long-read="true" src="../images/about-company/about-company-3.png" alt="about-company-two">
        </div>
    </div>

    <!-- title -->
    <div class="title long dark">
        <!-- <span class="name"><span>о компании</span></span> -->
        <div class="word">
            <h1>О компании</h1>
        </div>
        <p>Креативная лаборатория Clock Creative Lab — студия по разработке и продвижению брендов, неймингу, веб-продакшну и интернет-маркетингу.<br><br>
        Мы уверенно балансируем между дизайн-студией, агентством интернет-маркетинга и студией по созданию сайтов. Нет точного определения нашего вида бизнеса. Команда по консалтингу бизнеса в мире дизайна, рекламы и веб продакшна. Инструмент эффективности вашего бизнеса.<br><br>
        Мы заточены под создание брендов и их развитие до лидирующих позиций на рынке. Ваше появление в web-пространстве обязано стать настоящим событием, а не рядовым стартом. Мы делаем бренды, о которых говорят, которые на слуху, которые зарабатывают деньги и определяют ситуацию на рынке.</p>

        <!-- crossed-button -->
        <!-- <button class="crossed-button open-long-read">
            <span></span>
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </button> -->
    </div>

    <!-- jumping-button -->
    <!-- <div class="jumping-button second jump-letters">
        <a href="#" target="_blank">
            <span>с</span>
            <span>к</span>
            <span>а</span>
            <span>ч</span>
            <span>а</span>
            <span>т</span>
            <span>ь</span>
            <span>п</span>
            <span>р</span>
            <span>е</span>
            <span>з</span>
            <span>е</span>
            <span>н</span>
            <span>т</span>
            <span>а</span>
            <span>ц</span>
            <span>и</span>
            <span>ю</span>
        </a>
    </div> -->

    <!-- service-info -->
    <div class="service-info">
        <p>Мы не работаем строго по ТЗ, наша философия - заставить ваш бизнес работать.</p>
    </div>
</div>