<div id="about-company-one" class="screen-block">

    <!-- scroll -->
    @@include('./components/scroll.html')

    <!-- social -->
    @@include('./components/social.html')

    <!-- languages -->
    @@include('./components/languages.html')
    
    <!-- copyright -->
    @@include('./components/copyright.html')
    
    <!-- bg-image -->
    <img class="bg-image" src="../images/about-company/office.jpg" alt="">
    
    <!-- shadow -->
    <div class="shadow">
        <div></div>
    </div>

    <!-- title -->
    <div class="title">
        <div class="word">
            <span><span>Clock Creative Lab &mdash;</span></span>
        </div>
        <div class="word">
            <span>время больших идей</span>
        </div>
    </div>
</div>