<div id="about-company-three" class="screen-block">

    <!-- logo -->
    <!-- @@include('./components/logo.html') -->

    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- menu -->
    <!-- @@include('./components/menu.html') -->

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- table -->
    <div class="table">
        <div class="container">  

            <!-- item -->
            <div class="item">
                <img src="../images/about-company/rewards/reward-1.png" alt="reward-one">
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <img src="../images/about-company/rewards/reward-2.png" alt="reward-two">
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <img src="../images/about-company/rewards/reward-3.png" alt="reward-thre">
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <img src="../images/about-company/rewards/reward-4.png" alt="reward-four">
                <div class="line"></div>
                <div class="line right"></div>
            </div>

            <!-- title -->
            <div class="title">
                <span class="name"><span>О компании</span></span>
                <div class="word">
                    <span>Наши награды и достижения</span>
                </div>
            </div>
        </div>
    </div>
</div>