<div class="about-company-two">
    <div class="big-background-letter">
        <span>C</span>
    </div>
    
    <div class="image-block one">
        <div class="image-container">
            <img src="../images/about-company/about-company-1.png" alt="about-company-two">
        </div>
    </div>
    <div class="image-block two">
        <div class="image-container">
            <img src="../images/about-company/about-company-3.png" alt="about-company-two">
        </div>
    </div>

    <div class="title long dark">
        <div class="word">
            <h1>О компании</h1>
        </div>
        <p>
            Креативная лаборатория Clock Creative Lab — студия по 
            разработке и продвижению брендов, неймингу, веб-продакшну 
            и интернет-маркетингу. Мы уверенно балансируем между дизайн-студией, 
            агентством интернет-маркетинга и студией по созданию сайтов. Нет 
            точного определения нашего вида бизнеса. Команда по консалтингу 
            бизнеса в мире дизайна, рекламы и веб продакшна. Инструмент 
            эффективности вашего бизнеса. Мы заточены под создание брендов и 
            их развитие до лидирующих позиций на рынке. Ваше появление в 
            web-пространстве обязано стать настоящим событием, а не рядовым 
            стартом. Мы делаем бренды, о которых говорят, которые на слуху, 
            которые зарабатывают деньги и определяют ситуацию на рынке.
        </p>
    </div>

    <div class="service-info">
        <p>
            Мы не работаем строго по ТЗ, наша философия - заставить ваш бизнес работать.
        </p>
    </div>
</div>