<div class="about-company-header" data-top-panel-bg="light">

    @@include('./components/languages.html')

    <div class="scroll">
        <a href="#founders">
            <div class="circle"></div>
            <div class="arrow">
                <div class="arrow-inner"></div>
            </div>
        </a>
    </div>
    
    @@include('./components/copyright.html')
    
    <div class="bg-image">
        <img src="../images/about-company/space.jpg" alt="Space">
    </div>
    
    <section class="text-block">
        <div class="slogan">
            <div class="phrase">
                <span>Let's rock the world</span>
            </div>
            <div class="phrase">
                <span>with our ideas</span>
            </div>
        </div>
        <div class="translation">
            <div class="phrase">
                <span>Покоряйте мир вместе с</span>    
            </div>
            <div class="phrase">
                <span>нашими идеями</span>    
            </div>
        </div>
    </section>

    @@include('./components/social.html')
</div>