<div id="about-company-five" class="screen-block">
    <!-- <div class="dark-logo"> -->

        <!-- logo -->
        <!-- @@include('./components/logo.html')
    </div>
    <div class="dark-menu"> -->

        <!-- menu -->
        <!-- @@include('./components/menu.html')
    </div> -->
    
    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- jelly-button -->
    <button id="component" class="jelly-button">
        <span class="bg" style="filter: url('#filter')">
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
        </span>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-filters">
        <defs>
            <filter id="filter">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"/>
            </filter>
        </defs>
    </svg>

    <!-- lines -->
    <div class="lines">
        <div></div>
        <div></div>
        <div></div>
    </div>
    
    <!-- social-panel -->
    <div class="social-panel">
        <a class="instagram" href="https://www.instagram.com/" target="_blank">
            <svg viewBox="0 0 32.4 33.5">
                <circle class="big-circle" cx="15.9" cy="17.4" r="5.1"/>
                <circle class="small-circle" cx="23.8" cy="8.8" r="1.7"/>
            </svg>        
        </a>
        <a class="facebook" href="https://facebook.com" target="_blank">
            <svg viewBox="0 0 96.124 96.123">
                <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
                    c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
                    c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
                    c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
            </svg> 
        </a>
    </div>

    <!-- title -->
    <div class="title dark">
        <span class="name"><span>#lorem 32</span></span>
        <div class="word">
            <span>Lorem ipsumdolor sit amet, consectetur</span>
        </div>
        <div class="word">
            <span>adipisicing elit</span>
        </div>
        <p>Понравилось? Поделитесь:</p>
    </div>
</div>
<script>
    function getRandom(min, max) {
      return Math.random() * (max - min) + min;
    }

    var isSafari = /constructor/i.test(window.HTMLElement);
    var isFF = !!navigator.userAgent.match(/firefox/i);

    if (isSafari) {
      document.getElementsByTagName('html')[0].classList.add('safari');
    }

    // удалить клик по кнопке для демонстрации результата
    Array.prototype.slice.call(document.querySelectorAll('.jelly-button'), 0).forEach(function(bt) {
      bt.addEventListener('click', function(e) {
        e.preventDefault();
      });
    });

    button();

    function button() {
      var bt = document.querySelectorAll('#component')[0];
      var bg = document.querySelectorAll('#component .jelly-button')[0];
      var blob = document.querySelectorAll('#component .blob');
      var filter = document.querySelector('#filter feGaussianBlur');

      bt.addEventListener('mousemove', function(e) {
        var x = (e.pageX - bt.offsetLeft - bt.offsetWidth / 2) * 0.6;
        var y = (e.pageY - bt.offsetTop - bt.offsetHeight / 2) * 0.6;

        TweenLite.to(blob[1], 4.2, { x: x, y: y, ease: Elastic.easeOut.config(1, 0.1) });
        TweenLite.to(blob[2], 2.8, { x: x, y: -y, ease: Elastic.easeOut.config(1, 0.1) });
        TweenLite.to(blob[3], 2.8, { x: -x, y: -y, ease: Elastic.easeOut.config(1, 0.1) });
        TweenLite.to(filter, 5, { onUpdate: function() { filter.setAttribute('x', 0); }});
      });

      bt.addEventListener('mouseup', function(e) {
        var x = e.pageX - bt.offsetLeft - blob[0].offsetWidth / 2;
        var y = e.pageY - bt.offsetTop - blob[0].offsetHeight / 2;

        var dirX = Math.random() > 0.5 ? -1 : 1;
        var dirY = Math.random() > 0.5 ? -1 : 1;
        var r = getRandom(60, 80);
        
        Array.prototype.slice.call(blob, 1).forEach(function(bt) {
          var tl = new TimelineLite();
          tl.to(bt, 1.2, { x: dirX * r * Math.random() + '%', y: dirY * r * Math.random() + '%', ease: Elastic.easeOut.config(1, 0.2) });
          tl.to(bt, 1.2, { x: '0%', y: '0%', ease: Elastic.easeOut.config(1, 0.2) }, '-=1.1');
        });
      });
    }
</script>