<div id="about-company-four" class="screen-block">

    <!-- logo -->
    <!-- <div class="dark-logo">
        @@include('./components/logo.html')
    </div> -->
    
    <!-- menu -->
    <!-- <div class="dark-menu">
        @@include('./components/menu.html')
    </div> -->

    <!-- language -->
    <div class="dark">
        @@include('./components/languages.html')
    </div>

    <!-- container -->
    <div class="container">
        <div class="result">

            <!-- title -->
            <div class="title dark">
                <span class="name"><span class="cyrillic">О компании</span></span>
                <div class="word">
                    <span>Наш рабочий</span>
                </div>
                <div class="word">
                    <span>процесс</span>
                </div>
            </div>  
        </div>

        <!-- lines -->
        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
            <div class="line line--5"></div>
        </div>

        <!-- steps -->
        <div class="steps">
            <div class="step">
                <div class="index">
                    <span>шаг 01</span>
                </div>
                <div class="content">
                    <h3>Сбор бизнес-аналитики</h3>
                    <p>Проводится исследование рынка, сбор информации о вашем бизнесе и линейке конкурентов. Полное погружение в ваш бизнес и исследование деталей.</p>
                </div>
            </div>
            <div class="step">
                <div class="index">
                    <span>шаг 02</span>
                </div>
                <div class="content">
                    <h3>Презентация отдельных решений и общей стратегии продвижения</h3>
                    <p>На основе собранной информации о вашем бизнесе, рынке и конкурентах, а также нашего опыта, мы формируем креативное стратегическое предложение. Мы выдвигаем наше видение.</p>
                </div>
            </div>
            <div class="step">
                <div class="index">
                    <span>шаг 03</span>
                </div>
                <div class="content">
                    <h3>Разработка дизайна</h3>
                    <p>Создание фирменного стиля компании, куда входит и дизайн сайта. Визуальные решения для бренда разрабатываются в соответствии с общей стратегией и нашим видением.</p>
                </div>
            </div>
            <div class="step">
                <div class="index">
                    <span>шаг 04</span>
                </div>
                <div class="content">
                    <h3>Работа над сайтом</h3>
                    <p>Внедрение всех стратегических решений — как технических, так и визуальных. Проводится тщательная техническая работа над веб-сайтом, создаётся мобильная версия, проводится SEO-оптимизация на этапе разработки, детальное тестирование.</p>
                </div>
            </div>
            <div class="step">
                <div class="index">
                    <span>шаг 05</span>
                </div>
                <div class="content">
                    <h3>Финальный этап</h3>
                    <p>Капитальная проверка и тестирование веб-сайта, направленная на выявление любых ошибок и неточностей. Сверка проекта по определённым показателям эффективности</p>
                </div>
            </div>
            <div class="step">
                <div class="index">
                    <span>шаг 06</span>
                </div>
                <div class="content">
                    <h3>Запуск сайта и празднование новой победы</h3>
                    <p>Презентация веб-проекта, полное включение проекта в работу. Запуск как самого сайта, так и интернет-рекламы. Ваш бизнес отныне получает мощную поддержку и развитие в интернете.</p>
                </div>
            </div>
        </div>
    </div>
</div>