<div class="founders">
    <div class="big-background-letter">
        <span>c</span>
    </div>
    
    <div class="text-block">
        <div class="new-title">
            <div class="text-container">
                <h1 class="new-title-text">О компании</h1>
            </div>
        </div>
        
        <div class="text">
            <p>
                Креативная лаборатория Clock Creative Lab — студия по 
                разработке и продвижению брендов, неймингу, веб-продакшну 
                и интернет-маркетингу.
            <p>
                Мы уверенно балансируем между дизайн-студией, 
                агентством интернет-маркетинга и студией по созданию сайтов. Нет 
                точного определения нашего вида бизнеса. Команда по консалтингу 
                бизнеса в мире дизайна, рекламы и веб продакшна. Инструмент 
                эффективности вашего бизнеса. 
            </p>
            <p>
                Мы заточены под создание брендов и 
                их развитие до лидирующих позиций на рынке. Ваше появление в 
                web-пространстве обязано стать настоящим событием, а не рядовым 
                стартом. Мы делаем бренды, о которых говорят, которые на слуху, 
                которые зарабатывают деньги и определяют ситуацию на рынке.
            </p>
        </div>
    </div>

    <div class="image-block">
        <img src="../images/about-company/about-company-1.png" alt="about-company-one">
    </div>

    <p class="rotated-text">
        Мы не работаем строго по ТЗ, наша философия - 
        заставить ваш бизнес работать. - co-founders 
        Clock Creative Lab Виктор Калинин и Евгений Вихрев
    </p>
</div>