<div class="work-flow">

    <div class="container">

        <div class="title-block">
            <div class="sticker">
                <span class="sticker-text">О компании</span>
            </div>

            <div class="new-title">
                <div>
                    <div class="text-container">
                        <span class="new-title-text">Наш рабочий</span>
                    </div>
                </div>
                <div>
                    <div class="text-container">
                        <span class="new-title-text">процесс</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="steps">
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/1.png" alt="step-photo-1" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Сбор бизнес-аналитики
                        </span>
                        <p class="content-text">
                            Проводится исследование рынка, сбор информации о вашем 
                            бизнесе и линейке конкурентов. Полное погружение в ваш 
                            бизнес и исследование деталей.
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/2.png" alt="step-photo-2" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Презентация отдельных решений и общей стратегии 
                            продвижения
                        </span>
                        <p class="content-text">
                            На основе собранной информации о вашем бизнесе, рынке 
                            и конкурентах, а также нашего опыта, мы формируем креативное 
                            стратегическое предложение. Мы выдвигаем наше видение.
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/3.png" alt="step-photo-3" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Разработка дизайна
                        </span>
                        <p class="content-text">
                            Создание фирменного стиля компании, куда входит и 
                            дизайн сайта. Визуальные решения для бренда разрабатываются 
                            в соответствии с общей стратегией и нашим видением.
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/4.png" alt="step-photo-4" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Работа над сайтом
                        </span>
                        <p class="content-text">
                            Внедрение всех стратегических решений — как технических, 
                            так и визуальных. Проводится тщательная техническая работа 
                            над веб-сайтом, создаётся мобильная версия, проводится 
                            SEO-оптимизация на этапе разработки, детальное тестирование.
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/5.png" alt="step-photo-5" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Финальный этап
                        </span>
                        <p class="content-text">
                            Капитальная проверка и тестирование веб-сайта, направленная 
                            на выявление любых ошибок и неточностей. Сверка проекта по 
                            определённым показателям эффективности
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-container">
                <div class="step">
                    <img src="../images/about-company/work-flow/6.png" alt="step-photo-6" class="step-image">
                    <div class="content">
                        <span class="content-title">
                            Запуск сайта и празднование новой победы
                        </span>
                        <p class="content-text">
                            Презентация веб-проекта, полное включение проекта в работу. 
                            Запуск как самого сайта, так и интернет-рекламы. Ваш бизнес 
                            отныне получает мощную поддержку и развитие в интернете.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>