& {  

    position: relative;
    padding-top: px(260);
    width: 100vw;
    background: $white;
    overflow: hidden;

    .big-background-letter {
        top: px(200);
        right: px(100);
        font-size: initial;
        opacity: .8;

        span {
            color: $darkGray;
            font-family: $Raleway-ExtraBold;
            font-size: px(520);
        }
    }

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        margin: 0 auto;
        width: 81%;
        height: px(1040);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 67%;
        height: 100%;
        object-fit: cover;
    }

    .sticker {
        left: px(120);
    }

    .title-block {
        position: relative;
        z-index: 2;
        padding: px(80) 0 px(90) px(140);
        width: px(1160);
        background: $white;

        .title {
            display: block;
            margin-top: px(80);
            font-family: $Raleway-ExtraBold;
            font-size: px(120);
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
}