& {
    background: url('../images/dots.png');
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }
    
    // ----- lines -----
    .lines {
        div {
            width: 1px;
            height: 100vh;
            background: #E0E1E0;
            position: absolute;
            &:nth-of-type(1) { left: px(645); }
            &:nth-of-type(2) { left: px(1525); }
            &:nth-of-type(3) { right: px(745); }
        }
    }

    // ----- title -----
    .title {
        margin: px(428) 0 0 39.7vw;
        span.name { top: -1.4vh; }
        p {
            text-transform: uppercase;
            font-size: px(29);
            padding: 9vh 0 0;
        }
        .word {
            word-spacing: -3px;
            &:after { display: none; }
            span {
                font-size: px(60);
            }
        }
    } 
}