@import '../desktop';

& {

    .container {
        min-width: 70%;
        min-height: 600px;

        .marketing-services-title {
            padding-right: px(0);
            font-size: px(90);
            line-height: px(100);
        }
    }
}