.services-blog {
    height: 100vh;
    min-height: 650px;
    max-height: 800px;

    .container {
        justify-content: space-around;
        align-items: center;
        padding-top: 0;
        width: 90%;
    }

    .blue-line {
        width: 15%;
    }

    .image-block {
        width: 35%;
        height: 70%;
    }

    .info-block {
        padding-top: 0;
        width: 45%;
        min-width: 460px;
    }

    .new-title {
        margin-top: 25px;

        .text-container {

            &:before {
                height: 6px;
                bottom: 3px;
            }
        }

        &-text {
            font-size: 19px;
            line-height: 20px;
        }
    }

    article {
        margin-top: 20px;
        padding-left: 5%;
        padding-right: 10%;

        p {
            margin-bottom: 15px;
        }
    }

    .special-buttons {
        margin-top: 15px;
        padding-left: 5%;
    }
}
