& {  

    & > header {
        position: relative;
        padding: px(720) px(30) 0;
        width: 100vw;
        height: 100vh;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slogan {
            position: relative;
            z-index: 2;
            color: $white;       
            font-family: $Raleway-ExtraBold;
            font-size: px(48);
            text-transform: uppercase;

            span {
                display: block;
                margin-top: px(10);
                color: $blue;
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .4);
            content: '';
        }
    }

    .about-our-company {
        padding: px(170) px(30) 0;

        & > span {
            color: $gray;
            font-family: $Raleway-ExtraBold;
            font-size: px(22);
            text-transform: uppercase;
        }

        .name {
            display: block;
            margin: px(40) 0 px(60);
            font-family: $Roboto-Black;
            font-size: px(60);
            color: $darkGray;
            text-transform: initial;

            span {
                color: $blue;
            }
        }

        img {
            display: block;
            margin-bottom: px(80);
            width: 100%;
            height: px(450);
            object-fit: cover;
        }
    }

    .work-flow {
        padding: px(180) px(30) px(150);

        .name {
            color: $darkGray;
            font-family: $Roboto-Black;
            font-size: px(72);
            line-height: 1.3;

            span {
                color: $blue;
            }
        }

        ul {
            margin-top: px(80);

            li {
                margin-bottom: px(70);
                color: $darkGray;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h3 {
                margin-bottom: px(30);
                font-family: $Roboto-Black;
                font-size: px(48);
            }
            
            p {
                font-family: $Roboto-Regular;
                font-size: px(32);
                line-height: 1.4;
            }
        }
    }
}