& {  
    font-family: $Raleway-Regular;
    font-size: px(22);
    p, span {
        letter-spacing: 1px;
        line-height: 1.5;
        &.blue {
            color: $blue;
        }
        &.bold {
            font-family: $Raleway-Bold;
        }
    }

    // ----- blue-border -----
    .blue-border {
        padding: 5px 0 5px 25px;
        position: relative;
        &:before {
            content: "";
            background: $blue;
            position: absolute;
            height: 100%;
            width: 10px;
            left: 0;
            top: 0;
        }
    }
    
    // ----- border -----
    .border {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        border: 2px solid;
        margin: 50px 0;
        height: 250px;
        span {
            font-family: $Raleway-Bold;
            font-size: px(32);
            line-height: 1.5;
            padding: 20px;
            &.regular {
                font-family: $Raleway-Regular;
            }
        }
        &--blue {
            background-color: $blue;
            border-color: $blue;
            span {
                color: $white;
            }
        }
    }

    // ----- line -----
    .line {
        background: $black;
        margin: 25px auto;
        height: 1px;
        width: 100%;
        &--white {
            background: $white;
        }
    }

    // ----- title -----
    .title {
        font-family: $Raleway-Bold;
        letter-spacing: 1.5px;
        text-align: center;
        position: relative;
        font-size: px(33);
        line-height: 1.2;
        display: block;
        margin: 25px 0;
        &:before {
            border: 1px solid;
            padding: 0px 5px 5px;
            text-decoration: line-through;
            text-decoration-color: white;
            font-family: $Raleway-Bold;
            margin-right: 10px;
            font-size: 48px;
            float: left;
            left: 0;
            top: 0;
        }
        &--one:before {
            content: "01";
        }
        &--two:before {
            content: "02";
        }
        &--three:before {
            content: "03";
        }
        &--four:before {
            content: "04";
        }
        &--five:before {
            content: "05";
        }
        &--six:before {
            content: "06";
        }
        &--white {
            color: $white;
        }
        &--left {
            text-align: left;
        }
        &--big {
            margin: 50px 0 25px;
            font-size: px(45);
        }
        &--uppercase {
            text-transform: uppercase;
        }
    }

    // ***** header *****
    .header {
        padding: px(500) px(50) 0 px(100);
        position: relative;
        height: 100vh;
        width: 100vw;
        img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            object-position: 72% 0%;
        }

        // ----- slogan -----
        .slogan {
            position: relative;
            font-size: px(48);
            display: block;
            color: $white;       
            z-index: 2;
        }
    }

    // ***** founders *****
    .founders {
        background-color: $white;
        padding: 20px 44px 0;
        img {
            width: 100%;
            & + p {
                font-size: px(18);
                margin-top: 25px;
                display: block;
                span {
                    color: $blue;
                }
            }
        }
    }

    // ***** long-read *****
    .long-read {
        background-color: $white;
        padding: 20px 44px 0;
    }
    
    // ----- work-flow -----
    .work-flow {
        background-color: $white;
        padding: 20px 44px 44px;
        .title {
            float: left;
        }
    }
}