& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    // ----- animation fade -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: fadeIn $time * 3 0s both;
        
        // ----- navigation-elements -----
        .languages a { animation: fadeInDown $time * 3 $time * 3 both; }
        .copyright p { animation: fadeInUp $time * 3 $time * 3 both; }
        .scroll { animation: fadeInUp $time * 2 $time * 7 both; }

        // ----- social -----
        .social {
            .instagram {  animation: social $time * 3 $time * 3 both; }
            .facebook { animation: socialReverse $time * 3 $time * 3 both; }
            .jumping-button { animation: fadeInRight $time * 3 $time * 3 both; }
        }

        // ----- shadow -----
        .shadow div { animation: fadeIn $time * 3 $time * 3 both; }

        // ----- title -----
        .word:nth-of-type(1) span {
            animation: titleWord $time * 2 $time * 5 linear;
            animation-fill-mode: forwards;
        }
        .word:nth-of-type(2) span {
            animation: titleWord $time * 2 $time * 6 linear;
            animation-fill-mode: forwards;
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }
    
    // ----- bg-image -----
    .bg-image {
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
    }
    
    // ----- title -----
    .title {
        margin: 64.5vh 0 0 39vh;
        p { padding: 5% 1vh 0; }
        .word {
            &:nth-of-type(1) span span {
                display: inline-flex;
                color: $blue;
                width: auto;
            }
            &:after { display: none; }
            span {
                font-size: px(108);
                text-transform: initial;
            }
        }
    }

    // ----- shadow -----
    .shadow div {
        background: rgba(28,28,28,.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    // ----- small-gray-lines -----
    .small-gray-lines .line {
        &:nth-of-type(1) {
            left: 19vh;
            top: 4vh;
        }
        &:nth-of-type(2) {
            left: 101vh;
            top: -12vh;
        }
        &:nth-of-type(3) {
            right: 9vh;
            top: 37vh;
        }
        &:nth-of-type(4) {
            bottom: -10vh;
            left: 30vh;
        }
        &:nth-of-type(5) {
            bottom: 14vh;
            right: 90vh;
        }
    }
}
