.about-company-one {
    position: relative;
    left: 0;
    z-index: 1;
    min-height: auto;
    font-family: $Raleway-Regular;
    overflow: hidden;

    .bg-image {
        width: 100%;
        height: 100%;
        animation: fadeIn $time * 3 $time * 3 both;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .copyright {

        p {
            animation: fadeInUp $time * 3 $time * 3 both;
        }
    }

    .scroll {
        animation: fadeInUp $time * 2 $time * 7 both;
    }

    .networks {
        display: -webkit-inline-box;
        position: absolute;
        bottom: 7vh;
        left: 23vh;
        z-index: 5;
        animation: fadeInRight $time * 3 $time * 3 both;

        li {
            margin-right: 50px;

            a {
                color: $white;
                font-size: px(50);
                font-family: $Roboto-Regular;
                transition: $time;

                &:hover {
                    color: $blue;
                }
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .shadow {

        div {
            animation: fadeIn $time * 3 $time * 3 both;
        }
    }

    .word:nth-of-type(1) {

        span {
            animation: titleWord $time * 2 $time * 5 linear;
            animation-fill-mode: forwards;
        }
    }

    .word:nth-of-type(2) {

        span {
            animation: titleWord $time * 2 $time * 6 linear;
            animation-fill-mode: forwards;
        }
    }

    .word:nth-of-type(3) {

        span {
            animation: titleWord $time * 2 $time * 7 linear;
            animation-fill-mode: forwards;
        }
    }

    .word:nth-of-type(4) {

        span {
            animation: titleWord $time * 2 $time * 8 linear;
            animation-fill-mode: forwards;
        }
    }

    .title {
        position: absolute;
        top: 25vh;
        left: 23vh;
        z-index: 1;
        font-family: $Raleway-ExtraBold;

        .word {

            span {
                text-transform: inherit;
                font-size: px(106);
            }

            &:after {
                display: none;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {

                span {
                    font-family: $Raleway-Medium;
                    font-size: px(150);
                }
            }

            &:nth-of-type(3) {
                margin: 22px 0 0 5px;

                span {
                    color: $gray;
                    font-family: $Roboto-Regular;
                    font-size: 43px;
                    letter-spacing: 1px;
                }
            }

            &:nth-of-type(4) {
                margin: 0 0 0 5px;

                span {
                    color: $gray;
                    font-family: $Roboto-Regular;
                    font-size: 43px;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .small-gray-lines {

        .line {

            &:nth-of-type(1) {
                top: 4vh;
                left: 19vh;
            }

            &:nth-of-type(2) {
                top: -12vh;
                left: 101vh;
            }

            &:nth-of-type(3) {
                top: 37vh;
                right: 9vh;
            }

            &:nth-of-type(4) {
                left: 30vh;
                bottom: -10vh;
            }

            &:nth-of-type(5) {
                bottom: 14vh;
                right: 90vh;
            }
        }
    }
}
