@import '../mobile';

ul.flip {
    margin: 2%;
    width: 260px;
    height: 260px;
    font-size: 200px;
    line-height: 250px;
    position: relative;
    border-radius: 50px;
    font-family: $Roboto-Bold;
    display: -webkit-inline-box;
}