& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $background;
    overflow: hidden;
    
    // ----- animation up -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Up $time * 3 0s both;
        
        // ----- navigation-elements -----
        .logo, .menu, .languages a { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- name -----
        .name { animation: fadeIn $time * 3 both; }
        
        // ----- lines -----
        .lines div { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }
        .line { animation: heightPercentChanging $time * 9 $portfolioEuroclubBlueLineDelayTime * 3 both; }

        // ----- other -----
        .crossed-button span { animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both; }
        .table .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 10 linear;
                animation-fill-mode: forwards;
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 7 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 9 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    // ----- animation down -----
    &.previous, &.previous-back {
        animation: slideDown $time * 3 0s both;
        animation-play-state: paused;
        
        // ----- navigation-elements -----
        .logo, .menu, .languages a { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- name -----
        .name { animation: fadeIn $time * 3 both; }
        
        // ----- lines -----
        .lines div { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }
        .line { animation: heightPercentChanging $time * 9 $portfolioEuroclubBlueLineDelayTime * 3 both; }

        // ----- other -----
        .crossed-button span { animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both; }
        .table .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 10 linear;
                animation-fill-mode: forwards;
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 7 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 9 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }

    // ----- table -----
    .table .container {
        height: 100vh;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 1170px;
        position: relative;
        
        // ----- lines -----
        .lines {
            div {
                width: 1px;
                position: absolute;
                background: rgba(102,102,102,.5);
                &:nth-of-type(1) { left: 0; }
                &:nth-of-type(2) { left: 33.33%; }
                &:nth-of-type(3) { left: 66.66%; }
                &:nth-of-type(4) { left: 100%; }
            }

            // ----- title -----
            & + .title {
                display: block;
                margin-top: 19vh;
                position: absolute;
                font-family: $Raleway-ExtraBold;
                .word {
                    &:after { display: none; }
                    &:nth-of-type(1) {
                        margin-bottom: 14px;
                        span {
                            color: $white;
                            text-transform: capitalize;
                        }
                    }
                    &:nth-of-type(2) span {
                        color: $blue;
                        text-transform: uppercase;
                    }
                    span {
                        text-transform: initial;
                        font-size: px(88);
                    }
                }
            }
        }

        // ----- item -----
        .item {
            width: 33.33%;
            position: relative;
            padding-left: px(26);
            &:nth-of-type(1) { margin-top: 65vh; }
            &:nth-of-type(2) { margin-top: 48vh; }
            &:nth-of-type(3) { margin-top: 27vh; }
            .line {
                top: 0;
                width: 7px;
                left: -3.5px;
                position: absolute;
                border-radius: 50px;
                background: linear-gradient($blue, $blue, transparent);
            }
            .title {
                width: auto;
                p {
                    color: $white;
                    line-height: 1.4;
                    font-size: px(28);
                    padding: px(64) px(80) 0 0;
                }
                .word {
                    width: min-content;
                    span {
                        line-height: 26px;
                        font-size: px(42);
                    }
                }
            }
            .crossed-button {
                left: px(8);
                margin-top: 5.5vh;
                position: absolute;
                align-items: center;
                font-family: $Raleway-Medium;
                .arrow .st0, .arrow .st1 { stroke: $white; }
                span {
                    color: $white;
                    display: block;
                    font-size: px(26);
                    &:after { content: 'Подробнее'; }
                    &:before { background: $white; }
                }
            }
            &:before {
                top: -31px;
                left: -17px;
                color: #666;
                font-size: px(30);
                position: absolute;
                font-family: $Roboto-Regular;
            }
            &:nth-of-type(1)::before { content: '01'; }
            &:nth-of-type(2)::before { content: '02'; }
            &:nth-of-type(3)::before { content: '03'; }
        }
    }
}