@import '../mobile';

& {

    .car-covering-layer {

        img {
            left: -20vw;
            min-height: 1024px;
        }

        &--left {
            animation-delay: $portfolioAudiLeftBlockDelayTime;
        }

        // Animation for center block
        @keyframes heightReduce {
            from {
                margin-top: 0;
                height: 130vh;
            }
            60% {
                opacity: 1;
            }
            to {
                margin-top: 42vh;
                height: px(60);
                opacity: .7;
            }
        }
        // Animation for center block ends

        &--center {
            width: 47vw;
            animation: heightIncreaseMobile $portfolioAudiCenterBlockAnimationTime $portfolioAudiCenterBlockDelayTime both, 
                       shadowAppearance $portfolioAudiCenterBlockShadowAnimationTime $portfolioAudiCenterBlockShadowDelayTime both;

            img {
                left: -46.5vw;
            }

            &:before {
                top: -22vh;
                animation-delay: $portfolioAudiCenterBlockLineDelayTime;
            }
        }
    }
}