@import '../desktop';

// ----- services-schedule -----
.services-schedule {
	padding-top: 25vh;
	.container {
		width: 1280px;
		span.name {
			left: .5vh;
			top: -8vh;
		}
		.item {
			.types__item {
				margin-bottom: 0;
				width: 80%;
			}
			.content {
				// padding-left: .5vh;
				.content-title { font-size: 22px; }
				p { font-size: 17px; }
				ul li {
					line-height: 1.5;
					margin-bottom: 0;
					a { font-size: 17px; }
				}
			}
			&.up {
				margin-bottom: 8vh;
				.services-line { top: -25vh; }
			}
		}
	}
}