.services-schedule {
    padding-top: 25vh;

    .container {
        width: 700px;

        .name {
            left: .5vh;
            top: -8vh;
        }

        .item {

            .types__item {
                margin-bottom: 0;
                width: 95%;
            }

            &.up {
                margin-bottom: 8vh;
            }
        }

        .content {
            // padding-left: .5vh;
            .content-title {
                font-size: 15px;
            }

            p {
                font-size: 13px;
            }

            li {
                margin-bottom: 0;
                line-height: 1.2;
            }

            a {
                font-size: 13px;
            }
        }
    }
}
