.services {
    min-height: 650px;

    $container-width: 80%;

    .lines {
        left: (100% - $container-width) / 2;
        width: $container-width;
    }

    .container {
        width: $container-width;
    }

    .services-list {
        margin-top: 10px;
    }

    .item {
        margin-top: 10px;
    }

    .index {
        font-size: 12px;

        span {
            padding: 3px 5px;
        }
    }

    .content {

        &-title {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 18px;
        }

        &-list {
            margin-top: 15px;

            a {
                margin-bottom: 5px;
                font-size: 14px;
            }
        }

        &-text {
            margin-top: 15px;
            font-size: 14px;
        }
    }
}
