.services {
    min-height: 800px;

    .index {
        font-size: 14px;
    }

    .content {

        &-title {
            margin-bottom: 20px;
            font-size: 19px;
            line-height: 26px;
        }

        &-list {
            margin-top: 20px;

            a {
                margin-bottom: 7px;
                font-size: 16px;
            }
        }

        &-text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.3;
        }
    }
}
