.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 900px;
    background: $background;
    font-family: $Raleway-Regular;
    overflow: hidden;

    $container-width: 62%;

    .big-background-letter {
        position: fixed;
        top: 10vh;
        right: -4vh;
        font-size: 110vh;

        span {

            &:before {
                content: 'o';
            }
        }
    }

    .lines {
        position: absolute;
        top: 0;
        z-index: 2;
        left: (100% - $container-width) / 2;
        width: $container-width;
    }

    .line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100vh;
        background: $darkGray;

        &--1 {
            left: -1px;
        }

        &--2 {
            left: calc(100% / 3);
        }

        &--3 {
            left: calc(100% / 3 * 2);
        }

        &--4 {
            left: 100%;
        }
    }

    .container {
        position: relative;
        z-index: 2;
        width: $container-width;
    }

    .name {
        position: relative;
        font-size: 14px;
        text-transform: uppercase;

        &-text {
            display: block;
            color: $white;
            font-family: $Raleway-Bold;
        }

        &:before {
            display: block;
            position: absolute;
            top: 4px;
            left: -62px;
            width: 50px;
            height: 3px;
            background: $white;
            content: '';
        }
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        margin-top: 50px;
    }

    .item {
        position: relative;
        margin-top: 30px;
        width: calc(100% / 3);

        &:hover {

            .index {
                color: $blue;
            }
        }
    }

    .index {
        display: inline-block;
        color: $gray;
        font-family: $Roboto-Regular;
        font-size: 16px;
        overflow: hidden;
        transform-origin: 0 100%;
        transform: rotate(-90deg);
        transition: color $time;

        span {
            display: block;
            padding: 5px 10px;
        }
    }

    .content {
        overflow: hidden;

        &-title {
            position: relative;
            margin-bottom: 25px;
            color: $white;
            font-family: $Raleway-Bold;
            font-size: 24px;
            line-height: 30px;
            text-transform: uppercase;

            &-text {
                display: inline-block;
                position: relative;
                z-index: 2;

                &:before {
                    display: block;
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 3px;
                    width: 0;
                    height: 7px;
                    background: $blue;
                    content: '';
                    transition: width $time;
                }
            }

            &:hover {

                .content-title-text {

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        &-list {
            margin-top: 25px;

            a {
                display: block;
                margin-bottom: 10px;
                color: $white;
                font-size: 17px;
                transition: font-size $time, color $time;

                &:hover {
                    color: $blue;
                }
            }
        }

        &-text {
            margin-top: 25px;
            color: $white;
            font-size: 17px;
            line-height: 1.5;
        }
    }

    &.page,
    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: fadeIn $services-page-animation-time 0s both;

        .big-background-letter {
            animation: fadeIn $services-page-animation-time $services-page-first-column-delay both;
        }

        .copyright {
            overflow: hidden;

            p {
                padding: 10px 0;
                animation: Up $services-page-animation-time $services-page-first-column-delay both;
            }
        }

        .facebook,
        .instagram {
            animation: social $services-page-animation-time $services-page-first-column-delay both;
        }

        .behance {
            animation: fadeInRight $services-page-animation-time $services-page-first-column-delay both;
        }

        .line {
            animation: Down $services-page-animation-time 0s both;

            &--1 {
                animation-delay: $services-page-first-column-delay;
            }

            &--2 {
                animation-delay: $services-page-second-column-delay;
            }

            &--3 {
                animation-delay: $services-page-third-column-delay;
            }

            &--4 {
                animation-delay: $services-page-fourth-column-delay;
            }
        }

        .name {

            &-text {
                animation: titleName $services-page-animation-time $services-page-second-column-delay both;
            }

            &:before {
                animation: titleNameShape $services-page-animation-time $services-page-first-column-delay both;
            }
        }

        .item {

            .index {

                span {
                    animation: Up $services-page-animation-time 0s both;
                }
            }

            .content {

                &-title {

                    &-text {
                        animation: Right $services-page-animation-time 0s both;
                    }
                }

                &-list {

                    a {
                        animation: Right $services-page-animation-time 0s both;
                    }
                }

                &-text {
                    animation: Right $services-page-animation-time 0s both;
                }
            }

            &:nth-child(1),
            &:nth-child(4) {

                .index {

                    span {
                        animation-delay: $services-page-first-column-delay;
                    }
                }

                .content {

                    &-title {

                        &-text {
                            animation-delay: $services-page-first-column-delay;
                        }
                    }

                    &-list {

                        a {
                            animation-delay: $services-page-first-column-delay;
                        }
                    }

                    &-text {
                        animation-delay: $services-page-first-column-delay;
                    }
                }
            }

            &:nth-child(2),
            &:nth-child(5) {

                .index {

                    span {
                        animation-delay: $services-page-second-column-delay;
                    }
                }

                .content {

                    &-title {

                        &-text {
                            animation-delay: $services-page-second-column-delay;
                        }
                    }

                    &-list {

                        a {
                            animation-delay: $services-page-second-column-delay;
                        }
                    }

                    &-text {
                        animation-delay: $services-page-second-column-delay;
                    }
                }
            }

            &:nth-child(3),
            &:nth-child(6) {

                .index {

                    span {
                        animation-delay: $services-page-third-column-delay;
                    }
                }

                .content {

                    &-title {

                        &-text {
                            animation-delay: $services-page-third-column-delay;
                        }
                    }

                    &-list {

                        a {
                            animation-delay: $services-page-third-column-delay;
                        }
                    }

                    &-text {
                        animation-delay: $services-page-third-column-delay;
                    }
                }
            }
        }
    }

    &.current,
    &.current-back {
        animation: Left $services-page-animation-time 0s both;
    }

    &.previous,
    &.previous-back {
        animation: toRight $services-page-animation-time $topPanelAnimationTime both;
        animation-play-state: paused;

        .big-background-letter {
            animation-play-state: paused;
        }

        .copyright {

            p {
                animation-play-state: paused;
            }
        }

        .facebook,
        .instagram {
            animation-play-state: paused;
        }

        .behance {
            animation-play-state: paused;
        }

        .line {
            animation-play-state: paused;
        }

        .name {

            &-text {
                animation-play-state: paused;
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .item {

            .index {

                span {
                    animation-play-state: paused;
                }
            }

            .content {

                &-title {

                    &-text {
                        animation-play-state: paused;
                    }
                }

                &-list {

                    a {
                        animation-play-state: paused;
                    }
                }

                &-text {
                    animation-play-state: paused;
                }
            }
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}
