& {

    padding-top: px(100);
    background: $background;
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    .services-schedule {
        padding-left: 20px;
    }

    .name {
        display: block;
        margin-bottom: px(80);
        color: $white;
        font-size: px(48);
    }

    .item {
        margin-bottom: px(70);
        padding-right: px(30);
    }

    .types__item {
        display: block;
        margin-bottom: px(20);
        color: $lightGray;
    }

    ul {

        li {
            margin-bottom: px(10);
        }

        a {
            color: $white;
            transition: color $time;

            &:hover {
                color: $blue;
            }
        }
    }
}