.services {
    display: block;
    height: initial;
    min-height: initial;

    $container-width: 60%;

    .social {
        display: none;
    }

    .lines {
        display: none;
    }

    .container {
        position: relative;
        margin: 0 auto;
        padding: 100px 0;
        width: $container-width;
        height: 100%;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: -1px;
            width: 1px;
            height: 100%;
            background: $gray;
            content: '';
            opacity: .5;
        }

        &:after {
            left: 100%;
        }
    }

    .name {

        &:before {
            left: -30px;
            width: 25px;
        }
    }

    .services-list {
        display: block;
        margin-top: 40px;
    }

    .item {
        margin-top: 15px;
        width: 100%;
    }

    .content {

        &-title {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &.page {

        .line {
            animation: none;
        }

        .container {

            &:before,
            &:after {
                animation: Down $services-page-animation-time $services-page-first-column-delay both;
            }

            &:after {
                animation-delay: $services-page-second-column-delay;
            }
        }

        .name {

            &:before {
                animation-name: titleNameShapeMobile;
            }
        }

        .item {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {

                .index {

                    span {
                        animation-delay: $services-page-first-column-delay;
                    }
                }

                .content {

                    &-title {

                        &-text {
                            animation-delay: $services-page-first-column-delay;
                        }
                    }

                    &-list {

                        a {
                            animation-delay: $services-page-first-column-delay;
                        }
                    }

                    &-text {
                        animation-delay: $services-page-first-column-delay;
                    }
                }
            }
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        width: 100vw;
        height: 100vh;

        .content {

            &-list,
            &-text {
                display: none;
            }
        }
    }
}
