// UNIVERSAL MIXIN
@mixin animation-mixin($name, $from, $to) {
    @keyframes #{$name} {
        from {
            transform: translate3d($from, 0, 0);
            #{$name}: 0;
        }
        to {
            transform: translate3d($to, 0, 0); 
            #{$name}: 1;
        }
    }
}
// UNIVERSAL MIXIN ENDS


// ANIMATION FOR HAMBURGER TICKS
@keyframes innerTickAnimation1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes innerTickAnimation2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes innerTickOpenedAnimation1 {
    from {
        left: 10%;
    }
    to {
        left: 100%;
    }
}

@keyframes innerTickOpenedAnimation2 {
    from {
        left: -2%;
    }
    to {
        left: 90%;
    }
}
// ANIMATION FOR HAMBURGER TICKS ENDS


// RORTFOLIO CLIENT
@keyframes client {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes clientName {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
// RORTFOLIO CLIENT ENDS


// RORTFOLIO RIGHT PANEL
@keyframes rightPanelDate {
    from {
        opacity: 0;
        transform: translate3d(100%, 60vh, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 60vh, 0);
    }
}

@keyframes rightPanelDevices {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
// RORTFOLIO RIGHT PANEL ENDS


// PORTFOLIO Q7 ANIMATION
@keyframes widthIncrease {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes heightIncreaseDesktop {
    from {
        height: 0vh;
        transform: translateY(40vh);
    }
    to {
        height: 88vh;
        transform: translateY(4vh);
    }
}

@keyframes heightIncreaseTablet {
    from {
        height: 0vh;
        transform: translateY(56vh);
    }
    to {
        height: 72vh;
        transform: translateY(20vh);
    }
}

@keyframes heightIncreaseMobile {
    from {
        height: 0vh;
        transform: translateY(60vh);
    }
    to {
        height: 60vh;
        transform: translateY(30vh);
    }
}

@keyframes rightDown {
    from {
        transform: rotate(45deg) translate3d(-100%, 0, 0);
    }
    to {
        transform: rotate(45deg) translate3d(100%, 0, 0);
    }
}

@keyframes leftDown {
    from {
        transform: rotate(-45deg) translate3d(100%, 0, 0);
    }
    to {
        transform: rotate(-45deg) translate3d(-20%, 0, 0);
    }
}

@keyframes rightDownTablet {
    from {
        transform: rotate(45deg) translate3d(-100%, 0, 0);
    }
    to {
        transform: rotate(45deg) translate3d(100%, 0, 0);
    }
}

@keyframes leftDownTablet {
    from {
        transform: rotate(-45deg) translate3d(100%, 0, 0);
    }
    to {
        transform: rotate(-45deg) translate3d(-10%, 0, 0);
    }
}
// PORTFOLIO Q7 ANIMATION ENDS


// PORTFOLIO VINO GRAD ANIMATION
@keyframes up {
    from {
        transform: translateY(100%);
    }   
    to {
        transform: translateY(0);
    } 
}

@keyframes down {
    from {
        transform: translateY(-100%);
    }   
    to {
        transform: translateY(0);
    } 
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes poster {
    from {
        width: 0;
        height: 0;
        transform: translate3d(-26.5vw, 54vh, 0);
    }
    50% {
        width: 0;
        height: 54vh;
        transform: translate3d(-26.5vw, 0, 0);
    }
    to {
        width: 53vw;
        height: 54vh;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes posterTablet {
    from {
        width: 0;
        height: 0;
        transform: translate3d(-46vw, 36vh, 0);
    }
    50% {
        width: 0;
        height: 36vh;
        transform: translate3d(-46vw, 0, 0);
    }
    to {
        width: 92vw;
        height: 36vh;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes posterMobile {
    from {
        width: 0;
        transform: translateX(-50vw);
    }
    to {
        width: 100vw;
        transform: translateX(0);
    }
}
// PORTFOLIO VINO GRAD ANIMATION ENDS