@import 'variables';

html {
    body {
        min-width: 320px;
        overflow-x: hidden;
        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $white;
            .cyrillic { font-family: $roboto; }
            nav ul li { @include inline-block; }
            input, button { outline: none; }
            button { border: none; }
            header { flex: 0 0 auto; }
            footer { flex: 0 0 auto; }
            main { flex: 1 0 auto; }
            a { text-decoration: none; }
            ul {
                margin: 0;
                padding: 0;
                li { list-style-type: none; }
            }
            .valign {
                display: flex;
                align-items: center;
            }
            .truncate {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .screen-block {
                @media only screen and (min-width: 668px) and (max-width: 768px) { min-height: 1024px; }
                @media only screen and (min-width: 769px) and (max-width: 1024px) { min-height: 768px; }
                @media only screen and (min-width: 1025px) and (max-width: 1366px) { min-height: 650px; }
                @media only screen and (min-width: 1367px) and (max-width: 1680px) { min-height: 800px; }
                @media only screen and (min-width: 1681px) and (max-width: 1920px) { min-height: 960px; }
                @media only screen and (min-width: 1921px) { min-height: 900px; }
                background-color: $white;
                position: absolute;
                display: table;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                &.current { z-index: 2; }              
                &.previous { z-index: 1; }
                @media only screen and (max-width: 1024px) {
                    position: relative;
                    z-index: 1;
                    &.current,
                    &.previous {
                        z-index: 1;
                    }
                }
            }
        }
    }
}


// ---- LOGO ----    
.dark-logo {

    .logo {

        &-letter {
            fill: $black;
        }
    }
}


// ---- MENU ----    
.dark-menu {

    .menu {
        
        &__item {
            border-color: $darkGray;

            .symbol,
            .name {
                color: $darkGray;
            }

            .hamburger {

                &-tick {

                    .inner-tick {
                        background: $darkGray;
                    }
                }
            }

            &--open-close {

                &:hover {

                    .name {
                        color: $darkGray;
                    }
                }
            }
        }

        &__background {
            background: rgba(255, 255, 255, .95);
        }
    }
}


// ---- PORTFOLIO CLIENT ----   
.dark-portfolio-client {

    .portfolio-client {
        color: $darkGray;
    }
}


// ---- PORTFOLIO RIGHT PANEL ----   
.dark-portfolio-right-panel {

    .portfolio-right-panel {
        color: $darkGray;
    }
}