@import 'variables';

html {

    body {
        min-width: 320px;
        overflow-x: hidden;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $white;
            overflow: hidden;

            header {
                flex: 0 0 auto;
            }

            footer {
                flex: 0 0 auto;
            }

            main {
                flex: 1 0 auto;
            }

            .valign {
                display: flex;
                align-items: center;
            }

            .truncate {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        body {
            overflow: visible;

            .wrapper {
                width: initial;
                height: initial;
                overflow: visible;
            }
        }
    }

}


.dark-language {

    .language {

        a {
            color: $darkGray;

            &.select {
                color: $gray;

                &:before {
                    color: $gray;
                }
            }

            &:hover {
                color: $gray;
            }
        }
    }
}
