// Roboto
@font-face {
 	font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

// Raleway
@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}