// --- Roboto ---
@font-face {
 	font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

// --- Raleway ---
@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
 	font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

// --- Audi ---
@font-face {
    font-family: 'Audi';
    src: url('../fonts/Audi/Audi-Type-Extended-Normal.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Audi';
    src: url('../fonts/Audi/Audi-Type-Extended-Bold.woff');
    font-style: normal;
    font-weight: 700;
}