// GLOBAL VARIABLES
$browser-context: 16;
// GLOBAL VARIABLES END

// MEDIA QUERIES
$phonePortrait:   '(max-width: 414px)';
$phoneLandscape:  '(min-width: 415px) and (max-width: 667px)';
$tabletPortrait:  '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop:         '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide:     '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD:       '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega:     '(min-width: 1921px)';
// MEDIA QUERIES END

// COLORS VARIABLES
$background: #1C1C1C;
$silver: #2D2D2D;
$blue: #0057FF;
$dark: #333333;
$white: #FFF;
$black: #000;
$lightBlack: #1C1C1C;
$lightGray: #D7D7D7;
$gray: #999;
$darkGray: #444;
$secondary: #FAFBFC;
$primary: #24292E;
$border: #E1E4E8;
// COLORS VARIABLES END

// FONT VARIABLES
$roboto: Roboto;
$raleway: Raleway;
$extra-bold: 800;
$regular: 400;
$medium: 500;
$bold: 700;
$thin: 100;
// FONT VARIABLES END

// TIME CONSTANTS
$time: .3s;
$timeHalf: $time / 2;
$timeDif: .1s;

$timeTick: .2s;
$timeTickHalf: $timeTick / 2;
// TIME CONSTANTS END

// VARIABLES FOR PORTFOLIO CLIENT
//$portfolioClientDelayTime: 0s;
$portfolioClientDelayTime: $time * 3;
$portfolioClientAnimationTime: $time;

$portfolioClientNameDelayTime: $portfolioClientDelayTime + $portfolioClientAnimationTime;
$portfolioClientNameAnimationTime: $time;
// VARIABLES FOR PORTFOLIO CLIENT END

// VARIABLES FOR PORTFOLIO BOTTOM BUTTON
$portfolioBottomLineDelayTime: $portfolioClientNameDelayTime;
$portfolioBottomLineAnimationTime: $time * 3;

$portfolioBottomTextDelayTime: $portfolioBottomLineDelayTime + $portfolioBottomLineAnimationTime;
$portfolioBottomTextAnimationTime: $time * 3;
// VARIABLES FOR PORTFOLIO BOTTOM BUTTON END

// VARIABLES FOR PORTFOLIO RIGHT PANEL
$portfolioRightPanelDateDelayTime: $portfolioClientDelayTime;
$portfolioRightPanelDateAnimationTime: $time;

$portfolioRightPanelDevicesDesktopDelayTime: $portfolioRightPanelDateDelayTime + $portfolioRightPanelDateAnimationTime;
$portfolioRightPanelDevicesDesktopAnimationTime: $time;

$portfolioRightPanelDevicesTabletDelayTime: $portfolioRightPanelDevicesDesktopDelayTime + $portfolioRightPanelDevicesDesktopAnimationTime;
$portfolioRightPanelDevicesTabletAnimationTime: $time;

$portfolioRightPanelDevicesMobileDelayTime: $portfolioRightPanelDevicesTabletDelayTime + $portfolioRightPanelDevicesTabletAnimationTime;
$portfolioRightPanelDevicesMobileAnimationTime: $time;
// VARIABLES FOR PORTFOLIO RIGHT PANEL END


// VARIABLES FOR PORTFOLIO BLOCK AUDI Q7 (PA - Portfolio Audi)
$portfolioAudiLeftBlockLeftLineDelayTime: $portfolioClientDelayTime;
$portfolioAudiLeftBlockLeftLineAnimationTime: $time * 9;

$portfolioAudiLeftBlockRightLineDelayTime: $portfolioAudiLeftBlockLeftLineDelayTime + $portfolioAudiLeftBlockLeftLineAnimationTime / 10;
$portfolioAudiLeftBlockRightLineAnimationTime: $time * 9;

$portfolioAudiRightBlockLeftLineDelayTime: $portfolioAudiLeftBlockLeftLineDelayTime + $time;
$portfolioAudiRightBlockLeftLineAnimationTime: $time * 9 - $time;

$portfolioAudiRightBlockRightLineDelayTime: $portfolioAudiRightBlockLeftLineDelayTime + $portfolioAudiRightBlockLeftLineAnimationTime / 10;
$portfolioAudiRightBlockRightLineAnimationTime: $time * 9;

$portfolioAudiCenterBlockDelayTime: $portfolioRightPanelDevicesMobileDelayTime + $portfolioRightPanelDevicesMobileAnimationTime;
$portfolioAudiCenterBlockAnimationTime: $time * 3;

$portfolioAudiCenterBlockLineDelayTime: $portfolioAudiCenterBlockDelayTime + $portfolioAudiCenterBlockAnimationTime;
$portfolioAudiCenterBlockLineAnimationTime: $time * 3;

$portfolioAudiCenterBlockShadowDelayTime: $portfolioAudiCenterBlockLineDelayTime + $portfolioAudiCenterBlockLineAnimationTime - $timeTick;
$portfolioAudiCenterBlockShadowAnimationTime: $time * 3;

$portfolioAudiLeftBlockDelayTime: $portfolioAudiCenterBlockLineDelayTime + $portfolioAudiCenterBlockLineAnimationTime;
$portfolioAudiLeftBlockAnimationTime: $time * 3;

$PATitleLineDelayTime: $portfolioAudiLeftBlockDelayTime;
$PATitleLineAnimationTime: $portfolioAudiLeftBlockAnimationTime;

$PATitleTextDelayTime: $PATitleLineDelayTime + $PATitleLineAnimationTime;
$PATitleTextAnimationTime: $time * 3;

$PAStickerLineDelayTime: $PATitleTextDelayTime + $PATitleTextAnimationTime;
$PAStickerLineAnimationTime: $time * 3;

$PAStickerTextDelayTime: $PAStickerLineDelayTime + $PAStickerLineAnimationTime;
$PAStickerTextAnimationTime: $time * 3;

$PAAboutDelayTime: $PAStickerLineDelayTime;
$PAAboutAnimationTime: $time * 3;

    // MOBILE
    $portfolioAudiCenterBlockDelayTimeMobile: $time * 3;
    $portfolioAudiCenterBlockLineDelayTimeMobile: $portfolioAudiCenterBlockDelayTimeMobile + $portfolioAudiCenterBlockAnimationTime;
    $portfolioAudiCenterBlockShadowDelayTimeMobile: $portfolioAudiCenterBlockLineDelayTimeMobile + $portfolioAudiCenterBlockLineAnimationTime - $timeTick;
    $portfolioAudiLeftBlockDelayTimeMobile: $portfolioAudiCenterBlockLineDelayTimeMobile + $portfolioAudiCenterBlockLineAnimationTime;
    $PAStickerLineDelayTimeMobile: $portfolioAudiLeftBlockDelayTimeMobile + $portfolioAudiLeftBlockAnimationTime;
    $PAStickerTextDelayTimeMobile: $PAStickerLineDelayTimeMobile + $PAStickerLineAnimationTime;
    $PATitleDelayTimeMobile: $PAStickerLineDelayTimeMobile;
    $PATextDelayTimeMobile: $PAStickerTextDelayTimeMobile;

// VARIABLES FOR PORTFOLIO BLOCK AUDI Q7 END


// VARIABLES FOR PORTFOLIO BLOCK VINO GRAD (PV - Portfolio Vinograd)
$portfolioVinogradLeftBlockDelayTime: 0s;
$portfolioVinogradLeftBlockAnimationTime: $time * 3;

$portfolioVinogradRightBlockDelayTime: $portfolioVinogradLeftBlockDelayTime;
$portfolioVinogradRightBlockAnimationTime: $portfolioVinogradLeftBlockAnimationTime;

    // COMPONENTS
    $portfolioVinogradRightPanelDelayTime: $portfolioVinogradLeftBlockDelayTime + $portfolioVinogradLeftBlockAnimationTime;
    $portfolioVinogradClientDelayTime: $portfolioVinogradRightPanelDelayTime;
    $portfolioVinogradClientNameDelayTime: $portfolioVinogradClientDelayTime + $portfolioClientAnimationTime;
    $portfolioVinogradLogoDelayTime: $portfolioVinogradRightPanelDelayTime;
    $portfolioVinogradMenuDelayTime: $portfolioVinogradRightPanelDelayTime;

$portfolioVinogradPosterDelayTime: $portfolioRightPanelDevicesMobileDelayTime + $portfolioRightPanelDevicesMobileAnimationTime;
$portfolioVinogradPosterAnimationTime: $time * 6;

$portfolioVinogradPosterImageDelayTime: $portfolioVinogradPosterDelayTime + $portfolioVinogradPosterAnimationTime;
$portfolioVinogradPosterImageAnimationTime: $time * 3;

$portfolioVinogradPosterTextDelayTime: $portfolioVinogradPosterImageDelayTime + $portfolioVinogradPosterImageAnimationTime;
$portfolioVinogradPosterTextAnimationTime: $time * 3;

$PVTitleLineDelayTime: $portfolioVinogradPosterImageDelayTime + $portfolioVinogradPosterImageAnimationTime;
$PVTitleLineAnimationTime: $portfolioVinogradPosterTextAnimationTime;

$PVTitleTextDelayTime: $PVTitleLineDelayTime + $PVTitleLineAnimationTime;
$PVTitleTextAnimationTime: $time * 3;

$PVStickerLineDelayTime: $PVTitleTextDelayTime + $PVTitleTextAnimationTime;
$PVStickerLineAnimationTime: $time * 3;

$PVStickerTextDelayTime: $PVStickerLineDelayTime + $PVStickerLineAnimationTime;
$PVStickerTextAnimationTime: $time * 3;

$PVAboutDelayTime: $PVStickerLineDelayTime;
$PVAboutAnimationTime: $time * 3;

    // MOBILE
    $portfolioVinogradPosterDelayTimeMobile: $portfolioVinogradRightBlockDelayTime + $portfolioVinogradRightBlockAnimationTime;
    $portfolioVinogradPosterImageDelayTimeMobile: $portfolioVinogradPosterDelayTimeMobile + $portfolioVinogradPosterAnimationTime;
// VARIABLES FOR PORTFOLIO BLOCK VINO GRAD END


// VARIABLES FOR PORTFOLIO BLOCK EURO CLUB (PE - Portfolio Euro Club)
$portfolioEuroclubBlueLineDelayTime: $time * 3;
$portfolioEuroclubBlueLineAnimationTime: $time * 3;

$portfolioEuroclubGrayBlockDelayTime: $portfolioEuroclubBlueLineDelayTime + $portfolioEuroclubBlueLineAnimationTime;
$portfolioEuroclubGrayBlockAnimationTime: $time * 6;

$portfolioEuroclubImageDelayTime: $portfolioEuroclubBlueLineDelayTime + $portfolioEuroclubBlueLineAnimationTime;
$portfolioEuroclubImageAnimationTime: $portfolioEuroclubGrayBlockAnimationTime / 2;

$portfolioEuroclubImageShadowDelayTime: $portfolioEuroclubBlueLineDelayTime + $portfolioEuroclubGrayBlockAnimationTime;
$portfolioEuroclubImageShadowAnimationTime: $time * 3;

$portfolioEuroclubImageTextDelayTime: $portfolioEuroclubImageShadowDelayTime + $portfolioEuroclubImageShadowAnimationTime;
$portfolioEuroclubImageTextAnimationTime: $time * 3;

$PETitleLineDelayTime: $portfolioEuroclubImageTextDelayTime;
$PETitleLineAnimationTime: $portfolioEuroclubImageTextAnimationTime;

$PETitleTextDelayTime: $PETitleLineDelayTime + $PETitleLineAnimationTime;
$PETitleTextAnimationTime: $time * 3;

$PEStickerLineDelayTime: $PETitleTextDelayTime + $PETitleTextAnimationTime;
$PEStickerLineAnimationTime: $time * 3;

$PEStickerTextDelayTime: $PEStickerLineDelayTime + $PEStickerLineAnimationTime;
$PEStickerTextAnimationTime: $time * 3;

$PEAboutDelayTime: $PEStickerLineDelayTime;
$PEAboutAnimationTime: $time * 3;

$portfolioEuroclubLetterDelayTime: $portfolioEuroclubImageTextDelayTime + $portfolioEuroclubImageTextAnimationTime;
$portfolioEuroclubLetterAnimationTime: $time * 3;
// VARIABLES FOR PORTFOLIO BLOCK EURO CLUB END


// VARIABLES FOR PORTFOLIO BLOCK ALTA CAPITAL (PAC - Portfolio Alta Capital)
$portfolioAltaLeftBlockDelayTime: 0s;
$portfolioAltaLeftBlockAnimationTime: $time * 3;

$portfolioAltaRightBlockDelayTime: $portfolioAltaLeftBlockDelayTime;
$portfolioAltaRightBlockAnimationTime: $portfolioAltaLeftBlockAnimationTime;

$portfolioAltaGrayBlockDelayTime: $portfolioAltaRightBlockDelayTime + $portfolioAltaRightBlockAnimationTime;
$portfolioAltaGrayBlockAnimationTime: $time * 3;

$portfolioAltaImageDelayTime: $portfolioAltaGrayBlockDelayTime + $portfolioAltaGrayBlockAnimationTime;
$portfolioAltaImageAnimationTime: $time * 3;

$portfolioAltaPosterTextDelayTime: $portfolioAltaImageDelayTime + $portfolioAltaImageAnimationTime;
$portfolioAltaPosterTextAnimationTime: $time * 3;

$portfolioAltaPosterParagraphDelayTime: $portfolioAltaPosterTextDelayTime + $portfolioAltaPosterTextAnimationTime;
$portfolioAltaPosterParagraphAnimationTime: $time * 3;

$portfolioAltaControlsRightBlockDelayTime: $portfolioAltaPosterParagraphDelayTime + $portfolioAltaPosterParagraphAnimationTime;
$portfolioAltaControlsRightBlockAimationTime: $time * 3;

$portfolioAltaControlsLeftBlockDelayTime: $portfolioAltaControlsRightBlockDelayTime;
$portfolioAltaControlsLeftBlockAimationTime: $portfolioAltaControlsRightBlockAimationTime;

$portfolioAltaControlsIndicatorsDelayTime: $portfolioAltaControlsRightBlockDelayTime + $portfolioAltaControlsRightBlockAimationTime;
$portfolioAltaControlsIndicatorsAimationTime: $time * 3;

$PACTitleLineDelayTime: $portfolioAltaControlsRightBlockDelayTime;
$PACTitleLineAnimationTime: $portfolioEuroclubImageTextAnimationTime;

$PACTitleTextDelayTime: $PACTitleLineDelayTime + $PACTitleLineAnimationTime;
$PACTitleTextAnimationTime: $time * 3;

$PACStickerLineDelayTime: $PACTitleTextDelayTime + $PACTitleTextAnimationTime;
$PACStickerLineAnimationTime: $time * 3;

$PACStickerTextDelayTime: $PACStickerLineDelayTime + $PACStickerLineAnimationTime;
$PACStickerTextAnimationTime: $time * 3;


    // MOBILE
    $portfolioAltaControlsRightBlockDelayTimeMobile: $portfolioAltaImageDelayTime + $portfolioAltaImageAnimationTime;
    $portfolioAltaControlsLeftBlockDelayTimeMobile: $portfolioAltaControlsRightBlockDelayTimeMobile; 
    $portfolioAltaControlsIndicatorsDelayTimeMobile: $portfolioAltaControlsRightBlockDelayTimeMobile + $portfolioAltaControlsRightBlockAimationTime;
// VARIABLES FOR PORTFOLIO BLOCK ALTA CAPITAL ENDS 



// PORTFOLIO PAGE (PP - Portfolio Page)
$PPLeftBlockDelayTime: 0s; 
$PPLeftBlockAnimationTime: $time * 3;

$PPRightBlockDelayTime: $PPLeftBlockDelayTime; 
$PPRightBlockAnimationTime: $PPLeftBlockAnimationTime;

$PPMenuDelayTime: $PPRightBlockDelayTime + $PPRightBlockAnimationTime;
$PPMenuAnimationTime: $time * 3;

$PPLogoDelayTime: $PPMenuDelayTime; 
$PPLogoAnimationTime: $PPMenuAnimationTime;

$PPLangDelayTime: $PPMenuDelayTime;
$PPLangAnimationTime: $PPMenuAnimationTime;

$PPCopyDelayTime: $PPMenuDelayTime;
$PPCopyAnimationTime: $PPMenuAnimationTime;

$PPSocialDelayTime: $PPMenuDelayTime;
$PPSocialAnimationTime: $PPMenuAnimationTime;

$PPBehancelDelayTime: $PPSocialDelayTime + $PPSocialAnimationTime;
$PPBehanceAnimationTime: $time;

$PPClockAnimationTime: $time * 2;

$PPClockFirstDelayTime: $PPCopyDelayTime + $PPCopyAnimationTime;
$PPClockSecondDelayTime: $PPClockFirstDelayTime + $PPClockAnimationTime / 3;
$PPClockThirdDelayTime: $PPClockSecondDelayTime + $PPClockAnimationTime / 3;
$PPClockFourthDelayTime: $PPClockThirdDelayTime + $PPClockAnimationTime / 3;
$PPClockFifthDelayTime: $PPClockFourthDelayTime + $PPClockAnimationTime / 3;

$PPLettersDelayTime: $PPClockFifthDelayTime + $PPClockAnimationTime;
$PPLettersAnimationTime: $time;

$PPImageBgDelayTime: $PPLettersDelayTime + $PPLettersAnimationTime;
$PPImageBgAnimationTime: $time * 3;

$PPImageDelayTime: $PPImageBgDelayTime + $PPImageBgAnimationTime;
$PPImageAnimationTime: $time * 3;

$PPTitleLineDelayTime: $PPImageDelayTime + $PPImageAnimationTime;
$PPTitleLineAnimationTime: $time * 3;

$PPTitleTextDelayTime: $PPTitleLineDelayTime + $PPTitleLineAnimationTime;
$PPTitleTextAnimationTime: $time * 3; 

    // MOBILE
    $PPBackBgDelayTime: $PPRightBlockDelayTime + $PPRightBlockAnimationTime;
// PORTFOLIO PAGE ENDS


//  BLOG PAGE (B - Blog)
$BColumnDelayTime: 0s;
$BColumnAnimationTime: $time * 3;

$BGridDelayTime: $BColumnDelayTime;
$BGridAnimationTime: $BColumnAnimationTime;

$BMenuDelayTime: $BGridDelayTime + $BGridAnimationTime;
$BMenuAnimationTime: $time * 3;

$BLogoDelayTime: $BMenuDelayTime;
$BLogoAnimationTime: $BMenuAnimationTime;

$BLangDelayTime: $BMenuDelayTime;
$BLangAnimationTime: $BMenuAnimationTime;

$BFilterDelayTime: $BMenuDelayTime;
$BFilterAnimationTime: $BMenuAnimationTime;

$BFilterLineDelayTime: $BFilterDelayTime;
$BFilterLineAnimationTime: $BFilterAnimationTime;

$BFilterTextDelayTime: $BFilterLineDelayTime + $BFilterLineAnimationTime;
$BFilterTextAnimationTime: $BFilterLineAnimationTime;

$BPostImageDelayTime: $BFilterTextDelayTime;
$BPostImageAnimationTime: $BFilterTextAnimationTime * 1.2;

$BPostDateNumberAnimationTime: $time;
$BPostDateNumberDelayTime: $BPostImageDelayTime + $BPostImageAnimationTime - $BPostDateNumberAnimationTime;

$BPostDateDayDelayTime: $BPostDateNumberDelayTime + $BPostDateNumberAnimationTime;
$BPostDateDayAnimationTime: $time * 3;

$BStickerLineDelayTime: $BPostDateDayDelayTime;
$BStickerLineAnimationTime: $BPostDateDayAnimationTime;

$BStickerTextDelayTime: $BStickerLineDelayTime + $BStickerLineAnimationTime;
$BStickerTextAnimationTime: $time * 3;

$BPostTitleDelayTime: $BStickerTextDelayTime;
$BPostTitleAnimationTime: $BStickerTextAnimationTime;

$BPostLinkDelayTime: $BStickerTextDelayTime;
$BPostLinkAnimationTime: $BStickerTextAnimationTime;
//  BLOG PAGE ENDS


//  POST PAGE (POP - Post Page)
$POPClockAnimationTime: $time * 3;

$POPMenuAnimationTime: $POPClockAnimationTime;
$POPLogoAnimationTime: $POPClockAnimationTime;
$POPLangAnimationTime: $POPClockAnimationTime;

$POPImageBgDelayTime: 0s;
$POPImageBgAnimationTime: $POPClockAnimationTime;

$POPImageDelayTime: $POPImageBgDelayTime + $POPImageBgAnimationTime;
$POPImageAnimationTime: $time * 3;

$POPDateAnimationTime: $time * 2;
$POPDateDelayTime: $POPImageBgDelayTime + $POPImageBgAnimationTime - $POPDateAnimationTime;

$POPDayDelayTime: $POPDateAnimationTime + $POPDateDelayTime;
$POPDayAnimationTime: $POPImageAnimationTime;

$POPYearDelayTime: $POPDayDelayTime;
$POPYearAnimationTime: $POPDayAnimationTime;

$POPHeaderDelayTime: $POPYearDelayTime;
$POPHeaderAnimationTime: $POPYearAnimationTime;

$POPStickerLineDelayTime: $POPHeaderDelayTime;
$POPStickerLineAnimationTime: $POPHeaderAnimationTime;

$POPStickerTextDelayTime: $POPStickerLineDelayTime + $POPStickerLineAnimationTime;
$POPStickerTextAnimationTime: $time * 3;

$POPArticleDelayTime: $POPStickerTextDelayTime;
$POPArticleAnimationTime: $POPStickerTextAnimationTime;

$POPSocialDelayTime: $POPArticleDelayTime + $POPArticleAnimationTime - $time * 2; 
$POPSocialAnimationTime: $time * 3;

$POPBackDelayTime: $POPSocialDelayTime;
$POPBackAnimationTime: $POPSocialAnimationTime;

$POPArrowsDelayTime: $POPBackDelayTime;
$POPArrowsAnimationTime: $POPBackAnimationTime;
//  POST PAGE ENDS