// global variables
$browser-context: 16;


// MEDIA QUERIES
$phonePortrait:   '(max-width: 414px)';
$phoneLandscape:  '(min-width: 415px) and (max-width: 667px)';
$tabletPortrait:  '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop:         '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide:     '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD:       '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega:     '(min-width: 1921px)';
// MEDIA QUERIES END


// COLORS VARIABLES
$white: #fff;
$black: #000;
$gray: #999;
$darkGray: #444;
$blue: #0000fe;
// COLORS VARIABLES END


// TIME CONSTANTS
$time: .3s;
$timeHalf: $time / 2;
$timeDif: .1s;

$timeTick: .2s;
$timeTickHalf: $timeTick / 2;
// TIME CONSTANTS END


// VARIABLES FOR PORTFOLIO CLIENT
$portfolioClientDelayTime: 0s;
//$portfolioClientDelayTime: $time * 3;
$portfolioClientAnimationTime: $time;

$portfolioClientNameDelayTime: $portfolioClientDelayTime + $portfolioClientAnimationTime;
$portfolioClientNameAnimationTime: $time;
// VARIABLES FOR PORTFOLIO CLIENT END


// VARIABLES FOR PORTFOLIO RIGHT PANEL
$portfolioRightPanelDateDelayTime: $portfolioClientDelayTime;
$portfolioRightPanelDateAnimationTime: $time;

$portfolioRightPanelDevicesDesktopDelayTime: $portfolioRightPanelDateDelayTime + $portfolioRightPanelDateAnimationTime;
$portfolioRightPanelDevicesDesktopAnimationTime: $time;

$portfolioRightPanelDevicesTabletDelayTime: $portfolioRightPanelDevicesDesktopDelayTime + $portfolioRightPanelDevicesDesktopAnimationTime;
$portfolioRightPanelDevicesTabletAnimationTime: $time;

$portfolioRightPanelDevicesMobileDelayTime: $portfolioRightPanelDevicesTabletDelayTime + $portfolioRightPanelDevicesTabletAnimationTime;
$portfolioRightPanelDevicesMobileAnimationTime: $time;
// VARIABLES FOR PORTFOLIO RIGHT PANEL END


// VARIABLES FOR PORTFOLIO BLOCK AUDI Q7
$portfolioAudiLeftBlockLeftLineDelayTime: $portfolioClientDelayTime;
$portfolioAudiLeftBlockLeftLineAnimationTime: $time * 9;

$portfolioAudiLeftBlockRightLineDelayTime: $portfolioAudiLeftBlockLeftLineDelayTime + $portfolioAudiLeftBlockLeftLineAnimationTime / 10;
$portfolioAudiLeftBlockRightLineAnimationTime: $time * 9;

$portfolioAudiRightBlockLeftLineDelayTime: $portfolioAudiLeftBlockLeftLineDelayTime + $time;
$portfolioAudiRightBlockLeftLineAnimationTime: $time * 9 - $time;

$portfolioAudiRightBlockRightLineDelayTime: $portfolioAudiRightBlockLeftLineDelayTime + $portfolioAudiRightBlockLeftLineAnimationTime / 10;
$portfolioAudiRightBlockRightLineAnimationTime: $time * 9;

$portfolioAudiCenterBlockDelayTime: $portfolioRightPanelDevicesMobileDelayTime + $portfolioRightPanelDevicesMobileAnimationTime;
$portfolioAudiCenterBlockAnimationTime: $time * 3;

$portfolioAudiCenterBlockLineDelayTime: $portfolioAudiCenterBlockDelayTime + $portfolioAudiCenterBlockAnimationTime;
$portfolioAudiCenterBlockLineAnimationTime: $time * 3;

$portfolioAudiCenterBlockShadowDelayTime: $portfolioAudiCenterBlockLineDelayTime + $portfolioAudiCenterBlockLineAnimationTime - $timeTick;
$portfolioAudiCenterBlockShadowAnimationTime: $time * 3;

$portfolioAudiLeftBlockDelayTime: $portfolioAudiCenterBlockLineDelayTime + $portfolioAudiCenterBlockLineAnimationTime;
$portfolioAudiLeftBlockAnimationTime: $time * 3;

    // MOBILE
    $portfolioAudiCenterBlockDelayTimeMobile: 0s;
    $portfolioAudiCenterBlockLineDelayTimeMobile: $portfolioAudiCenterBlockDelayTimeMobile + $portfolioAudiCenterBlockAnimationTime;
    $portfolioAudiCenterBlockShadowDelayTimeMobile: $portfolioAudiCenterBlockLineDelayTimeMobile + $portfolioAudiCenterBlockLineAnimationTime - $timeTick;
    $portfolioAudiLeftBlockDelayTimeMobile: $portfolioAudiCenterBlockLineDelayTimeMobile + $portfolioAudiCenterBlockLineAnimationTime;

// VARIABLES FOR PORTFOLIO BLOCK AUDI Q7 END


// VARIABLES FOR PORTFOLIO BLOCK VINO GRAD
$portfolioVinogradLeftBlockDelayTime: 0s;
$portfolioVinogradLeftBlockAnimationTime: $time * 3;

$portfolioVinogradRightBlockDelayTime: $portfolioVinogradLeftBlockDelayTime;
$portfolioVinogradRightBlockAnimationTime: $portfolioVinogradLeftBlockAnimationTime;

$portfolioVinogradPosterDelayTime: $portfolioRightPanelDevicesMobileDelayTime + $portfolioRightPanelDevicesMobileAnimationTime;
$portfolioVinogradPosterAnimationTime: $time * 6;

$portfolioVinogradPosterImageDelayTime: $portfolioVinogradPosterDelayTime + $portfolioVinogradPosterAnimationTime;
$portfolioVinogradPosterImageAnimationTime: $time * 3;

    // MOBILE
    $portfolioVinogradPosterDelayTimeMobile: $portfolioVinogradRightBlockDelayTime + $portfolioVinogradRightBlockAnimationTime;
    $portfolioVinogradPosterImageDelayTimeMobile: $portfolioVinogradPosterDelayTimeMobile + $portfolioVinogradPosterAnimationTime;
// VARIABLES FOR PORTFOLIO BLOCK VINO GRAD END


// VARIABLES FOR PORTFOLIO BLOCK EURO CLUB
$portfolioEuroclubBlueLineDelayTime: 0s;
$portfolioEuroclubBlueLineAnimationTime: $time * 3;

$portfolioEuroclubGrayBlockDelayTime: $portfolioEuroclubBlueLineDelayTime +  $portfolioEuroclubBlueLineAnimationTime;
$portfolioEuroclubGrayBlockAnimationTime: $time * 3;

$portfolioEuroclubImageTextDelayTime: $portfolioEuroclubGrayBlockDelayTime + $portfolioEuroclubGrayBlockAnimationTime;
$portfolioEuroclubImageTextAnimationTime: $time * 3;

$portfolioEuroclubLetterDelayTime: $portfolioEuroclubImageTextDelayTime + $portfolioEuroclubImageTextAnimationTime;
$portfolioEuroclubLetterAnimationTime: $time * 3;
// VARIABLES FOR PORTFOLIO BLOCK EURO CLUB END