& {  
    
    position: relative;
    padding-top: px(250);
    width: px(830);
    height: px(1200);
    color: $white;
    font-family: $Roboto-Regular;

    .close-form {
        position: absolute;
        top: 0;
        right: 0;
        width: px(56);
        height: px(56);
        background: transparent;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: px(40);
            height: 2px;
            background: $gray;
            content: '';
            transition: background $time;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {

            &:before,
            &:after {
                background: $white;
            }
        }
    }

    .form-title {
        display: block;
        margin-bottom: px(220);
        font-family: $Raleway-ExtraBold;
        font-size: px(60);
        text-transform: uppercase;
    }

    label {
        display: block;
        position: relative;
        padding: 0 px(20);
        width: 100%;
        margin-bottom: px(100);
        border-bottom: 1px solid $gray;

        .placeholder {
            display: block;
            position: absolute;
            top: 0;
            left: px(20);
            margin-bottom: px(16);
            height: 100%;
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: px(30);
            line-height: 100%;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: top $timeHalf, color $timeHalf, font-size $timeHalf;
        }

        input {
            display: block;
            position: relative;
            z-index: 2;
            padding: px(5) 0;
            width: 100%;
            height: px(40);
            background: transparent;
            border: none;
            outline: none;
            color: $white;
            font-size: px(32);

            &:focus,
            &.filled {
                
                & ~ .placeholder {
                    top: px(-30);
                    color: $white;
                    font-size: px(24);
                }

                & ~ .tick {
                    width: 100%;
                }
            }
        }

        .message {
            position: absolute;
            top: 100%;
            padding-top: px(10);
            color: $red;
            visibility: hidden;
        }

        .tick {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 1px;
            background: $white;
            transition: width $timeHalf, background $timeHalf;
        }

        &.wrong {
            
            input {

                & ~ .tick {
                    width: 100%;
                    background: $red;
                }
            }

            .message {
                visibility: visible;
            }
        }

        &:nth-of-type(2) {
            margin-bottom: px(150);
        }
    }

    .send {
        display: block;
        position: relative;
        margin: px(90) 0 0 auto;
        width: px(340);
        height: px(90);
        background: $blue;
        color: $white;
        font-family: $Roboto-Medium;
        font-size: px(28);
        text-transform: uppercase;

        span {
            position: relative;
            z-index: 2;
            letter-spacing: 1px;
        }

        &:before {
            display: block;
            position: absolute;
            top: px(24);
            left: px(-24);
            width: 100%;
            height: 100%;
            background: $darkGray;
            content: '';
            opacity: 0;
            transition: top $time, left $time, opacity $time;
        }

        &:hover {
            
            &:before {
                top: px(10);
                left: px(-10);
                opacity: 1;
            }
        }
    }

}