& {
    overflow: hidden;
    font-family: $raleway;
    font-weight: $regular;
    background-color: $background;
    
    // ----- letter c -----
    .big-background-letter {
        top: -30vh;
        right: 23vh;
        font-size: 75vh;
        color: rgba(68, 68, 68, .15);
        span::before  { content: 'c'; }
    }
    
    // ----- title -----
    .title {
        top: 25.5%;
        left: 4.5%;
        z-index: 1;
        position: absolute;
        font-weight: $extra-bold;
        .word {
            span {
                text-transform: inherit;
                letter-spacing: 1.5px;
                font-size: px(53);
            }
            &:after { display: none; }
            &:first-of-type { margin-bottom: px(24); }
            &:last-of-type {
                margin: px(18) 0 0;
                span {
                    color: $blue;
                    font-size: px(25);
                    font-weight: $medium;
                    font-family: $roboto;
                }
            }
        }
    }

    // ----- bg letter -----
    .bg-letter { display: none; }

    // ----- watch ----
    .watch-shadow { display: none; }
    .watch-light {
        top: 0;
        left: 0;
        background: url('../images/watch-light.png') no-repeat center;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .watch {
        background: url('../images/watch.png') no-repeat center;
        background-size: 47%;
        margin: 16% auto 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .hours-container,
    .minutes-container,
    .seconds-container {
        position: absolute;
        left: px(-35);
        margin: auto;
        bottom: 0;
        top: .5%;
        right: 0;
        width: 300px;
        height: 300px;
        display: inline-flex;
    }
    .hours {
        background: url('../images/hours-hand.svg') no-repeat;
        transform-origin: 60% 100%;
        background-size: cover;
        position: absolute;
        height: 60px;
        top: 30%;
        left: 46%;
        width: 20px;
        margin: auto;
        display: block;
    }
    .minutes {
        background: url('../images/minutes-hand.svg') no-repeat;
        transform-origin: 50% 100%;
        background-size: cover;
        position: absolute;
        height: 252px;
        width: 12px;
        top: -34.5%;
        left: 48%;
        margin: auto;
        display: block;
    }
    .seconds {
        background: url('../images/seconds-hand.svg') no-repeat;
        transform: rotateZ(0) !important;
        background-size: cover;
        position: absolute;
        height: 145px;
        left: 46.5%;
        top: 41.5%;
        z-index: 8;
        width: 20px;
        margin: auto;
        display: block;
    }
    .hours-container {
        animation: rotate 43200s infinite linear;
        zoom: .55;
    }
    .minutes-container {
        transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
        zoom: .5;
    }
    .seconds-container {
        transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
        zoom: .55;
    }
    @keyframes rotate { 100% { transform: rotateZ(360deg); } }

    // ----- scroll -----
    .scroll { display: none; }
}