.marketing-services-header {
    position: relative;
    padding-top: 120px;
    background: $white;
    overflow: hidden;

    .languages {
        position: absolute;
        top: 400px;
        height: 40px;

        a {
            animation: Down $time * 3 $time * 3 both;
        }
    }

    .big-background-letter {
        top: 100px;
        right: 50px;
        font-size: initial;
        opacity: .8;

        span {
            color: $darkGray;
            font-family: $Raleway-ExtraBold;
            font-size: 260px;
        }
    }

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        margin: 0 auto;
        padding: 0 9.5%;
        height: 520px;
    }

    .header-image {
        position: absolute;
        top: 0;
        left: 9.5%;
        width: 54%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bread-crumbs {
        top: -120px;
    }

    .title-block {
        position: relative;
        z-index: 2;
        padding: 40px 0 45px 70px;
        width: 38%;
        background: $white;
    }

    .sticker {
        left: 50px;
    }

    .title {
        display: block;
        margin-top: 40px;
        font-family: $Raleway-ExtraBold;
        font-size: 60px;
        line-height: 1.2;
        text-transform: uppercase;
    }
}