.marketing-services-header {
    padding-top: 100px;

    .container {
        height: 450px;
    }

    .title-block {
        padding: 30px 0 30px 50px;
        width: 55%;
    }

    .title {
        margin-top: 30px;
        font-size: 46px;
    }
}
