.marketing-services-header {
    padding-top: 70px;

    .languages {
        top: 300px;
        left: 10px;
    }

    .header-image {
        width: 100%;
    }

    .bread-crumbs {
        top: -70px;
    }

    .sticker {
        left: initial;
    }

    .title {
        margin-top: 20px;
        font-size: 32px;
    }
}