.marketing-services-header {

    .languages {
        left: 20px;
    }

    .container {
        display: block;
        padding: 0 10%;
        height: initial;
    }

    .header-image {
        position: relative;
        left: 0;
        width: 90%;
    }

    .title-block {
        padding: 30px 0;
        width: 100%;
    }
}
