& {
    .service-info, .small-gray-lines { display: none; }
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- animation -----
    &.current-slide {

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info p, .jump-button { animation: fadeInUp $time * 2 $time * 7 both; }

        // ----- other -----
        .page-layer.back-layer::after { animation: Down $PPRightBlockAnimationTime $PPRightBlockDelayTime both; }
        .bottom-button {
            span { animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            position: fixed;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:after {
                background: $background;
                position: absolute;
                display: block;
                height: 100vh;
                width: 100vw;
                content: '';
                top: 0;
            }
        }
    }

    // ----- letter c -----
    .big-background-letter {
        right: 0;
        top: -48vh;
        font-size: 100vh;
        color: rgba(68,68,68,.2);
        span::before { content: 'c'; }
    }

    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            position: fixed;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:after {
                background: $background;
                position: absolute;
                display: block;
                height: 100vh;
                width: 100vw;
                content: '';
                top: 0;
            }
        }
    }

    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        right: 1.5%;
        bottom: 8%;
        a {
            text-transform: uppercase;
            &:before { background: $white; }
            span {
                color: $white;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- title -----
    .title {
        width: 100%;
        padding: 25vh px(70) 0;
        p {
            padding: 5% 0 0;
            font-size: px(28);
        }
        .word span {
            letter-spacing: 1px;
            font-size: px(48);
        }
    }
    
    // ----- animation -----
    &.current {
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }
        .page-layer.back-layer::after { animation: Down $PPRightBlockAnimationTime $PPRightBlockDelayTime both; }
    }
}