.clock {

    .big-background-letter {
        top: -38vh;
        right: 72vw;
        font-size: 100vh;
    }

    .scroll {
        bottom: 5vh;
    }

    .watch {
        background-size: 25%;
    }

    .text-block {
        top: 18vh;
        left: 9vh;
        width: 45%;
    }

    .text-block-header {
        font-size: 43px;
    }

    .text-block-slogan {
        font-size: 15px;
    }
}
