.clock {

    .big-background-letter {
        top: -38vh;
        right: 72vw;
        font-size: 100vh;
    }

    .scroll {
        bottom: 5vh;
    }

    .watch {
        background-size: 25%;
    }

    .title {
        top: 18vh;
        left: 9vh;
        width: 45%;

        .word {

            span {
                font-size: 43px;
            }

            &:last-of-type span {
                font-size: 15px;
            }
        }
    }
}
