.clock {
    box-shadow: 0 15px 50px 7px rgba(0, 0, 0, .3);
    background: $lightBlack;
    font-family: $Raleway-Regular;
    overflow: hidden;

    @keyframes rotate {
        100% {
            transform: rotateZ(360deg);
        }
    }

    .big-background-letter {
        top: -30vh;
        right: 120vh;
        color: rgba(68, 68, 68, .15);
        font-size: 120vh;
    }

    .text-block {
        position: relative;
        top: 25vh;
        left: 23vh;
        z-index: 1;
        width: 30%;
        font-family: $Raleway-ExtraBold;
    }

    .text-container {
        color: $white;
        overflow: hidden;

        &:last-of-type {
            margin: 22px 0 0 5px;
        }
    }

    .text-block-header {
        display: block;
        font-size: 53px;
    }

    .text-block-slogan {
        display: inline-block;
        color: $blue;
        font-family: $Roboto-Medium;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .watch-light {
        position: absolute;
        top: 0;
        left: -17px;
        width: 100%;
        height: 100%;
        background: url('../images/watch-light.png') no-repeat center;
        background-size: cover;
    }

    .watch-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('../images/watch-shadow.png') no-repeat center;
    }

    .watch {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: url('../images/watch.png') no-repeat center;
    }

    .hours-container,
    .minutes-container,
    .seconds-container {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: -17px;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 300px;
    }

    .hours {
        display: block;
        position: absolute;
        top: 30%;
        left: 46%;
        margin: auto;
        width: 20px;
        height: 60px;
        background: url('../images/hours-hand.svg') no-repeat;
        background-size: cover;
        transform-origin: 60% 100%;
    }

    .minutes {
        display: block;
        position: absolute;
        top: -34.5%;
        left: 48%;
        margin: auto;
        width: 12px;
        height: 252px;
        background: url('../images/minutes-hand.svg') no-repeat;
        background-size: cover;
        transform-origin: 50% 100%;
    }

    .seconds {
        display: block;
        position: absolute;
        top: 41.5%;
        left: 46.5%;
        z-index: 8;
        margin: auto;
        width: 20px;
        height: 145px;
        background: url('../images/seconds-hand.svg') no-repeat;
        background-size: cover;
        transform: rotateZ(0) !important;
    }

    .hours-container {
        animation: rotate 43200s infinite linear;
    }

    .minutes-container {
        transition: transform .3s cubic-bezier(.4, 2.08, .55, .44);
    }

    .seconds-container {
        transition: transform .2s cubic-bezier(.4, 2.08, .55, .44);
    }

    &.first-slide {
        animation: fadeIn $time * 3 0s both;
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: fadeIn $time * 3 0s both;

        .big-background-letter {
            animation: fadeIn $time * 3 $time * 3 both;
        }

        .scroll {
            animation: fadeIn $time * 2 $time * 7 both;
        }

        .copyright {

            p {
                animation: Up $time * 2 $time * 7 both;
            }
        }

        .social {

            .instagram {
                animation: social $time * 3 $time * 3 both;
            }

            .facebook {
                animation: socialReverse $time * 3 $time * 3 both;
            }

            .jumping-button {
                animation: fadeInRight $time * 3 $time * 3 both;
            }
        }

        .watch {
            animation: fadeIn $time * 2 $time * 4 both;
        }

        .watch-shadow {
            animation: fadeIn $time * 2 $time * 5 both;
        }

        .watch-light {
            animation: fadeIn $time * 2 $time * 6 both;
        }

        .text-block-header {
            animation: Up $time * 2 $time * 5 linear both;
        }

        .text-block-slogan {
            animation: Up $time * 2 $time * 6 linear both;
        }
    }

    &.previous,
    &.previous-back {

        .big-background-letter {
            animation-play-state: paused;
        }

        .scroll {
            animation-play-state: paused;
        }

        .social {

            .instagram {
                animation-play-state: paused;
            }

            .facebook {
                animation-play-state: paused;
            }

            .jumping-button {
                animation-play-state: paused;
            }
        }

        .watch {
            animation-play-state: paused;
        }

        .watch-shadow {
            animation-play-state: paused;
        }

        .watch-light {
            animation-play-state: paused;
        }

        .text-block-header {
            animation-play-state: paused;
        }

        .text-block-slogan {
            animation-play-state: paused;
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}
