.clock {

    .watch {
        margin: 0 auto;
        background-size: 25%;
    }

    .hours-container {
        zoom: .4;
    }

    .minutes-container {
        zoom: .35;
    }

    .seconds-container {
        zoom: .4;
    }

    .text-block {
        top: 30%;
        left: 10%;
    }

    .text-block-header {
        font-size: 40px;
    }

    .text-slogan {
        width: 50%;
        font-size: 18px;
    }
}
