.clock {

    .watch {
        margin: 0 auto;
        background-size: 25%;
    }

    .hours-container {
        zoom: .4;
    }

    .minutes-container {
        zoom: .35;
    }

    .seconds-container {
        zoom: .4;
    }

    .title {
        top: 30%;
        left: 10%;

        .word {

            .up {
                font-size: 40px;
            }

            .down {
                width: 50%;
                font-size: 18px;
            }
        }
    }
}
