.clock {

    .watch {
        margin: 0 auto;
        background-size: 35%;
    }

    .text-block {
        width: 90%;
        top: 20%;
        left: 5%;
    }

    .text-block-header {
        font-size: 30px;
    }

    .text-block-slogan {
        font-size: 18px;
    }
}
