.clock {

    .seconds-container,
    .hours-container {
        zoom: .8;
    }

    .minutes-container {
        zoom: .75;
    }

    .watch {
        background-size: 32%;
    }

    .text-block {
        width: 70%;
    }
}
