@import '../desktop';

// ----- small-gray-lines -----
.small-gray-lines { display: none; }

// ----- title -----
.title {
    bottom: 6vh;
    top: initial;
    left: px(200);
    position: absolute;
}

// ----- blue-line -----
.blue-line {
    height: 43vh;
    left: px(500);
    width: px(340);
	animation: none !important;
}

// ----- image-block -----
.image-block {
	width: px(505);
	height: px(600);
	margin-top: px(160);
	margin-left: px(650);
}

// ----- service-info -----
.service-info.vertical { right: px(-40); }