@import '../desktop';
& {
    .container {
        padding-right: px(100);
        padding-bottom: px(150);
        header {
            max-height: 900px;
            .image-container { width: px(2000); }
        }
        .about .description { width: 37%; }
        .info {
            top: px(-130);
            padding-top: px(80);
            padding-left: px(160);
            .new-title {
                margin-top: px(50);
                margin-bottom: px(80);
                .text-container span { font-size: px(80); }
            }
        }
        article {
            width: 118%;
            p.big { margin-bottom: px(60); }
        }
        .cases {
            margin-top: 0;
            .list {
                width: 77%;
                h3 { margin: 0 0 px(110) px(88); }
            }
        }
        .list h3 {
            margin-bottom: px(150);
            line-height: px(80);
            font-size: px(66);
            span { display: block; }
        }
        .images img {
             &:first-child {
                left: px(100);
                width: px(1000);
                height: px(600);
            }
            &:last-child {
                left: 0;
                height: auto;
                width: px(650);
                top: px(300);
            }
        }
        .advantages {
            margin-top: px(220);
            h2 {
                font-size: px(84);
                line-height: px(92);
                margin-bottom: px(180);
                span { display: block; }
            }
            ul { height: px(950); }
            li {
                margin-bottom: px(100);
                width: 45%;
            }
        }
    }
}