.about-company-seven {

    .container {

        .title {
            margin-left: 0;
        }

        .word {

            span {
                font-size: 45px;
            }
        }
    }

    .step {
        width: 50%;

        .content {

            &-title {
                font-size: 15px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}
