.marketing-header {
    background: $white;
    position: relative;
    font-family: $Roboto-Regular;
    line-height: 1.4;
    overflow: hidden;

    .languages {
        position: absolute;
        top: 50vh;
        z-index: 3;

        a {
            animation: Down $time * 3 $time * 3 both;
        }
    }

    .big-background-letter--o {
        right: initial;
        left: -350px;
        bottom: -250px;
        top: initial;
        font-family: $Raleway-ExtraBold;
        font-size: 1000px;
        text-transform: uppercase;
    }

    .header {
        position: relative;

        & > img {
            width: 60%;
            height: 730px;
        }

        .image-container {
            position: absolute;
            top: 120px;
            right: 0;
            z-index: 1;
            width: 960px;
            height: 740px;

            img {
                position: relative;
                z-index: 2;
                height: 100%;
                object-fit: cover;
            }
        }

        .big-background-letter {
            display: block;
            top: -225px;
            right: initial;
            left: -400px;
            width: 700px;
            height: 900px;
            color: $gray;
            font-family: $Raleway-ExtraBold;
            font-size: 900px;
            text-transform: uppercase;
            overflow: hidden;

            span {
                display: block;
                position: absolute;
                width: 100%;
                height: 50%;
                overflow: hidden;

                &:before {
                    position: absolute;
                    content: 'C';
                    line-height: 1;
                }
            }

            &:nth-child(2) {
                z-index: 3;

                span {
                    top: 49.8%;

                    &:before {
                        top: -100%;
                    }
                }
            }
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        padding: 20px 0 225px;
        width: 81%;
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: $darkWhite;

            &--1 {
                left: 0;
            }

            &--2 {
                left: calc(100% / 3);
            }

            &--3 {
                left: calc(100% / 3 * 2);
            }

            &--4 {
                left: 100%;
            }
        }
    }

    .row {
        display: flex;
        position: relative;
        z-index: 2;
        margin-top: 120px;
        width: 100%;

        &.no-margined-top {
            margin-top: 0;
        }
    }

    .column {
        width: calc(100% / 3);

        &.double {
            width: calc(100% / 3 * 2);
        }

        &.margined-left {
            margin-left: calc(100% / 3);

            &-double {
                margin-left: calc(100% / 3 * 2);
            }
        }
    }

    .new-header {
        margin-top: 10px;
        color: $black;
        font-family: $Raleway-ExtraBold;
        font-size: 60px;
        line-height: 1.2;
        text-transform: uppercase;
    }


    /* --- COMMON STYLES FOR CLASSES AND TAGS --- */
    img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    p {
        padding-right: 20px;
        color: $darkGray;
        font-family: $Roboto-Regular;
        font-size: 16px;
        line-height: 1.4;
    }

    ul {
        margin: 30px 0;

        &.circled {

            li {
                padding-left: 40px;

                &:before {
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $blue;
                    content: '';
                }
            }
        }

        &.double {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: 50%;
            }
        }
    }

    li {
        position: relative;
        margin-bottom: 30px;
        padding-right: 30px;
        font-family: $Roboto-Regular;
        font-size: 16px;
    }

    .bold {
        font-family: $Roboto-Bold;
    }

    .italic {
        font-style: italic;
    }

    .underlined {
        text-decoration: underline;
    }

    .black {
        color: $black;
    }

    .blue {
        color: $blue;
    }

    .gray {
        color: $gray;
    }

    .block {
        display: block;
    }

    .big {
        font-size: 24px;
        line-height: 1.2;
    }

    .paddinged {

        &-left {
            padding-left: 40px;
        }

        &-top {
            padding-top: 40px;
        }
    }

    .bordered {

        &-left {
            position: relative;
            padding-left: 40px;
            border-left: 10px solid $blue;
        }

        &-bottom {
            padding-bottom: 30px;
            border-bottom: 1px solid $gray;
        }
    }
    /* --- COMMON STYLES FOR CLASSES AND TAGS --- */
}