.marketing-header {

    .header {

        .image-container {
            top: 70px;
        }

        .big-background-letter {
            display: none;
        }
    }

    .container {
        padding: 70px 0;
    }

    .new-header {
        font-size: 28px;
    }
}
