.seo-services {
    height: initial;
    min-height: initial;

    .items {
        display: block;
        margin-top: 70px;
        height: initial;
    }

    .item {
        margin-bottom: 50px;
        width: 100%;
    }
}
