<div class="design-header" data-top-panel-bg="dark">
    @@include('./components/small-gray-lines.html')

    @@include('./components/languages-dark.html')

    <div class="big-background-letter">
        <span>o</span>
    </div>
    
    <div class="image-block">
        <img src="../../images/services/design/design-1.jpg " alt="design-one">
    </div>

    <div class="info-block">
        <div class="sticker">
            <span class="sticker-text">услуги дизайна</span>
        </div>

        <div class="new-title">
            <div class="text-container">
                <h1 class="new-title-text">Разработка дизайна</h1>
            </div>
        </div>
        
        <p>
            Дизайн — важный инструмент Web-Production и сильнейший 
            инструмент маркетинга. С развитием интернета и повышением 
            спроса на создание сайтов, web-дизайн получил мощный толчок 
            к развитию. Назначение современного дизайна в веб-среде — 
            на стыке эстетики и стиля, функциональности и логики. Это 
            профессиональная художественно-техническая деятельность 
            по проектированию пользовательских интерфейсов сайтов.
        </p>

        <p class="bold">
            Именно дизайн делает ваш сайт уникальным и выразительным, 
            визуально транслирует в массы философию бренда.
        </p>
    </div>
</div>