& {
    background-color: $background;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- services-schedule -----
    .services-schedule {
        padding-top: 20vh;
        .container {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            max-width: 1170px;
            .item {
                width: 33.33%;
                position: relative;
                &.up { margin-bottom: 18vh; }
                .title {
                    width: auto;
                    .word {
                        width: min-content;
                        &:after { top: 0; }
                    }
                }
                .crossed-button {
                    left: 0;
                    bottom: -55px;
                    position: absolute;
                    align-items: center;
                    font-family: $roboto;
                    font-weight: $medium;
                    .arrow .st0, .arrow .st1 { stroke: $white; }
                    span {
                        color: $white;
                        display: block;
                        font-size: px(24);
                        animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both;
                        &:after { content: 'Подробнее'; }
                        &:before {
                            background: $white;
                            top: 14px;
                        }
                    }
                }
                span {
                    line-height: 26px;
                    font-size: px(50);
                }
                p {
                    color: $white;
                    line-height: 1.5;
                    font-size: px(24);
                    padding: px(48) px(130) 0 0;
                    animation: fadeInUp 1s both;
                }
                object embed {
                    position: absolute;
                    left: -4px;
                    top: 80vh;
                    width: 100vh;
                    transform-origin: 0 0;
                    transform: rotate(-90deg);
                }
                &:before {
                    position: absolute;
                    top: -28px;
                    left: -25px;
                    color: #666;
                    font-size: px(36);
                    font-family: $roboto;
                    transform: rotate(-90deg);
                }
                &:nth-of-type(1)::before { content: '01'; }
                &:nth-of-type(2)::before { content: '02'; }
                &:nth-of-type(3)::before { content: '03'; }
                &:nth-of-type(4)::before { content: '04'; }
                &:nth-of-type(5)::before { content: '05'; }
                &:nth-of-type(6)::before { content: '06'; }
            }     
        }
    }
}