.marketing-clock {

    .container {
        padding: 60px 0;
    }

    .line {

        &--2 {
            left: calc(100% / 3);
        }

        &--3 {
            left: calc(100% / 3 * 2);
        }
    }

    .clock-title {
        width: calc(100% / 3 * 2);
        font-size: 36px;
    }

    ul {
        margin: 40px 0 40px calc(100% / 3);
        width: calc(100% / 3 * 2);
    }

    li {
        font-size: 20px;
    }
}
