<div class="long-text">
    
    <button class="open-long-text">
        <span class="row"></span>
        <span class="row"></span>
    </button>

    <div class="content">
        <button class="cross close-long-text">
            <span class="row"></span>
            <span class="row"></span>
        </button>
    
        <h2>UX/UI Design</h2>
    
        <article>
            <div class="text-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <button class="crossed-button reversed close-long-text">
                    <span></span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </button>
            </div>
        </article>

    </div>

</div>