<!-- logo -->
<a href="/" class="logo">
    <div class="image"></div>
</a>

<!-- language -->
<div class="language wow fadeInLeft">
    <div><a class="select">en</a></div>
    <div><a href="#">ru</a></div>
    <div><a href="#">ua</a></div>
</div>

<!-- social -->
<div class="social">
    <div class="wow fadeInLeft">
        <a href="https://linkedin.com" target="_blank"></a>
    </div>
    <div class="wow fadeInUp">
        <a href="https://facebook.com" target="_blank"></a>
    </div>
</div>
<div class="behance jump-letters wow fadeInUp">
    <a href="#" target="_blank">
        <span>b</span>
        <span>e</span>
        <span>h</span>
        <span>a</span>
        <span>n</span>
        <span>c</span>
        <span>e</span>
    </a>
</div>

<!-- copyright -->
<div class="copyright">
    <p class="wow fadeInUp">All rights reserved. Copyright &copy; 2017</p>
</div>