@import '../desktop';

// ----- services-schedule -----
.services-schedule .container {
	max-width: 700px;
	.service-line.right { display: none; }
	.item {
		&:nth-of-type(1) .name span { font-size: px(88); }
		&.up { margin-bottom: 5vh; }
	}
}