@import '../desktop';

& {

    padding-top: px(890);
    padding-left: px(240);

    .info {
        top: px(170);
        left: initial;
        right: px(60);
        width: px(760);
    }

    .new-title {
        margin-top: px(80);

        span {
            font-size: px(96);
            line-height: px(110);
        }
    }

    .about-work {
        margin-top: px(30);
        width: 100%;

        p {
            margin-bottom: px(20);
        }
    }

    .blue-line {
        left: px(350);
        width: px(260);
    }

    .image-block {
        width: px(870);
        height: px(870);

        p {
            top: px(-500);
            left: px(-40);
            padding: px(30) px(40);
            width: px(500);
        }
    }

    &.current-slide {

        .small-gray-lines {
            
            .line {
                animation: lineUp 1s $time * 3 both;

                &.down {
                    animation-name: lineDown; 
                }
            }
        }

        .big-background-letter {
            animation: fadeIn $portfolioEuroclubLetterAnimationTime $portfolioEuroclubLetterDelayTime both;
        }

        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .portfolio-client {
            
            .client {
                animation: fadeInRight $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: Right $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {
            
            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PEStickerTextAnimationTime $PEStickerTextDelayTime both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PEStickerLineAnimationTime $PEStickerLineDelayTime both;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation: halfDown $PETitleLineAnimationTime linear $PETitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $PETitleTextAnimationTime $PETitleTextDelayTime both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PEAboutAnimationTime $PEAboutDelayTime both;
            }
        }

        .blue-line {
            animation: heightChanging $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both;
        }

        .image-block {
    
            .image-container {
                animation: shadowAppearance $portfolioEuroclubImageShadowAnimationTime $portfolioEuroclubImageShadowDelayTime both;
    
                img {
                    animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both;
                }
    
                &:before {
                    animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both;
                }
            }
    
            p {
                animation: textApear $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both;
            }
        }
    }
}