& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $background;
    overflow: hidden;
    
    // ----- animation up -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Up $time * 3 0s both;
        
        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
        
        // ----- services-line -----
        .services-line { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }

        // ----- other -----
        .name { animation: fadeIn $time * 3 $time * 9 both; }
        .crossed-button span { animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime * 1.5 both; }
        .services-schedule .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 15 linear both;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 16 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 15 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 12 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 13 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 14 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    // ----- animation down -----
    &.previous, &.previous-back {
        animation: slideDown $time * 3 0s both;
        animation-play-state: paused;
        
        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
        
        // ----- services-line -----
        .services-line { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }

        // ----- other -----
        .name { animation: fadeIn $time * 3 $time * 9 both; }
        .crossed-button span { animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime * 1.5 both; }
        .services-schedule .container .item::before { animation: fadeIn $BPostLinkAnimationTime $BPostLinkDelayTime both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 15 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 16 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 15 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 12 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 13 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 14 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }

    // ----- letter o -----
    .big-background-letter {
        top: 10vh;
        z-index: 3;
        right: -4vh;
        font-size: 110vh;
        span::before  { content: 'o'; }
    }
    
    // ----- services-schedule -----
    .services-schedule {
        padding-top: 16.5vh;
        .container {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            max-width: 1170px;
            .item {
                width: 33.33%;
                position: relative;
                &:nth-of-type(1) .name {
                    opacity: 0;
                    padding-top: 20vh;
                    position: absolute;
                    span:first-child { color: $blue; }
                    font-family: $Raleway-ExtraBold;
                    font-size: px(104);
                    color: $white;
                }
                &:nth-of-type(4) .services-line,
                &:nth-of-type(5) .services-line,
                &:nth-of-type(6) .services-line
                { display: none; }
                &.up {
                    margin-bottom: 26vh;
                    .services-line {
                        left: 0;
                        width: 1px;
                        top: -16.5vh;
                        height: 100vh;
                        position: absolute;
                        background: $darkGray;
                        &.right {
                            left: initial;
                            right: 0;
                        }
                    }
                }
                .title {
                    width: auto;
                    p {
                        color: $white;
                        line-height: 1.5;
                        font-size: px(24);
                        padding: px(48) px(130) 0 0;
                    }
                    span.name { top: -11vh; }
                    .word {
                        width: min-content;
                        &:after { top: 0; }
                        span {
                            font-family: $Raleway-Medium;
                            letter-spacing: 0;
                            line-height: 26px;
                            font-size: px(50);
                        }
                    }
                }
                .crossed-button {
                    left: 0;
                    bottom: -55px;
                    position: absolute;
                    align-items: center;
                    font-family: $Roboto-Medium;
                    .arrow .st0, .arrow .st1 { stroke: $white; }
                    span {
                        color: $white;
                        display: block;
                        font-size: px(24);
                        &:after { content: ''; }
                        &:before { background: $white; }
                    }
                }
                &:before {
                    top: -28px;
                    left: -25px;
                    color: #666;
                    font-size: px(36);
                    position: absolute;
                    transform: rotate(-90deg);
                    font-family: $Roboto-Regular;
                }
                &:nth-of-type(2)::before { content: '01'; }
                &:nth-of-type(6)::before { content: '02'; }
            }     
        }
    }
}