& {
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
    position: absolute;
    right: px(70);
    bottom: 33vh;
    z-index: 2;
    p {
        color: $white;
        font-size: px(29);
        font-family: $Raleway-Thin;
    }
}