& {  

    right: px(60);
    bottom: 39vh;
    font-size: px(24);
    overflow: hidden;
    transform-origin: 100% 100%;
    transform: rotate(-90deg);

    p {
        padding-bottom: px(4);
        color: $white;
        font-weight: $thin;
    }
}