@import '../desktop';

& {

    .container {
        justify-content: center;
        width: 99%;
        min-height: 760px;
    }

    article {
        padding-bottom: px(400);
    }

    .image-container {
        width: px(1800);
        height: px(1500); 
    }
}