@import '../desktop';

& {

    padding-top: 20vh;

    .container {
        padding-right: px(200);
        padding-bottom: px(100);
        height: 75vh;
        min-height: 600px;
    }

    .info {
        width: px(1100);
    }

    article {
        padding-bottom: px(200);
        padding-right: px(160);

        .crossed-button {
            position: relative;
            top: px(50);
        }
    }

    .image-container {
        width: px(1100);
        height: px(900);
    }
}