& {  
    
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: $raleway;

    @keyframes right {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes left {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes up {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .portfolio-client {
        
        .client-name-container {

            span {

                &:before {
                    content: 'Alta Capital';
                }
            }
        }
    }

    .portfolio-right-panel {
        
        .date {

            &-month {

                &:before {
                    content: 'April';
                }
            }

            &-year {
                &:after {
                    content: '2017';
                }
            }
        }
    }

    .info {
        position: absolute;
        top: px(730);
        z-index: 3;
        padding: 0 px(30);
        width: 100%;
    }

    .sticker {
        position: relative;
        left: px(120);
        font-family: $raleway;
        font-size: px(24);
        font-weight: 700;

        span {
            display: inline-block;
            color: $white;
            text-transform: uppercase;

            &:before {
                content: 'Портфолио';
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: px(-120);
            width: px(100);
            height: 3px;
            background: $white;
            content: '';
            transform: translateY(-50%);
        }
    }

    .new-title {
        margin-top: px(30);

        .text-container {
            position: relative;
            overflow: hidden;

            &:before {
                display: none;
            }

            &:last-child {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            color: $white;
            font-size: px(48);
            font-weight: 800;
            line-height: px(60);
            text-transform: uppercase;
        }
    }

    .long-text {

        .open-long-text {
            bottom: px(100);
        }
    }

    .poster {
        position: relative;
        z-index: 2;
        width: 100%;
        height: px(430);

        .image-container {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &.previous {
                    z-index: 1;
                }

                &.current {
                    z-index: 2;
                }

                &.left {
                    animation-duration: $time;
                    animation-name: Left;
                    animation-fill-mode: both;
                }

                &.right {
                    animation-duration: $time;
                    animation-name: Right;
                    animation-fill-mode: both;
                }
            }

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .4);
                content: '';
            }
        }

        & > span {
            display: none;
        }

        .text {
            position: absolute;
            top: px(870);
            max-height: px(60);
            text-overflow: ellipsis;
            overflow: hidden;

            p {
                margin-bottom: px(40);
                padding: 0 px(30);
                widows: 100%;
                color: $white;
                font-family: $roboto;
                font-size: px(28);
                line-height: px(34);
    
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &:after {
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: px(30);
                background: linear-gradient(transparent, $lightBlack);
                content: '';
            }
        }
    }

    img,
    button,
    svg,
    div {

        &:focus,
        &:active {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            outline: none;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin-top: px(40);
        width: 100%;
        height: px(200);

        & > div {
            position: relative;
            width: calc(100% / 3);
            height: 100%;
            overflow: hidden;
        }

        .slide-controls {
            cursor: pointer;

            &--next-slide {
                order: 3;   

                svg {
                    transform: translate3d(-50%, -50%, 0)
                }
            }

            &--previous-slide {
                order: 1;

                svg {
                    transform: rotate(180deg) translate3d(50%, 50%, 0)
                }
            }
        }

        .content-container {
            width: 100%;
            height: 100%;
            position: relative;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                content: '';
                transition: opacity $time;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: px(72);
            transform-origin: 50% 50%;

            .st0 {
                fill: $white;
                stroke: $white;
                stroke-width: 0.75;
                stroke-miterlimit: 10;
            }

            .st1 {
                fill: none;
                stroke: $white;
                stroke-width: 0.75;
                stroke-miterlimit: 10;
            }
        }

        .gallery {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;

                &:focus,
                &:active {
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                    outline: none;
                }

                &.current {
                    z-index: 2;
                }

                &.left {
                    animation-delay: 0;
                    animation-fill-mode: both;
                    animation-duration: $time;
                    animation-name: Left;
                }

                &.right {
                    animation-delay: 0;
                    animation-fill-mode: both;
                    animation-duration: $time;
                    animation-name: Right;
                }
            }
        }

        .indicators {
            order: 2;
            font-size: 0;
            color: $white;
            text-align: center;

            span {
                font-size: px(24);
                line-height: px(200);
            }

            .all-slides {
                color: $gray;
            }
        }
    }

    &:before {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100vh;
        background: $lightBlack;
        content: '';
    }

    &:before {
        left: 0;
        width: 100vw;
    }

    &.current-slide {
        
        .bottom-button {
            
            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PVStickerTextAnimationTime $PVStickerTextDelayTimeMobile both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PVStickerLineAnimationTime $PVStickerLineDelayTimeMobile both;
            }
        }

        .new-title {

            .text-container {

                &:before {
                    animation: halfDown $PVTitleLineAnimationTime linear $PVTitleLineDelayTimeMobile both;
                }
            }
    
            span {
                animation: Up $PVTitleLineAnimationTime $PVTitleDelayTimeMobile both;
            }
        }

        .long-text {
            animation: fadeIn $PALongTextAnimationTime $PALongTextDelayTime both;
        }

        .poster {

            .image-container {

                img {

                    &.loaded {
                        animation: Left $portfolioAltaImageAnimationTime $portfolioAltaImageDelayTime both;
                    }
                }

                &:before,
                &:after {
                    animation: Left $portfolioAltaGrayBlockAnimationTime $portfolioAltaGrayBlockDelayTime both;
                }
            }

            .text {
                
                p {
                    animation: fadeInUpHalf $PVAboutAnimationTime $PVTextDelayTimeMobile both;
                }

                &:after {
                    animation: fadeIn $PALongTextAnimationTime $PALongTextDelayTime both;
                }
            }
        }

        .controls {
            
            .slide-controls {

                &--next-slide {

                    .content-container {
                        animation: Right $portfolioAltaControlsRightBlockAimationTime $portfolioAltaControlsRightBlockDelayTimeMobile both;
                    }
                }

                &--previous-slide {
                    
                    .content-container {
                        animation: Left $portfolioAltaControlsLeftBlockAimationTime $portfolioAltaControlsLeftBlockDelayTimeMobile both;
                    }
                }
            }

            .indicators {
                animation: Up $portfolioAltaControlsIndicatorsAimationTime $portfolioAltaControlsIndicatorsDelayTimeMobile both;
            }
        }

        &:before {
            animation: Right $portfolioAltaLeftBlockAnimationTime $portfolioAltaLeftBlockDelayTime both;
        }
    }
}