@import '../mobile';

& {

    $menuItemWidth: px(160);
    $menuItemHeight: px(160);
    $menuItemWidthSmall: px(126);

    .menu__item {
        width: $menuItemWidth;
        height: $menuItemHeight;

        &--open-close {
            width: $menuItemWidthSmall;
            height: $menuItemWidthSmall;
        }
    }
}