.web-production-clock {
    padding: 30px 0 50px;

    .advantages {

        &-title {
            font-size: 30px;
        }
    }

    p {
        font-size: 18px;
    }

    li {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .index {
        font-size: 22px;
    }

    .list-title {
        font-size: 22px;
    }
}
