<form class="form form--questions" action="">
    <button class="close-form"></button>
    <span class="form-title">Задать вопрос</span>
    <p>
        Если у Вас возникли вопросы по проекту – 
        пишите нам, мы с радостью Вам поможем!
    </p>
    <label class="name">
        <input type="text" required>
        <span class="placeholder">имя</span>
        <div class="tick"></div>
        <span class="message"></span>
    </label>
    <label class="number">
        <input type="text" required>
        <span class="placeholder">телефон</span>
        <div class="tick"></div>
        <span class="message"></span>
    </label>
    <label class="question">
        <input type="text">
        <span class="placeholder">Сообщение</span>
        <div class="tick"></div>
    </label>
    <button class="send">
        <span>Отправить</span>
    </button>
</form>