<form class="form form--questions" action="">
    <div class="content">
        <button class="close-form"></button>
        <span class="form-title">Задать вопрос</span>
        <p>Если у Вас возникли вопросы по проекту &ndash; пишите нам, мы с радостью Вам поможем!</p>
        <label class="name">
            <input type="text" required>
            <span class="placeholder">имя</span>
            <div class="tick"></div>
            <span class="message"></span>
        </label>
        <label class="number">
            <input type="text" required>
            <span class="placeholder">телефон</span>
            <div class="tick"></div>
            <span class="message"></span>
        </label>
        <label class="question">
            <input type="text">
            <span class="placeholder">Сообщение</span>
            <div class="tick"></div>
        </label>
        <button class="send button special blue">
            <span>Отправить</span>
        </button>
    </div>
</form>