<form action="" class="form" id="form">
    <div class="form__content">
        <div class="form__close" id="close-form"></div>
    
        <span class="form__title">Задать вопрос</span>
    
        <p class="form__text">
            Если у Вас возникли вопросы по проекту - 
            пишите нам, мы с радостью Вам поможем!
        </p>
    
        <label class="form__label" for="fullname">
            <input class="form__field" type="text" name="fullname" id="fullname" required>
            <span class="form__placeholder">Имя</span>
        </label>
    
        <label class="form__label" for="phone">
            <input class="form__field" type="number" name="phone" id="phone" required>
            <span class="form__placeholder">Телефон</span>
        </label>
    
        <label class="form__label" for="message">
            <input class="form__field" type="text" name="message" id="message">
            <span class="form__placeholder">Сообщение</span>
        </label>
    
        <button class="form__send">Покорить мир</button>
    </div>
</form>