<nav class="menu" id="menu">
    <div class="menu__item menu__item--small" id="menu-switcher">
        <div class="hamburger">
            <div class="hamburger__item hamburger__item--small"></div>
            <div class="hamburger__item"></div>
            <div class="hamburger__item hamburger__item--small"></div>
            <div class="hamburger__item"></div>
        </div>
    </div>

    <a class="menu__item menu__item--diagonal-transformed" href="/o-kompanii">
        <div class="menu__index">36</div>
        <div class="menu__icon">Au</div>
        <div class="menu__name">About us</div>
    </a>

    <a class="menu__item menu__item--portfolio" href="/portfolio">
        <div class="menu__index">5</div>
        <div class="menu__icon">P</div>
        <div class="menu__name">Portfolio</div>
    </a>

    <a class="menu__item menu__item--services" href="/services">
        <div class="menu__index">3</div>
        <div class="menu__icon">Se</div>
        <div class="menu__name">Services</div>
    </a>

    <a class="menu__item menu__item--contacts" href="/contacts">
        <div class="menu__index">17</div>
        <div class="menu__icon">Co</div>
        <div class="menu__name">Contacts</div>
    </a>

    <a class="menu__item menu__item--blog" href="/blog">
        <div class="menu__index">23</div>
        <div class="menu__icon">B</div>
        <div class="menu__name">Blog</div>
    </a>

    <a class="menu__item menu__item--home" href="/">
        <div class="menu__index">1</div>
        <div class="menu__icon">H</div>
        <div class="menu__name">Home</div>
    </a>

    @@include('./components/languages.html')
</nav>