<nav class="menu-mobile">
    <a href="#" class="menu__item menu__item--open-close">
        <div class="hamburger">
            <span class="hamburger-tick hamburger-tick-1"></span>
            <span class="hamburger-tick hamburger-tick-2"></span>
            <span class="hamburger-tick hamburger-tick-3"></span>
            <span class="hamburger-tick hamburger-tick-4"></span>
        </div>
        <div class="name">MeNu</div>
    </a>
    <a href="/about-company.html" class="menu__item menu__item--about-us">
        <div class="serial-number">36</div>
        <div class="symbol">Au</div>
        <div class="name">О нас</div>
    </a>
    <a href="/portfolio.html" class="menu__item menu__item--portfolio">
        <div class="serial-number">1</div>
        <div class="symbol">P</div>
        <div class="name">Портфолио</div>
    </a>
    <a href="/services.html" class="menu__item menu__item--services">
        <div class="serial-number">3</div>
        <div class="symbol">Se</div>
        <div class="name">Услуги</div>
    </a>
    <a href="/contacts.html" class="menu__item menu__item--contact">
        <div class="serial-number">17</div>
        <div class="symbol">Co</div>
        <div class="name">Контакты</div>
    </a> 
    <a href="/blog.html" class="menu__item menu__item--blog">
        <div class="serial-number">23</div>
        <div class="symbol">B</div>
        <div class="name">Блог</div>
    </a>

    <div class="social">
        <div class="social__item social__item--facebook">
            <span>facebook</span>
        </div>
        <div class="social__item social__item--instagram">
            <span>instagram</span>
        </div>
        <div class="social__item social__item--behance">
            <span>behance</span>
        </div>
    </div>
</nav>