<nav class="menu">
    <a class="menu__item" href="/">
        <div class="menu__symbol">
            <div class="menu__index">1</div>
            <div class="menu__icon">H</div>
        </div>
        <div class="menu__name">Home</div>
    </a>

    <a class="menu__item" href="/services">
        <div class="menu__symbol">
            <div class="menu__index">3</div>
            <div class="menu__icon">Se</div>
        </div>
        <div class="menu__name">Services</div>
    </a>

    <a class="menu__item" href="/contacts">
        <div class="menu__symbol">
            <div class="menu__index">17</div>
            <div class="menu__icon">Co</div>
        </div>
        <div class="menu__name">Contacts</div>
    </a>

    <a class="menu__item" href="/o-kompanii">
        <div class="menu__symbol">
            <div class="menu__index">36</div>
            <div class="menu__icon">Au</div>
        </div>
        <div class="menu__name">About us</div>
    </a>

    <a class="menu__item" href="/portfolio">
        <div class="menu__symbol">
            <div class="menu__index">5</div>
            <div class="menu__icon">P</div>
        </div>
        <div class="menu__name">Portfolio</div>
    </a>
    
    <a class="menu__item" href="/blog">
        <div class="menu__symbol">
            <div class="menu__index">23</div>
            <div class="menu__icon">B</div>
        </div>
        <div class="menu__name">Blog</div>
    </a>
</nav>