<div class="our-clients">
    <p class="our-clients__title">Нам доверяют, нас знают, нас ценят</p>

    <div class="slider-clients-wrapper">
        <div class="slider-clients">
            <div class="slide">
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/audi.png" alt="audi">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/tommy-hilfiger.png" alt="tommy-hilfiger">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/gstar-raw.png" alt="gstar-raw">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--small" src="../images/about-company/brands/dkny-men.png" alt="dkny-men">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--small" src="../images/about-company/brands/fornarina.png" alt="fornarina">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/accessorize.png" alt="accessorize">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--big" src="../images/about-company/brands/doberman.png" alt="doberman">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--big" src="../images/about-company/brands/lets-help.png" alt="lets-help">
                </div>
            </div>

            <div class="slide">
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/seven-hills.png" alt="seven-hills">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--big" src="../images/about-company/brands/park-avenue.png" alt="park-avenue">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--big" src="../images/about-company/brands/gogol.png" alt="gogol">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--big" src="../images/about-company/brands/preppy.png" alt="preppy">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/pepe-jeans.png" alt="pepe-jeans">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--small" src="../images/about-company/brands/gant.png" alt="gant">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--small" src="../images/about-company/brands/diesel.png" alt="diesel">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/oodji.png" alt="oodji">
                </div>
            </div>

            <div class="slide">
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/shell.png" alt="shell">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--middle" src="../images/about-company/brands/jti.png" alt="jti">
                </div>
                <div class="slide__item">
                    <img class="slide__image slide__image--small" src="../images/about-company/brands/stem.png" alt="stem">
                </div>
                <button class="slide__item open-form" data-form-id="become-client">
                    <span>Стать нашим</span>клиентом
                </button>
            </div>
        </div>
    </div>

    <div class="dots">
        <div class="dots__item active">
            <span class="dots__inner-item"></span>
        </div>
        <div class="dots__item">
            <span class="dots__inner-item"></span>
        </div>
        <div class="dots__item">
            <span class="dots__inner-item"></span>
        </div>
    </div>
</div>