<div class="our-clients">
    <span>наши клиеты</span>
    <div class="slogan">
        Нам доверяют, нас знают, нас ценят
    </div>
    <div class="slider-clients-wrapper">
        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4 vertical"></div>
        </div>
        <div class="slider-clients">
            <div class="slide">
                <div class="slide__item slide__item--audi">
                    <img src="../images/about-company/brands/audi.png" alt="audi">
                </div>
                <div class="slide__item slide__item--tommy-hilfiger">
                    <img src="../images/about-company/brands/tommy-hilfiger.png" alt="tommy-hilfiger">
                </div>
                <div class="slide__item slide__item--gstar-raw">
                    <img src="../images/about-company/brands/gstar-raw.png" alt="gstar-raw">
                </div>
                <div class="slide__item slide__item--dkny-men">
                    <img src="../images/about-company/brands/dkny-men.png" alt="dkny-men">
                </div>
                <div class="slide__item slide__item--fornarina">
                    <img src="../images/about-company/brands/fornarina.png" alt="fornarina">
                </div>
                <div class="slide__item slide__item--accessorize">
                    <img src="../images/about-company/brands/accessorize.png" alt="accessorize">
                </div>
                <div class="slide__item slide__item--doberman">
                    <img src="../images/about-company/brands/doberman.png" alt="doberman">
                </div>
                <div class="slide__item slide__item--lets-help">
                    <img src="../images/about-company/brands/lets-help.png" alt="lets-help">
                </div>
            </div>
            <div class="slide">
                <div class="slide__item slide__item--seven-hills">
                    <img src="../images/about-company/brands/seven-hills.png" alt="seven-hills">
                </div>
                <div class="slide__item slide__item--park-avenue">
                    <img src="../images/about-company/brands/park-avenue.png" alt="park-avenue">
                </div>
                <div class="slide__item slide__item--gogol">
                    <img src="../images/about-company/brands/gogol.png" alt="gogol">
                </div>
                <div class="slide__item slide__item--preppy">
                    <img src="../images/about-company/brands/preppy.png" alt="preppy">
                </div>
                <div class="slide__item slide__item--pepe-jeans">
                    <img src="../images/about-company/brands/pepe-jeans.png" alt="pepe-jeans">
                </div>
                <div class="slide__item slide__item--gant">
                    <img src="../images/about-company/brands/gant.png" alt="gant">
                </div>
                <div class="slide__item slide__item--diesel">
                    <img src="../images/about-company/brands/diesel.png" alt="diesel">
                </div>
                <div class="slide__item slide__item--oodji">
                    <img src="../images/about-company/brands/oodji.png" alt="oodji">
                </div>
            </div>
            <div class="slide">
                <div class="slide__item slide__item--shell">
                    <img src="../images/about-company/brands/shell.png" alt="shell">
                </div>
                <div class="slide__item slide__item--jti">
                    <img src="../images/about-company/brands/jti.png" alt="jti">
                </div>
                <div class="slide__item slide__item--stem">
                    <img src="../images/about-company/brands/stem.png" alt="stem">
                </div>
                <button class="open-form" data-form-id="become-client">
                    <span>Стать нашим</span>
                    клиентом
                </button>
            </div>
        </div>
    </div>

    <div class="dots">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    
    @@include('./components/form-become-client-mobile.html')
</div>