<div class="portfolio">
    <div class="carousel-slider-wrapper">
        <div class="carousel-slider">
            <div class="carousel-slider__item carousel-slider__item--alta-capital carousel-slider__item--clone">
                <img src="../images/portfolio/alta-capital.jpg" alt="alta-capital">
                <span>портфолио</span>
                <h3>Alta Capital</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--audi">
                <img src="../images/index/q7.jpg" alt="audi">
                <span>портфолио</span>
                <h3>Audi</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--dela">
                <img src="../images/portfolio/dela.jpg" alt="dela">
                <span>портфолио</span>
                <h3>Dela Ua</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--vinograd">
                <img src="../images/portfolio/vinograd.jpg" alt="vinograd">
                <span>портфолио</span>
                <h3>Vino Grad</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--euro-club">
                <img src="../images/portfolio/euro-club.jpg" alt="euro-club">
                <span>портфолио</span>
                <h3>Euro Club</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--zabirie-landing">
                <img src="../images/portfolio/zabirie-landing.jpg" alt="zabirie-landing">
                <span>портфолио</span>
                <h3>Zabirie Landing Page</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--alta-capital">
                <img src="../images/portfolio/alta-capital.jpg" alt="alta-capital">
                <span>портфолио</span>
                <h3>Alta Capital</h3>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--audi carousel-slider__item--clone">
                <img src="../images/index/q7.jpg" alt="audi">
                <span>портфолио</span>
                <h3>Audi</h3>
                <a href="">посмотреть работу</a>
            </div>
        </div>
        <div class="dots">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot small"></div>
        </div>
    </div>
</div>