<div class="portfolio">
    <div class="carousel-slider-wrapper">
        <div class="carousel-slider">
            <div class="carousel-slider__item carousel-slider__item--alta-capital carousel-slider__item--clone">
                <img src="../images/portfolio/alta-capital.jpg" alt="alta-capital">
                <span>портфолио</span>
                <span class="slider-item-title">Alta Capital</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--audi">
                <img src="../images/index/q7.jpg" alt="audi">
                <span>портфолио</span>
                <span class="slider-item-title">Audi</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--dela">
                <img src="../images/portfolio/dela.jpg" alt="dela">
                <span>портфолио</span>
                <span class="slider-item-title">Dela Ua</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--vinograd">
                <img src="../images/portfolio/vinograd.jpg" alt="vinograd">
                <span>портфолио</span>
                <span class="slider-item-title">Vino Grad</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--euro-club">
                <img src="../images/portfolio/euro-club.jpg" alt="euro-club">
                <span>портфолио</span>
                <span class="slider-item-title">Euro Club</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--zabirie-landing">
                <img src="../images/portfolio/zabirie-landing.jpg" alt="zabirie-landing">
                <span>портфолио</span>
                <span class="slider-item-title">Zabirie Landing Page</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--alta-capital">
                <img src="../images/portfolio/alta-capital.jpg" alt="alta-capital">
                <span>портфолио</span>
                <span class="slider-item-title">Alta Capital</span>
                <a href="">посмотреть работу</a>
            </div>
            <div class="carousel-slider__item carousel-slider__item--audi carousel-slider__item--clone">
                <img src="../images/index/q7.jpg" alt="audi">
                <span>портфолио</span>
                <span class="slider-item-title">Audi</span>
                <a href="">посмотреть работу</a>
            </div>
        </div>
        <div class="dots">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot small"></div>
        </div>
    </div>
</div>