<footer class="services-blog" data-top-panel-bg="light">
    <!-- @@include('./components/small-gray-lines.html') -->

    <div class="container">
        <div class="blue-line wow slideInDown"></div>

        <div class="image-block wow fadeInUp">
            <div class="date">
                <span class="wow fadeInUp" data-wow-delay=".3s">6 октября 2017</span>
            </div>
            <div class="image-container wow fadeInUp">
                <img src="../../../images/services/web-production/card/card-footer.jpg" alt="shop-footer">
            </div>
        </div>

        <div class="info-block wow fadeInUp">
            <div class="sticker">
                <span class="sticker-text">Блог</span>
            </div>

            <div class="new-title">
                <div class="text-container">
                    <span class="new-title-text">Шаблон или индивидуальная разработка:</span>
                </div>
                <div class="text-container">
                    <span class="new-title-text">что выбрать при создании сайта?</span>
                </div>
            </div>

            <article>
                <p>
                    На рынке веб-разработки нет какой-то единой, общепризнанной модели 
                    поведения — одни компании уверенно тратят сотни тысяч на сайт, а другие 
                    за сутки моделируют сайт на основе шаблона. И первые, и вторые, вероятно, 
                    считают свой выбор правильным. Но для нас важный критерий — это эффективность 
                    сайта для бизнеса, уровень посещаемости и позиции в Google. Разберёмся, какой 
                    сайт  — по шаблону или индивидуальной разработке — лучше по этим критериям.
                </p>
            </article>

            <div class="special-buttons">
                <a class="special-button" href="#">
                    <span class="special-button-text">Читать статью</span>
                </a>
                <a class="animated-button" href="#">
                    <span>К блогу</span>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-button">
        <a href="">
            <span>Карта сайта</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>
</footer>