<div class="services-questions" data-top-panel-bg="light">
    <!-- @@include('./components/big-background-letter.html') -->

    <div class="container">
        <div class="lines">
            <div class="line line--1 wow slideInDown"></div>
            <div class="line line--2 wow slideInDown" data-wow-delay=".3s"></div>
            <div class="line line--3 wow slideInDown" data-wow-delay=".6s"></div>
            <div class="line line--4 wow slideInDown" data-wow-delay=".9s"></div>
        </div>

        <div class="answers">
            <div class="column-1">
                <span class="answers-title wow slideInLeft">
                    Ответы
                    <span>на часто задаваемые вопросы</span>
                </span>
            </div>
            <div class="column-2">
                <ul>
                    <li class="question question--1 current">
                        <div class="index">
                            <span class="wow slideInUp" data-wow-delay=".3s">01</span>
                        </div>
                        <button>
                            <span class="wow slideInLeft" data-wow-delay=".3s">01 Правда ли, что Landing Page хуже, чем полноценный сайт?</span>
                        </button>
                    </li>
                    <li class="question question--2">
                        <div class="index">
                            <span class="wow slideInUp" data-wow-delay=".3s">02</span>
                        </div>
                        <button>
                            <span class="wow slideInLeft" data-wow-delay=".3s">02 Есть ли необходимость в полноценном сайте после запуска Landing Page?</span>
                        </button>
                    </li>
                    <li class="question question--3">
                        <div class="index">
                            <span class="wow slideInUp" data-wow-delay=".3s">03</span>
                        </div>
                        <button>
                            <span class="wow slideInLeft" data-wow-delay=".3s">03 Есть ли необходимость в полноценном сайте после запуска Landing Page?</span>
                        </button>
                    </li>
                    <li class="question question--4">
                        <div class="index">
                            <span class="wow slideInUp" data-wow-delay=".3s">04</span>
                        </div>
                        <button>
                            <span class="wow slideInLeft" data-wow-delay=".3s">04 Есть ли необходимость в полноценном сайте после запуска Landing Page?</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="column-3">
                <div class="answer answer--1 current">
                    <div class="index">
                        <span>
                            <span class="wow slideInUp" data-wow-delay=".6s">01</span>
                        </span>
                    </div>
                    <div class="content">
                        <span class="content-title">
                            <span class="wow slideInLeft" data-wow-delay=".6s">01 Правда ли, что Landing Page хуже, чем полноценный сайт?</span>
                        </span>
                        <div class="text">
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                01 Нет, такое сравнение некорректно. Формат Landing page 
                                разработан для решения конкретных задач и эффективно 
                                справляется с ними. По сути, это тоже полноценный 
                                одностраничный сайт, у него есть свои преимущества 
                                и недостатки — выбор в пользу того или иного формата 
                                сайта зависит от ваших требований и амбиций. 
                            </p>
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                            <p class="wow slideInLeft" data-wow-delay=".6s">
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="answer answer--2">
                    <div class="index">
                        <span>
                            <span>02</span>
                        </span>
                    </div>
                    <div class="content">
                        <span class="content-title">
                            <span>02 Правда ли, что SPA хуже, чем полноценный сайт?</span>
                        </span>
                        <div class="text">
                            <p>
                                02 Нет, такое сравнение некорректно. Формат Landing page 
                                разработан для решения конкретных задач и эффективно 
                                справляется с ними. По сути, это тоже полноценный 
                                одностраничный сайт, у него есть свои преимущества 
                                и недостатки — выбор в пользу того или иного формата 
                                сайта зависит от ваших требований и амбиций. 
                            </p>
                            <p>
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="answer answer--3">
                    <div class="index">
                        <span>
                            <span>03</span>
                        </span>
                    </div>
                    <div class="content">
                        <span class="content-title">
                            <span>03 Правда ли, что SPA хуже, чем полноценный сайт?</span>
                        </span>
                        <div class="text">
                            <p>
                                03 Нет, такое сравнение некорректно. Формат Landing page 
                                разработан для решения конкретных задач и эффективно 
                                справляется с ними. По сути, это тоже полноценный 
                                одностраничный сайт, у него есть свои преимущества 
                                и недостатки — выбор в пользу того или иного формата 
                                сайта зависит от ваших требований и амбиций. 
                            </p>
                            <p>
                                Одним из основных преимуществ лэндинга является высокая 
                                конверсия и генерация лидов — это обусловлено тем, что 
                                в рамках одной страницы (в одном месте) вы даёте максимум 
                                информации о товаре/услуге/мероприятии  потенциальным клиентам. 
                            </p>
                            <p>
                                Нет, такое сравнение некорректно. Формат Landing page 
                                разработан для решения конкретных задач и эффективно 
                                справляется с ними. По сути, это тоже полноценный 
                                одностраничный сайт, у него есть свои преимущества 
                                и недостатки — выбор в пользу того или иного формата 
                                сайта зависит от ваших требований и амбиций. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="answer answer--4">
                    <div class="index">
                        <span>
                            <span>04</span>
                        </span>
                    </div>
                    <div class="content">
                        <span class="content-title">
                            <span>04 Правда ли, что SPA хуже, чем полноценный сайт?</span>
                        </span>
                        <div class="text">
                            <p>
                                04 Нет, такое сравнение некорректно. Формат Landing page 
                                разработан для решения конкретных задач и эффективно 
                                справляется с ними. По сути, это тоже полноценный 
                                одностраничный сайт, у него есть свои преимущества 
                                и недостатки — выбор в пользу того или иного формата 
                                сайта зависит от ваших требований и амбиций. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="more">
            <div class="column-1">
                <span class="more-title wow fadeInLeft">
                    Больше услуг
                    <a href="#">web-production</a>
                </span>
            </div>
            <ul>
                <li class="column-1">
                    <a href="landing.html" class="crossed-button wow fadeInLeft">
                        <span>Landing page</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </a>
                </li>
                <li class="column-2">
                    <a href="corporate.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                        <span>Корпоративный сайт</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </a>
                </li>
                <li class="column-3">
                    <a href="internet-shop.html" class="crossed-button wow fadeInLeft" data-wow-delay=".6s">
                        <span>Интернет магазин</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>