<div class="services-work-examples">
    <div class="examples" data-top-panel-bg="dark">
        <!-- @@include('./components/small-gray-lines.html') -->
        <!-- <div class="big-background-letter">
            <span>c</span>
        </div> -->

        <div class="container">
            <span class="title">
                Примеры
                <span class="blue block">наших работ</span>
            </span>

            <div class="works">
                <a href="#" class="works__item">
                    <img
                        class="works__image" 
                        src="../../../images/services/eurovision.jpg" 
                        alt="eurovision">
                    <span class="works__text">Eurovision</span>
                </a>

                <a href="#" class="works__item">
                    <img
                        class="works__image" 
                        src="../../../images/services/alta.jpg"
                        alt="eurovision">
                    <span class="works__text">Alta capital</span>
                </a>

                <a href="#" class="works__item">
                    <img
                        class="works__image" 
                        src="../../../images/services/audi.jpg"
                        alt="eurovision">
                    <span class="works__text">Audi</span>
                </a>

                <a href="#" class="works__item">
                    <img
                        class="works__image" 
                        src="../../../images/services/vinograd.jpg" 
                        alt="eurovision">
                    <span class="works__text">Vino grad</span>
                </a>
            </div>

            <a class="crossed-button" href="#">
                <span class="crossed-button__text">Посмотреть все работы</span>

                <svg class="crossed-button__arrow" x="0px" y="0px" viewBox="0 0 34.8 7.3">
                    <line class="crossed-button__arrow-part crossed-button__arrow-part--center" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="crossed-button__arrow-part" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="crossed-button__arrow-part" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </a>
        </div>
    </div>

    <div class="discuss" data-top-panel-bg="dark">
        <div class="discuss__block">
            <span class="discuss__title">Хотите обсудить проект?</span>
            
            <p class="discuss__text">
                Для экономии Вашего времени и нервов просто обратитесь к нам  
                за  успехом  для Вашего бизнеса.
            </p>
        </div>

        <button class="discuss__btn" id="open-form">Обсудить</button>
    </div>
</div>