@import 'tabletLandscape';

// ----- our-works -----
.our-works {

    // ----- portfolio -----
    .portfolio {
        img {
            height: 320px;
        }
        .opened-work {
	    	height: 320px;
	    	p {
                margin: px(75) 0;
            }
            img {
                display: initial;
            }
	    }
    }
}