@import '../mobile';

// ----- our-works -----
.our-works {

    // ----- portfolio -----
    .portfolio {
        img {
        	display: none;
        }
        &__title {
        	margin: 0 0 40px;
        }
        .opened-work {
        	padding: 0 44px;
        }
    }
}