& {
    background-color: $background;
    font-family: $raleway;
    font-weight: $regular;
    z-index: 0;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title {
        margin: 28vh 0 0 40vh;
        p { padding: 5% 1vh 0; }
    }

    // ----- small-gray-lines -----
    .small-gray-lines {
        .line {
            &:nth-of-type(1) {
                left: 19vh;
                top: 4vh;
            }
            &:nth-of-type(2) {
                left: 101vh;
                top: -12vh;
            }
            &:nth-of-type(3) {
                right: 9vh;
                top: 37vh;
            }
            &:nth-of-type(4) {
                bottom: -10vh;
                left: 30vh;
            }
            &:nth-of-type(5) {
                bottom: 14vh;
                right: 90vh;
            }
        }
    }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        bottom: 19.5%;
        right: 29.7%;
        a {
            text-transform: uppercase;
            &:before { background: $white; }
            span {
                color: $white;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        transform: rotate(90deg);
        bottom: 19%;
        width: 6%;
        left: 18%;
        p {
            font-weight: $medium;
            font-size: px(22);
            line-height: 1.4;
            color: $white;
        }
    }
}