.design-development {
    position: relative;
    background: $black;
    font-family: $Roboto-Regular;
    overflow: hidden;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 70px 0 120px;
        border-top: 1px solid $darkGray;
    }

    li {
        position: relative;
        margin-bottom: 25px;
        padding-left: 40px;
        width: 50%;
        font-size: 16px;
        line-height: 1.4;

        &:before {
            display: block;
            position: absolute;
            top: 7px;
            left: 7px;
            width: 7px;
            height: 7px;
            content: '';
            background: $blue;
            border-radius: 50%;
        }
    }

    p {
        color: $darkWhite;
        font-size: 18px;
        line-height: 1.3;
    }

    .blue {
        color: $blue;
    }

    .big {
        margin-top: 40px;
        font-size: 24px;
    }

    .big-background-letter {
        bottom: -25vh;
        left: -225px;
        font-size: 70vw;
        color: rgba(68, 68, 68, .2);
    }

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 200px 0 150px;
        width: 81%;
        color: $white;
    }

    .column {

        &:first-child {
            padding-right: 30px;
            width: 45%;
        }

        &:last-child {
            padding-top: 200px;
            width: 55%;
        }
    }

    .row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &:last-of-type {
            margin: 120px 0 150px;
        }
    }

    .development-title {
        display: block;
        font-family: $Raleway-SemiBold;
        font-size: 76px;
    }

    .development-offer {
        margin-top: 130px;
    }

    .label {
        display: block;
        min-width: 350px;
        font-family: $Roboto-Bold;
        font-size: 200px;
    }
}