& {  

    header {
        background: $lightBlack;
        padding: px(160) px(30) 0;
        width: 100vw;
        height: 100vh;

        img {
            display: block;
            margin-left: px(160);
            width: px(376);
            height: px(786);
            object-fit: cover;
        }

        .slogan {
            margin-top: px(-100);
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: px(48);
            text-transform: uppercase;

            span {
                display: block;
                margin-top: px(10);
                color: $blue;
            }
        }

        .slogan-translation {
            display: block;
            margin-top: px(30);
            color: $gray;
            font-family: $Roboto-Medium;
            font-size: px(28);
        }
    }

    .about-company {
        position: relative;
        padding: px(260) px(30) 0;
        width: 100vw;
        height: 100vh;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & > span,
        .title {
            position: relative;
            z-index: 2;
        }

        & > span {
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: px(22);
        }

        .title {
            margin-top: px(60);
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: px(120);

            .blue {
                color: $blue;
            }
        }
    }

    .portfolio,
    .services {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .carousel-slider-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .carousel-slider {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
    
            &__item {
                position: relative;
                padding: px(340) px(30) 0;
                width: 100vw;
                height: 100vh;
                color: $white;
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                span,
                h3,
                h4,
                a {
                    position: relative;
                    z-index: 2;
                }
    
                span {
                   font-family: $Raleway-Bold;
                   font-size: px(22); 
                   text-transform: uppercase;
                }
    
                h3 {
                    margin: px(32) 0 px(56);
                    font-family: $Roboto-Black;
                    font-size: px(120);
                }

                h4 {
                    color: $blue;
                    font-family: $Roboto-Black;
                    font-size: px(72);
                }
    
                a {
                    color: $white;
                    font-family: $Raleway-Bold;
                    font-size: px(24);
                    text-transform: uppercase;
                }
    
                &:before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    content: '';
                }
    
                &--audi {
    
                    img {
                        object-position: px(-160) 0;
                    }
                }
            }
        }
    
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: px(120);
            z-index: 5;
            width: 100%;
        }
    
        .dot {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: px(8);
            width: 8px;
            height: 8px;
    
            &:before {
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $gray;
                content: '';
                transition: width $timeTick, height $timeTick, background $timeTick;
            }
    
            &:last-child {
                margin-right: 0;
            }
    
            &.active {
    
                &:before {
                    background: $blue;
                    width: 8px;
                    height: 8px;
                }
            }
    
            &.small {
    
                &:before {
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }   

    .services {

        .carousel-slider-wrapper {

            .carousel-slider {

                &__item {
                    padding-top: px(460);

                    h3 {
                        margin: px(32) 0 px(26);
                        font-size: px(72);
                    }

                    h4 {
                        margin-bottom: px(40);
                    }
                }
            }
        }
    }

    .our-clients {
        position: relative;
        padding: px(90) px(30) 0;
        width: 100vw;
        height: 100vh;
        background: $lightBlack;
        overflow: hidden;

        & > span {
            color: #666;
            font-family: $Raleway-Bold;
            font-size: px(22);
            text-transform: uppercase;
        }

        .slogan {
            margin-top: px(20);
            color: $white;
            font-family: $Roboto-Bold;
            font-size: px(48);
            line-height: px(52);
        }

        .slider-clients-wrapper {
            position: relative;
            margin-top: px(20);
            width: 100%;
            height: px(730);
            overflow: hidden;
        }

        .lines {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .line {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: $gray;

            &--1 {
                top: 25%; 
            }

            &--2 {
                top: 50%; 
            }

            &--3 {
                top: 75%; 
            }

            &--4 {
                top: 0;
                left: 50%;
            }

            &.vertical {
                width: 1px;
                height: 100%;
            }
        }

        .slider-clients {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 300%;
            height: 100%;
        }

        .slide {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            position: relative;
            width: 100%;
            height: 100%;

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: px(20);
                width: 50%;
                height: 25%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &--audi {

                    img {
                        height: 50%;
                    }   
                }

                &--tommy-hilfiger {

                    img {
                        height: 50%;
                    }   
                }

                &--gstar-raw {

                    img {
                        height: 50%;
                    }   
                }

                &--dkny-men {

                    img {
                        height: 20%;
                    }   
                }

                &--fornarina {

                    img {
                        height: 30%;
                    }   
                }

                &--accessorize {

                    img {
                        height: 30%;
                    }   
                }

                &--doberman {

                    img {
                        height: 70%;
                    }   
                }

                &--lets-help {

                    img {
                        height: 70%;
                    }   
                }

                &--seven-hills {

                    img {
                        height: 60%;
                    }   
                }

                &--park-avenue {

                    img {
                        height: 80%;
                    }   
                }

                &--gogol {

                    img {
                        height: 80%;
                    }   
                }

                &--preppy {

                    img {
                        height: 80%;
                    }   
                }

                &--pepe-jeans {

                    img {
                        height: 60%;
                    }   
                }

                &--gant {

                    img {
                        height: 20%;
                    }   
                }

                &--diesel {

                    img {
                        height: 50%;
                    }   
                }

                &--oodji {

                    img {
                        height: 60%;
                    }   
                }

                &--shell {

                    img {
                        height: 50%;
                    }   
                }

                &--jti {

                    img {
                        height: 50%;
                    }   
                }

                &--stem {

                    img {
                        height: 30%;
                    }   
                }
            }

            .open-form {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0;
                padding-left: px(10);
                width: 50%;
                height: 25%;
                color: $white;
                font-family: $Roboto-Bold;
                font-family: $Roboto-Black;
                font-size: px(44);
                text-align: left;

                span {
                    display: block;
                    color: $blue;
                }
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: px(40);

            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: px(8);
                width: 8px;
                height: 8px;

                &:before {
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $gray;
                    content: '';
                    transition: width $timeTick, height $timeTick, background $timeTick;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active {

                    &:before {
                        background: $blue;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }

    .questions {
        padding: px(200) px(30) 0;
        width: 100vw;
        height: 100vh;
        background: $lightBlack;

        h3 {
            margin-bottom: px(24);
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: px(48);
            text-transform: uppercase;
        }

        & > span {
            display: block;
            margin-bottom: px(190);
            color: $blue;
            font-family: $Roboto-Medium;
            font-size: px(32);
        }
    
        .contacts-info {
            margin-top: px(160);
    
            li {
                margin-bottom: px(80); 
                font-family: $Roboto-Medium;
                font-size: px(28);
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            span {
                display: block;
                margin-bottom: px(10);
                color: $white;
            }
    
            a {
                color: $gray;
            }
        }
    
        .open-form {
            display: block;
            margin: px(110) auto 0;
            padding: px(30) 0;
            width: 100%;
            max-width: 400px;
            height: px(90);
            background: $blue;
            color: $white;
            font-family: $Roboto-Medium;
            font-size: px(28);
            text-align: center;
            text-transform: uppercase;
        }
    }
}