@import '../desktop';

& {

    .blue-line {
        left: px(300);
    }

    .info {
        margin-left: px(200);
    }

    .new-title {

        .text-container {

            span {
                font-size: px(80);
            }
        }
    }

    article {
        padding-right: px(300);
    }
}