@import '../desktop';

& {

    .new-header {
        font-size: px(100);
        line-height: px(105);
    }

    .big-bg-letter-o {

        .big-background-letter {
            top: 30%;
            left: px(1000);
        }
    }

    .container {

        &__item {

            &--3 {

                .column {

                    img {
                        height: px(1000);
                    }
                }
            }
        }
    }
}