& {  

    background: $lightBlack;
    overflow: hidden;

    .container {
        position: relative;
        margin: 0 auto;
        padding: px(340) 0 px(460);
        width: 81%;
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: $gray;
        opacity: .2;

        &--1 {
            left: 0;
        }

        &--2 {
            left: 20%;
        }

        &--3 {
            left: 40%;
        }

        &--4 {
            left: 60%;
        }

        &--5 {
            left: 80%;
        }

        &--6 {
            left: 100%;
        }
    }

    .title,
    .more-services-list {
        position: relative;
        z-index: 2;
    }

    .title {
        font-family: $Raleway-ExtraBold;

        span {
            color: $white;
            font-size: px(96);
        }

        a {
            display: block;
            margin-top: px(30);
            color: $blue;
            font-size: px(48);
        }
    }

    .more-services-list {
        display: flex;
        margin-top: px(220);

        li {
            width: 20%;
        }

        .crossed-button {
            position: relative;

            span {
                color: $white;

                &:before {
                    background: $white;
                }

                &:after {
                    display: none;
                }
            }
        }

        .arrow {

            .st0,
            .st1 {
                stroke: $white;
            }
        }
    }
}