.main-contacts {

    .main-contacts-title {
        padding: 10.5vh 4.5% 8.5vh 5.5%;

        p {

            &:first-child {
                font-size: 50px;
            }
        }
    }

    .main-form {
        top: 8%;
        right: 4.5%;

        form {
            padding-right: 65px;
            padding-left: 65px;
        }
    }
}
