& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $white;
    overflow: hidden;
    
    // ----- animation right -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Right $time * 3 0s both;

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 4 both; }

        // ----- main-contacts-title -----
        .main-contacts-title { animation: fadeInLeftMap $time * 3 $time * 3 both; }

        // ----- main-contacts-info -----
        .main-contacts-info li {
            &:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
            &:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
            &:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
        }

        // ----- form -----
        .form {
            animation: mainConatactsMapRight $time * 3 $time * 3 linear;
            animation-fill-mode: forwards;
        }

        // ----- small-gray-lines -----
        .small-gray-lines .line {
            animation: lineUp 1s $time * 4 both;
            &.down { animation-name: lineDown; }
        }
    }

    // ----- animation left -----
    &.previous, &.previous-back {
        animation: slideLeft $time * 3 $topPanelAnimationTime both;
        animation-play-state: paused;

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 4 both; }

        // ----- main-contacts-title -----
        .main-contacts-title { animation: fadeInLeftMap $time * 3 $time * 3 both; }

        // ----- main-contacts-info -----
        .main-contacts-info li {
            &:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
            &:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
            &:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
        }

        // ----- form -----
        .form {
            animation: mainConatactsMapRight $time * 3 $time * 3 linear;
            animation-fill-mode: forwards;
        }

        // ----- small-gray-lines -----
        .small-gray-lines .line {
            animation: lineUp 1s $time * 4 both;
            &.down { animation-name: lineDown; }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }
    
    // ----- big-background-letter -----
    .big-background-letter {
        z-index: 1;
        top: -15vh;
        right: 50vh;
        font-size: 130vh;
        span::before  { content: 'o'; }
    }
    
    // ----- form -----
    .form {
        width: 40%;
        z-index: 2;
        height: 55.5vh;
        visibility: hidden;
        background-color: $lightBlack;
        position: absolute;
        right: 14.5%;
        top: 32.5vh;
        form {
            position: relative;
            padding: 0 px(260);
            color: $white;
            width: 100%;
            h3 {
                font-family: $Raleway-ExtraBold;
                text-transform: uppercase;
                margin-bottom: px(220);
                font-size: px(60);
            }
            label {
                width: 100%;
                display: block;
                padding: 0 px(20);
                position: relative;
                margin-bottom: px(60);
                border-bottom: 1px solid $gray;
                &:nth-of-type(2) { margin-bottom: px(150); }
                span {
                    top: 0;
                    left: px(20);
                    height: 100%;
                    color: $gray;
                    display: block;
                    font-size: px(34);
                    line-height: 100%;
                    position: absolute;
                    margin-bottom: px(16);
                    text-transform: uppercase;
                    font-family: $Roboto-Regular;
                    transition: top $timeHalf, color $timeHalf, font-size $timeHalf;
                }
                input {
                    background: transparent;
                    position: relative;
                    padding: px(5) 0;
                    display: block;
                    z-index: 2;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $white;
                    height: px(40);
                    font-size: px(32);
                    &:focus, &.filled {
                        & ~ span {
                            top: px(-30);
                            color: $white;
                            font-size: px(24);
                        }
                    }
                }
            }
            .send {
                color: $white;
                display: block;
                width: px(340);
                height: px(90);
                font-size: px(28);
                background: $blue;
                border: 2px solid $blue;
                margin: px(90) 0 0 auto;
                text-transform: uppercase;
                font-family: $Raleway-Medium;
                transition: color $time, background $time;
                &:hover {
                    background: $white;
                    color: $blue;
                }
            }
        }
    }

    // ----- main-contacts-title -----
    .main-contacts-title {
        top: 17vh;
        z-index: 3;
        position: absolute;
        background-color: $lightBlack;
        padding: 6.5vh 9.5% 8.5vh 5.5%;
        p {
            font-family: $Raleway-ExtraBold;
            &:first-child {
                color: $white;
                font-size: px(118);
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            &:last-child {
                color: $blue;
                font-size: px(60);
                text-align: right;
                padding-top: 2.5vh;
            }
        }
    }
    
    // ----- main-contacts-info -----
    .main-contacts-info {
        position: absolute;
        bottom: 7vh;
        left: 5.5%;
        li {
            color: $darkGray;
            font-size: px(30);
            margin-bottom: 3vh;
            a { color: $darkGray; }
            &:last-of-type { margin-bottom: 0 }
        }
    }
}