& {
    
    background: $background;
    font-family: $Raleway-Regular;
    overflow: hidden;
    
    .main-contacts-title {
        width: 95%;
        padding: 7.5vh 0 6.6vh 4%;
        background-color: $lightBlack;
        p {
            font-weight: $extra-bold;
            &:first-child {
                color: $white;
                font-size: px(47);
                text-transform: uppercase;
            }
            &:last-child {
                font-size: px(34);
                padding-top: 1vh;
                text-align: left;
                color: $blue;
            }
        }
    }

    .main-contacts-info {
        display: inherit;
        margin: 4vh 0 0 2vh;

        li {
            line-height: .9;
            color: $darkWhite;
            font-size: px(26);
            margin-bottom: 4vh;

            a { 
                color: $white; 
            }

            &:last-of-type {
                margin-bottom: 0;
                display: block;
            }
        }
    }
}