@import '../desktop';

& {

    $paddingTopMega: 25vh;

    .container {
        padding: $paddingTopMega 0 0;

        .site-types-title {
            top: -20vh;
        }

        .types {
            height: 40vh;

            &__item {

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: px(100);

                    &:before {
                        top: - $paddingTopMega;
                    }
                }
            }
        }
    }
}