& {
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title {
        margin: 21vh 0 0 40vh;
        position: absolute;
        left: px(980);
        top: px(60);
    }

    // ----- crossed-button -----
    .crossed-button {
        left: px(330);
        bottom: px(370);
        position: absolute;
        align-items: center;
        font-family: $roboto;
        font-weight: $medium;
        .arrow .st0, .arrow .st1 { stroke: $dark; }
        span {
            color: $darkGray;
            display: block;
            font-size: px(24);
            animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both;
            &:after { content: 'Назад'; }
            &:before {
                background: $dark;
                top: px(10);
            }
        }
    }

    // ----- image-block -----
    .image-block {
        z-index: 3;
        width: px(810);
        height: px(1050);
        margin-top: px(510);
        margin-left: px(750);
        position: relative;
        .image-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            img {
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            &:before {
                height: 100%;
                width: 100%;
                z-index: 2;
                content: '';
                position: absolute;
                background: $darkGray;
                transform: translate3d(-90%, 90%, 0);
            }
        }
        p {
            padding: px(40) px(130);
            box-sizing: border-box;
            position: absolute;
            left: -55px;
            top: px(380);
            width: px(900);
            color: $white;
            font-size: px(28);
            line-height: px(30);
            transform-origin: 0 0;
            transform: rotate(-90deg);
        }
    }
}