.seo-header {
    min-height: 650px;

    .container {
        padding: 9% 5% 11% 10%;
    }

    .image-container {
        width: 45%;
    }

    .info {
        margin-left: 10%;
        width: 45%;

        &-text {
            margin-top: 20px;
            padding-left: 80px;
        }
    }

    .new-title {
        margin-top: 10px;

        .text-container {

            &:before {
                height: 20px;
            }
        }

        &-text {
            font-size: 40px;
        }
    }
}
