<div class="site-types" data-top-panel-bg="light">
    <div class="columns">
        <div class="column column--1"></div>
        <div class="column column--2"></div>
        <div class="column column--3"></div>
        <div class="column column--4"></div>
    </div>

    <div class="container">
        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
        </div>

        <h2 class="site-types-title site-types-title--blue">
            Какие сайты мы делаем?
        </h2>

        <div class="types">
            <a href="web-production/landing.html" class="types__item types__item--landing-page">
                <span class="index">
                    <span>01</span>
                </span>
                <div class="content">
                    <h3 class="content-title">Landing page</h3>
                    <p>
                        Это продающий сайт который как правило состоит 
                        из одной страницы. Самое короткое время на 
                        превращение посетителя в клиента. Cамый 
                        быстроокупаемый тип сайта.
                    </p>
                    <button class="crossed-button">
                        <span></span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
            <a href="web-production/corporate.html" class="types__item">
                <span class="index">
                    <span>02</span>
                </span>
                <div class="content">
                    <h3 class="content-title">Корпоративный сайт</h3>
                    <p>
                        Если посадочная — лицо товара, то корпоративный 
                        сайт — лицо вашего бизнеса. Работает как продающий, 
                        когда для принятия решения клиенту нужно понять, 
                        с какой компанией он имеет дело.
                    </p>
                    <button class="crossed-button">
                        <span></span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
            <a href="web-production/shop.html" class="types__item">
                <span class="index">
                    <span>03</span>
                </span>
                <div class="content">
                    <h3 class="content-title">Интернет-магазин</h3>
                    <p>
                        Лучшее решение для продажи широкого ассортимента 
                        товаров. Именно магазины превращают разовых покупателей 
                        в постоянных, а намерение найти какую-то мелочь — 
                        в полную корзину покупок.
                    </p>
                    <button class="crossed-button">
                        <span></span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
            <a href="web-production/card.html" class="types__item">
                <span class="index">
                    <span>04</span>
                </span>
                <div class="content">
                    <h3 class="content-title">Сайт-визитка</h3>
                    <p>
                        Небольшой сайт, как правило, состоящий из одной (или 
                        нескольких) веб-страниц и содержащий основную информацию 
                        об организации, частном лице.
                    </p>
                    <button class="crossed-button">
                        <span></span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </button>
                </div>
            </a>
        </div>
    </div>

</div>