<div class="work-flow">
    
    <div class="front-layer">
    
        <div class="dark-language">
            @@include('./components/language.html')
        </div>

        <div class="container">
            
            <div class="result">
                @@include('./components/sticker.html')
                
                <div class="new-title">
                    <div class="text-container">
                        <span>Как достигается</span>
                    </div>
                    <div class="text-container">
                        <span>результат?</span>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
                <div class="line line--4"></div>
                <div class="line line--5"></div>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>шаг 01</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Анализ</span>
                        <p>
                            Проводится анализ рынка. Мониторинг 
                            всех возможных конкурентов
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 02</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Разработка концепта</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 03</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Дизайн</span>
                        <p>
                            Разрабатывается индивидуальный дизайн 
                            в соответствии с тематикой товаров или 
                            услуг
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 04</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Программирование</span>
                        <p>
                            Внедряются самые последние стандарты. 
                            Сайт будет максимально быстро и корректно 
                            работать во всех браузера
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 05</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Тестирование</span>
                        <p>
                            Перед запуском, сайт детально 
                            проходит тестирование для 
                            выявления и исправления ошибок
                        </p>
                    </div>
                </div>
            </div>

            <div class="questions">
                <span class="questions-title">Появились вопросы ?</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod tempor 
                    incididunt
                </p>
                <button class="open-form">Да</button>
            </div>

        </div>

    </div>
    
    <div class="back-layer">
        @@include('./components/big-background-letter.html')
        @@include('./components/form.html')
    </div>

</div>