<div class="work-flow screen-block">
    
    <div class="front-layer">

        <div class="dark-logo">
            @@include('./components/logo.html')    
        </div>
        
        <div class="dark-menu">
            @@include('./components/menu.html')    
        </div>
    
        <div class="dark-language">
            @@include('./components/language.html')
        </div>

        <div class="container">
            
            <div class="result">
                @@include('./components/sticker.html')
                
                <h2 class="new-title">
                    <div class="text-container">
                        <span>Как достигается</span>
                    </div>
                    <div class="text-container">
                        <span>результат?</span>
                    </div>
                </h2>
            </div>

            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
                <div class="line line--4"></div>
                <div class="line line--5"></div>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>шаг 01</span>
                    </div>
                    <div class="content">
                        <h3>Анализ</h3>
                        <p>
                            Проводится анализ рынка. Мониторинг 
                            всех возможных конкурентов
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 02</span>
                    </div>
                    <div class="content">
                        <h3>Разработка концепта</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 03</span>
                    </div>
                    <div class="content">
                        <h3>Дизайн</h3>
                        <p>
                            Разрабатывается индивидуальный дизайн 
                            в соответствии с тематикой товаров или 
                            услуг
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 04</span>
                    </div>
                    <div class="content">
                        <h3>Программирование</h3>
                        <p>
                            Внедряются самые последние стандарты. 
                            Сайт будет максимально быстро и корректно 
                            работать во всех браузера
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 05</span>
                    </div>
                    <div class="content">
                        <h3>Тестирование</h3>
                        <p>
                            Перед запуском, сайт детально 
                            проходит тестирование для 
                            выявления и исправления ошибок
                        </p>
                    </div>
                </div>
            </div>

            <div class="questions">
                <h3>Появились вопросы ?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod tempor 
                    incididunt
                </p>
                <button class="open-form">Да</button>
            </div>

        </div>

    </div>
    
    <div class="back-layer">
        @@include('./components/big-background-letter.html')
        <form action="">
            <button class="close-form"></button>
            <h3>Задать вопрос</h3>
            <label for="">
                <span>имя</span>
                <input type="text" required>
                <span class="mistake">ошибка заполнения</span>
            </label>
            <label for="">
                <span>телефон</span>
                <input type="text" required>
                <span class="mistake">ошибка заполнения</span>
            </label>
            <label for="">
                <input type="text" placeholder="ВАШ ВОПРОС">
            </label>
            <button class="send">Отправить</button>
        </form>
    </div>

</div>