.contacts {
    position: relative;
    padding: 75px 15px 0;
    width: 100vw;
    height: 100vh;
    background: $lightBlack;
    overflow: hidden;

    .top-panel-mobile {
        background: transparent;
    }

    .page-title {
        display: block;
        color: $gray;
        font-family: $Raleway-Bold;
        font-size: 11px;
        text-transform: uppercase;

        span {
            display: block;
            margin-top: 18px;
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: 22px;
        }
    }

    .contacts-info {
        margin-top: 80px;

        li {
            margin-bottom: 40px;
            font-family: $Roboto-Medium;
            font-size: 14px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            display: block;
            margin-bottom: 5px;
            color: $white;
        }

        a {
            display: block;
            margin-bottom: 5px;
            color: $gray;
        }
    }

    .open-form {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 5%;
        padding: 15px 0;
        width: 90%;
        max-width: 400px;
        height: 45px;
        background: $blue;
        color: $white;
        font-family: $Roboto-Medium;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
}