@import '../base/variables';

$container-width: 80%;
$part-space-width: (100% - $container-width) / 2;
$column-width: 100% / 3;
$column-width-double: 100% / 3 * 2;
$justify: (($part-space-width / $container-width) * 100%) * 100 / $column-width;
$justify-double: (($part-space-width / $container-width) * 100%) * 100 / $column-width-double;
$justify-left: $justify * -1%;
$justify-left-half: $justify-left / 2;
$justify-right: $justify * 1%;
$justify-right-half: $justify-right / 2;
$justify-left-double: $justify-double * -1%;
$justify-left-double-half: $justify-left-double / 2;
$justify-right-double: $justify-double * 1%;
$justify-right-double-half: $justify-right-double / 2;

/*
/
/---- DESKTOP HD ---- */
body {
    position: relative;
    height: initial;
}

[data-animated] {
    opacity: 0;
    transition: transform $time * 3, opacity $time * 3;

    &.active {
        opacity: 1;
        transform: none;
    }
}

[data-animated="left"] {
    transform: translateX(100px);
}

[data-animated="right"] {
    transform: translateX(-100px);
}

[data-animated="up"] {
    transform: translateY(100px);
}

[data-animated="down"] {
    transform: translateX(-100px);
}

.header {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    min-height: 650px;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
        height: 100%;
    }
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: $lightGray;

    &-2 {
        left: calc(100% / 3);
    }

    &-3 {
        left: calc(100% / 3 * 2);
    }

    &-4 {
        left: 100%;
    }
}

section {
    position: relative;
    z-index: 2;
}

.container {
    position: relative;
    margin: 0 auto;
    width: $container-width;
}

.row {
    display: flex;
    position: relative;
    padding-top: 250px;
    width: 100%;
    color: $darkGray;
    font-family: $Roboto-Regular;

    &-half-paddinged {
        padding-top: 120px;
    }

    &-without-paddinged {
        padding: 0;
    }

    &-black-two {
        background: $black-two;
    }

    &-light-black {
        background: $lightBlack;
    }

    & > .container {
        display: flex;
    }

    .line {
        background: $darkGray;
    }
}

.column {
    width: $column-width;

    & > .special-button,
    & > .label-button {
        width: 100%;
    }

    &.double {
        width: $column-width-double;
    }

    &.triple {
        width: 100%;
    }

    &.margined {

        &-left {
            margin-left: $column-width;

            &-double {
                margin-left: $column-width-double;
            }
        }
    }
}

.special-button {
    color: $darkGray;
    text-decoration: none;
}

.paddinged {

    &-bottom {
        padding-bottom: 250px;

        &-half {
            padding-bottom: 120px;
        }
    }

    &-top {
        padding-top: 250px;

        &-half {
            padding-top: 120px;
        }

        &-none {
            padding-top: 0;
        }
    }

    &-all {
        padding: 100px;

        &-half {
            padding: 50px;
        }
    }

    &-none {
        padding: 0;
    }
}

.without-paddings {
    padding: 0;
}

.underlined {
    text-decoration: underline;
}

.medium-font {
    font-family: $Roboto-Medium;
}

.bold {
    font-family: $Roboto-Bold;
}

.black-font {
    font-family: $Roboto-Black;
}

.black {
    color: $black;
}

.light-black {
    color: $lightBlack;
}

.gray {
    color: $gray;
}

.dark-gray {
    color: $darkGray;
}

.blue {
    color: $blue;
}

.white {
    color: $white;
}

.dark-white {
    color: $darkWhite;
}

.red {
    color: $red;
}

.margined {

    &-top {
        margin-top: 50px;
    }
}

.bordered {

    &-bottom {
        border-bottom: 1px solid $gray;
    }
}

.halfed {
    width: 50%;
}

.medium {
    font-size: 20px;
}

.semi-big {
    font-size: 24px;
    line-height: 1.3;
}

.big {
    padding-bottom: 20px;
    font-size: 42px;
}

.huge {
    font-size: 60px;
}

.italic {
    font-style: italic;
}

.aligned {

    &-right {
        margin-left: auto;
    }

    &-center {
        align-self: center;
    }
}

.text-aligned {

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }
}

.justified {
    position: relative;

    &-left {
        left: $justify-left;

        &-half {
            left: $justify-left-half;
        }

        &-double {
            left: $justify-left-double;

            &-half {
                left: $justify-left-double-half;
            }
        }
    }

    &-right {
        left: $justify-right;

        &-half {
            left: $justify-right-half;
        }

        &-double {
            left: $justify-right-double;

            &-half {
                left: $justify-right-double-half;
            }
        }
    }
}

.transformed {

    &-left {
        transform: translateX(-10%);
    }
}

ul {
    margin: 30px 0;

    &.indexed {
        padding: 0 50px;

        li {
            padding-bottom: 45px;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                background: $darkGray;
                content: '';
                transform: translate(-100%, -50%);
            }
        }
    }

    &.circled {

        li {
            padding-left: 20px;

            &:before {
                position: absolute;
                top: 6px;
                left: 0;
                width: 6px;
                height: 6px;
                background: $blue;
                border-radius: 50%;
                content: '';
            }
        }
    }

    &.underlined-list {

        li {
            margin: 0 auto 90px;
            width: 90%;
            border-bottom: 1px solid $gray;
        }
    }
}

li {
    position: relative;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

p {
    margin: 20px 0;
    padding-right: 20px;
    color: $darkGray;
    font: 16px / 1.4 $Roboto-Regular;
}

blockquote {
    position: relative;
    margin: 40px 0;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: $lightGray;
        content: '”';
        font-family: serif;
        font-size: 250px;
        line-height: .8;
        transform: translateX(-100%);
    }
}

a {
    color: $darkGray;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

video {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.index {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: $blue;
    font-size: 36px;
    transform: translate(-110%, -110%);
}

.iphone {
    position: relative;

    &-portrait {
        background: $white;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 7%;
            transform: translate(-50%, -50%);
        }
    }
}

.ipad {
    position: relative;

    &-landscape {
        background: $white;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 9.5%;
            transform: translate(-50%, -50%);
        }
    }
}

.imac {
    position: relative;
}

.macbook {
    position: relative;
}

.label-button {
    display: block;
    position: relative;
    width: 100%;
    text-decoration: none;

    &__label {
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 2;
        padding: 10px 20px;
        background: $lightBlack;
        color: $white;
        font-family: $Roboto-Bold;
        font-size: 32px;
        transform: translate(30%, -50%);
    }

    &__text {
        display: block;
        padding: 20px;
        border: 2px solid $white;
        color: $white;
        font: 14px $Roboto-Bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
/* ---- DESKTOP HD ---- */


/*
/
/---- DESKTOP MEGA ---- */
@media (min-width: 1921px) {
}
/* ---- DESKTOP MEGA ---- */


/*
/
/---- DESKTOP WIDE ---- */
@media (max-width: 1680px) {
}
/* ---- DESKTOP WIDE ---- */


/*
/
/---- DESKTOP ---- */
@media (max-width: 1366px) {
}
/* ---- DESKTOP ---- */


/*
/
/---- TABLET LANDSCAPE ---- */
@media (max-width: 1024px) {
}
/* ---- TABLET LANDSCAPE ---- */


/*
/
/---- TABLET PORTRAIT ---- */
@media (max-width: 768px) {
}
/* ---- TABLET PORTRAIT ---- */


/*
/
/---- PHONE LANDSCAPE ---- */
@media (max-width: 667px) {
}
/* ---- PHONE LANDSCAPE ---- */



/*
/
/---- PHONE PORTRAIT ---- */
@media (max-width: 414px) {
}
/* ---- PHONE PORTRAIT ---- */