& {  
    
    position: absolute;
    bottom: -25vh;
    right: -25vh;
    color: rgba(0, 0, 0, .02);
    font-size: 80vh;
    font-weight: 700;
    user-select: none;
    animation: letterApear $portfolioEuroclubLetterAnimationTime $portfolioEuroclubLetterDelayTime both;
}