& {  

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .poster {
        position: relative;
        z-index: 2;
        margin: px(460) auto 0;
        overflow: hidden;
        box-shadow: 0 0 px(100) px(10) rgba(0, 0, 0, .4);
        animation: poster $portfolioVinogradPosterAnimationTime $portfolioVinogradPosterDelayTime both;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTime both;
        }

        .image-cover-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            content: '';
            transition: opacity $time;
            animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTime both;
        }

        &:hover {

            .image-cover-layer {
                opacity: 0;
            }
        }
    }

    // ANIMATION DELAY FOR RIGHT AND LEFT PANELS
    // ANIMATION DELAY FOR RIGHT AND LEFT PANELS ENDS

    &:before,
    &:after {
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 50%;
        height: 100vh;
        background: #1c1c1c;
        content: '';
    }

    &:before {
        left: 0;
        animation: down $portfolioVinogradLeftBlockAnimationTime $portfolioVinogradLeftBlockDelayTime both; 
    }

    &:after {
        right: 0;
        animation: up $portfolioVinogradRightBlockAnimationTime $portfolioVinogradRightBlockDelayTime both;
    }
}