& {  

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .info {
        position: absolute;
        top: px(460);
        z-index: 3;
        padding: 0 px(30);
        width: 100%;
    }

    .sticker {
        position: relative;
        left: px(120);
        font-family: $raleway;
        font-size: px(24);
        font-weight: 700;

        span {
            display: inline-block;
            color: $white;
            text-transform: uppercase;

            &:before {
                content: 'Портфолио';
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: px(-120);
            width: px(100);
            height: 3px;
            background: $white;
            content: '';
            transform: translateY(-50%);
        }
    }

    .new-title {
        margin-top: px(30);

        .text-container {
            position: relative;
            overflow: hidden;

            &:before {
                display: none;
            }

            &:last-child {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            color: $white;
            font-size: px(48);
            font-weight: 800;
            line-height: px(60);
            text-transform: uppercase;
        }
    }

    .about-work {
        margin-top: px(40);

        p {
            display: block;
            margin-bottom: px(40);
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            line-height: px(34);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .poster {
        position: relative;
        z-index: 2;

        .image-container {
            position: relative;
            z-index: 2;
            height: px(426);
            box-shadow: 0 0 px(100) px(10) rgba(0, 0, 0, .4);
            overflow: hidden;
            animation: poster $portfolioVinogradPosterAnimationTime $portfolioVinogradPosterDelayTimeMobile both;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTimeMobile both;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .4);
                content: '';
                transition: opacity $time;
                animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTimeMobile both;
            }
        }

        span {
            display: none;
        }
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 50%;
        height: 100vh;
        background: #1c1c1c;
        content: '';
    }

    &:before {
        left: 0;
        animation: down $portfolioVinogradLeftBlockAnimationTime $portfolioVinogradLeftBlockDelayTime both; 
    }

    &:after {
        right: 0;
        animation: up $portfolioVinogradRightBlockAnimationTime $portfolioVinogradRightBlockDelayTime both;
    }

    &.current {

        .bottom-button {
            
            span {
                animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PVStickerTextAnimationTime $PVStickerTextDelayTimeMobile both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PVStickerLineAnimationTime $PVStickerLineDelayTimeMobile both;
            }
        }

        .new-title {

            .text-container {

                &:before {
                    animation: halfDown $PVTitleLineAnimationTime linear $PVTitleLineDelayTimeMobile both;
                }
            }
    
            span {
                animation: Up $PVTitleLineAnimationTime $PVTitleDelayTimeMobile both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PVAboutAnimationTime $PVTextDelayTimeMobile both;
            }
        }
    }
}