& {  

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .logo {
        z-index: 3;
    }

    .title {
        position: absolute;
    }

    .poster {
        position: relative;
        z-index: 2;

        .image-container {
            position: relative;
            z-index: 2;
            height: 37vh;
            max-height: 340px;
            box-shadow: 0 0 px(100) px(10) rgba(0, 0, 0, .4);
            overflow: hidden;
            animation: poster $portfolioVinogradPosterAnimationTime $portfolioVinogradPosterDelayTimeMobile both;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTimeMobile both;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .2);
                content: '';
                transition: opacity $time;
                animation: right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTimeMobile both;
            }
        }

        span {
            display: none;
        }
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 50%;
        height: 100vh;
        background: #1c1c1c;
        content: '';
    }

    &:before {
        left: 0;
        animation: down $portfolioVinogradLeftBlockAnimationTime $portfolioVinogradLeftBlockDelayTime both; 
    }

    &:after {
        right: 0;
        animation: up $portfolioVinogradRightBlockAnimationTime $portfolioVinogradRightBlockDelayTime both;
    }
}