<div class="marketing-brand" data-top-panel-bg="dark">
    <div class="front-layer">
        <div class="container">
            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
            </div>

            <div class="development">
                <div class="sticker">
                    <span class="sticker-text">Услуги маркетинга</span>
                </div>
                
                <span class="marketing-brand-title">
                    Как мы
                    <span class="blue">работаем</span>
                    над
                    <span>проектом?</span>
                </span>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>01</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Разработка стратегии продвижения бренда</span>
                        <p class="content-text">
                            Мы проводим тщательную маркетинговую диагностику 
                            бизнеса: находя проблемные точки и, с другой стороны, 
                            преимущества бизнеса, выстраиваем чёткую схему развития 
                            бренда.  Формируем новые идеи относительно ассортимента, 
                            подачи и позиции. На основе этой аналитики и выработанных 
                            идей подбираются ключевые инструменты маркетинга, 
                            ориентированные на решение поставленных задач.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>03</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Планирование бюджета, составление сметы и оценка эффективности</span>
                        <p class="content-text">
                            Планируем затраты на реализацию маркетинговой стратегии, 
                            определяем ключевые показатели эффективности, по которым 
                            в дальнейшем будет оцениваться успех проекта.                                
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>02</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Создание плана мероприятий по реализации маркетинговой стратегии</span>
                        <p class="content-text">
                            Самая превосходная маркетинговая стратегия ничего не будет 
                            стоить, если не будут применены необходимые меры по её реализации — 
                            рекламные кампании, PR-акции, ивенты. Именно в результате 
                            маркетинговых мероприятий будут реализованы поставленные 
                            цели и шаги стратегии.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>04</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Контроль реализации маркетинговой стратегии</span>
                        <p class="content-text">
                            На этапе реализации строго контролируется выполнение всех 
                            пунктов программы. Осуществляется мониторинг качества и 
                            точности проведения запланированных мероприятий.                                
                        </p>
                    </div>
                </div>
                <div class="questions">
                    <span class="questions-title">Появились вопросы ?</span>
                    <p>
                        Для экономии Вашего времени и нервов просто обратитесь к нам  
                        за  успехом  для Вашего бизнеса.
                    </p>
                    <button class="open-form">
                        <span>Да</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>