& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $background;
    overflow: hidden;

    // ----- animation fade -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: fadeIn $time * 3 0s both;

        // ----- lines -----
        .lines div { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }
        
        // ----- crossed-button -----
        .crossed-button { animation: fadeInUp $time * 2 $time * 16 both; }
        
        // ----- graph -----
        @keyframes fadeInThree {
            from { opacity: 0; }
            to { opacity: 3.000000e-02; }
        }
        @keyframes fadeInFour {
            from { opacity: 0; }
            to { opacity: .1; }
        }
        .st2 { animation: fadeIn $time * 3 $time * 12  both; }
        .st3 { animation: fadeInThree $time * 6 $time * 10 both; }
        .st4 { animation: fadeInFour $time * 6 $time * 11 both; }
        .st5 { animation: fadeIn $time * 6 $time * 12 both; }
        .st6, .st7, .st8 { animation: fadeIn $time * 6 $time * 15 both; }

        // ----- image-block -----
        .image-block .image-container {
            animation: shadowAppearance $portfolioEuroclubImageShadowAnimationTime $portfolioEuroclubImageShadowDelayTime both;
            img { animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both; }
            &:before { animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both; }
        }

        // ----- title -----
        .title {
            animation: fadeIn $time * 2 $time * 5 linear;
            animation-fill-mode: forwards;
            p {
                animation: fadeInUp $time * 2 $time * 10 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 11 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 10 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 7 both; }
                span {
                    animation: titleWord $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }
    
    // ----- graph -----
    .graph {
        bottom: 0;
        z-index: -1;
        position: absolute;
        margin-bottom: -8vh;
        .st0 {
            animation: line 5s 2.5s both;
            stroke-dasharray: 4444;
            stroke-miterlimit: 10;
            stroke-linecap: round;
            stroke: url(#SVGID_1_);
            visibility: hidden;
            stroke-width: 7;
            fill: none;
        }
        .st1 { opacity: 0.6; }
        .st2 {
            opacity: 0.6;
            fill: url(#SVGID_2_);
        }
        .st3 {
            opacity: 3.000000e-02;
            fill: #FFFFFF;
        }
        .st4 {
            opacity: 0.1;
            fill: #FFFFFF;
        }
        .st5 { fill: #6F639B; }
        .st6 { fill: #666766; }
        .st7 { font-family: $Roboto-Medium; }
        .st8 { font-size: 18px; }
        @keyframes line {
            from, to { visibility: visible; }
            from { stroke-dashoffset: 4444; }
            to { stroke-dashoffset: 0; }
        }
    }

    // ----- container -----
    .container {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        
        // ----- lines -----
        .lines div {
            width: 1px;
            z-index: -1;
            height: 100vh;
            position: absolute;
            background: rgba(102,102,102,.5);
            &:nth-of-type(1) { left: 0; }
            &:nth-of-type(2) { left: 33.33%; }
            &:nth-of-type(3) { left: 66.66%; }
            &:nth-of-type(4) { left: 100%; }
        }
    }
    

    // ----- title -----
    .title {
        margin: 22vh 0 0 40vh;
        position: absolute;
        left: px(1220);
        top: 34vh;
        &.padding p {
            width: px(1500);
            padding: px(70) 0 0 px(320);
        }
    }

    // ----- crossed-button -----
    .crossed-button {
        left: px(308);
        bottom: px(-108);
        position: absolute;
        align-items: center;
        font-family: $Roboto-Medium;
        .arrow .st0, .arrow .st1 { stroke: $white; }
        span {
            animation: FadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both;
            font-family: $Raleway-Bold;
            font-size: px(26);
            color: $white;
            display: block;
            &:after { content: 'Читать далее'; }
            &:before {
                background: $white;
                left: -1px;
            }
        }
    }

    // ----- image-block -----
    .image-block {
        z-index: 3;
        width: px(1424);
        height: px(1098);
        margin-top: px(482);
        margin-left: px(396);
        position: relative;
        .image-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            img {
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            &:before {
                height: 100%;
                width: 100%;
                z-index: 2;
                content: '';
                position: absolute;
                background: $darkGray;
                transform: translate3d(-90%, 90%, 0);
            }
        }
    }
}