.seo-one {
    position: relative;
    left: 0;
    z-index: 1;
    min-height: auto;
    background: $background;
    font-family: $Raleway-Regular;
    overflow: hidden;

    @keyframes fadeInThree {
        from {
            opacity: 0;
        }

        to {
            opacity: 3.000000e-02;
        }
    }

    @keyframes fadeInFour {
        from {
            opacity: 0;
        }

        to {
            opacity: .1;
        }
    }

    @keyframes line {
        from,
        to {
            visibility: visible;
        }

        from {
            stroke-dashoffset: 4444;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    .graph {
        position: absolute;
        bottom: 0;
        z-index: -1;
        margin-bottom: -8vh;

        .st0 {
            animation: line 5s 2.5s both;
            stroke-dasharray: 4444;
            stroke-miterlimit: 10;
            stroke-linecap: round;
            stroke: url(#SVGID_1_);
            visibility: hidden;
            stroke-width: 7;
            fill: none;
        }

        .st1 {
            opacity: .6;
        }

        .st2 {
            opacity: .6;
            fill: url(#SVGID_2_);
        }

        .st3 {
            opacity: 3.000000e-02;
            fill: $white;
        }

        .st4 {
            opacity: .1;
            fill: $white;
        }

        .st5 {
            fill: #6F639B;
        }

        .st6 {
            fill: #666766;
        }

        .st7 {
            font-family: $Roboto-Medium;
        }

        .st8 {
            font-size: 18px;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1170px;
    }

    .line {
        position: absolute;
        width: 1px;
        height: 100vh;
        background: rgba(102, 102, 102, .5);

        &--1 {
            left: 0;
        }

        &--2 {
            left: calc(100% / 3);
        }

        &--3 {
            left: calc(100% / 3 * 2);
        }

        &--4 {
            left: 100%;
        }
    }

    .title {
        position: absolute;
        top: 34vh;
        left: 660px;
        margin: 22vh 0 0 40vh;

        &.padding {

            p {
                width: 750px;
                padding: 35px 0 0 160px;
            }
        }
    }

    .crossed-button {
        position: absolute;
        left: 154px;
        bottom: -54px;
        align-items: center;
        font-family: $Roboto-Medium;

        .st0,
        .st1 {
            stroke: $white;
        }

        span {
            display: block;
            color: $white;
            font-family: $Raleway-Bold;
            font-size: 13px;
            animation: fadeInRight $BPostLinkAnimationTime $BPostLinkDelayTime both;

            &:before {
                background: $white;
            }
        }
    }

    .image-block {
        position: relative;
        z-index: 3;
        margin-top: 241px;
        margin-left: 200px;
        width: 712px;
        height: 550px;
    }

    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: $darkGray;
            content: '';
            transform: translate3d(-90%, 90%, 0);
        }
    }
}