.sticker {
    position: relative;
    font-family: $Raleway-Bold;
    font-size: 14px;

    &-text {
        display: inline-block;
        color: $darkGray;
        text-transform: uppercase;
    }

    &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: -45px;
        width: 35px;
        height: 3px;
        background: $darkGray;
        content: '';
        transform: translateY(-50%);
    }

    &.white {

        .sticker-text {
            color: $white;
        }

        &:before {
            background: $white;
        }
    }
}
