& {  

    position: relative;
    font-family: $raleway;
    font-size: px(24);
    font-weight: 700;

    span {
        display: inline-block;
        color: $darkGray;
        text-transform: uppercase;
    }

    &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: px(-120);
        width: px(100);
        height: 3px;
        background: $lightBlack;
        content: '';
        transform: translateY(-50%);
    }
}