& {  
    background: $background;
    position: relative;
    overflow: hidden;
    z-index: -1;
    
    // ----- big-background-letter -----
    .big-background-letter {
        top: px(-300);
        left: px(-160);
        position: absolute;
        font-size: px(1700);
        color: rgba(68,68,68,.5);
        span:before { content: 'c'; }
    }
    
    // ----- container -----
    .container {
        padding-top: px(650);
        position: relative;
        height: px(2520);
        margin: 0 auto;
        z-index: 2;
        width: 81%;
        & > div {
            width: 100%;
            color: $white;
            display: flex;
        }
    }
    .column {
        &-1 { width: 26%; }
        &-2 { width: 30%; }
        &-3 { width: 44%; }
    }
    
    // ----- lines -----
    .lines {
        overflow: hidden;
        .line {
            position: absolute;
            background: $gray;
            height: 100%;
            opacity: .2;
            width: 1px;
            top: 0;
            &--1 { left: 0; }
            &--2 { left: 26%; }
            &--3 { left: 56%; }
            &--4 { left: 100%; }
        }
    }
    
    // ----- answers -----
    .answers {
        h2 {
            font-family: $Raleway-SemiBold;
            font-size: px(96);
            span {
                color: $blue;
                display: block;
                font-size: px(48);
                margin-top: px(40);
                padding-right: px(40);
            }
        }
        .column-1 { overflow: hidden; }
        .column-2 { padding-top: px(50); }
        .column-3 {
            position: relative;
            padding-right: px(200);
        }

        // ----- question -----
        .question {
            color: $white;
            display: block;
            position: relative;
            margin-bottom: px(130);
            padding-right: px(300);
            font-family: $Raleway-Regular;
            button {
                padding: 0;
                color: $white;
                display: block;
                overflow: hidden;
                text-align: left;
                font-size: px(36);
                position: relative;
                transition: color $time;
                span { display: block; }
            }
            .index {
                left: px(0);
                top: px(-60);
                display: block;
                overflow: hidden;
                font-size: px(32);
                position: absolute;
                transition: color $time;
                transform-origin: 0 100%;
                transform: rotate(-90deg);
                font-family: $Roboto-Regular;
                span { display: block; }
            }
            &:hover { button, .index { color: $blue; } }
            &.current { button, .index { color: $blue; } }
            &--2 { padding-right: px(220); }
        }

        // ----- answer -----
        .answer {
            left: 0;
            width: 82%;
            top: px(50);
            color: $white;
            position: absolute;
            background: $background;
            transform: translateX(1px);
            font-family: $Roboto-Regular;
            .content { overflow: hidden; }
            .index {
                top: px(-50);
                left: px(-10);
                color: $white;
                overflow: hidden;
                font-size: px(36);
                position: absolute;
                background: $background;
                transform-origin: 0 100%;
                transform: rotate(-90deg);
                span { display: block; }
            }
            h4 {
                font-size: px(48);
                margin-bottom: px(60);
                font-family: $Raleway-SemiBold;
                span { display: block; }
            }
            p {
                font-family: $Roboto-Light;
                margin-bottom: px(50);
                padding-right: px(40);
                font-size: px(32);
                line-height: 1.4;
                color: #CCC;
            }   
            &.current {
                z-index: 2;
                .index > span { animation: Up $time * 2 both; }
                h4, .text { animation: Right $time * 2 both; }
            }
            &.previous { z-index: 1; }
        }
    }
    
    // ----- more -----
    .more {
        flex-wrap: wrap;
        margin-top: px(760);
        .column-1, .column-2,
        .column-3 { overflow: hidden; }
        h3 {
            font-family: $Raleway-SemiBold;
            font-size: px(96);
            width: 100%;
            span {
                color: $blue;
                display: block;
                font-size: px(48);
                margin-top: px(40);
            }
        }
        ul {
            margin-top: px(200);
            display: flex;
            width: 100%;
        }

        // ----- crossed-button -----
        .crossed-button {
            position: relative;
            span {
                color: $white;
                font-size: px(28);
                font-family: $Raleway-Regular;
                transition: padding $time, color $time;
                &:before { background: $blue; }
                &:after { content: ''; }
            }
            .st0, .st1 { stroke: $blue; }
            &:hover span { color: $blue; }
        }
    }
}