.design-header {
    position: relative;
    background: $white;
    font-family: $Roboto-Regular;
    animation: fadeIn $time * 3 both;

    .big-background-letter {
        animation: fadeIn $time * 3 $time * 3 both;
    }

    p,
    h2,
    h3 {
        line-height: 1.4;
        color: $darkGray;
        font-size: 16px;
        &.percent { width: 48%; }
        &.big {
            font-size: 24px;
            margin-bottom: 50px;
            padding: 28px 0 36px;
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
        }
        &.bold {
            line-height: 1.3;
            font-size: 18px;
            margin: 35px 0 50px;
            font-family: $Roboto-Bold;
        }
        &.half {
            column-count: 2;
            column-gap: 100px;
        }
    }

    
        .big-background-letter {
            font-size: 100vh;
            bottom: initial;
            right: initial;
            left: 530px;
            top: 62vh;
        }

    .container {
        padding-bottom: 160px;
        position: relative;
        margin: 0 auto;
        width: 81%;

        .images {
            position: relative;
            img {
                top: 0;
                left: 0;
                position: absolute;
            }
        }

        .info {
            padding-left: 150px;
            padding-top: 35px;
            position: relative;
            right: 100px;
            top: -47px;
            width: 60%;
            .white-bg {
                background: $white;
                position: absolute;
                height: 100px;
                width: 100%;
                left: 0;
                top: 0;
            }
            .new-title {
                font-family: $Raleway-Regular;
                margin-bottom: 110px;
                white-space: nowrap;
                margin-top: 40px;
                .text-container {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-family: $Raleway-ExtraBold;
                    &:before { display: none; }
                    span {
                        font-size: 60px;
                        line-height: 52px;
                    }
                }
            }
        }

        .header {
            padding-top: 120px;
            position: relative;
            max-height: 1100px;
            min-height: 650px;
            height: 89vh;
            .image-container {
                position: relative;
                height: 100%;
                z-index: 2;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: left;
                }
            }
            .big-background-letter {
                font-family: $Raleway-ExtraBold;
                color: $darkGray;
                right: inherit;
                top: 460px;
                left: -20px;
                font-size: 260px;
                text-transform: uppercase;
            }
        }

        .about {
            z-index: 2;
            position: relative;
            .description {
                width: 40%;
                z-index: 1;
                padding: 125px 75px 0 0;
                p {
                    border-bottom: 1px solid #DBDBDB;
                    font-family: $Roboto-Light;
                    padding-bottom: 30px;
                    font-style: italic;
                    font-size: 18px;
                    line-height: 1.4;
                    color: $gray;
                }
            }
        }

        .cases {
            .images { width: 40%; }
            .list {
                width: 60%;
                .list-title {
                    display: block;
                    margin: 82px 0 55px 44px;
                    font-family: $Roboto-Bold;
                    font-size: 40px;
                    line-height: 1.3;
                    &--blue { color: $blue; }
                }
                p { padding-left: 42px; }
                li {
                    &:last-of-type { margin-bottom: 0; }
                    margin-bottom: 36px;
                    padding-left: 42px;
                    position: relative;
                    font-size: 16px;
                    line-height: 1.4;
                    span {
                        font-family: $Roboto-Bold;
                        margin-bottom: -12px;
                        display: block;
                    }
                    &:before {
                        top: 7px;
                        left: 7px;
                        width: 7px;
                        height: 7px;
                        display: block;
                        background: $blue;
                        border-radius: 50%;
                        position: absolute;
                        content: '';
                    }
                }
            }
        }

        .about,
        .cases {
            justify-content: space-between;
            align-items: flex-start;
            display: flex;
            width: 100%;
        }
    }
}