.design-header {

    .new-title {

        .text-container {

            &:before {
                display: none;
            }
        }

        &-text {
            font-size: 26px;
            white-space: initial;
        }
    }
}