.design-header {

    .languages {
        top: 250px;
        left: 10px;
    }

    .new-title {

        .text-container {

            &:before {
                display: none;
            }
        }

        &-text {
            font-size: 26px;
            white-space: initial;
        }
    }
}