& {
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- animation -----
    &.current {
        animation: fadeIn $time * 3 both;
        
        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }
        
        // ----- shadow -----
        .shadow div {
            &:first-child { animation: fadeIn $time * 3 $time * 3 both; }
            &:last-child { animation: fadeInRight $time * 3 $time * 3 both; }
        }
        
        // ----- service-info -----
        .service-info {
            &.horizontal p { animation: fadeInUp $time * 2 $time * 8 both; }
            &.vertical p { animation: fadeInDown $time * 2 $time * 7 both; }
        }
        .jump-button { animation: fadeInUp $time * 2 $time * 8 both; }

        // ----- other -----
        .bottom-button {
            span { animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }
        
        // ----- info-block -----
        .info-block {
            animation: fadeInRight $time * 2 $time * 7 linear;
            animation-fill-mode: forwards;
        }

        // ----- title -----
        .title {
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    
    // ----- bg-image -----
    .bg-image {
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
    }
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title { margin: 26.5vh 0 0 px(580); }

    // ----- shadow -----
    .shadow div {
        position: absolute;
        height: 100%;
        top: 0;
        &:first-child {
            background: rgba(28,28,28,.8);
            width: 100%;
            left: 0;
        }
        &:last-child {
            background: rgba(28,28,28,.5);
            width: 50%;
            right: 0;
        }
    }

    // ----- info-block -----
    .info-block {
        font-weight: $medium;
        position: absolute;
        padding: 5% 1vh 0;
        font-size: px(28);
        line-height: 1.5;
        width: px(1120);
        color: $white;
        opacity: 0;
        z-index: 1;
        right: 11%;
        top: 20%;
    }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        bottom: 20.5vh;
        right: px(610);
        a {
            text-transform: uppercase;
            &:before { background: $white; }
            span {
                color: $white;
                font-size: px(50);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        p {
            font-family: $roboto;
            font-size: px(26);
            line-height: 1.4;
            color: $white;
        }
        &.horizontal {
            bottom: 27.5vh;
            left: px(590);
            width: 325px;
        }
        &.vertical {
            transform: rotate(-90deg);
            width: 135px;
            &.one {
                right: px(96);
                bottom: 18vh;
            }
            &.two {
                left: px(12);
                top: 41.5vh;
            }
        }
    }
}
