& {
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- bg-image -----
    .bg-image {
        position: absolute;
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
    }
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title { margin: 26.5vh 0 0 px(580); }

    // ----- shadow -----
    .shadow div {
        position: absolute;
        height: 100%;
        top: 0;
        &:first-child {
            background: rgba(28,28,28,.8);
            width: 100%;
            left: 0;
        }
        &:last-child {
            background: rgba(28,28,28,.5);
            width: 50%;
            right: 0;
        }
    }

    // ----- info-block -----
    .info-block {
        font-weight: $medium;
        position: absolute;
        padding: 5% 1vh 0;
        font-size: px(28);
        line-height: 1.5;
        width: px(1120);
        color: $white;
        z-index: 1;
        right: 11%;
        top: 20%;
    }

    // ----- small-gray-lines -----
    .small-gray-lines .line {
        &:nth-of-type(1) {
            left: 19vh;
            top: 4vh;
        }
        &:nth-of-type(2) {
            left: 101vh;
            top: -12vh;
        }
        &:nth-of-type(3) {
            right: 9vh;
            top: 37vh;
        }
        &:nth-of-type(4) {
            bottom: -10vh;
            left: 30vh;
        }
        &:nth-of-type(5) {
            bottom: 14vh;
            right: 90vh;
        }
    }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        bottom: 20.5vh;
        right: px(610);
        a {
            text-transform: uppercase;
            &:before { background: $white; }
            span {
                color: $white;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        p {
            font-family: $roboto;
            font-size: px(26);
            line-height: 1.4;
            color: $white;
        }
        &.horizontal {
            bottom: 27.5vh;
            left: px(590);
            width: 325px;
        }
        &.vertical {
            transform: rotate(-90deg);
            width: 135px;
            &.one {
                right: px(96);
                bottom: 18vh;
            }
            &.two {
                left: px(12);
                top: 41.5vh;
            }
        }
    }
}
