& {
    background-position: center center;
    background-size: cover; 
    font-family: $raleway;
    font-weight: $regular;
    z-index: 0;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title {
        margin: 26.5vh 0 0 30vh;
        p { padding: 5% 1vh 0; }
    }

    // ----- shadow -----
    .shadow div {
        position: absolute;
        height: 100%;
        top: 0;
        &:first-child {
            background: rgba(0,0,0,.7);
            width: 100%;
            left: 0;
        }
        &:last-child {
            background: rgba(0,0,0,.5);
            width: 50%;
            right: 0;
        }
    }

    // ----- info-block -----
    .info-block {
        font-weight: $medium;
        position: absolute;
        padding: 5% 1vh 0;
        font-size: px(28);
        line-height: 1.5;
        color: $white;
        z-index: 1;
        width: 29%;
        right: 11%;
        top: 20%;
    }

    // ----- small-gray-lines -----
    .small-gray-lines .line {
        &:nth-of-type(1) {
            left: 19vh;
            top: 4vh;
        }
        &:nth-of-type(2) {
            left: 101vh;
            top: -12vh;
        }
        &:nth-of-type(3) {
            right: 9vh;
            top: 37vh;
        }
        &:nth-of-type(4) {
            bottom: -10vh;
            left: 30vh;
        }
        &:nth-of-type(5) {
            bottom: 14vh;
            right: 90vh;
        }
    }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        bottom: 20.5%;
        right: 15.3%;
        a {
            text-transform: uppercase;
            &:before { background: $white; }
            span {
                color: $white;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        width: 6%;
        p {
            font-weight: $medium;
            font-size: px(22);
            color: $white;
        }
        &.horizontal {
            width: 18%;
            bottom: 27%;
            left: 15.3%;
            p { line-height: 1.7; }
        }
        &.vertical {
            transform: rotate(-90deg);
            p { line-height: 1.4; }
            &.one {
                bottom: 16.5%;
                right: 2.8%;
            }
            &.two {
                top: 42.5%;
                left: .5%;
            }
        }
    }
}
