<div class="we-can" data-top-panel-bg="dark">
    <!-- @@include('./components/clock-bg-white.html') -->

    <!-- @@include('./components/languages-dark.html') -->

    <div class="container">
        <div class="images">
            <div class="image-container image-container--1">
                <img src="../../../../images/services/web-production/we-can-1.jpg" alt="we-can-1">
            </div>
            <div class="image-container image-container--2">
                <img src="../../../../images/services/web-production/we-can-2.jpg" alt="we-can-2">
            </div>
        </div>

        <div class="info">
            <div class="sticker">
                <span class="sticker-text">Услуги web-production</span>
            </div>

            <h1 class="new-header">Создание сайтов</h1>

            <article>
                <h2 class="bigger">
                    Web-production в понимании нашей компании это 
                    больше чем просто создать сайт или веб-сервис
                </h2>
                <h3 class="bigger">
                    Мы создаем не просто сайты – мы создатели стратегии 
                    развития вашего бизнеса в интернет
                </h3>
                <p>
                    Разработка веб-сайта — не механическая работа, а полноценное 
                    творчество; продукт сотрудничества креативной команды, у 
                    которой есть идеи, и узкопрофильных специалистов, умеющих 
                    обеспечить качественную техническую опору для них.
                </p>
                <p>
                    В разработке сайта невозможно обойтись лишь заботой о «красивом» 
                    дизайне и технических нюансах: нужна продуманная стратегия, 
                    необходимо учитывать маркетинговые и бизнес-задачи, требуется 
                    хорошая аналитика и компетентный прогноз. Чтобы получить в своё 
                    распоряжение один из лучших сайтов на рынке, обладающие высокой 
                    конкурентоспособностью, вам нужна профессиональная команда, 
                    их опыт, экспертиза и навыки. 
                </p>
                <p>
                    В нашем понимании веб-сайт — прежде всего удобный и эффективный 
                    бизнес-инструмент. Сайт должен выполнять конкретные задачи и цели, 
                    иметь на 100% соответствующий общей стратегии стиль и функционал. 
                </p>
            </article>
        </div>
    </div>
</div>