<div class="work-flow" data-top-panel-bg="dark">
    <div class="front-layer">
        <div class="container">
            <div class="result">
                <div class="sticker">
                    <span class="sticker-text">Услуги web-production</span>
                </div>
                
                <div class="new-title">
                    <div class="text-container">
                        <span class="new-title-text">Как достигается</span>
                    </div>
                    <div class="text-container">
                        <span class="new-title-text">результат?</span>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
                <div class="line line--4"></div>
                <div class="line line--5"></div>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>шаг 01</span>
                    </div>
                    <div class="content">
                        <span class="content-title">СБОР БИЗНЕС-АНАЛИТИКИ</span>
                        <p>
                            Проводится исследование рынка, сбор информации о 
                            вашем бизнесе и линейке конкурентов. Полное погружение 
                            в ваш бизнес и исследование деталей.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 02</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Разработка концепта</span>
                        <p>                            
                            На основе собранной информации о вашем бизнесе, рынке и конкурентах, 
                            а также нашего опыта, мы формируем креативное стратегическое предложение. 
                            Мы выдвигаем наше видение.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 03</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Дизайн</span>
                        <p>
                            Создание фирменного стиля компании, куда входит и дизайн 
                            сайта. Визуальные решения для бренда разрабатываются в 
                            соответствии с общей стратегией и нашим видением.
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 04</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Работа над сайтом</span>
                        <p>
                            Внедрение всех стратегических решений — как технических, так и визуальных.
                            Проводится тщательная техническая работа над веб-сайтом,
                            создается мобильная версия,
                            проводится SEO-оптимизация на этапе разработки, детальное тестирование.                                
                        </p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>шаг 05</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Финальный этап</span>
                        <p>
                            Капитальная проверка и тестирование веб-сайта, 
                            направленная на выявление любых ошибок и неточностей. 
                            Сверка проекта по определенным показателям эффективности.                                
                        </p>
                    </div>
                </div>
            </div>

            <div class="questions">
                <span class="questions-title">Появились вопросы ?</span>
                <p>
                    Для экономии Вашего времени и нервов просто 
                    обратитесь к нам за успехом для Вашего бизнеса.
                </p>
                <button class="open-form">
                    <span>Да</span>
                </button>
            </div>
        </div>
    </div>
</div>