.audi {

    .audi-block-image {
        min-height: 650px;
    }

    .portfolio-right-panel {

        .date {
            margin-bottom: 50px;
        }
    }

    .info {
        margin-top: 50px;
        margin-right: 7%;
        width: 35%;
    }

    .project-name {
        left: -120px;
        font-size: 135px;
    }

    .about-work {
        width: 85%;

        p {
            font-size: 20px;
        }
    }

    .special-button {
        margin-right: 100px;
        // width: 200px;
    }
}
