.audi {

    .audi-block-image {
        min-height: 800px;
    }

    .portfolio-right-panel {

        .date {
            margin-bottom: 75px;
        }
    }

    .info {
        margin-top: 100px;
        margin-right: 1%;
        width: 40%;
    }

    .project-name {
        left: -200px;
        font-size: 200px;
    }

    .about-work {

        p {
            font-size: 25px;
        }
    }

    .special-button {
        margin-right: 75px;
        // width: 245px;
    }
}
