.audi {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $white;
    font-size: 0;

    .audi-block-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 960px;
        object-fit: cover;
    }

    .mirror {
        position: relative;
        margin-left: 25vw;
        z-index: 2;
        width: 25%;
        height: 100%;
        box-shadow: 0 0 30px 0 $black;
        overflow: hidden;

        & > img {
            left: -25vw;
            width: 100vw;
        }
    }

    .portfolio-right-panel {

        .date {
            margin-bottom: 150px;
        }
    }

    .info {
        position: relative;
        z-index: 1;
        margin: 90px 10% 0 auto;
        width: 30%;
    }

    .project-name {
        display: block;
        position: relative;
        left: -240px;
        z-index: 1;
        font-family: $Audi-Bold;
        font-size: 250px;
    }

    .about-work {
        margin-top: 40px;
        margin-left: auto;
        width: 80%;

        p {
            color: $white;
            font-family: $Roboto-Light;
            font-size: 30px;
            line-height: 1.4;
        }
    }

    .special-button {
        display: block;
        margin: 30px 55px 0 auto;
        height: 55px;
        // width: 255px;
        color: $white;
        font-family: $Roboto-Light;
        font-size: 14px;
        line-height: 55px;
    }

    .bottom-button {

        .line {
            background: $darkGray;
        }

        span {
            color: $darkGray;
        }

        .arrow {

            .st0,
            .st1 {
                fill: $darkGray;
                stroke: $darkGray;
            }
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Up $time * 3 0s both;

        .portfolio-client {

            .client {
                animation: fadeInRight $portfolioClientAnimationTime $portfolioClientDelayTime both;

                &-name-container {

                    span {
                        animation: Right $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {

            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }

            .devices {

                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;

                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }

                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }

                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {

            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }

            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            &-text {
                animation: FadeInRightHalf $ANBStickerTextAnimationTime $ANBStickerTextDelayTime both;
            }

            &:before {
                animation: widthIncreaseStickerLine $ANBStickerLineAnimationTime $ANBStickerLineDelayTime both;
            }
        }

        .project-name-container {
            animation: fadeInRight $ANBStickerTextAnimationTime $ANBStickerTextDelayTime both;
        }

        .about-work {

            p {
                animation: fadeInUpHalf $ANBAboutAnimationTime $ANBAboutDelayTime both;
            }
        }

        .special-button {
            animation: fadeInUp $ANBStickerTextAnimationTime $ANBStickerTextDelayTime both;
        }
    }

    &.previous,
    &.previous-back {
        animation: slideDown $time * 3 $topPanelAnimationTime both;
        animation-play-state: paused;

        .portfolio-client {

            .client {
                animation-play-state: paused;

                &-name-container {

                    span {
                        animation-play-state: paused;
                    }
                }
            }
        }

        .portfolio-right-panel {

            .date {
                animation-play-state: paused;
            }

            .devices {

                span {
                    animation-play-state: paused;
                }
            }
        }

        .bottom-button {

            span {
                animation-play-state: paused;
            }

            .line {
                animation-play-state: paused;
            }
        }

        .sticker {

            &-text {
                animation-play-state: paused;
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .project-name-container {
            animation-play-state: paused;
        }

        .about-work {

            p {
                animation-play-state: paused;
            }
        }

        .special-button {
            animation-play-state: paused;
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}
