.audi {

    .sticker {
        margin-bottom: 10px;

        &-text {
            color: $black;
        }

        &:before {
            background: $black;
        }
    }

    .about-work {

        p {
            color: $black;
            font-family: $Roboto-Medium;
        }
    }
}
