@import '../desktop';

// ----- title -----
.title {
	left: px(200);
	padding: 10vh;
	bottom: px(175);
}

// ----- image-block -----
.image-block {
    top: 15vh;
    height: 65vh;
    right: px(300);
    width: px(1500);
}