.design-header {

    .new-title {
        margin-top: 20px;
        font-size: 32px;
    }

    .about {

        ul {
            margin: 70px 0;
        }

        li {
            margin-bottom: 25px;
        }

        p {
            margin: 30px 0;
            font-size: 18px;
        }
    }

    .huge {
        font-size: 30px;
    }

    .big {
        font-size: 24px;
    }
}