& {  

    bottom: 45vh;
    left: px(100);
    font-family: $raleway;
    font-size: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    overflow: hidden;

    a {
        display: inline-block;
        padding: 0 px(10);
        color: $gray;
        cursor: pointer;
        font-size: px(28);
        font-weight: $thin;
        text-transform: uppercase;
        animation: Down $PPLangAnimationTime $PPLangDelayTime both;

        &.select {
            color: $white;

            &::before {
                position: relative;
                color: $white;
                content: '—';
            }
        }
        
        &:hover {
            color: $white;
            transition: $time;
        }
    }
}