& {
    background: $background;
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- letter o -----
    .big-background-letter {
        z-index: 1;
        top: -15vh;
        right: 50vh;
        font-size: 130vh;
        span::before  { content: 'o'; }
    }

    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            position: fixed;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:before,
            &:after {
                background: $white;
                position: absolute;
                display: block;
                height: 100vh;
                width: 50vw;
                content: '';
                top: 0;
            }
            &:before {
                left: 0;
                animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
            }
            &:after {
                right: 0;
                animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
            }
        }
    }

    // ----- main-contacts-title -----
    .main-contacts-title {
        top: 17vh;
        position: absolute;
        background-color: $lightBlack;
        padding: 6.5vh 9.5% 8.5vh 5.5%;
        p {
            font-weight: $extra-bold;
            &:first-child {
                color: $white;
                font-size: px(118);
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            &:last-child {
                color: $blue;
                font-size: px(60);
                text-align: right;
                padding-top: 2.5vh;
            }
        }
    }
    
    // ----- small-gray-lines -----
    .small-gray-lines { z-index: -1; }
    
    // ----- main-contacts-info -----
    .main-contacts-info {
        position: absolute;
        bottom: 7vh;
        left: 5.5%;
        li {
            color: $darkGray;
            font-size: px(30);
            a { color: $darkGray; }
            &:first-of-type { margin-bottom: 5vh; }
            &:last-of-type { display: none; }
        }
    }

    // ----- map -----
    #map {
        width: 39%;
        float: right;
        height: 53vh;
        visibility: hidden;
        margin: 23vh 16% 0 0;
        animation: mainConatactsMapRight .5s linear;
        animation-fill-mode: forwards;
        animation-delay: .5s;
        & + .address {
            top: 66vh;
            right: px(390);
            position: absolute;
            transform: rotate(-90deg);
            p {
                color: $darkGray;
                font-size: px(26);
            }
        }
    }
}