@import 'tabletLandscape';

// ----- title -----
.title { bottom: 18vh; }

// ----- blue-line -----
.blue-line { left: px(400); }

// ----- image-block -----
.image-block {
	margin-left: px(200);
	margin-top: 13vh;
    height: px(715);
	width: px(1025);
}