@import '../desktop';

& {

    .language {
        top: px(700);
    }

    .container {
        padding-bottom: px(200);
    }

    .new-header {
        width: 33%;
        font-size: px(96);
        line-height: px(110);
    }

    header {

        .image-container {
            width: px(1500);
            height: px(1200);
        }

        .big-background-letter {
            left: px(-600);
        }

        & > img {
            height: px(1000);
            width: 60%;
        }
    }

    ul {

        &.circled {
            height: px(800);
        }
    }
}