.web-production-clock {

    .advantages {
        padding-top: 90px;
        padding-right: 50px;

        .advantages-title,
        ul {
            width: 42%;
        }

        .advantages-title {
            font-size: 38px;
        }

        li {
            margin-bottom: 50px;
        }
    }

    .lists {
        padding: 50px 0;

        ul {
            width: 45%;
        }

        li {
            margin-bottom: 15px;
        }
    }
}
