.web-production-clock {
    height: 400px;

    .clock-bg {

        span {

            &:before {
                font-size: 25vw;
            }
        }
    }

    .jumping-button {
        bottom: 15px;
    }

    .advantages {
        padding-top: 90px;
        padding-right: 50px;

        .advantages-title,
        ul {
            width: 42%;
        }

        h2 {
            font-size: 42px;
            line-height: 46px;
        }

        li {
            margin-bottom: 50px;
        }
    }

    &--landing {
        height: 500px;

        .clock-bg {
            top: 60px;
        }

        .lists {
            padding-top: 50px;
            padding-right: 50px;

            ul {

                &:first-child,
                &:last-child {
                    width: 45%;
                }
            }

            li {
                margin-bottom: 15px;
            }
        }
    }

    &--card {

        .advantages {

            .advantages-title {
                width: 50%;
            }
        }
    }
}
