.web-production-clock {
    position: relative;
    background: $lightBlack;

    .clock-bg {

        .letter-container {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        &-letter {
            color: $lightBlack;
            line-height: initial;
        }
    }

    .advantages {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 150px 10% 50px 0;
        width: 81%;
        color: $white;
        font-family: $Raleway-Regular;

        .advantages-title {
            width: 40%;
            font-size: 48px;
            font-family: $Raleway-ExtraBold;
            line-height: 1.2;

            span {
                display: block;
                color: $blue;
            }
        }

        ul {
            width: 50%;
        }

        li {
            position: relative;
            margin-bottom: 75px;
            padding-left: 35px;
            color: $lightGray;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;

            &:before {
                display: block;
                position: absolute;
                top: -15px;
                left: 0;
                width: 35px;
                height: 35px;
                background: $darkGray;
                content: '';
                opacity: .7;
            }
        }

        .index {
            position: absolute;
            top: -45px;
            left: -8px;
            color: $white;
            font-family: $Raleway-Bold;
            font-size: 36px;
        }
    }

    .lists {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 100px 0;
        width: 81%;
        color: $gray-two;
        font-family: $Roboto-Regular;

        ul {
            width: 40%;

            &:first-child {

                .list-title {
                    color: $white;
                }
            }

            &.gray {
                color: $gray;
            }
        }

        li {
            position: relative;
            margin-bottom: 25px;
            padding-left: 35px;
            font-size: 16px;
            line-height: 1.4;

            &:before {
                display: block;
                position: absolute;
                top: 7px;
                left: 7px;
                width: 7px;
                height: 7px;
                background: $blue;
                border-radius: 50%;
                content: '';
            }
        }

        .list-title {
            display: block;
            margin-bottom: 40px;
            font-family: $Raleway-Bold;
            font-size: 24px;
        }
    }

    .info {
        position: relative;
        margin: 0 auto;
        padding: 200px 0;
        width: 45%;

        .blue {
            color: $blue;
        }

        .big {
            font-size: 40px;
            font-family: $Roboto-Bold;
        }

        p {
            position: relative;
            color: $gray-two;
            font-family: $Roboto-Light;
            font-size: 24px;
            font-style: italic;
            line-height: 1.4;

            &:last-of-type {
                margin-top: 35px;

                &:before {
                    display: none;
                }
            }
        }

        .jumping-button {
            position: absolute;
            bottom: 75px;
            right: -20%;

            a {

                &:before {
                    background: $white;
                    animation-delay: $timeTickHalf * 13.5;
                }
            }

            span {
                color: $white;
                font-family: $Raleway-Bold;
                font-size: 14px;

                &.blue {
                    color: $blue;
                }

                &.margined {
                    margin-right: 4px;
                }
            }
        }
    }
}
