@import '../desktop';

// ----- big-background-letter -----
.big-background-letter {
    top: -38vh;
    right: 72vw;
    font-size: 100vh;
}

// ----- scroll -----
.scroll { bottom: 5vh; }

// ----- watch -----
.watch { background-size: 25%; }

// ----- title -----
.title {
	left: 9vh;
    top: 18vh;
    .word {
        span { font-size: px(85); }
        &:last-of-type span { font-size: px(30); }
    }
}