@import '../desktop';

// ----- title -----
.title {
    top: 21vh;
    left: 12vh;
}

// ----- scroll -----
.scroll { bottom: 5vh; }

// ----- big-background-letter -----
.big-background-letter {
    top: -50vh;
    right: 72vw;
    font-size: 120vh;
}