@import '../desktop';

// ----- title -----
.title .word {
    span { font-size: px(116); }
    &:last-of-type span { font-size: px(46); }
}

// ----- scroll -----
.scroll .arrow:before { right: 3.5px; }