@import '../mobile';

.seconds-container,
.hours-container { 
    zoom: .65; 
}

.minutes-container { 
    zoom: .6; 
}

.watch {
    background-size: 20%;
}

.title {
    top: px(350);
    left: px(50);
    
    .word {
        margin-bottom: px(40);
        font-size: px(60);
    }
}