@import 'tabletLandscape';

.seconds-container,
.hours-container { 
    zoom: .8; 
}

.minutes-container { 
    zoom: .75; 
}

.watch {
    margin: 21% auto 0;
}

.title {
    top: px(350);
    left: px(50);
    
    .word {
        margin-bottom: px(40);
        font-size: px(60);
    }
}