& {
    padding-top: 150px;
    background: $lightBlack;

    .feed {
        padding: 0 15px 75px;

        &__item {
            display: block;
            margin-bottom: 75px;
            width: 100%;

            img {
                width: 100%;
                height: 230px;
                object-fit: cover;
            }

            .info {
                margin-top: 25px;
                color: $gray;
                font-family: $Roboto-Regular;
                font-size: 12px;
            }

            .date {
                position: relative;
                padding-right: 10px;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: '.';
                }
            }

            .read-duration {
                padding-left: 10px;
            }

            .feed-item-title {
                display: block;
                margin-top: 20px;
                padding-right: 25px;
                color: $white;
                font-family: $Roboto-Black;
                font-size: 30px;
                line-height: 36px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}