@import '../desktop';

& {

    .info {
        top: px(280);
        left: px(150);
        width: 70%;
    }

    .about-work {
        width: 100%;
    }

    .poster {
        margin-top: px(950);
        width: 93vw;

        .image-container {
            height: px(720);
            animation-name: posterTablet;

            &:before {
                opacity: .8;
            }
        }

        span {
            display: none;
        }
    }

    &.current-slide {
        
        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .portfolio-client {

            .client {
                animation: client $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: clientName $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {

            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {

            span {
                animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PVStickerTextAnimationTime $PVStickerTextDelayTime both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PVStickerLineAnimationTime $PVStickerLineDelayTime both;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation: halfDown $PVTitleLineAnimationTime linear $PVTitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $PVTitleTextAnimationTime $PVTitleTextDelayTime both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PVAboutAnimationTime $PVAboutDelayTime both;
            }
        }

        .small-gray-lines {

            .line {
                animation: lineUp 1s $time * 3 both;

                &.down {
                    animation-name: lineDown; 
                }
            }
        }

        .poster {
    
            .image-container {
                animation: shadowForPoster $PVPosterShadowAnimationTime $PVPosterShadowDelayTime both;
    
                img {
                    animation: Right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTime both;
                }

                &:after {
                    animation: Right $portfolioVinogradPosterAnimationTime  $portfolioVinogradPosterDelayTime both;
                }
    
                &:before {
                    animation: Right $portfolioVinogradPosterImageAnimationTime  $portfolioVinogradPosterImageDelayTime both;
                }
            }
    
            span {
                animation: posterTextApearVinograd $portfolioVinogradPosterTextAnimationTime $portfolioVinogradPosterTextDelayTime both;
            }
        }

        &:before {
            animation: down $portfolioVinogradLeftBlockAnimationTime $portfolioVinogradLeftBlockDelayTime both; 
        }

        &:after {
            animation: up $portfolioVinogradRightBlockAnimationTime $portfolioVinogradRightBlockDelayTime both;
        }
    }
}