.site-map {
    
    $contentWidth: 975px;
    $columnWidth: $contentWidth / 4;

    a {
        width: $contentWidth / 4;
    }

    .tree-level {
        margin-left: $columnWidth;
    }

    .container {
        padding-top: 140px;
        width: $contentWidth;

        & > .tree-level {
            margin-left: 0;
            padding-bottom: 100px;
    
            & > a {
                margin-bottom: 15px;
                font-size: 30px;
            }
            
            & > .tree-level {
    
                & > a {
                    margin-bottom: 25px;
                    font-size: 24px;
                }
    
                & > .tree-level {
    
                    & > a {
                        margin-bottom: 20px;
                        font-size: 18px;
                    }
    
                    .tree-level {
    
                        a {
                            margin-bottom: 15px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .page-title {
        padding-bottom: 30px;
        width: $columnWidth;
        font-size: 35px;
    }
}