.site-map {
    
    $contentWidth: 1800px;
    $columnWidth: $contentWidth / 4;

    a {
        width: $contentWidth / 4;
    }

    .tree-level {
        margin-left: $columnWidth;
    }

    .container {
        width: $contentWidth;
    }

    .page-title {
        width: $columnWidth;
    }
}