.site-map {
    
    $contentWidth: 1250px;
    $columnWidth: $contentWidth / 4;

    a {
        width: $contentWidth / 4;
    }

    .tree-level {
        margin-left: $columnWidth;
    }

    .container {
        padding-top: 140px;
        width: $contentWidth;

        & > .tree-level {
            
            & > .tree-level {
    
                & > a {
                    font-size: 27px;
                }
            }
        }
    }

    .page-title {
        width: $columnWidth;
        font-size: 45px;
    }
}