.site-map {
    
    $contentWidth: 1500px;
    $columnWidth: $contentWidth / 4; 

    position: relative;
    background: $lightBlack;

    // ---- common style ----
    a {
        display: block;
        padding-right: 15px;
        width: $contentWidth / 4;
        line-height: 1.2;
        transition: color $time;
        animation: Right $time * 3 $time * 3 both;
    }

    .tree-level {
        position: relative;
        z-index: 2;
        margin-left: $columnWidth;
        overflow-x: hidden;
    }
    // ---- common style ----

    .big-background-letter {
        font-size: 850px;
        animation: fadeIn $time * 3 $time * 3 both;
        
        span {
            font-family: $Raleway-ExtraBold;
            text-transform: uppercase;
        }

        &--c {
            right: initial;
            top: 100vh;
            left: -200px;
        }

        &--o {
            top: initial;
            bottom: 60vh;
        }
    }

    .container {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-top: 190px;
        width: $contentWidth;

        & > .tree-level {
            margin-left: 0;
            padding-bottom: 320px;
    
            & > a {
                margin-bottom: 40px;
                color: $blue;
                font-family: $Roboto-Black;
                font-size: 36px;
                text-transform: uppercase;
    
                &:hover {
                    color: $white;
                }
            }
            
            & > .tree-level {
    
                & > a {
                    margin-bottom: 50px;
                    color: $white;
                    font-family: $Roboto-Bold;
                    font-size: 30px;
                    animation-delay: $time * 3 + $timeTick;

                    &:hover {
                        color: $blue;
                    }
                }
    
                & > .tree-level {
    
                    & > a {
                        margin-bottom: 35px;
                        color: $lightGray;
                        font-family: $Roboto-Medium;
                        font-size: 22px;
                        animation-delay: $time * 3 + $timeTick * 2; 

                        &:hover {
                            color: $blue;
                        }
                    }
    
                    .tree-level {
    
                        a {
                            margin-bottom: 20px;
                            color: $gray;
                            font-family: $Roboto-Regular;
                            font-size: 18px;
                            animation-delay: $time * 3 + $timeTick * 3;

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: $gray;
        opacity: .3;
        animation: Down $time * 6 $time * 3 both;

        &--1 {
            left: 1px;
        }

        &--2 {
            left: 25%;
            animation-delay: $time * 3 + $timeTick;
        }

        &--3 {
            left: 50%;
            animation-delay: $time * 3 + $timeTick * 2;
        }

        &--4 {
            left: 75%;
            animation-delay: $time * 3 + $timeTick * 3;
        }

        &--5 {
            right: 1px;
            animation-delay: $time * 3 + $timeTick * 4;
        }
    }

    .page-title {
        display: block;
        position: relative;
        z-index: 2;
        padding-bottom: 50px;
        width: $columnWidth;
        color: $white;
        font-family: $Raleway-ExtraBold;
        font-size: 48px;
        text-transform: uppercase;
        overflow: hidden;
        
        span {
            display: block;
            animation: Right $time * 3 $time * 3 both;
        }
    }
}