& {
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title { margin: 21vh 0 0 40vh; }

    // ----- bg clock -----
    .bg-clock {
        position: absolute;
        text-align: center;
        line-height: 100%;
        font-size: 70vh;
        color: $white;
        width: 100%;
        top: 12%;
    }

    // ----- jump-button -----
    .jump-button {
        bottom: px(170);
        left: initial;
        right: 29.7%;
        a {
            text-transform: uppercase;
            &:before { background: $black; }
            span {
                color: $black;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        p {
            font-weight: $medium;
            line-height: 1.6;
        }
        &.horizontal {
            bottom: 11vh;
            width: 55vh;
            left: 81vh;
            p { font-size: px(28); }
        }
        &.vertical {
            transform: rotate(90deg);
            right: 10px;
            width: 13%;
            p {
                font-size: px(26);
                line-height: 1.8vh;
            }
            &.one { top: 40vh; }
            &.two { top: 72vh; }
        }
    }
}