& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $raleway;
    font-weight: $regular;
    background: $white;
    overflow: hidden;
    
    // ----- animation up -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Up $time * 3 0s both;
        
        // ----- clock-bg -----
        .clock-bg span {
            &:before { animation: right $PPClockAnimationTime both; }
            &:nth-child(1):before { animation-delay: $PPClockFirstDelayTime; }
            &:nth-child(2):before { animation-delay: $PPClockSecondDelayTime; }
            &:nth-child(3):before { animation-delay: $PPClockThirdDelayTime; }
            &:nth-child(4):before { animation-delay: $PPClockFourthDelayTime; }
            &:nth-child(5):before { animation-delay: $PPClockFifthDelayTime; }
        }

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info {
            &.horizontal p { animation: fadeInUp $time * 2 $time * 9 both; }
            &.vertical p { animation: fadeInDown $time * 2 $time * 9 both; }
        }

        // ----- jumping-button -----
        .jumping-button { animation: fadeInUp $time * 2 $time * 9 both; }

        // ----- other -----
        .bottom-button {
            span { animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    // ----- animation down -----
    &.previous, &.previous-back {
        animation: slideDown $time * 3 both;
        animation-play-state: paused;
        
        // ----- clock-bg -----
        .clock-bg span {
            &:before { animation: right $PPClockAnimationTime both; }
            &:nth-child(1):before { animation-delay: $PPClockFirstDelayTime; }
            &:nth-child(2):before { animation-delay: $PPClockSecondDelayTime; }
            &:nth-child(3):before { animation-delay: $PPClockThirdDelayTime; }
            &:nth-child(4):before { animation-delay: $PPClockFourthDelayTime; }
            &:nth-child(5):before { animation-delay: $PPClockFifthDelayTime; }
        }

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info {
            &.horizontal p { animation: fadeInUp $time * 2 $time * 9 both; }
            &.vertical p { animation: fadeInDown $time * 2 $time * 9 both; }
        }

        // ----- jumping-button -----
        .jumping-button { animation: fadeInUp $time * 2 $time * 9 both; }

        // ----- other -----
        .bottom-button {
            span { animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }

    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title { margin: 21vh 0 0 px(770); }

    // ----- jump-button -----
    .jumping-button {
        position: absolute;
        right: px(1156);
        left: initial;
        bottom: 9vh;
        a {
            text-transform: uppercase;
            &:before { background: $black; }
            span {
                color: $black;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        z-index: 1;
        position: absolute;
        p { font-family: $roboto; }
        &.horizontal {
            p {
                font-size: px(32);
                line-height: 1.3;
            }
            width: px(1056);
            right: px(1224);
            bottom: 15.4vh;
        }
        &.vertical {
            transform: rotate(90deg);
            right: px(40);
            width: 13%;
            p {
                font-size: px(27);
                line-height: 1.4;
            }
            &.one {
                top: 39.6vh;
                right: px(40);
            }
            &.two {
                top: 72vh;
                right: px(20);
            }
        }
    }
}