& {
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- title -----
    .title { margin: 21vh 0 0 40vh; }

    // ----- jump-button -----
    .jump-button {
        right: px(1156);
        left: initial;
        bottom: 9vh;
        a {
            text-transform: uppercase;
            &:before { background: $black; }
            span {
                color: $black;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- service-info -----
    .service-info {
        position: absolute;
        p { font-family: $roboto; }
        &.horizontal {
            width: px(1056);
            right: px(1224);
            bottom: 15.4vh;
            p {
                font-size: px(32);
                line-height: 1.3;
            }
        }
        &.vertical {
            transform: rotate(90deg);
            right: px(40);
            width: 13%;
            p {
                font-size: px(27);
                line-height: 1.4;
            }
            &.one {
                top: 39.6vh;
                right: px(40);
            }
            &.two {
                top: 72vh;
                right: px(20);
            }
        }
    }
}