& {
    .service-info, .logo, .menu { display: none; }
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        right: 1.5%;
        bottom: 8%;
        a {
            text-transform: uppercase;
            &:before { background: $darkGray; }
            span {
                color: $darkGray;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- title -----
    .title {
        width: 100%;
        padding: 11vh px(70) 0;
        .word span { letter-spacing: 1px; }
    }
}