& {
    .service-info { display: none; }
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- animation -----
    &.current-slide {
        animation: fadeIn $time * 3 both;
        
        // ----- clock-bg -----
        .clock-bg span {
            &:before { animation: right $PPClockAnimationTime both; }
            &:nth-child(1):before { animation-delay: $PPClockFirstDelayTime; }
            &:nth-child(2):before { animation-delay: $PPClockSecondDelayTime; }
            &:nth-child(3):before { animation-delay: $PPClockThirdDelayTime; }
            &:nth-child(4):before { animation-delay: $PPClockFourthDelayTime; }
            &:nth-child(5):before { animation-delay: $PPClockFifthDelayTime; }
        }

        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- service-info -----
        .service-info {
            &.horizontal p { animation: fadeInUp $time * 2 $time * 9 both; }
            &.vertical p { animation: fadeInDown $time * 2 $time * 9 both; }
        }
        .jump-button { animation: fadeInUp $time * 2 $time * 9 both; }

        // ----- other -----
        .bottom-button {
            span { animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both; }
            .line { animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both; }
        }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 6 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        right: 1.5%;
        bottom: 8%;
        a {
            text-transform: uppercase;
            &:before { background: $darkGray; }
            span {
                color: $darkGray;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- title -----
    .title {
        width: 100%;
        padding: 25vh px(50) 0;
        p {
            padding: 5% 0 0;
            font-size: px(28);
        }
        .word span {
            letter-spacing: 1px;
            font-size: px(48);
        }
    }
}