& {
    .service-one-info, .logo, .menu, .bg-clock { display: none; }
    font-family: $raleway;
    font-weight: $regular;
    z-index: 0;
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- jump-button -----
    .jump-button {
        left: initial;
        right: 1.5%;
        bottom: 8%;
        a {
            text-transform: uppercase;
            &:before { background: $darkGray; }
            span {
                color: $darkGray;
                font-size: px(25);
                font-weight: $medium;
                &:nth-of-type(10) { margin-right: 5px;}
            }
        }
    }
    
    // ----- title -----
    .title {
        margin: 20% 0 0 11%;
        p {
            padding: 7% 0 0;
            line-height: 1.5;
            font-size: px(24);
        }
        span.name {
            font-size: px(26);
            top: -3.5vh;
        }
        .word span { font-size: px(47); }
    }
}