.portfolio {

    .page-layer {
        min-height: 650px;
    }

    .new-header {
        top: 120px;
        left: 100px;
        font-size: 40px;
    }

    .content-container {
        display: flex;
        padding: 85px 100px 80px;
    }

    .portfolio-item {
        height: 100%;

        .info {
            display: inline-block;
            left: -20px;
            padding: 20px;
            min-width: 350px;
            max-width: 350px;
        }

        .title {
            font-size: 22px;
        }

        .animated-button,
        .special-button {
            margin-top: 15px;
            letter-spacing: 0;
        }

        &:nth-child(4n + 1),
        &:nth-child(4n + 2),
        &:nth-child(4n + 3),
        &:nth-child(4n + 4) {
            margin: 0;
            margin-right: 85px;
        }

        &:nth-child(4n + 1) {
            align-items: center;

            .image-container {
                min-width: 410px;
                min-height: 320px;
            }

            .info {
                top: 40px;
                left: -20px;
            }
        }

        &:nth-child(4n + 2) {

            .image-container {
                min-width: 410px;
                min-height: 320px;
            }

            .info {
                left: -20px;
            }
        }

        &:nth-child(4n + 3) {
            align-items: flex-end;

            // .image-container {
            //
            // }

            .info {
                top: initial;
                bottom: 20px;
                left: -20px;
            }
        }

        &:nth-child(4n + 4) {

            .info {
                left: -20px;
            }
        }
    }

    .copyright {
        bottom: 350px;
    }

    .social {
        bottom: 20px;
    }

    .nav-arrows {
        bottom: 20px;
        right: 60px;
    }
}
