& {  

    font-family: $Raleway-Regular;

    .page-layer {
        top: 0;
        left: 0;
    }

    .back-layer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .clock-bg {
            z-index: 1;
            user-select: none;

            span {
                color: $lightBlack;

                &:before {
                    animation: Right $PPClockAnimationTime both;
                }

                &:nth-child(1) {

                    &:before {
                        animation-delay: $PPClockFirstDelayTime;
                    }
                }

                &:nth-child(2) {

                    &:before {
                        animation-delay: $PPClockSecondDelayTime;
                    }
                }

                &:nth-child(3) {

                    &:before {
                        animation-delay: $PPClockThirdDelayTime;
                    }
                }

                &:nth-child(4) {

                    &:before {
                        animation-delay: $PPClockFourthDelayTime;
                    }
                }

                &:nth-child(5) {

                    &:before {
                        animation-delay: $PPClockFifthDelayTime;
                    }
                }
            }
        }

        .letters {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 100vh;
            color: rgba(0, 0, 0, .2);
            color: $gray;
            font-family: $Raleway-Bold;
            font-size: 12vw;
            user-select: none;
        }

        .letter {
            position: absolute;
            animation: fadeIn $PPLettersAnimationTime $PPLettersDelayTime both;

            &-c {
                top: px(280);
                left: px(900);
            }

            &-o {
                bottom: px(200);
                right: px(800);
            }
        }

        .new-header {
            position: absolute;
            top: px(360);
            left: px(250);
            z-index: 2;
            color: $white;
            font-family: $Raleway-ExtraBold;
            font-size: px(96);
            text-transform: uppercase;
            animation: fadeInUp $time * 3 $time * 6 both;
        }

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            width: 50vw;
            height: 100vh;
            background: $lightBlack;
            content: '';
        }

        &:before {
            left: 0;
            animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
        }

        &:after {
            right: 0;
            animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
        }
    }

    .front-layer {
        position: absolute;
        width: 100vw;
        height: 100vh;
        cursor: -webkit-grab;
        cursor: grab;
        user-select: none;
        overflow-x: auto;

        .content-container {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: flex-start;
            padding: px(270) px(300) px(280) px(250);
            width: 100vw;
            height: 100%;
            min-height: 900px;
        }

        .portfolio-item {
            position: relative;
            color: $white;

            .image-container {
                display: block;
                position: relative;
                overflow: hidden;
                font-size: 0;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    content: '';
                    animation: Right $PPImageBgAnimationTime  $PPImageBgDelayTime both;
                }

                &:after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0);
                    content: '';
                    transition: background $time * 3;
                }

                &.active {

                    img {
                        position: fixed;
                        z-index: 9999;
                        width: 50vw;
                        height: 50vh;
                        opacity: .5;
                        transition: width linear $time * 3, height linear $time * 3, opacity $time * 1.5 $time * 1.5;
                    }

                    &:before {
                        display: none;
                    }

                    &:after {
                        position: fixed;
                        z-index: 5;
                        width: 100vw;
                        height: 100vw;
                        background: rgba(255, 255, 255, .85);
                    }
                }
            }

            img {
                position: relative;
                z-index: 2;
                object-fit: cover;
                user-select: none;
                animation: Right $PPImageAnimationTime  $PPImageDelayTime both;
            }

            &--audi,
            &--zabirie-landing,
            &--rs,
            &--stem,
            &--walker,
            &--pepe-jeans {
                margin: px(320) 0;
                margin-right: px(170);

                .image-container {
                    //width: px(860);
                    width: 45vh;
                    min-width: px(860);
                    //height: px(720);
                    height: 37.5vh;
                    min-height: px(720);

                    img {
                        width: 45vh;
                        min-width: px(860);
                        height: 37.5vh;
                        min-height: px(720);
                    }
                }

                .new-title {
                    display: block;
                    position: absolute;
                    margin-top: px(30);
                }
            }

            &--dela,
            &--alta-capital,
            &--lets-help,
            &--diesel,
            &--gant,
            &--tommy-hilfiger {
                margin-left: px(60);
                vertical-align: bottom;
                
                .image-container {
                    display: inline-block;
                    // width: px(1000);
                    width: 52vh;
                    min-width: px(1000);
                    // height: px(600);
                    height: 31.25vh;
                    min-height: px(600);

                    img {
                        width: 52vh;
                        min-width: px(1000);
                        height: 31.25vh;
                        min-height: px(600);
                    }
                }

                .new-title {
                    display: inline-block;
                    bottom: px(40);
                    left: px(20);
                }
            }

            &--vino-grad,
            &--bobo, 
            &--doberman,
            &--g-star,
            &--zabirie {
                
                .image-container {
                    display: inline-block;
                    // width: px(600);
                    width: 31.25vh;
                    min-width: px(600);
                    // height: px(600);
                    height: 31.25vh;
                    min-height: px(600);

                    img {
                        width: 31.25vh;
                        min-width: px(600);
                        height: 31.25vh;
                        min-height: px(600);
                    }
                }

                .new-title {
                    display: inline-block;
                    bottom: px(60);
                    left: px(40);
                }
            }

            &--euro-club,
            &--q7,
            &--a5-q3,
            &--preppy,
            &--shell {
                margin-top: px(90);
                margin-left: px(160);
                margin-right: px(520);
                
                .image-container {
                    // width: px(600);
                    width: 31.25vh;
                    min-width: px(600);
                    // height: px(1060);
                    height: 55vh;
                    min-height: px(1060);

                    img {
                        width: 31.25vh;
                        min-width: px(600);
                        height: 55vh;
                        min-height: px(1060);
                    }
                }

                .new-title {
                    display: block;
                    position: absolute;
                    margin-top: px(40);
                }
            }

            &:last-child {
                padding-right: px(200);
            }
        }

        .new-title {
            position: relative;
            padding: 0 px(16);
            font-family: $Raleway-ExtraBold;
            font-size: px(48);
            overflow: hidden;

            span {
                display: block;
                position: relative;
                z-index: 1;
                font-size: px(48);
                line-height: px(60);
                color: $white;
                animation: Up $PPTitleTextAnimationTime $PPTitleTextDelayTime both;
            }

            &:before {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: px(48);
                background: $blue;
                content: '';
                animation: halfDown $PPTitleLineAnimationTime linear $PPTitleLineDelayTime both;
            }
        }

        .language,
        .social,
        .copyright,
        .nav-arrows {
            position: fixed;
            z-index: 5;
        }

        .language {

            a {
                animation: Down $PPLangAnimationTime $PPLangDelayTime both;
            }
        }

        .copyright {
            right: px(64);
            bottom: px(740);
            overflow: hidden;
            
            p {
                padding: px(10) 0;
                animation: Up $PPCopyAnimationTime $PPCopyDelayTime both;
            }
        }

        .social {

            .facebook,
            .instagram {
                animation: social $time * 3 $time * 3 both;
            } 

            .jumping-button {
                animation: fadeInRight $time * 3 $time * 6 both;
            }
        }

        .nav-arrows {
            bottom: px(82);
            right: px(220);
            width: px(200);
    
            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: px(100);
                height: px(100);
                border: 1px solid $white;
                animation: social $time * 3 $time * 3 both;
    
                svg {
                    position: relative;
                    z-index: 2;
                    width: px(60);
                }
    
                .st0,
                .st1 {
                    stroke: $white;
                }

                &:before {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 100%;
                    height: 100%;
                    background: $blue;
                    content: '';
                    opacity: 0;
                    transition: top $time, right $time, opacity $time;
                }

                &:hover {

                    &:before {
                        top: 3px;
                        right: 3px;
                        opacity: 1;
                    }
                }
    
                &--next {
                    left: px(98);
                    top: px(-2);
                }
    
                &--prev {
                    
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
    }

    &.active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}