.portfolio {

    .page-layer {
        min-height: 800px;
    }

    .content-container {
        justify-content: space-around;
        padding: 90px 100px 95px;
        min-height: 800px;
    }

    .nav-arrows {
        right: 75px;
    }
}
