.portfolio {

    .page-layer {
        min-height: 650px;
    }

    .new-header {
        top: 120px;
        font-size: 40px;
    }

    .content-container {
        justify-content: space-around;
        padding: 85px 100px 80px;
        min-height: 650px;
    }

    .portfolio-item {

        &:nth-child(4n + 1) {
            margin: 200px 0;
            margin-right: 85px;

            .image-container {
                min-width: 300px;
                min-height: 250px;
            }
        }

        &:nth-child(4n + 2) {

            .image-container {
                min-width: 300px;
                min-height: 175px;
            }
        }

        &:nth-child(4n + 3) {

            .image-container {
                min-width: 200px;
                min-height: 200px;
            }
        }

        &:nth-child(4n + 4) {
            margin-right: 100px;

            .image-container {
                min-width: 200px;
                min-height: 400px;
            }
        }

        &--q7 {

            .new-title {
                width: 250px;
            }
        }
    }

    .copyright {
        bottom: 350px;
    }

    .social {
        bottom: 20px;
    }

    .nav-arrows {
        bottom: 20px;
        right: 60px;
    }

    .back-info {
        padding: 15px;

        img {
            width: 75px;
            height: 25px;
        }

        p {
            margin-top: 15px;
            font-size: 16px;
        }

        button {
            margin-top: 15px;
            padding: 5px 15px;
            font-size: 14px;
        }
    }
}
