.portfolio {

    .back-layer {

        .letter {

            &-c {
                top: 100px;
                left: 100px;
            }

            &-o {
                bottom: 100px;
                right: 100px;
            }
        }
    }

    .content-container {
        justify-content: space-around;
        padding-bottom: 110px;
        min-height: 768px;
    }

    .portfolio-item {

        &:nth-child(4n) {

            .image-container {
                min-width: 300px;
                min-height: 250px;

                /*  WTF??!! */
                img {
                    min-width: 300px;
                    min-height: 250px;
                }
                /*  WTF??!! */
            }
        }

        &:nth-child(4n + 1) {

            .image-container {
                min-width: 400px;
                min-height: 200px;

                /*  WTF??!! */
                img {
                    min-width: 400px;
                    min-height: 200px;
                }
                /*  WTF??!! */
            }
        }

        &:nth-child(4n + 2) {

            .image-container {
                min-width: 200px;
                min-height: 200px;

                /*  WTF??!! */
                img {
                    min-width: 200px;
                    min-height: 200px;
                }
                /*  WTF??!! */
            }
        }

        &:nth-child(4n + 3) {

            .image-container {
                min-width: 200px;
                min-height: 400px;

                /*  WTF??!! */
                img {
                    min-width: 200px;
                    min-height: 400px;
                }
                /*  WTF??!! */
            }
        }
    }
}
