.portfolio {

    .back-layer {

        .clock-bg {

            span {
                text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
            }
        }

        .letter {
            font-size: 200px;
        }
    }

    .content-container {
        justify-content: space-around;
        padding: 110px;
        width: initial;
        // min-height: 1024px;
        // max-height: 1024px;
    }

    .portfolio-item {

        &:nth-child(4n + 1) {
            margin-top: 350px;
            margin-right: 110px;
            margin-bottom: 0;

            .image-container {
                width: 390px;
                min-width: 390px;
                height: 305px;
                min-height: 305px;

                /*  WTF??!! */
                img {
                    width: 390px;
                    min-width: 390px;
                    height: 305px;
                    min-height: 305px;
                }
                /*  WTF??!! */
            }
        }

        &:nth-child(4n + 2) {
            margin-left: 0;
            transform: translateX(-70%);

            .image-container {
                width: 430px;
                min-width: 430px;
                height: 270px;
                min-height: 270px;

                /*  WTF??!! */
                img {
                    width: 430px;
                    min-width: 430px;
                    height: 270px;
                    min-height: 270px;
                }
                /*  WTF??!! */
            }

            .new-title {
                display: block;
                position: absolute;
                right: 0;
                left: initial;
                bottom: initial;
                transform: translateY(15px);
            }
        }

        &:nth-child(4n + 3) {
            margin-bottom: 75px;

            .image-container {
                width: 235px;
                min-width: 235px;
                height: 235px;
                min-height: 235px;

                /*  WTF??!! */
                img {
                    width: 235px;
                    min-width: 235px;
                    height: 235px;
                    min-height: 235px;
                }
                /*  WTF??!! */
            }

            .new-title {
                display: block;
                position: absolute;
                left: 0;
                bottom: initial;
                transform: translateY(15px);
            }
        }

        &:nth-child(4n + 4) {
            margin-top: 0;
            margin-left: -75px;
            padding-right: 80px;

            .image-container {
                width: 250px;
                min-width: 250px;
                height: 500px;
                min-height: 500px;

                /*  WTF??!! */
                img {
                    width: 250px;
                    min-width: 250px;
                    height: 500px;
                    min-height: 500px;
                }
                /*  WTF??!! */
            }
        }

        &:last-child {
            padding-right: 50px;
        }
    }
}
