.marketing-includes {

    .container {
        padding: 90px 0;
    }

    .includes-title {
        font-size: 36px;
    }

    ul {
        margin-top: 120px;
    }

    li {

        .list-item-title {
            line-height: 1.2;
        }
    }
}
