.marketing-inlcudes {
    background: $white;
    position: relative;
    width: 100%;
    overflow: hidden;

    .big-background-letter {
        right: initial;
        left: -225px;
        top: initial;
        bottom: -450px;

        span {
            font-family: $Raleway-ExtraBold;
            font-size: 850px;
            text-transform: uppercase;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        padding-top: 145px;
        width: 81%;
        height: 100%;
        overflow: hidden;
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: $darkWhite;
            opacity: .1;

            &--1 {
                left: 0;
            }

            &--2 {
                left: calc(100% / 3);
            }

            &--3 {
                left: calc(100% / 3 * 2);
            }

            &--4 {
                left: 100%;
            }
        }
    }

    .includes-title {
        display: block;
        position: relative;
        z-index: 2;
        margin-bottom: 100px;
        color: $darkGray;
        font-family: $Raleway-ExtraBold;
        font-size: 48px;
        line-height: 1.3;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        font-family: $Roboto-Regular;
    }

    li {
        position: relative;
        margin-bottom: 60px;
        padding: 0 35px 0 12px;
        width: 50%;
        color: $darkGray;
        font-size: 16px;
        line-height: 1.4;

        .circle {
            position: absolute;
            top: 3px;
            left: -4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $blue;
        }

        .list-item-title {
            display: block;
            margin-bottom: 15px;
            font-size: 18px;
            font-family: $Roboto-Bold;
            overflow: hidden;

            span {
                display: block;
            }
        }

        .text-container {
            overflow: hidden;
        }
    }

    &--strategy {

        .includes-title {
            width: 70%;
        }

        .indexed {

            li {
                padding-left: 0;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 125px;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    top: 150px;
                }

                &:nth-child(1),
                &:nth-child(3) {
                    padding-right: 95px;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    padding-right: 40px;
                }
            }

            .rect {
                position: absolute;
                top: -15px;
                left: initial;
                right: 100%;
                width: 35px;
                height: 35px;
                background: $lightGray;
            }

            .index {
                position: absolute;
                z-index: 1;
                top: -45px;
                right: 100%;
                font-family: $Raleway-ExtraBold;
                font-size: 36px;
                overflow: hidden;

                span {
                    display: block;
                }
            }
        }
    }
}