.marketing-includes {

    .includes-title {
        font-size: 26px;
    }

    ul {

        &.indexed {

            .rect {
                width: 20px;
                height: 20px;
            }

            .index {
                top: -30px;
                font-size: 22px;
            }
        }
    }
}
