& {  
    font-weight: $regular;
    font-family: $roboto;
    position: relative;
    overflow: hidden;
    
    // ----- clock-bg -----
    .clock-bg span {
        &:before { animation: right $PPClockAnimationTime both; }
        &:nth-child(1):before { animation-delay: $PPClockFirstDelayTime; }
        &:nth-child(2):before { animation-delay: $PPClockSecondDelayTime; }
        &:nth-child(3):before { animation-delay: $PPClockThirdDelayTime; }
        &:nth-child(4):before { animation-delay: $PPClockFourthDelayTime; }
        &:nth-child(5):before { animation-delay: $PPClockFifthDelayTime; }
    }
    
    // ----- container -----
    .container {
        padding-top: px(350);
        position: relative;
        height: px(2520);
        margin: 0 auto;
        z-index: 2;
        width: 81%;
        & > div {
            display: flex;
            color: $white;
            width: 100%;
        }
        h2 {
            color: $darkGray;
            margin-top: 31vh;
            font-family: $raleway;
            font-size: px(100);
            font-weight: 600;
            span {
                display: -webkit-inline-box;
                margin-top: px(20);
                font-size: px(100);
                color: $blue;
            }
        }
        ul li {
            margin-bottom: px(170);
            padding-left: px(84);
            padding-top: px(14);
            position: relative;
            color: $darkGray;
            line-height: 1.4;
            font-size: px(32);
            width: 82%;
            span {
                margin-bottom: px(-20);
                font-weight: $bold;
                font-size: px(36);
                display: block;
            }
            &:before {
                background: $lightGray;
                position: absolute;
                display: block;
                top: px(-36);
                left: px(2);
                content: '';
                z-index: -1;
                width: px(92);
                height: px(92);
            }
            .index {
                font-family: $raleway;
                position: absolute;
                color: $darkGray;
                top: px(-100);
                left: px(-24);
                font-weight: 800;
                font-size: px(90);
            }
        }
        .lines .line {
            position: absolute;
            background: $gray;
            height: 100%;
            opacity: .2;
            width: 1px;
            top: 0;
            &--1 { left: 0; }
            &--2 { left: 44.6%; }
            &--3 { left: 75.7%; }
        }
        .column {
            &-1 { min-width: 42%; }
            &-2 {
                min-width: 31%;
                padding-top: px(50);
            }
            &-3 {
                min-width: 35%;
                padding-top: px(45);
            }
        }
    }
}