@import '../desktop';

// ----- language -----
.language {
    div {
        &:nth-of-type(1) { margin-bottom: px(88); }
        &:nth-of-type(2) { margin-bottom: px(44); }
        a.select::before {
	    	right: px(64); 
	        bottom: px(4);
        }
    }
}

// ----- behance -----
.jump-button {
	bottom: 3.5%;
	a span { font-size: px(32); }
}