@import '../mobile';

// ----- copyright -----
.copyright {
    font-size: px(26);
    right: -13.5%;
    bottom: 15%;
}
        
// ----- language -----
.language { bottom: 46%; }

// ----- behance -----
.behance { left: 14%; }