@import '../desktop';

& {

    $BPostWidth: 43.75vh;

    .blog-top-panel {
        padding-top: px(150);
        padding-left: px(600);
    }

    .new-header {
        font-size: px(80);
    }

    .grid {
        margin-top: px(280);
        min-height: 490px;

        &__item {
            min-width: 285px;
            min-height: 245px;
        }
    }

    .feed-container {
        top: px(280);
        min-height: 490px;
    }

    .feed {

        &__post {
            min-width: 285px;
            min-height: 245px;

            .post-info {
                margin-top: px(150);

                .title {
                    margin-bottom: px(50);
                    font-size: px(38);
                    line-height: 1.1;
                }
            }
        }
    }

    .filter {

        &--date {
            margin-right: px(300);
        }
    }
}