@import '../desktop';

& {

    .grid {
        min-height: 600px;

        &__item {
            min-width: 350px;
            min-height: 300px;
        }
    }

    .feed-container {
        min-height: 600px;
    }

    .feed {

        &__post {
            min-width: 350px;
            min-height: 300px;

            .post-info {
                margin-top: px(200);

                .title {
                    font-size: px(50);
                }
            }
        }
    }

    .filter {

        &--date {
            margin-right: px(400);
        }
    }
}