@import '../desktop';

& {

    .social {
        left: px(500);
    }

    .nav-arrows {
        right: px(50);
    }

    .image-container {
        width: px(1500);
        height: px(800);
    }

    .date {
        left: px(1900);
    }
}