& {  
    z-index: 1;
    top: -60vh;
    right: -10vh;
    font-size: 170vh;
    user-select: none;
    position: absolute;
    color: rgba(68,68,68,.05);
    font-family: $Raleway-Bold;
    transition: transform $time cubic-bezier(.05, .71, .48, 1);
}