& {  
    
    position: absolute;
    top: -60vh;
    right: -10vh;
    z-index: 1;
    color: rgba(68, 68, 68, .05);
    font-size: 170vh;
    font-weight: 700;
    user-select: none;
    transition: transform $time cubic-bezier(.05, .71, .48, 1);
}