& {  

    position: absolute;
    right: -25vh;
    bottom: -25vh;
    color: rgba(68, 68, 68, .2);
    font-size: 80vh;
    font-weight: 700;
    user-select: none;
    transition: transform $time cubic-bezier(.05, .71, .48, 1);
}