.portfolio {
    position: relative;
    padding: 70px 0 0;

    &__title {
        position: relative;
        z-index: 2;
        font-family: $Raleway-ExtraBold;
        font-size: 32px;
        text-transform: uppercase;
        animation: Up $time * 3 $time * 2 both;

        &-container {
            display: inline-block;
            position: relative;
            margin-bottom: 50px;
            margin-left: 10%;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%;
                background: $blue;
                content: '';
                animation: rightAndHalfDown $time * 3 both;
            }
        }
    }

    .extra-bold {
        font-family: $Raleway-ExtraBold;
    }

    $btn-height: 55px;

    .switch-btn {
        position: relative;
        height: $btn-height;
        overflow: hidden;

        &__text {
            display: block;
            font-family: $Roboto-Bold;
            font-size: 14px;
            line-height: $btn-height;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: transform $time linear;

            &:nth-child(2) {
                color: $white;
            }
        }

        &:before,
        &:after {
            display: block;
            position: absolute;
            width: 20%;
            height: 30%;
            content: '';
        }

        &:before {
            bottom: 0;
            left: 0;
            border-left: 1px solid $black;
            border-bottom: 1px solid $black;
        }

        &:after {
            top: 0;
            right: 0;
            border-top: 1px solid $black;
            border-right: 1px solid $black;
        }
    }

    .case {
        position: relative;
        // margin-bottom: 50px;
        padding: 50px 10% 0;
        min-height: 100vh;
        overflow: hidden;

        &__image {
            width: 100%;
            object-fit: cover;
        }

        &__title {
            display: block;
            margin: 20px 0;
            font-family: $Raleway-Medium;
            font-size: 18px;
            line-height: 1.2;
            text-transform: uppercase;
        }

        &__open-btn {
            z-index: 3;
            margin: 20px 0;
            width: 100%;
        }

        &__link {
            display: block;
            position: relative;
            z-index: 3;
            width: 100%;
            background: $blue;
            color: $white;
            font-family: $Roboto-Bold;
            font-size: 14px;
            line-height: $btn-height;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
        }

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            padding: 30px 10% 0;
            width: 100%;
            height: 100%;
            background: $black;
            color: $white;
            font-family: $Roboto-Regular;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity $time linear, transform $time linear;
        }

        &__logo {
            width: 120px;
        }

        &__text {
            margin: 35px 0;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }

        &.opened {

            .case {

                &__content {
                    opacity: 1;
                    transform: none;
                }
            }

            .switch-btn {

                &__text {
                    transform: translateY(-100%);
                }

                &:before,
                &:after {
                    border-color: $white;
                }
            }
        }
    }
}
