.portfolio {
    padding: 100px 10% 50px;

    &__title {
        font-size: 42px;

        &-container {
            margin-left: 0;
        }
    }

    .switch-btn {

        &__text {
            font-size: 16px;
        }
    }

    .case {
        margin-bottom: 20px;
        padding: 10px;
        width: 50%;
        min-height: initial;

        &__title {
            font-size: 20px;
        }

        &__link {
            font-size: 16px;
        }

        &:nth-child(odd) {
            margin-left: auto;
        }
    }
}
