@import '../desktop';

& {

    .container {
        height: px(1440);
    }

    .title-block {
        padding: px(100) 0 px(150) px(250);
        width: px(2000);

        .title {
            width: 50%;
        }
    }
}