& {

    display: flex;
    align-items: center;
    position: absolute;
    bottom: px(82);
    left: px(90);
    z-index: 2;

    .instagram,
    .facebook {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: px(60);
        height: px(60);
        border: 1px solid $white;

        svg {
            width: 60%;
            z-index: 2;
        }

        &:before {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100%;
            height: 100%;
            background: $blue;
            content: '';
            opacity: 0;
            transition: top $time, right $time, opacity $time;
        }

        &:hover {

            &:before {
                top: 3px;
                right: 3px;
                opacity: 1;
            }
        }
    }

    .instagram {
        top: px(-60);
        left: px(2);

        .big-circle {
            fill: none;
            stroke: $white;
            stroke-width: 2;
            stroke-miterlimit: 10;
        }

        .small-circle { 
            fill: $white; 
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .facebook {

        path { 
            fill: $white 
        }

        svg { 
            width: 55%; 
        }
    }

    .jumping-button {
        margin-left: px(230);
        font-size: 0;

        a {
            text-transform: lowercase;

            span {
                color: $white;
                font-family: $Raleway-Thin;
            }

            &:before {
                top: 50%;
                background: $white;
            }
        }
    }
}