.logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 180px;
    height: 80px;
    overflow: hidden;
    animation: Down $topPanelAnimationTime $time * 3 ease-out both;
    transition: top $time * 2 ease-out;

    svg {
        width: 73%;
        transition: transform $timeTick;
    }

    &-letter {
        fill: $white;
        transition: opacity $timeTick;
    }

    &-arrow {
        fill: $blue;
    }

    &.dark {

        .logo-letter {
            fill: $black;
        }
    }

    &.scrolled {

        svg {
            transform: translate3d(-40px, -15px, 0);
        }

        .logo-letter {
            opacity: 0;

            &.scrolling-visible {
                opacity: 1;
            }
        }

        &:hover {

            svg {
                transform: none;
            }

            .logo-letter {
                opacity: 1;
            }
        }
    }

    &.form-opened {
        top: -121px;
        opacity: 0;
    }

    &.back {
        animation: toUp $topPanelAnimationTime ease-out both;
    }
}
