& {
    
    display: block;
    position: absolute;
    top: px(20);
    left: px(24);
    z-index: 10;
    width: px(260);
    height: px(110);

    &-letter {
        fill: $white;
    }

    &-arrow {
        fill: $blue;
    }
}