& {
    
    display: block;
    position: absolute;
    top: px(10);
    left: px(24);
    z-index: 10;
    width: px(250);
    height: px(92);

    &-letter {
        fill: $white;
    }

    &-arrow {
        fill: $blue;

        &--minutes {
            // transition: transform $time * 2;
        }
    }

    &:hover {

        &-arrow {

            &--minutes {
            }
        }
    }
}