@import '../mobile';

& {

    $afterWidth: 3.25520833%;

    padding-top: px(380);
    padding-right: $afterWidth;

    .info {
        left: px(160);
    }

    .new-title {
        font-size: px(96);
        line-height: px(110);
    }

    .portfolio-right-panel {
        display: none;
    }

    .poster {
        width: px(1190);
        height: px(790);

        & > span {
            padding: px(20) px(50);
        }

        .text {
            padding-top: px(40);

            p {
                padding-right: 0;
                width: 47%;
            }
        }
    }

    .controls {
        margin-top: px(250);
        margin-right: px(60);
        transform: none;

        .content-container {

            &:before {
                opacity: 0;
            }
        }
    }

    &:before {
        width: 100% - $afterWidth;
    }

    &:after {
        width: $afterWidth;
    }

    &.current-slide {
        
        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .portfolio-client {

            .client {
                animation: fadeInRight $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: Right $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {

            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {

            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PACStickerTextAnimationTime $PACStickerTextDelayTime both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PACStickerLineAnimationTime $PACStickerLineDelayTime both;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation: halfDown $PACTitleLineAnimationTime linear $PACTitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $PACTitleTextAnimationTime $PACTitleTextDelayTime both;
            }
        }

        .small-gray-lines {
            
            .line {
                animation: lineUp 1s $time * 3 both;

                &.down {
                    animation-name: lineDown; 
                }
            }
        }

        .poster {
            
            .image-container {
    
                img {
    
                    &.loaded {
                        animation: Left $portfolioAltaImageAnimationTime $portfolioAltaImageDelayTime both;
                    }
    
                    &.left {
                        animation-duration: $time;
                        animation-name: Left;
                        animation-fill-mode: both;
                    }
    
                    &.right {
                        animation-duration: $time;
                        animation-name: Right;
                        animation-fill-mode: both;
                    }
                }
    
                &:before {
                    animation: Left $portfolioAltaGrayBlockAnimationTime $portfolioAltaGrayBlockDelayTime both;
                }
            }
    
            & > span {
                animation: posterTextApear $portfolioAltaPosterTextAnimationTime $portfolioAltaPosterTextDelayTime both;
            }
    
            .text {
    
                p {
                    animation: Up $portfolioAltaPosterParagraphAnimationTime $portfolioAltaPosterParagraphDelayTime both;
                }
            }
        }
    
        .controls {
    
            .gallery {
    
                img {
    
                    &.left {
                        animation-delay: 0;
                        animation-fill-mode: both;
                        animation-duration: $time;
                        animation-name: Left;
                    }
    
                    &.right {
                        animation-delay: 0;
                        animation-fill-mode: both;
                        animation-duration: $time;
                        animation-name: Right;
                    }
                }
            }
    
            .slide-controls {
    
                &--next-slide {
    
                    .content-container {
                        animation: Right $portfolioAltaControlsRightBlockAimationTime $portfolioAltaControlsRightBlockDelayTime both;
                    }   
                }
    
                &--previous-slide {
    
                    .content-container {
                        animation: Left $portfolioAltaControlsLeftBlockAimationTime $portfolioAltaControlsLeftBlockDelayTime both;
                    }
                }
            }
    
            .indicators {
                animation: Up $portfolioAltaControlsIndicatorsAimationTime $portfolioAltaControlsIndicatorsDelayTime both;
            }
        }

        &:before {
            animation: Right $portfolioAltaLeftBlockAnimationTime $portfolioAltaLeftBlockDelayTime both;
        }

        &:after {
            animation: Left $portfolioAltaRightBlockAnimationTime $portfolioAltaRightBlockDelayTime both;
        }
    }
}