& {  
    position: relative;
    background: #1c1c1c;
    overflow: hidden;
    .image {
        img { margin: 15vh auto; }
    }
    
.column {
            overflow: hidden;
        }

        h2 {
            font-family: $raleway;
            font-size: px(96);
            font-weight: 600;

            span {
                display: block;
                margin-top: px(40);
                color: $blue;
                font-size: px(48);
            }
        }
    .container {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-top: px(220);
        width: 81%;
        height: px(2520);

        & > div {
            display: flex;
            width: 100%;
            color: $white;
        }
    }

    .lines {
        overflow: hidden;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: $gray;
            opacity: .2;

            &--1 {
                left: 0;   
            }

            &--2 {
                left: 26%;   
            }

            &--3 {
                left: 56%;   
            }

            &--4 {
                left: 100%;   
            }
        }
    }
}