.long-read {

    .cross {
        top: 25px;
        right: 25px;
    }

    .long-read-container {
        padding: 100px 75px 50px 50px;
    }

    .row {
        display: flex;
        justify-content: space-between;

        & > div {

            &:first-child {
                width: 50%;
            }

            &:last-child {
                width: 50%;
            }
        }

        &--1 {

            & > div {

                &:nth-child(1) {
                    padding-right: 100px;
                }
            }
        }

        &--2 {
            margin-top: 75px;

            & > div {

                &:nth-child(1) {
                    padding-right: 125px;
                }
            }
        }

        &--3 {
            margin-top: 75px;

            & > div {

                &:nth-child(1) {
                    padding-right: 150px;
                }
            }
        }

        &--4 {
            margin-top: 75px;

            & > div {

                &:nth-child(1) {
                    padding-right: 250px;
                }
            }
        }

        &--5,
        &--6,
        &--7 {
            margin-top: 75px;
        }

        &--8 {
            margin-top: 75px;

            & > div {

                &:nth-child(1) {
                    padding-right: 200px;
                }
            }
        }
    }

    p {

        &.bordered {
            margin-top: 45px;
            padding: 25px 0;
            font-size: 20px;
        }

        &.left-bordered {
            margin: 35px 0;
        }

        &.bottom-bordered {
            padding-bottom: 25px;
        }
    }

    ul {

        &.circled {

            li {
                margin-bottom: 25px;
                padding-left: 12px;
            }

            h4 {
                margin-bottom: 10px;
            }
        }

        &.circled-double {
            flex-direction: row;
            height: initial;

            li {
                padding-right: 10px;
                width: 300px;
            }
        }

        &.indexed {

            li {
                margin-bottom: 40px;
                padding-left: 10px;

                &:before {
                    top: -35px;
                    left: -40px;
                    font-size: 38px;
                }

                &:after {
                    top: -10px;
                    left: -10px;
                    width: 30px;
                    height: 30px;
                }
            }

            h4 {
                margin-bottom: 15px;
                font-size: 17px;
            }
        }

        &.indexed-double {

            li {
                padding-left: 10px;
                padding-right: 10px;
                width: 300px;

                &:nth-child(1),
                &:nth-child(3) {
                    padding-left: 10px;

                    &:before {
                        left: -40px;
                    }

                    &:after {
                        left: -10px;
                    }
                }
            }
        }
    }

    .jumping-button {
        margin: 25px auto 0;
    }

    &--web-production {

        .row {

            &--6 {

                ul {
                    margin: 35px 0 0 35px;
                }
            }
        }

        .jumping-button {
            margin-top: 85px;
        }
    }
}
