& {  

    position: relative;
    height: px(1920);
    overflow: hidden;

    .blue-line {
        position: absolute;
        top: 0;
        left: px(368);
        width: px(560);
        height: 100%;
        background: $blue;
    }

    .small-gray-lines {
        z-index: 1;

        .line {
            visibility: visible;
            background: gray;
            opacity: .2;

            &.up {
                transform: rotate(-65deg) translate3d(100%, 0, 0);
            }

            &.down {
                transform: rotate(-65deg) translate3d(-100%, 0, 0);
            }

            &.up,
            &.down {
                animation: none;
            }
        }
    }

    .bottom-button {

        span {
            font-family: $Raleway-Regular;
        }
    }

    .container {
        display: flex;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-top: px(180);
        width: 81%;
        
        &-addition {
            display: block;
            position: absolute;
            top: px(1200);
            left: 105%;
            width: px(280);
            color: $darkGray;
            font-family: $Roboto-Regular;
            font-size: px(24);
            line-height: 1.4;
            transform-origin: 0 0;
            transform: rotate(90deg);
        }
    }

    .image-block {
        position: relative;
        padding-left: px(120);
    }

    .date {
        position: absolute;
        right: 95%;
        top: px(50);
        width: px(250);
        color: $white;
        font-family: $Roboto-Light;
        font-size: px(32);
        transform-origin: 100% 0;
        transform: rotate(-90deg);

        span {
            display: block;
        }
    }

    .image-container {
        position: relative;
        width: px(1140);
        height: px(1520);
        overflow: hidden;

        img {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $gray;
            content: '';
        }
    }

    .info {
        margin-left: px(300);
        padding-top: px(130);
        width: px(1520);
    }

    .sticker {
            
        span {

            &:before {
                content: 'Блог';
            }
        }
    }

    .new-title {
        margin-top: px(80);
        margin-bottom: px(80);
        font-family: $Raleway-Regular;
        .text-container {
            display: inline-block;
            margin-bottom: px(10);
            font-family: $Raleway-ExtraBold;
            &:before {
                display: none;
            }
            span {
                font-size: px(60);
                line-height: px(90);
            }
        }
    }

    article {
        padding-left: px(200);
        padding-right: px(380);

        p {
            margin-bottom: px(50);
            color: $darkGray;
            font-family: $Roboto-Regular;
            font-size: px(32);
            line-height: 1.4;
        }
    }
    
    .special-buttons {
        display: -webkit-inline-box;
        margin: px(60) 0 0 px(170);
        
        .special-button {
            margin-right: px(100);
            line-height: px(110);
            position: relative;
            height: px(110);
            display: block;
            width: px(510);
            color: $blue;
            font-size: px(28);
            transition: $time;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: $Roboto-Black;
            
            &-text {
                position: relative;
                z-index: 2;
            }

            &:after {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15%;
                content: '';
                background: $blue;
                transition: height $timeHalf ease-out;
            }

            &:hover {
                color: $white;
                
                &:after {
                    height: 100%;
                }
            }
        }

        .animated-button {
            vertical-align: middle;
            display: inline-block;
            line-height: px(110);
            text-align: center;
            position: relative;
            height: px(110);
            color: $black;
            width: px(300);
            cursor: pointer;
            padding: 0 20px;
            transition: $time;
            font-size: px(28);
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: $Roboto-Black;
            
            &:hover::after,
            &:hover::before {
                -webkit-transform: scale(1);
            }

            &::before,
            &::after {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 3;
                content: '';
                transition: $time;
                box-sizing: border-box;
                -webkit-transform: scale(.15);
            }

            &.option::before {
                border-left: 2px solid $black;
                border-bottom: 2px solid $black;
                -webkit-transform-origin: 0 100%;
            }
            
            &.option::after {
                border-top: 2px solid $black;
                border-right: 2px solid $black;
                -webkit-transform-origin: 100% 0%;
            }
        }
    }
}