& {  

    .front-layer {
        position: relative;
        z-index: 2;
        transform-origin: 0 50%;
        transition: transform $time * 2;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: $white;
            content: '';
        }

        &:after {
            background: rgba(0, 0, 0, .4);
            opacity: 0;
            transition: opacity $time;
        }

        &.opened {
            transform: rotateY(-30deg) perspective(400);

            &:after {
                opacity: 1;
            }
        }
    }

    .container {

    }

    .steps {

    }

    $steps: 5;

    .lines {
        position: relative;
        width: 100%;
        height: 100vh;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100vh;

            &--1 {
                left: 0;
            }

            &--2 {
                left: 100% / $steps;
            }

            &--3 {
                left: 100% / $steps * 2;
            }

            &--4 {
                left: 100% / $steps * 3;
            }

            &--5 {
                left: 100% / $steps * 4;
            }
        }
    }

    .step {
        width: 100% / $steps;
        color: $darkGray;

        .index {
            position: absolute;
            top: px(110);
            right: 100%;
            padding: px(20) px(10);
            color: $gray;
            font-size: px(36);
            text-transform: lowercase;

            &:before {
                display: block;
                position: absolute;
                bottom: 0;
                right: -4px;
                width: 8px;
                height: 8px;
                background: $blue;
                border-radius: 50%;
            }
        }

        h3 {
            margin-bottom: px(24);
            font-size: px(48);
        }

        p {
            padding-right: px(40);
            font-size: px(28);
            line-height: 1.4;
        }

        &:nth-child(1) {
            bottom: 0;
        }

        &:nth-child(2) {
            bottom: 100% / $steps;
        }

        &:nth-child(3) {
            bottom: 100% / $steps * 2;
        }

        &:nth-child(4) {
            bottom: 100% / $steps * 3;
        }

        &:nth-child(5) {
            bottom: 100% / $steps * 4;
        }
    }

    .questions {

        h3 {
            margin-bottom: px(34);
            color: $darkGray;
            font-size: px(48);
            font-weight: 800;
            text-transform: uppercase;
        }

        p {
            margin-bottom: px(66);
            color: $gray;
            font-size: px(28);
            line-height: 1.4;
        }

        button {
            display: block;
            width: px(332);
            height: px(90);
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 700;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: px(140);
        width: 100%;
        height: 100vh;
        background: $black;
    }

    form {
        width: px(830);
        height: px(1200);
        color: $white;

        .close-form {
            position: absolute;
            top: 0;
            right: 0;

            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: px(40);
                height: 2px;
                background: $gray;
                content: '';
                transition: background $time;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {

                &:before,
                &:after {
                    background: $white;
                }
            }
        }

        h3 {
            margin-bottom: px(220);
            font-size: px(60);
            font-weight: 800;
            text-transform: uppercase;
        }

        label {
            display: block;
            width: 100%;
            margin-bottom: px(56);

            span {
                display: block;
                font-family: $roboto;
                font-size: px(20);
            }

            .mistake {
                color: $red;
                font-size: px(24);
            }

            &:last-child {
                margin-bottom: px(130);
            }
        }

        .send {
            display: block;
            margin: px(90) 0 0 auto;
            width: px(250);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 500;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }
}