& {  

    position: relative;
    transition: perspective $time * 2;

    .front-layer {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100vh;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: $white;
            content: '';
        }

        &:after {
            z-index: -1;
            background: rgba(0, 0, 0, .4);
            opacity: 0;
            transition: opacity $time;
        }
    }

    .language {
        position: absolute;
        z-index: 5;
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 79%;
        height: 100vh;
    }

    .result {
        position: relative;
        z-index: 3;
        padding-top: px(380);
        font-family: $raleway;
    }

    .sticker {

        span {

            &:before {
                content: 'Услуги web-production'
            }
        }
    }

    .new-title {
        margin-top: px(60);
        width: px(1200);
        
        .text-container {
            display: inline-block;
            margin-bottom: px(30);
            font-weight: 800;
        }
    }

    $steps: 5;
    $stepsHeight: 65vh;

    .steps {
        position: absolute;
        display: flex;
        align-items: flex-end;
        z-index: 1;
        bottom: 0;
        left: 0;
        padding-bottom: px(230);
        width: 100%;
        height: $stepsHeight;
    }

    .step {
        position: relative;
        z-index: 2;
        width: 100% / $steps;
        color: $darkGray;
        font-family: $roboto;

        .index {
            position: absolute;
            top: px(-110);
            right: 100%;
            padding: px(20) px(10);
            width: px(150);
            color: $gray;
            font-size: px(36);
            text-transform: lowercase;

            &:before {
                display: block;
                position: absolute;
                bottom: 0;
                right: -4px;
                width: 8px;
                height: 8px;
                background: $blue;
                border-radius: 50%;
                content: "";
            }
        }

        h3 {
            margin-bottom: px(24);
            font-family: $raleway;
            font-weight: 700;
            font-size: px(48);
            text-transform: uppercase;
        }

        p {
            padding-right: px(40);
            font-size: px(28);
            line-height: 1.4;
        }

        &:nth-child(1) {
            bottom: 0;
        }

        &:nth-child(2) {
            bottom: $stepsHeight / $steps;
        }

        &:nth-child(3) {
            bottom: $stepsHeight / $steps * 2;
        }

        &:nth-child(4) {
            bottom: $stepsHeight / $steps * 3;
        }

        &:nth-child(5) {
            bottom: $stepsHeight / $steps * 4;
        }
    }
    
    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100vh;
            background: $darkWhite;

            &--1 {
                left: 0;
            }

            &--2 {
                left: 100% / $steps;
            }

            &--3 {
                left: 100% / $steps * 2;
            }

            &--4 {
                left: 100% / $steps * 3;
            }

            &--5 {
                left: 100% / $steps * 4;
            }
        }
    }

    .questions {
        position: absolute;
        bottom: 8.5vh;
        right: 0;
        z-index: 3;
        width: 20%;

        h3 {
            margin-bottom: px(34);
            color: $darkGray;
            font-family: $raleway;
            font-size: px(48);
            font-weight: 800;
            text-transform: uppercase;
        }

        p {
            margin-bottom: px(66);
            color: $gray;
            font-family: $roboto;
            font-size: px(28);
            line-height: 1.4;
        }

        button {
            display: block;
            width: px(332);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 700;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: px(140);
        width: 100%;
        height: 100vh;
        background: $black;
    }

    form {
        position: relative;
        padding-top: px(250);
        width: px(830);
        height: px(1200);
        // height: 62.5vh;
        color: $white;
        font-family: $roboto;

        .close-form {
            position: absolute;
            top: 0;
            right: 0;
            width: px(56);
            height: px(56);
            background: transparent;

            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: px(40);
                height: 2px;
                background: $gray;
                content: '';
                transition: background $time;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {

                &:before,
                &:after {
                    background: $white;
                }
            }
        }

        h3 {
            margin-bottom: px(220);
            font-family: $raleway;
            font-size: px(60);
            font-weight: 800;
            text-transform: uppercase;
        }

        label {
            display: block;
            padding: 0 px(20);
            width: 100%;
            margin-bottom: px(56);
            border-bottom: 1px solid $gray;

            span {
                display: block;
                margin-bottom: px(16);
                font-family: $roboto;
                font-size: px(30);
            }

            .mistake {
                position: absolute;
                top: 100%;
                padding-top: px(6);
                color: $red;
                font-size: px(24);
                opacity: 0;
            }

            input {
                display: block;
                padding: px(5) 0;
                width: 100%;
                background: transparent;
                border: none;
                color: $white;
                font-size: px(32);
            }

            &:nth-of-type(2) {
                margin-bottom: px(150);
            }
        }

        .send {
            display: block;
            margin: px(90) 0 0 auto;
            width: px(340);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 500;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: $white;
                color: $blue;
            }
        }
    }

    &.opened {

        .front-layer {
            transform: rotateY(30deg);

            &:after {
                z-index: 9999;
                opacity: 1;
            }
        }
    }
}