.marketing-clock {
    position: relative;
    width: 100%;
    background: $lightBlack;
    color: $white;
    overflow: hidden;

    .clock-bg {

        .letter-container {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $lightBlack;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        padding: 145px 0;
        width: 81%;
        height: 100%;
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: $darkWhite;
            opacity: .1;

            &--1 {
                left: 0;
            }

            &--2 {
                left: calc(100% / 3);
            }

            &--3 {
                left: calc(100% / 3 * 2);
            }

            &--4 {
                left: 100%;
            }
        }
    }

    .column {
        position: relative;
        width: calc(100% / 3);
    }

    .clock-title {
        display: block;
        font-family: $Raleway-ExtraBold;
        font-size: 44px;
        line-height: 1.3;
    }

    ul {
        margin-top: 120px;
    }

    li {
        position: relative;
        margin-bottom: 50px;
        padding-left: 15px;
        color: $gray-two;
        font-family: $Roboto-Light;
        font-size: 18px;
        line-height: 1.4;

        span {
            display: block;
        }

        .text-container,
        .tick {
            overflow: hidden;
        }

        .tick {
            position: absolute;
            top: 0;
            left: -1px;
            width: 5px;
            height: 100%;

            span {
                width: 100%;
                height: 100%;
                background: $blue;
            }
        }
    }
}