& {
    background-color: $background;
    font-family: $raleway;
    font-weight: $regular;
    
    // ----- title -----
    .title {
        display: inherit;
        margin-top: px(220);
        margin-left: px(880);
        span.name {
            font-size: 2.1vh;
            left: 11vh;
            top: -3vh;
            span {
                color: lighten($gray, 20%);
                display: inherit;
            }
            &:before {
                background: lighten($gray, 20%);
                left: -11vh;
                width: 9vh;
                top: 1vh;
            }
        }
        .animation-border { display: none; }
        .word {
            text-align: left;
            height: 7.5vh;
            span {
                bottom: -100px;
                font-size: 3.9vh;
            }
        }
    }

    // ----- brands -----
    table {
        margin: px(165) auto 0;
        tr {
        }
    }

    // ----- small-gray-lines -----
    .small-gray-lines { display: none; }
}