<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clocklab design | about company</title>
        //= modules/head.html
    </head>
    <body>
        <div class="wrapper">
            <div id="about-company-one" class="screen-block">

                <!-- navigation-elements -->
                //= modules/navigation-elements.html

                <!-- menu -->
                //= modules/menu.html

                <!-- scroll -->
                //= modules/scroll.html
                
                <!-- bg-image -->
                <img class="bg-image" src="images/office.jpg" alt="">
                
                <!-- shadow -->
                <div class="shadow">
                    <div class="wow fadeIn"></div>
                </div>

                <!-- title -->
                <div class="title">
                    <div class="word">
                        <span>Lorem ipsum dolor sit</span>
                    </div>
                    <div class="word">
                        <span>amet, cosec</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>