<div id="about-company-two" class="screen-block">

    <!-- logo -->
    <div class="dark-logo">
        //= modules/logo.html
    </div>

    <!-- menu -->
    <div class="dark-menu">
        //= modules/menu.html
    </div>

    <!-- big-background-letter -->
    //= modules/big-background-letter.html
    
    <!-- image-block -->
    <div class="image-block one">
        <div class="image-container">
            <img src="images/about-company-1.png" alt="about-company-two">
        </div>
    </div>
    <div class="image-block two">
        <div class="image-container">
            <img src="images/about-company-3.png" alt="about-company-two">
        </div>
    </div>

    <!-- title -->
    <div class="title dark">
        <span class="name"><span class="cyrillic">о компании</span></span>
        <div class="word">
            <span>Lorem ipsum dolor</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

        <!-- crossed-button -->
        //= modules/crossed-button.html
    </div>

    <!-- jump-button -->
    <div class="jump-button jump-letters">
        <a href="#" class="cyrillic" target="_blank">
            <span>с</span>
            <span>к</span>
            <span>а</span>
            <span>ч</span>
            <span>а</span>
            <span>т</span>
            <span>ь</span>
            <span>п</span>
            <span>р</span>
            <span>е</span>
            <span>з</span>
            <span>е</span>
            <span>н</span>
            <span>т</span>
            <span>а</span>
            <span>ц</span>
            <span>и</span>
            <span>ю</span>
        </a>
    </div>

    <!-- service-info -->
    <div class="service-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
</div>