<div id="about-company-four" class="screen-block">

    <!-- logo -->
    <div class="dark-logo">
        //= modules/logo.html
    </div>

    <!-- menu -->
    <div class="dark-menu">
        //= modules/menu.html
    </div>

    <!-- big-background-letter -->
    //= modules/big-background-letter.html

    <a href="#" class="jelly cyrillic">еще</a>
    
    <!-- lines -->
    <div class="lines">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- title -->
    <div class="title dark">
        <span class="name"><span class="cyrillic">#lorem 32</span></span>
        <div class="word">
            <span>Lorem ipsumdolor sit amet, consectetur</span>
        </div>
        <div class="word">
            <span>adipisicing elit</span>
        </div>
        <p>Понравилось? Поделитесь</p>
    </div>
</div>