<div id="about-company-six" class="screen-block">

    <!-- logo -->
    //= modules/logo.html

    <!-- menu -->
    //= modules/menu.html

    <!-- table -->
    <div class="table">
        <div class="container">  

            <!-- item -->
            <div class="item">
                <div class="block">
                    <img src="images/brands/audi.png" alt="Audi">
                    <img src="images/brands/diesel.png" alt="Diesel">
                    <img src="images/brands/tommy-hilfiger.png" alt="Tommy Hilfiger">
                    <img src="images/brands/gstar-raw.png" alt="G-Star Raw">
                    <img src="images/brands/shell.png" alt="Shell">
                </div>
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <div class="block">
                    <img src="images/brands/dkny-men.png" alt="DKNY">
                <img src="images/brands/oodji.png" alt="Oodji">
                <img src="images/brands/fornarina.png" alt="Fornarina">
                <img src="images/brands/accessorize.png" alt="Accessorize">
                <img src="images/brands/stem.png" alt="Stem">
                </div>
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <div class="block">
                    <img src="images/brands/pepe-jeans.png" alt="Pepe Jeans">
                    <img src="images/brands/gant.png" alt="GANT">
                    <img src="images/brands/seven-hills.png" alt="SevenHills">
                    <img src="images/brands/lets-help.png" alt="Давай допоможемо">
                    <img src="images/brands/jti.png" alt="JTI">
                </div>
                <div class="line"></div>
            </div>

            <!-- item -->
            <div class="item">
                <div class="block">
                    <img src="images/brands/doberman.png" alt="Доберман">
                    <img src="images/brands/gogol.png" alt="Гоголь">
                    <img src="images/brands/park-avenue.png" alt="Park Avenue">
                    <img src="images/brands/preppy.png" alt="Preppy">
                    <p><span>Стать нашим</span><br> клиентом</p>
                </div>
                <div class="line"></div>
                <div class="line right"></div>
            </div>

            <!-- title -->
            <div class="title">
                <span class="name"><span class="cyrillic">Наши клиенты</span></span>
                <div class="word">
                    <span>Lorem ipsum dolor</span>
                </div>
            </div>
        </div>
    </div>

    <!-- vertical-text -->
    <p class="vertical-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
</div>