<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clocklab design | about company</title>
        //= modules/head.html
    </head>
    <body>
        <div class="wrapper">
            <div id="about-company-three" class="screen-block">
    
                <!-- logo -->
                <a href="/" class="logo">
                    <div class="image"></div>
                </a>

                <!-- menu -->
                //= modules/menu.html

                <!-- small-gray-lines -->
                //= modules/small-gray-lines.html

                <!-- title -->
                <div class="title">
                    <span class="name"><span class="cyrillic">о нас</span></span>
                    <div class="word">
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="word">
                        <span>dolor sit</span>
                    </div>
                    <p class="wow fadeInUp" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="blue-line"></div>
                <div class="poster">
                    <div class="image-container">
                        <img src="images/about-company-1.png" class="loaded" alt="about-company-one">
                        <img src="images/about-company-2.png" class="loaded" alt="about-company-two">
                    </div>
                </div>
                <div class="controls">
                    <div class="slide-controls slide-controls--next-slide">
                        <div class="content-container">
                            <svg viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>
                            <div class="gallery">
                                <img src="images/about-company-1.png" alt="about-company-one">
                                <img src="images/about-company-2.png" alt="about-company-two">
                            </div>
                        </div>
                    </div>
                    <div class="slide-controls slide-controls--previous-slide">
                        <div class="content-container">
                            <svg viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>
                            <div class="gallery">
                                <img src="images/about-company-1.png" alt="about-company-one">
                                <img src="images/about-company-2.png" alt="about-company-two">
                            </div>
                        </div>
                    </div>
                    <div class="indicators">
                        <span class="current-slide">1</span>
                        <span>/</span>
                        <span class="all-slides">3</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>