<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clocklab design | about company</title>
        //= modules/head.html
    </head>
    <body>
        <div class="wrapper">
            <div id="about-company-five" class="screen-block">
    
                <!-- small-gray-lines -->
                //= modules/small-gray-lines.html

                <!-- logo -->
                //= modules/logo.html

                <!-- menu -->
                //= modules/menu.html

                <!-- title -->
                <div class="title">
                    <span class="name"><span class="cyrillic">наши клиенты</span></span>
                    <div class="word">
                        <span>Lorem ipsum dolor sit</span>
                    </div>
                </div>

                <!-- brands -->
                <table>
                    <tr>
                        <td><img src="images/brands/audi.png" width="170" alt="Audi"></td>
                        <td><img src="images/brands/diesel.png" width="135" alt="Diesel"></td>
                        <td><img src="images/brands/tommy-hilfiger.png" width="330" alt="Tommy Hilfiger"></td>
                        <td><img src="images/brands/gstar-raw.png" width="245" alt="G-Star Raw"></td>
                        <td><img src="images/brands/shell.png" width="70" alt="Shell"></td>
                    </tr>
                    <tr>
                        <td><img src="images/brands/dkny.png" width="170" alt="DKNY"></td>
                        <td><img src="images/brands/oodji.png" width="110" alt="Oodji"></td>
                        <td><img src="images/brands/fornarina.png" width="270"  alt="Fornarina"></td>
                        <td><img src="images/brands/accessorize.png" width="225" alt="Accessorize"></td>
                        <td><img src="images/brands/stem.png" alt="Stem"></td>
                    </tr>
                    <tr>
                        <td><img src="images/brands/pepe-jeans.png" alt="Pepe Jeans"></td>
                        <td><img src="images/brands/gant.png" alt="GANT"></td>
                        <td><img src="images/brands/seven-hills.png" alt="SevenHills"></td>
                        <td><img src="images/brands/lets-help.png" alt="Давай допоможемо"></td>
                        <td><img src="images/brands/jti.png" alt="JTI"></td>
                    </tr>
                    <tr>
                        <td><img src="images/brands/doberman.png" alt="Доберман"></td>
                        <td><img src="images/brands/gogol.png" alt="Гоголь"></td>
                        <td><img src="images/brands/park-avenue.png" alt="Park Avenue"></td>
                        <td><img src="images/brands/preppy.png" alt="Preppy"></td>
                        <td><img src="images/brands/zabirya.png" alt="Zabirya"></td>
                    </tr>
                </table>

                <!-- vertical-text -->
                <p class="vertical-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            </div>
        </div>
    </body>
</html>