<div class="screen-block alta-capital">
    
    <!-- logo -->
    <a href="/" class="logo">
        <div class="image"></div>
    </a>

    <!-- menu -->
    //= modules/menu.html

    <!-- portfolio-client -->
    //= modules/portfolio-client.html
    
    <!-- small-gray-lines -->
    //= modules/small-gray-lines.html

    <!-- info -->
    <div class="info">
        <div class="sticker">
            <span>Портфолио</span>
        </div>
        <h2 class="new-title">
            <div class="text-container">
                <span>Alta capital</span>
            </div>
        </h2>
    </div>

    
    <div class="poster">
        <div class="image-container">
            <img src="images/alta-capital.jpg" alt="image1" class="loaded">
            <img src="images/alta-capital-2.jpg" alt="image2" class="loaded">
            <img src="images/alta-capital-3.jpg" alt="image3" class="loaded">
        </div>
        <span>finance</span>
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing 
                elit, sed do eiusmod tempor incididunt 
            </p>
        </div>
    </div>
    <div class="controls">
        <div class="slide-controls slide-controls--next-slide">
            <div class="content-container">
                <svg viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>
                <div class="gallery">
                    <img src="images/alta-capital.jpg" alt="image1">
                    <img src="images/alta-capital-2.jpg" alt="image2">
                    <img src="images/alta-capital-3.jpg" alt="image3">
                </div>
            </div>
        </div>
        <div class="slide-controls slide-controls--previous-slide">
            <div class="content-container">
                <svg viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>
                <div class="gallery">
                    <img src="images/alta-capital.jpg" alt="image1">
                    <img src="images/alta-capital-2.jpg" alt="image2">
                    <img src="images/alta-capital-3.jpg" alt="image3">
                </div>
            </div>
        </div>
        <div class="indicators">
            <span class="current-slide">1</span>
            <span>/</span>
            <span class="all-slides">3</span>
        </div>
    </div>

    <!-- portfolio-right-panel -->
    //= modules/portfolio-right-panel.html

    <!-- bottom-button -->
    //= modules/bottom-button.html
</div>