<div id="blog-two" class="screen-block">

    <!-- logo -->
    //= modules/logo.html

    <!-- menu -->
    //= modules/menu.html
    
    <!-- title -->
    <div class="title padding">
        <span class="name"><span class="cyrillic">блог</span></span>
        <div class="word">
            <span>Lorem ipsum</span>
        </div>
        <div class="word">
            <span>dolor sit ame</span>
        </div>
        <p class="wow fadeInUp" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <!-- jump-button -->
        <div class="jump-button jump-letters wow fadeInUp" data-wow-delay="1.5s">
            <a href="#" class="cyrillic" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p class="wow fadeInUp">Lorem ipsum dolor sit amet</p>
    </div>

    <!-- portfolio-right-panel -->
    //= modules/bottom-button.html
</div>