<div id="clock" class="screen-block wow fadeIn">

    <!-- navigation-elements -->
    //= modules/navigation-elements.html
    
    <!-- menu -->
    //= modules/menu.html

    <!-- scroll -->
    //= modules/scroll.html

    <!-- bg letter -->
    <div class="bg-letter wow fadeIn" data-wow-delay=".5s"></div>

    <!-- title -->
    <section class="title">
        <div class="word">
            <span>Let's rock the world</span>
        </div>
        <div class="word">
            <span>with our ideas</span>
        </div>
        <div class="word">
            <span>Підкорюйте світ разом з нашими ідеями</span>
        </div>
    </section>

    <!-- watch -->
    <div class="watch-light wow fadeIn" data-wow-delay=".5s"></div>
    <div class="watch wow fadeIn" data-wow-duration="3s">
        <div class="hours-container">
            <div class="hours"></div>
        </div>
        <div class="minutes-container">
            <div class="minutes"></div>
        </div>
        <div class="seconds-container">
            <div class="seconds"></div>
        </div>
    </div>
</div>