<div class="screen-block euro-club">
    
    <!-- logo -->
    //= modules/logo.html

    <!-- menu -->
    //= modules/menu.html

    <!-- portfolio-client -->
    //= modules/portfolio-client.html

    <div class="letter">
        <span>o</span>
    </div>
    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="images/euro-club.jpg" alt="euro-club">
        </div>
        <p>
            Lorem ip sum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        </p>
    </div>

    <!-- portfolio-right-panel -->
    //= modules/portfolio-right-panel.html
</div>