<div class="screen-block q7">
    
    <!-- logo -->
    //= modules/logo.html

    <!-- menu -->
    //= modules/menu.html

    <!-- portfolio-client -->
    //= modules/portfolio-client.html

    <!-- title -->
    <div class="title dark">
        <span class="name"><span class="cyrillic">портфолио</span></span>
        <div class="word wow fadeIn" data-wow-delay=".5s">
            <span>Lorem ipsum</span>
        </div>
        <div class="animation-border wow fadeIn"></div>
        <p class="wow fadeInUp" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi error quae, aliquid hic. Accusamus ut praesentium tempore. Repellat qui culpa, eaque quam, natus rerum optio repudiandae laudantium, quod labore aspernatur!<br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde rem corporis cum delectus aspernatur dicta nemo aut? Atque cum aliquam, eum, perferendis obcaecati qui minus et quisquam quis blanditiis corporis?</p>
    </div>

    <div class="car-covering-layer car-covering-layer--left">
        <div class="image-container">
            <img src="images/q7.jpg" alt="q7">
        </div>
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--right">
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--center">
        <img src="images/q7.jpg" alt="q7">
    </div>

    <!-- portfolio-right-panel -->
    //= modules/portfolio-right-panel.html
</div> 