<div class="q7">
    //= templates/portfolio-client.html

    <div class="car-covering-layer car-covering-layer--left">
        <div class="image-container">
            <img src="images/q7.jpg" alt="q7">
        </div>
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--right">
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--center">
        <img src="images/q7.jpg" alt="q7">
    </div>

    //= templates/portfolio-right-panel.html
</div> 