<div id="service-two" class="screen-block">

    <!-- logo -->
    //= modules/logo.html

    <!-- menu -->
    //= modules/menu.html

    <!-- small-gray-lines -->
    //= modules/small-gray-lines.html

    <!-- letter c -->
    //= modules/big-background-letter

    <!-- title -->
    <div class="title">
    	<span class="name"><span class="cyrillic">услуги</span></span>
        <div class="word">
            <span>Lorem ipsum</span>
    	</div>
        <p class="wow fadeInUp" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br> 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p class="wow fadeInUp">Lorem ipsum dolor sit amet</p>
    </div>

    <!-- jump-button -->
    <div class="jump-button jump-letters wow fadeInUp">
        <a href="#" class="cyrillic" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>

    <!-- portfolio-right-panel -->
    //= modules/bottom-button.html
</div>