& {  

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: px(240);
    background: transparent;
    transition: top $time * 2 ease-out, background $time, opacity $time * 2 ease-out;

    &.active {
        background: rgba(238, 238, 238, 0.70);
        opacity: 1;

        &.scrolled,
        &.form-opened {
            top: px(-242);
            opacity: 0;
        }
    }
}