@import '../desktop';

// ----- title -----
.title {
	margin: 20vh 0 0 px(240);
	.word {
		&:after { height: px(45); }
		span { font-size: px(60); }
	}
}

// ----- info-block -----
.info-block { right: 4%; }

// ----- service-info -----
.service-info {
	&.vertical.two { left: px(-50); }
	&.horizontal {
		left: px(300);
		bottom: 23.5vh;
	}
}