.error-page {
    min-height: 600px;

    .messages-block {
        padding-top: 10vh;

        .oops {
            font-size: 90px;
        }

        .msg {
            padding-top: 63vh;
            font-size: 36px;
        }
    }

    .watch {
        background-size: 25%;
    }

    .alert {
        top: 5%;

        span {

            &:first-of-type {
                margin-right: 15%;
            }

            &:last-of-type {
                margin-left: 15%;
            }
        }
    }
}
