& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    font-family: $Raleway-Regular;
    background: $background;
    overflow: hidden;
    z-index: 1;
    
    // ----- animation -----
    animation: fadeIn $time * 3 0s both;
    
    .oops { animation: fadeInDown $time * 2 $time * 5 both; }
    .msg { animation: fadeInUp $time * 3 $time * 6 both; }
    .button { animation: fadeInUp $time * 3 $time * 8 both; }
    
    // ----- watch -----
    .watch, .alert { animation: fadeIn $time * 2 $time * 4 both; }
    .watch-shadow { animation: fadeIn $time * 2 $time * 5 both; }
    .watch-light { animation: fadeIn $time * 2 $time * 6 both; }

    // ----- messages-block -----
    .messages-block {
        text-align: center;
        position: absolute;
        padding-top: 16vh;
        height: 100vh;
        width: 100%;
        z-index: 1;
        .oops {
            color: $white;
            font-size: px(210);
            font-family: $Raleway-ExtraBold;
        }
        .msg {
            color: #CCC;
            font-family: $Roboto-Bold;
            padding-top: 59vh;
            font-size: px(72);
        }
    }
    
    // ----- alert -----
    .alert {
        position: absolute;
        text-align: center;
        top: 30%;
        width: 100%;
        height: 100vh;
        span {
            color: $dark;
            font-size: px(860);
            font-family: $Raleway-ExtraBold;
            &:first-of-type { margin-right: 10%; }
            &:last-of-type { margin-left: 10%; }
        }
    }

    // ----- button -----
    .button {
        position: absolute;
        margin: 0 auto;
        bottom: 5vh;
        width: 100%;
        z-index: 3;
        .blue {
            position: relative;
            display: block;
            margin: 0 auto;
            width: px(420);
            height: px(110);
            color: $white;
            font-size: px(32);
            background: $blue;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
            span {
                position: relative;
                letter-spacing: 1px;
                z-index: 2;
            }
            &:before {
                display: block;
                position: absolute;
                top: px(24);
                left: px(-24);
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
                opacity: 0;
                transition: top $time, left $time, opacity $time;
            }
            &:hover:before {
                top: px(10);
                left: px(-10);
                opacity: 1;
            }
        }
    }
    
    // ----- watch -----
    .watch-light {
        top: 0;
        left: px(-35);
        background: url('../images/watch-light.png') no-repeat center;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .watch-shadow {
        background: url('../images/watch-shadow.png') no-repeat center;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .watch {
        background: url('../images/watch.png') no-repeat center;
        position: absolute;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
    .hours-container,
    .minutes-container,
    .seconds-container {
        position: absolute;
        left: px(-35);
        margin: auto;
        bottom: 0;
        top: 0;
        right: 0;
        width: 300px;
        height: 300px;
        display: inline-flex;
    }
    .hours {
        background: url('../images/hours-hand.svg') no-repeat;
        transform-origin: 60% 100%;
        background-size: cover;
        position: absolute;
        height: 60px;
        top: 30%;
        left: 46%;
        width: 20px;
        margin: auto;
        display: block;
    }
    .minutes {
        background: url('../images/minutes-hand.svg') no-repeat;
        transform-origin: 50% 100%;
        background-size: cover;
        position: absolute;
        height: 252px;
        width: 12px;
        top: -34.5%;
        left: 48%;
        margin: auto;
        display: block;
    }
    .seconds {
        background: url('../images/seconds-hand.svg') no-repeat;
        transform: rotateZ(0) !important;
        background-size: cover;
        position: absolute;
        height: 145px;
        left: 46.5%;
        top: 41.5%;
        z-index: 8;
        width: 20px;
        margin: auto;
        display: block;
    }
    .hours-container { animation: rotate 43200s infinite linear; }
    .minutes-container { transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44); }
    .seconds-container { transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44); }
    @keyframes rotate { 100% { transform: rotateZ(360deg); } }
}