.error-page {

    .watch {
        margin: 30% auto 0;
        background-size: 37%;
    }

    .hours-container {
        zoom: .4;
    }

    .minutes-container {
        zoom: .35;
    }

    .seconds-container {
        zoom: .4;
    }
}
