.error-page {

    .watch-light,
    .watch-shadow {
        display: none;
    }

    .seconds-container,
    .hours-container {
        zoom: .65;
    }

    .minutes-container {
        zoom: .6;
    }

    .watch {
        background-size: 20%;
    }

    .alert {
        top: 10%;
    }
}
