// ----- watch ----
.seconds-container, .hours-container { zoom: .8; }
.minutes-container { zoom: .75; }
.watch {
    background-size: 32%;
    margin: 21% auto 0;
}

// ----- title -----
.title .word {
    &:first-of-type { margin-bottom: 12px; }
    &:last-of-type {
        margin: 36px 0 0;
	    span {
			letter-spacing: 0;
			font-size: 20px;
		}
    }
}

// ----- letter c -----
.big-background-letter {
    top: -37vh;
    right: 60vw;
    font-size: 100vh;
}