.error-page {

    .seconds-container,
    .hours-container {
        zoom: .8;
    }

    .minutes-container {
        zoom: .75;
    }

    .watch {
        background-size: 32%;
    }

    .alert {
        top: 30%;

        span {
            font-size: 300px;

            &:first-of-type {
                margin-right: 18%;
            }

            &:last-of-type {
                margin-left: 18%;
            }
        }
    }
}
