.audi-new {

    img {
        min-height: 900px;
    }

    .project-name-container {
        top: 150px;
        right: 450px;
    }

    .project-name {
        font-size: 300px;
    }

    .info {
        top: 120px;
        right: 425px;
    }

    .about-work {
        margin-top: 350px;
    }
}
