.audi-new {

    img {
        min-height: 650px;
    }

    .portfolio-right-panel {

        .date {
            margin-bottom: 50px;
        }
    }

    .project-name-container {
        top: 85px;
        right: 300px;
    }

    .project-name {
        font-size: 135px;
    }

    .info {
        top: 75px;
        right: 150px;
        width: 500px;
    }

    .about-work {
        margin-top: 135px;
        width: 70%;

        p {
            font-size: 20px;
        }
    }

    .special-button {
        margin-right: 45px;
        width: 200px;
    }
}
