.services-blog {
    position: relative;
    background: $white;
    overflow: hidden;

    .small-gray-lines {

        .line {
            visibility: visible;
            opacity: .1;

            &.up {
                transform: rotate(-65deg) translate3d(100%, 0, 0);
            }

            &.down {
                transform: rotate(-65deg) translate3d(-100%, 0, 0);
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 90px 0;
        width: 81%;
        min-height: 900px;
    }

    .blue-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 18%;
        height: 100%;
        background: $blue;
    }

    .image-block {
        position: relative;
        padding-left: 60px;
        width: 41%;
    }

    .date {
        position: absolute;
        top: 0;
        left: 60px;
        color: $white;
        font-family: $Roboto-Light;
        font-size: 16px;
        transform-origin: 100% 100%;
        transform: translate3d(-100%, -100%, 0) rotate(-90deg);

        span {
            display: block;
            padding: 15px 30px;
        }
    }

    .image-container {
        position: relative;
        width: 100%;
        overflow: hidden;

        img {
            position: relative;
            width: 100%;
        }
    }

    .info-block {
        padding-top: 70px;
        width: 49%;
        min-width: 730px;
    }

    .new-title {
        margin-top: 50px;

        .text-container {
            display: inline-block;
            margin-bottom: 5px;
        }

        &-text {
            font-size: 30px;
            line-height: 1.2;
        }
    }

    article {
        margin-top: 40px;
        padding-left: 10%;
        padding-right: 25%;

        p {
            margin-bottom: 25px;
            color: $darkGray;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .special-buttons {
        margin-top: 50px;
        padding-left: 10%;

        .special-button {
            margin-right: 50px;
        }
    }
}
