.services-blog {

    .container {
        justify-content: space-around;
        min-height: 960px;
    }

    .image-block {
        width: 35%;
    }

    .info-block {
        width: 45%;
    }
}
