.index {
    z-index: 1;
    position: relative;

    .content {
        padding: 0 1%;
        border-right: 1px solid $border-mobile;
        border-left: 1px solid $border-mobile;
        overflow-x: hidden;
        margin: 0 auto;
        width: 90%;
    }

    .button {
        text-transform: uppercase;
        vertical-align: middle;
        margin-bottom: 50px;
        display: inline-block;
        text-align: center;
        line-height: 55px;
        font-size: 14px;
        width: 99.99%;
        height: 55px;
        z-index: 99999;
        position: relative;
        letter-spacing: 2px;

        &.transparent {
            color: $white;
            padding: 0 20px;
            font-family: $Roboto-Black;

            &::before,
            &::after {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 3;
                content: '';
                transition: $time;
                box-sizing: border-box;
            }

            &.option::before {
                border-left: 5px solid $white;
                border-bottom: 1px solid $white;
                transform-origin: 0 100%;
                transform: scale(.1, .5);
            }

            &.option::after {
                border-top: 1px solid $white;
                border-right: 5px solid $white;
                transform-origin: 100% 0%;
                transform: scale(.1, .5);
            }
        }

        &.special {
            color: $darkGray;
            border: 1px solid;
            font-family: $Roboto-Bold;

            .element {
                background-color: $white;
                font-family: $Raleway-ExtraBold;
                text-transform: none;
                font-size: 32px;
                position: absolute;
                padding: 5px;
                left: 22px;
                top: -32px;
            }

            &.blue {
                background-color: $blue;
                border-color: $blue;

                a,
                span {
                    color: $white;
                }
            }
        }
    }

    .header {
        padding: 20vh 15px 0;
        background: $black;
        text-align: center;
        position: relative;
        height: 100vh;
        width: 100vw;

        .scroll-line {
            animation: bounce 1s infinite linear;
            margin: 0 auto 15vh;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            width: 25%;
            height: 50px;

            div {
                position: absolute;
                background: $white;
                margin: 0 auto;
                width: 1px;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        .services {

            .half {
                margin: 2.5% 2.5% 5%;
                float: left;
                width: 45%;

                #category {
                    text-align: right;
                    text-transform: uppercase;
                    font-family: $Roboto-Bold;
                    line-height: 1.8;
                    font-size: 14px;
                    color: $white;
                }

                #subcategory {
                    color: $gray;
                    font-size: 10px;
                    line-height: 22px;
                    text-transform: uppercase;
                    font-family: $Roboto-Bold;
                    text-align: left;
                }
            }
        }
    }

    .about-company {
        background: $white;
        position: relative;
        width: 100vw;

        .content {
            padding-top: 75px;
            padding-bottom: 75px;

            p {
                color: $darkGray;
                line-height: 20px;
            }

            .title {
                font-family: $Raleway-ExtraBold;
                margin-bottom: 36px;
                line-height: 36px;
                font-size: 30px;
            }

            .under-title {
                line-height: 20px;
                font-family: $Roboto-Regular;
            }

            .small-title {
                font-family: $Roboto-Black;
                margin-bottom: 25px;
                font-size: 18px;
            }

            .block {
                position: relative;
                margin-bottom: 62px;

                &:first-of-type {
                    margin-top: 87px;
                }

                &:last-of-type {
                    margin-bottom: 87px;
                }

                .index {
                    font-family: $Roboto-Bold;
                    position: absolute;
                    font-size: 12px;
                    top: -22px;
                }
            }
        }
    }

    .our-works {
        position: relative;
        height: 100vh;
        width: 100vw;

        .work {
            position: absolute;
            height: 100vh;
            width: 100vw;
            left: 0;
            top: 0;

            img {
                object-position: center;
                position: absolute;
                object-fit: cover;
                height: 100vh;
                width: 100vw;
                z-index: -1;
                left: 0;
                top: 0;
            }

            .content {
                overflow: -webkit-paged-x;
                text-align: center;
                height: 100vh;
                padding: 0;
                border: 0;

                .work-title {
                    font-family: $Roboto-Black;
                    margin: 25vh 0 20vh;
                    font-size: 48px;
                    color: $white;
                }

                .opened-work {
                    font-family: $Roboto-Regular;
                    padding-top: 62px;
                    background: $black;
                    position: absolute;
                    overflow: hidden;
                    height: 100vh;
                    width: 100vw;
                    color: $white;

                    .content {
                        position: relative;
                    }

                    &.fadeInWork {

                        img {
                            animation: fadeInWork $time * 1.25 linear;
                        }

                        p {
                            animation: fadeInWork $time * 2 linear;
                        }
                    }

                    &.fadeOutWork {

                        img {
                            animation: fadeOutWork .01s linear forwards;
                        }

                        p {
                            animation: fadeOutWork .05s linear forwards;
                        }
                    }

                    img {
                        top: 0;
                        left: 1px;
                        z-index: 1;
                        height: auto;
                        width: 120px;
                    }

                    p {
                        font-family: $Roboto-Regular;
                        margin: 62px 0 45px;
                        line-height: 17px;
                        font-size: 15px;
                        text-align: left;
                        color: #CCC;
                    }

                    &.opened {
                        width: 100%;
                    }
                }
            }
        }
    }

    .questions {
        background: $white;
        position: relative;
        overflow: hidden;
        height: 100vh;
        width: 100vw;

        .open-form {
            margin: 25px auto 0;
        }

        .content {
            height: 100vh;
            padding-top: 100px;
            padding-bottom: 25px;

            .questions-title {
                font-family: $Raleway-ExtraBold;
                margin-bottom: 15px;
                line-height: 32px;
                font-size: 24px;
                color: $darkGray;
            }

            .under-questions-title {
                display: block;
                color: $blue;
                font-family: $Roboto-Medium;
                font-size: 16px;
            }

            .form .content {
                padding: 0;
                border: 0;
            }
        }

        .contacts-info {
            margin-top: 25px;

            li {
                margin-bottom: 30px;
                font-size: 14px;

                &:last-child {
                    margin-bottom: 5px;
                }
            }

            span {
                display: block;
                font-family: $Roboto-Regular;
                margin-bottom: 10px;
                color: $darkGray;
            }

            a {
                display: block;
                font-family: $Roboto-Medium;
                margin-bottom: 10px;
                color: $darkGray;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .carousel-slider-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .control-buttons {
            text-align: center;
            margin: 55vh auto 0;
            width: 90%;

            .button {
                margin-bottom: 20px;
            }
        }

        .carousel-slider {
            position: absolute;
            display: flex;
            left: 0;
            top: 0;

            &__item {
                position: relative;
                height: 100vh;
                width: 100vw;
                color: $white;
            }
        }

        .dots,
        .skip {
            justify-content: center;
            align-items: center;
            position: absolute;
            display: flex;
            z-index: 5;
            width: 100%;
            color: $white;
            font-size: 12px;
            letter-spacing: 2px;
            transition: $time * 2;
            text-transform: uppercase;
            font-family: $Roboto-Bold;
        }

        .dots {
            bottom: 25px;
        }

        .skip {
            bottom: 87px;
            margin-left: 1%;
        }

        .dot {
            justify-content: center;
            align-items: center;
            margin-right: 4px;
            display: flex;
            width: 8px;
            height: 8px;

            &:before {
                width: 6px;
                height: 6px;
                content: '';
                display: block;
                background: $gray;
                border-radius: 50%;
                transition: width $timeTick, height $timeTick, background $timeTick;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {

                &:before {
                    background: $blue;
                    height: 8px;
                    width: 8px;
                }
            }
        }
    }

    // ***** keyframes *****
    @keyframes fadeInWork {

        0%,
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOutWork {

        100% {
            opacity: 0;
        }
    }

    @keyframes bounce {

        0% {
            bottom: 0;
        }

        33% {
            bottom: -.5em;
        }

        66% {
            bottom: -1em;
        }

        100% {
            bottom: 0;
        }
    }
}


@keyframes tick {
    0% {
        z-index: 2;
    }

    5% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

@keyframes turnOne {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}
@keyframes turnTwo {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body.play ul li {
	&.before {
	    z-index: 3;
	    .up {
		    z-index: 2;
		    animation: turnTwo .5s linear both;
		    .shadow {
			    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
			    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
			    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
			    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
			    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
			    animation: show .5s linear both;
			}
		}
		.down .shadow {
		    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
		    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
		    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
		    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
		    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
		    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
		    animation: show .5s linear both;
		}
	}
	&.active {
	    animation: tick .5s .5s linear both;
	    z-index: 2;
	    .up .shadow {
		    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
		    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
		    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
		    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
		    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
		    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
		    animation: hide .5s .3s linear both;
		}
	    .down {
		    z-index: 2;
		    animation: turnOne .5s .5s linear both;
		    .shadow {
			    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
			    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
			    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
			    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
			    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
			    animation: hide .5s .3s linear both;
			}
		}
	}
}
ul.flip li {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    &:first-child {
        z-index: 2;
    }
    a {
        height: 100%;
        display: block;
        perspective: 200px;
        div {
            left: 0;
            z-index: 1;
            width: 100%;
            height: 50%;
            overflow: hidden;
            position: absolute;
            &.inn {
                left: 0;
                z-index: 1;
                color: #CCC;
                width: 100%;
                height: 200%;
                position: absolute;
                text-align: center;
                border-radius: 6px;
                background-color: $lightBlack;
            }
            &.up {
                transform-origin: 50% 100%;
                top: 0;
                div.inn {
                    top: 0;
                }
            }
            &.down {
                transform-origin: 50% 0%;
                bottom: 0;
                div.inn {
                    bottom: 0;
                }
                &:after {
                    top: 0;
                    left: 0;
                    z-index: 5;
                    width: 100%;
                    height: 3px;
                    content: '';
                    position: absolute;
                    background-color: $black;
                }
            }
            .shadow {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
            }
        }
    }
}