& {  
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $white;
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    
    .logo {
        z-index: 2;
    }

    .portfolio-client {

        .client-name-container {

            span {

                &:before {
                    content: 'Audi';
                }
            }
        }
    }

    .portfolio-right-panel {

        .date {

            &-month {

                &:before {
                    content: 'July';
                }
            }

            &-year {
                &:after {
                    content: '2017';
                }
            }
        }
    }

    .info {
        position: absolute;
        top: px(200);
        left: px(1110);
        z-index: 3;
    }

    @keyframes widthIncreaseStickerLine {
        from {
            width: 0;
        }
        to {
            width: px(100);
        }
    }

    .sticker {
        position: relative;
        font-family: $Raleway-Bold;
        font-size: px(24);

        span {
            display: inline-block;
            color: $darkGray;
            text-transform: uppercase;

            &:before {
                content: 'Портфолио';
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: px(-120);
            width: px(100);
            height: 3px;
            background: $lightBlack;
            content: '';
            transform: translateY(-50%);
        }
    }

    .new-title {
        margin-top: px(60);

        .text-container {
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: px(60);
                background: $blue;
                content: '';
                transform: translate3d(0, 50%, 0);
            }

            &:last-child {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            color: $black;
            font-size: px(120);
            font-family: $Raleway-ExtraBold;
            line-height: px(125);
            text-transform: uppercase;
        }
    }

    .about-work {
        margin-top: px(50);
        width: px(650);

        p {
            display: block;
            margin-bottom: px(30);
            color: $darkGray;
            font-family: $Roboto-Regular;
            font-size: px(32);
            line-height: px(40);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .car-covering-layer {
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            z-index: 1; 
            height: 100vh;
            min-height: 700px;
        }

        .lines {
            position: absolute;
            top: px(240);
            z-index: 3;
            height: px(1560);
            overflow: hidden;

            .line {
                position: absolute;
                width: px(1560) * 1.5;
                height: 1px;
                background: rgba(0, 0, 0, .2);

                &--left {
                    left: 0;
                    transform-origin: 0 0;
                    transform: rotate(45deg) translate3d(100%, 0, 0);
                }

                &--right {
                    right: 0;
                    transform-origin: 100% 0;
                    transform: rotate(-45deg) translate3d(-20%, 0, 0);
                }
            }
        }

        &--left,
        &--right {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100vh;
            width: 50%;
        }

        &--left {
            left: 0;
            
            .image-container {
                position: relative;
                height: 100vh;
                overflow: hidden;

                &:after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, .9);
                    content: '';
                }
            }

            .lines {
                left: px(300);
                width: 40.625vw - px(300);

                .line {

                    &--right {
                        top: 20vh;
                    }
                }
            }
        }

        &--right {
            right: 0;
            width: 50%;
            background: $white;

            .lines {
                left: 9.375vw;
                width: 50vw - px(550);

                .line {

                    &--left {
                        top: 20vh;
                        transform: rotate(45deg) translate3d(100%, 0, 0);
                    }

                    &--right {
                        transform: rotate(-45deg) translate3d(-20%, 0, 0);
                    }
                }
            }
        }

        // Animation for center block
        @keyframes heightReduce {
            from {
                margin-top: 0;
                height: 100vh;
            }
            60% {
                opacity: 1;
            }
            to {
                margin-top: 40vh;
                height: px(60);
                opacity: .7;
            }
        }

        @keyframes shadowAppearance {
            from {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
            to {
                box-shadow: 0 px(30) px(100) px(14) rgba(0, 0, 0, .3);    
            }
        }
        // Animation for center block ends

        &--center {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            width: 20vw;
            height: 88vh;
            box-shadow: 0 px(30) px(100) px(14) rgba(0, 0, 0, .3);
            transform: translateY(4vh);
            
            img {
                top: -4vh;
                left: -40vw;
            }

            &:before {
                display: block;
                position: absolute;
                top: -4vh;
                left: -40.625vw;
                z-index: 3;
                margin-top: 40vh;
                width: 100vw;
                height: px(60);
                background: $blue;
                content: '';
                transform: rotate(-45deg);
            }

            &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .6);
                content: '';
            }
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Up $time * 3 0s both;

        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .portfolio-client {
            
            .client {
                animation: client $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: clientName $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {
            
            span {
                animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PVStickerTextAnimationTime $PVStickerTextDelayTime both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PVStickerLineAnimationTime $PVStickerLineDelayTime both;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation: halfDown $PVTitleLineAnimationTime linear $PVTitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $PVTitleTextAnimationTime $PVTitleTextDelayTime both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PVAboutAnimationTime $PVAboutDelayTime both;
            }
        }

        .car-covering-layer {
    
            .lines {
    
                .line {
    
                    &--left {
                        animation: rightDown both;
                    }
    
                    &--right {
                        animation: leftDown both;
                    }
                }
            }
    
            &--left {
                
                .image-container {
                    animation: widthIncrease $portfolioAudiLeftBlockAnimationTime $portfolioAudiLeftBlockDelayTime both;
                }
    
                .lines {
    
                    .line {
    
                        &--left {
                             animation-duration: $portfolioAudiLeftBlockLeftLineAnimationTime;
                             animation-delay: $portfolioAudiLeftBlockLeftLineDelayTime;
                        }
    
                        &--right {
                            animation-duration: $portfolioAudiLeftBlockRightLineAnimationTime;
                            animation-delay: $portfolioAudiLeftBlockRightLineDelayTime;
                        }
                    }
                }
            }
    
            &--right {
    
                .lines {
    
                    .line {
    
                        &--left {
                            animation-duration: $portfolioAudiRightBlockLeftLineAnimationTime;
                            animation-delay: $portfolioAudiRightBlockLeftLineDelayTime;
                        }
    
                        &--right {
                            animation-duration: $portfolioAudiRightBlockRightLineAnimationTime;
                            animation-delay: $portfolioAudiRightBlockRightLineDelayTime;
                        }
                    }
                }
            }
    
            &--center {
                animation: heightIncreaseDesktop $portfolioAudiCenterBlockAnimationTime $portfolioAudiCenterBlockDelayTime both, 
                           shadowAppearance $portfolioAudiCenterBlockShadowAnimationTime $portfolioAudiCenterBlockShadowDelayTime both;
    
                &:before {
                    animation: heightReduce $portfolioAudiCenterBlockLineAnimationTime $portfolioAudiCenterBlockLineDelayTime both;
                }
            }
        }
    }

    &.previous,
    &.previous-back {
        animation: slideDown $time * 3 $topPanelAnimationTime both;
        animation-play-state: paused;

        .logo {
            animation-play-state: paused;
        }

        .menu {
            animation-play-state: paused;
        }

        .portfolio-client {
            
            .client {
                animation-play-state: paused;
        
                &-name-container {
        
                    span {
                        animation-play-state: paused;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation-play-state: paused;
            }
        
            .devices {
                
                span {
                    animation-play-state: paused;
                }
            }
        }

        .bottom-button {
            
            span {
                animation-play-state: paused;
            }
        
            .line {
                animation-play-state: paused;
            }
        }

        .sticker {

            span {
                animation-play-state: paused;
            }
    
            &:before {
                animation-play-state: paused;
            }
        }

        .new-title {
    
            .text-container {
    
                &:before {
                    animation-play-state: paused;
                }
            }
    
            span {
                animation-play-state: paused;
            }
        }
    
        .about-work {
    
            p {
                animation-play-state: paused;
            }
        }

        .car-covering-layer {
    
            .lines {
    
                .line {
    
                    &--left {
                        animation-play-state: paused;
                    }
    
                    &--right {
                        animation-play-state: paused;
                    }
                }
            }
    
            &--left {
                
                .image-container {
                    animation-play-state: paused;
                }
            }
    
            &--center {
                animation-play-state: paused;
    
                &:before {
                    animation-play-state: paused;
                }
            }
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }    
}