& {  
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .long-text {

        .open-long-text {
            bottom: px(530);
        }
    }

    .info {
        position: absolute;
        top: px(200);
        z-index: 3;
        padding: 0 px(30);
        width: 100%;
    }

    .sticker {
        position: relative;
        left: px(120);
        font-family: $raleway;
        font-size: px(24);
        font-weight: 700;

        span {
            display: inline-block;
            color: $darkGray;
            text-transform: uppercase;

            &:before {
                content: 'Портфолио';
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: px(-120);
            width: px(100);
            height: 3px;
            background: $lightBlack;
            content: '';
            transform: translateY(-50%);
        }
    }

    .new-title {
        margin-top: px(30);

        .text-container {
            position: relative;
            overflow: hidden;

            &:before {
                display: none;
            }

            &:last-child {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 1;
            color: $black;
            font-size: px(48);
            font-weight: 800;
            line-height: px(60);
            text-transform: uppercase;
        }
    }

    .about-work {
        position: relative;
        margin-top: px(40);
        height: px(80);
        max-height: px(80);
        text-overflow: ellipsis;
        overflow: hidden;

        p {
            display: block;
            margin-bottom: px(40);
            color: $darkGray;
            font-family: $roboto;
            font-size: px(28);
            line-height: px(34);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .car-covering-layer {
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            left: -30vw;
            z-index: 1; 
            height: 100vh;
            min-height: 568px;
        }

        &--left,
        &--right {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100vh;
        }

        &--left {
            left: 0;
            width: 100%;

            .image-container {
                position: relative;
                height: 100vh;
                overflow: hidden;
            }

            &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .9);
                content: '';
            }
        }

        &--right {
            right: 0;
            width: 50%;
        }

        // Animation for center block
        @keyframes heightReduce {
            from {
                margin-top: 0;
                height: 130vh;
            }
            60% {
                opacity: 1;
            }
            to {
                margin-top: 50vh;
                height: px(60);
                opacity: .7;
            }
        }
        @keyframes shadowAppearance {
            from {
                box-shadow: 0 px(0) px(0) px(0) rgba(0, 0, 0, 0);
            }
            to {
                box-shadow: 0 px(20) px(90) px(10) rgba(0, 0, 0, .3);    
            }
        }
        // Animation for center block

        &--center {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            width: 53vw;

            img {
                top: -30vh;
                left: -53.5vw;
            }

            &:before {
                display: block;
                position: absolute;
                top: -30vh;
                left: -33.5vw;
                z-index: 3;
                margin-top: 0;
                width: 140vw;
                height: 130vh;
                background: $blue;
                content: '';
                transform: rotate(-45deg);
            }

            &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .6);
                content: '';
            }
        }
    }

    &.current-slide {
        animation: fadeIn $time * 3 0s both;

        .logo {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .long-text {
            animation: fadeIn $PALongTextAnimationTime $PALongTextDelayTime both;
        }

        .portfolio-client {
            
            .client {
                animation: fadeInRight $portfolioClientAnimationTime $portfolioClientDelayTime both;
        
                &-name-container {
        
                    span {
                        animation: Right $portfolioClientNameAnimationTime $portfolioClientNameDelayTime both;
                    }
                }
            }
        }

        .portfolio-right-panel {
            
            .date {
                animation: fadeInLeft $portfolioRightPanelDateAnimationTime $portfolioRightPanelDateDelayTime both;
            }
        
            .devices {
                
                span {
                    animation-name: fadeInLeft;
                    animation-fill-mode: both;
        
                    &:nth-child(1) {
                        animation-duration: $portfolioRightPanelDevicesDesktopAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesDesktopDelayTime;
                    }
        
                    &:nth-child(2) {
                        animation-duration: $portfolioRightPanelDevicesTabletAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesTabletDelayTime;
                    }
        
                    &:nth-child(3) {
                        animation-duration: $portfolioRightPanelDevicesMobileAnimationTime;
                        animation-delay: $portfolioRightPanelDevicesMobileDelayTime;
                    }
                }
            }
        }

        .bottom-button {
            
            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }
        
            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .sticker {

            span {
                animation: FadeInRightHalf $PAStickerTextAnimationTime $PAStickerTextDelayTimeMobile both;
            }
    
            &:before {
                animation: widthIncreaseStickerLine $PAStickerLineAnimationTime $PAStickerLineDelayTimeMobile both;
            }
        }

        .new-title {

            .text-container {

                &:before {
                    animation: halfDown $PVTitleLineAnimationTime linear $PATitleLineDelayTimeMobile both;
                }
            }
    
            span {
                animation: Up $PVTitleLineAnimationTime $PATitleDelayTimeMobile both;
            }
        }
    
        .about-work {
    
            p {
                animation: fadeInUpHalf $PVAboutAnimationTime $PATextDelayTimeMobile both;
            }
        }

        .car-covering-layer {
    
            &--left {
                
                .image-container {
                    animation: widthToParent $portfolioAudiLeftBlockAnimationTime $portfolioAudiLeftBlockDelayTimeMobile both;
                }
            }
    
            &--center {
                animation: heightIncreaseMobile $portfolioAudiCenterBlockAnimationTime $portfolioAudiCenterBlockDelayTimeMobile both, 
                           shadowAppearance $portfolioAudiCenterBlockShadowAnimationTime $portfolioAudiCenterBlockShadowDelayTimeMobile both;
    
                &:before {
                    animation: heightReduce $portfolioAudiCenterBlockLineAnimationTime $portfolioAudiCenterBlockLineDelayTimeMobile both;
                }
            }
        }
    }
}