@import '../mobile';

& {
    &:before,
    &:after {
        display: none;
    }

    // ----- title -----
    .title {
        &:before {
            width: 40px;
            top: 13px;
        }
    }

    // ----- service -----
    .service {

        & > a,
        & > p {

            & + .bg {
                position: absolute;
                background: $blue;
                left: px(-90);
                height: 57px;
                z-index: -1;
                width: 200%;
                top: 0;
            }

            &:after {
                display: none;
            }

            &:before {
                text-decoration-color: $blue;
            }

            &.five {
                & + .bg {
                    position: absolute;
                    background: $blue;
                    left: px(-90);
                    height: 57px;
                    z-index: -1;
                    width: 200%;
                    top: 0;
                }
            }
        }

        .list {
            display: block;
        }
    }
}
