& {  

    position: relative;
    width: 100vw;
    height: 100vh;

    .carousel-slider-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .carousel-slider {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
    
            &__item {
                position: relative;
                padding: px(340) px(30) 0;
                width: 100vw;
                height: 100vh;
                color: $white;
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                span,
                .slider-item-title,
                .slider-item-name,
                a {
                    position: relative;
                    z-index: 2;
                }
    
                span {
                   font-family: $Raleway-Bold;
                   font-size: px(22); 
                   text-transform: uppercase;
                }
    
                .slider-item-title {
                    display: block;
                    margin: px(32) 0 px(56);
                    font-family: $Roboto-Black;
                    font-size: px(120);
                }

                .slider-item-name {
                    display: block;
                    color: $blue;
                    font-family: $Roboto-Black;
                    font-size: px(72);
                }
    
                a {
                    color: $white;
                    font-family: $Raleway-Bold;
                    font-size: px(24);
                    text-transform: uppercase;
                }
    
                &--audi {
    
                    img {
                        object-position: px(-160) 0;
                    }
                }
            }
        }
    
        .dots {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: px(120);
            z-index: 5;
            width: 100%;
        }
    
        .dot {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: px(8);
            width: 8px;
            height: 8px;
    
            &:before {
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $gray;
                content: '';
                transition: width $timeTick, height $timeTick, background $timeTick;
            }
    
            &:last-child {
                margin-right: 0;
            }
    
            &.active {
    
                &:before {
                    background: $blue;
                    width: 8px;
                    height: 8px;
                }
            }
    
            &.small {
    
                &:before {
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }
}