& {  
    font-weight: $regular;
    font-family: $roboto;
    position: relative;
    overflow: hidden;
    
    // ----- animation -----
    animation: fadeIn $time * 3 both;
    
    // ----- big-bg-letters -----
    .big-background-letter, .big-bg-letter-c { animation: fadeIn $time * 3 $time * 3 both; }
    
    // ----- navigation-elements -----
    .logo, .menu, .language a { animation: fadeInDown $time * 3 $time * 3 both; }
    
    // ----- language -----
    .language {
        overflow: visible;
        position: absolute;
        transform: rotate(-90deg);
        position: absolute;
        font-size: px(29);
        left: px(105);
        z-index: 2;
        top: 54vh;
        &.dark a {
            color: $dark;
            &:hover { color: $gray; }
            &.select {
                color: $gray;
                &:hover { color: $black; }
                &:before { color: $gray; }
            }
        }
        a {
            text-transform: uppercase;
            display: inline-block;
            font-weight: $thin;
            cursor: pointer;
            color: $gray;
            &:nth-of-type(2) { margin-right: px(30); }
            &.select {
                color: $white;
                &::before {
                    position: absolute;
                    color: $white;
                    bottom: 1.5px;
                    right: 30px;
                    content: '—';
                }
            }
            &:hover {
                color: $white;
                transition: $time;
            }
        }
    }

    // ----- big-bg-letter-c -----
    .big-bg-letter-c {
        position: absolute;
        text-transform: uppercase;
        font-family: $raleway;
        font-weight: 800;
        left: px(-500);
        top: 75vh;
        .big-background-letter {
            span::before { content: 'c'; }
            font-size: 100vh;
            bottom: initial;
            right: initial;
            left: px(1060);
            z-index: 3;
            top: 62vh;
        }
    }

    // ----- container -----
    .container {
        padding-bottom: px(210);
        position: relative;
        margin: 0 auto;
        width: 81%;
        
        // ----- images -----
        .images {
            position: relative;
            top: px(-150);
            img {
                top: 0;
                left: 0;
                width: px(1140);
                height: px(890);
                position: absolute;
            }
        }

        // ----- info -----
        .info {
            padding-left: px(370);
            padding-top: px(70);
            background: $white;
            position: relative;
            right: px(316);
            top: px(-94);
            .sticker span::before { content: 'Услуги дизайна'; }
            .new-title {
                font-family: $raleway;
                margin-bottom: px(220);
                white-space: nowrap;
                margin-top: px(80);
                .text-container {
                    display: inline-block;
                    margin-bottom: px(10);
                    font-weight: 800;
                    span {
                        font-size: px(120);
                        line-height: px(104);
                    }
                }
            }
        }

        // ----- article -----
        article {
            width: px(1740);
            p {
                line-height: 1.4;
                color: $darkGray;
                font-size: px(32);
                span { font-weight: $bold; }
                &.percent { width: 48%; }
                &.big {
                    font-size: px(48);
                    margin-bottom: px(100);
                    padding: px(56) 0 px(72);
                    border-top: 1px solid #DBDBDB;
                    border-bottom: 1px solid #DBDBDB;
                }
                &.bold {
                    line-height: 1.3;
                    font-size: px(36);
                    font-weight: $bold;
                    margin: px(70) 0 px(100);
                }
                &.half {
                    column-count: 2;
                    column-gap: px(200);
                }
            }
        }

        // ----- header -----
        .header {
            padding-top: px(240);
            position: relative;
            max-height: 1100px;
            min-height: 650px;
            height: 89vh;
            .image-container {
                position: relative;
                height: 100%;
                z-index: 2;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .big-background-letter {
                font-family: $raleway;
                color: $darkGray;
                right: inherit;
                top: px(920);
                left: px(-40);
                font-weight: 800;
                font-size: px(520);
                text-transform: uppercase;
                span::before { content: 'o'; }
            }
        }

        // ----- about ---
        .about {
            z-index: 2;
            position: relative;
            & > div::last-child { width: px(1770); }
            .description {
                z-index: 1;
                padding-top: px(410);
                p {
                    border-bottom: 1px solid $gray;
                    padding-bottom: px(60);
                    font-style: italic;
                    font-size: px(36);
                    line-height: 1.4;
                    color: $gray;
                }
            }
        }

        // ----- cases -----
        .cases {
            article { margin-left: px(80); }
            h3 {
                margin: px(165) 0 px(110) px(76);
                line-height: px(80);
                font-size: px(92);
                font-weight: $bold;
                span { color: $blue; }
            }
        }

        // ----- about and cases -----
        .about, .cases {
            justify-content: space-between;
            align-items: flex-start;
            display: flex;
            width: 100%;
            & > div {

                &:first-child {
                    width: px(1190);
                }

                &:last-child {
                    width: px(1800);
                }
            }
        }
    }
}