.crossed-button {
    display: inline-flex;
    align-items: center;

    &__text {
        position: relative;
        color: $darkGray;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__arrow {
        margin-left: 10px;
        width: 36px;
    }

    &__arrow-part {
        fill: none;
        stroke: $black;
        stroke-width: 1;
        stroke-miterlimit: 10;

        &--center {
            stroke-width: .75;
        }
    }

    &.reversed {

        .crossed-button {

            &__text {
                order: 2;
            }

            &__arrow {
                margin-left: 0;
                margin-right: 10px;
                transform: rotate(180deg);
            }
        }
    }
}