& {  

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .car-covering-layer {
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            left: -30vw;
            z-index: 1; 
            height: 100vh;
            min-height: 568px;
        }

        &--left,
        &--right {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100vh;
        }

        &--left {
            left: 0;
            width: 100%;

            .image-container {
                position: relative;
                height: 100vh;
                animation: widthIncrease $portfolioAudiLeftBlockAnimationTime $portfolioAudiLeftBlockDelayTime both;
                overflow: hidden;
            }

            &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .9);
                content: '';
            }
        }

        &--right {
            right: 0;
            width: 50%;
        }

        // Animation for center block
        @keyframes heightReduce {
            from {
                margin-top: 0;
                height: 130vh;
            }
            60% {
                opacity: 1;
            }
            to {
                margin-top: 50vh;
                height: px(60);
                opacity: .7;
            }
        }
        @keyframes shadowAppearance {
            from {
                box-shadow: 0 px(0) px(0) px(0) rgba(0, 0, 0, 0);
            }
            to {
                box-shadow: 0 px(20) px(90) px(10) rgba(0, 0, 0, .3);    
            }
        }
        // Animation for center block

        &--center {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            width: 53vw;
            animation: heightIncreaseMobile $portfolioAudiCenterBlockAnimationTime $portfolioAudiCenterBlockDelayTimeMobile both, 
                       shadowAppearance $portfolioAudiCenterBlockShadowAnimationTime $portfolioAudiCenterBlockShadowDelayTimeMobile both;

            img {
                top: -30vh;
                left: -53.5vw;
            }

            &:before {
                display: block;
                position: absolute;
                top: -30vh;
                left: -33.5vw;
                z-index: 3;
                margin-top: 0;
                width: 140vw;
                height: 130vh;
                background: $blue;
                content: '';
                transform: rotate(-45deg);
                animation: heightReduce $portfolioAudiCenterBlockLineAnimationTime $portfolioAudiCenterBlockLineDelayTimeMobile both;
            }

            &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .6);
                content: '';
            }
        }
    }
}