@import '../desktop';

& {

    .big-background-letter {
        top: px(-700);
    }

    .container {
        padding-top: px(250);
        height: px(2000);
    }

    .answers {

        .question {
            padding-right: px(50);
        }
    }

    .more {
        margin-top: px(500);
    }

    &--complex {

        .container {
            height: px(1600);
        }
    }

    &--internet-marketing {

        .more {

            .crossed-button {

                span {
                    font-size: px(24);
                }
            }
        }
    }
}