& {
    font-family: $raleway;
    font-weight: $regular;
   
    // ----- logo and menu animation -----
    .logo, .menu { animation: fadeInDown $time * 3 both; }
    
    // ----- jump-button -----
    .jump-button {
        position: absolute;
        padding: 0;
        z-index: 2;
        bottom: 5%;
        margin: 0;
        left: 11%;
        a {
            &:before {
                top: 52%;
                left: -1px;
                background: $white;
            }
            span {
                color: $white;
                font-size: px(24);
                font-weight: $thin;
            }
        }
    }
    
    // ----- logo -----
    .logo {
        width: px(285);
        top: px(30);
    }

    // ----- bg letter -----
    .bg-letter {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    // ----- language -----
    .language {
        transform: rotate(-90deg);
        position: absolute;
        font-size: px(29);
        bottom: 22vh;
        left: 14px;
        z-index: 2;
        &.dark a {
            color: $dark;
            &.select {
                color: $gray;
                &:before { color: $gray; }
            }
        }
        a {
            @include inline-block;
            animation: Down 1s both;
            text-transform: uppercase;
            font-weight: $thin;
            cursor: pointer;
            color: $gray;
            &:nth-of-type(2) { margin-right: px(30); }
            &.select {
                color: $white;
                &::before {
                    position: absolute;
                    color: $white;
                    right: px(60);
                    bottom: px(4);
                    content: '—';
                }
            }
            
            &:hover {
                color: $white;
                transition: $time;
            }
        }
    }

    // ----- copyright -----
    .copyright {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 150px;
        right: -78px;
        z-index: 1;
        p {
            color: $white;
            font-size: px(24);
            font-weight: $thin;
        }
    }
}