@import '../desktop';

// ----- title -----
.title {
	margin: 20vh 0 0 px(240);
	.word {
        &:after { top: 12px; }
        span { font-size: px(84); }
    }
}

// ----- info-block -----
.info-block { right: 4%; }