& {
    
    @keyframes letterUp {
        0%,
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        49% {
            opacity: 1;
            transform: translate3d(0, 100%, 0);
        }
        50% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        51% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
    }
    
    @keyframes letterDown {
        0%,
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        49% {
            opacity: 1;
            transform: translate3d(0, -100%, 0);
        }
        50% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        51% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
    
    @keyframes crossAnchor {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    a,
    button {
        display: inline-block;
        width: initial;
        position: relative;
        text-transform: uppercase;
        overflow: hidden;
        padding: 0 px(20);
        font-size: 0;
        text-align: center;
        background: transparent;

        &:before {
            display: block;
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            height: 1px;
            background: $black;
            content: '';
            transform: translateX(-100%);
        }

        span {
            display: inline-block;
            padding: px(10) 0;
            font-size: px(24);
        }

        &:hover {
                
            span {
                animation-duration: .25s;
                animation-fill-mode: forwards;

                &:nth-child(odd) {
                    animation-name: letterUp;
                }

                &:nth-child(even) {
                    animation-name: letterDown;
                }

                &:nth-child(1) {
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    animation-delay: $timeTickHalf / 2;
                }

                &:nth-child(3) {
                    animation-delay: $timeTickHalf;
                }

                &:nth-child(4) {
                    animation-delay: $timeTickHalf * 1.5;
                }

                &:nth-child(5) {
                    animation-delay: $timeTickHalf * 2;
                }

                &:nth-child(6) {
                    animation-delay: $timeTickHalf * 2.5;
                }

                &:nth-child(7) {
                    animation-delay: $timeTickHalf * 3;
                }

                &:nth-child(8) {
                    animation-delay: $timeTickHalf * 3.5;
                }

                &:nth-child(9) {
                    animation-delay: $timeTickHalf * 4;
                }
            }

            &:before {
                animation: crossAnchor $timeTick $timeTickHalf * 4 + .25s forwards;
            }
        }
    }
}