.services-container {

    .back-layer {
        padding-right: 0;
        height: initial;
        min-height: 100vh;
    }

    .form {
        margin: 0 auto;
        width: 90%;
        max-width: 325px;
    }
}
