& {  
    font-family: $roboto;
    background: $white;
    position: relative;
    overflow: hidden;
    height: px(2500);

    // ----- front and back layers -----
    .front-layer, .back-layer { height: px(1920); }
    .front-layer {
        transition: transform $time * 2;
        transform-style: preserve-3d;
        background: $background;
        transform-origin: 0 50%;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:after {
            display: block;
            height: 100vh;
            z-index: -1;
            content: '';
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            position: absolute;
            transition: opacity $time;
            background: rgba(0,0,0,.4);
        }
        
        // ----- small-gray-lines -----
        .small-gray-lines {
            z-index: 1;
            .line {
                visibility: visible;
                background: gray;
                opacity: .2;
                &.up { transform: rotate(-65deg) translate3d(100%, 0, 0); }
                &.down { transform: rotate(-65deg) translate3d(-100%, 0, 0); }
                &.up, &.down { animation: none; }
            }
        }

        // ----- big-brackground-letter -----
        .big-background-letter {
            span::before { content: 'c'; }
            text-transform: uppercase;
            font-weight: $extra-bold;
            font-family: $raleway;
            text-align: center;
            font-size: px(1500);
            right: initial;
            width: 100%;
            top: 15vh;
        }
    }
    
    // ----- container -----
    .container {
        padding-top: px(80);
        position: relative;
        margin: 0 auto;
        display: flex;
        z-index: 3;
        width: 81%;
        h2 {
            color: $white;
            font-size: px(96);
            align-self: center;
            font-weight: $bold;
            font-family: $raleway;
            margin-right: px(180);
            transform: translateY(px(70));
            span {
                display: block;
                color: $blue;
            }
        }

        // ----- works -----
        .works {
            width: px(1800);
            height: px(1400);
            position: relative;
            &.dark .work span { color: $white; }
            & + .dark {
                display: flex;
                .crossed-button {
                    position: relative;
                    margin-left: px(90);
                    align-self: flex-end;
                    font-family: $roboto;
                    font-size: px(32);
                    span {
                        color: $white;
                        &:before { background: $white; }
                        &:after { content: 'Посмотреть все работы'; }
                    }
                }
            }
            .work {
                position: absolute;
                img { object-fit: cover; }
                span {
                    display: block;
                    color: $darkGray;
                    font-size: px(40);
                    margin-top: px(20);
                    font-weight: $bold;
                    font-family: $raleway;
                    text-transform: uppercase;
                }
                &--eurovision {
                    top: 0;
                    left: 0;
                    img {
                        width: px(500);
                        height: px(820);
                    }
                }
                &--alta {
                    top: px(40);
                    right: 0;
                    img {
                        width: px(820);
                        height: px(500);
                    }
                }
                &--audi {
                    bottom: 0;
                    left: px(360);
                    img {
                        width: px(710);
                        height: px(400);
                    }
                }
                &--vinograd {
                    bottom: px(140);
                    right: px(70);
                    img {
                        width: px(490);
                        height: px(490);
                    }
                }
            }
        }
    }

    // ----- back-layer -----
    .back-layer {
        padding-right: px(140);
        background: $black;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        // ----- form -----
        form {
            position: relative;
            padding-top: px(250);
            height: px(1200);
            width: px(830);
            color: $white;
            .close-form {
                top: 0;
                right: 0;
                width: px(56);
                height: px(56);
                position: absolute;
                background: transparent;
                &:hover { &:before, &:after { background: $white; } }
                &:before { transform: rotate(45deg); }
                &:after { transform: rotate(-45deg); }
                &:before, &:after {
                    transition: background $time;
                    position: absolute;
                    background: $gray;
                    display: block;
                    width: px(40);
                    content: '';
                    top: 50%;
                    left: 0;
                    height: 2px;
                }
            }
            h3 {
                text-transform: uppercase;
                font-weight: $extra-bold;
                margin-bottom: px(220);
                font-family: $raleway;
                font-size: px(60);
            }
            label {
                width: 100%;
                display: block;
                padding: 0 px(20);
                position: relative;
                margin-bottom: px(60);
                border-bottom: 1px solid $gray;
                &:nth-of-type(2) { margin-bottom: px(150); }
                span {
                    top: 0;
                    left: px(20);
                    height: 100%;
                    color: $gray;
                    display: block;
                    font-size: px(34);
                    line-height: 100%;
                    position: absolute;
                    font-family: $roboto;
                    margin-bottom: px(16);
                    text-transform: uppercase;
                    transition: top $timeHalf, color $timeHalf, font-size $timeHalf;
                }
                input {
                    background: transparent;
                    position: relative;
                    padding: px(5) 0;
                    display: block;
                    z-index: 2;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $white;
                    height: px(40);
                    font-size: px(32);
                    &:focus, &.filled {
                        & ~ span {
                            top: px(-30);
                            color: $white;
                            font-size: px(24);
                        }
                    }
                }
            }
            .send {
                color: $white;
                display: block;
                width: px(340);
                height: px(90);
                font-weight: 500;
                font-size: px(28);
                background: $blue;
                border: 2px solid $blue;
                margin: px(90) 0 0 auto;
                text-transform: uppercase;
                transition: color $time, background $time;
                &:hover {
                    background: $white;
                    color: $blue;
                }
            }
        }
    }
    
    // ----- discuss -----
    .discuss {
        z-index: 3;
        display: flex;
        position: relative;
        text-align: center;
        .block {
            width: 50%;
            margin: 100px 0;
            &:last-child { float: right; }
            &:first-child {
                float: left;
                text-align: left;
                padding-left: 15vw;
            }
        }
        h3 {
            color: $darkGray;
            font-size: px(72);
            font-family: $raleway;
            margin-bottom: px(24);
            font-weight: $extra-bold;
            text-transform: uppercase;
        }
        p {
            margin-bottom: px(66);
            font-size: px(28);
            line-height: 1.4;
            color: $gray;
        }
        button {
            color: $white;
            width: px(420);
            height: px(110);
            display: block;
            font-size: px(32);
            background: $blue;
            font-weight: $bold;
            margin: 0 50% 0 20%;
            border: 2px solid $blue;
            text-transform: uppercase;
            transition: color $time, background $time;
            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }
    &.opened .front-layer {
        transform: rotateY(30deg);
        &:after {
            z-index: 9999;
            opacity: 1;
        }
    }
}