.logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    left: -15px;
    top: -15px;
    z-index: 10;
    width: 115px;
    height: 62px;
    overflow: hidden;

    svg {
        width: 73%;
        transition: transform $timeTick;
    }

    &-letter {
        fill: $white;
        transition: opacity $timeTick;
    }

    &-arrow {
        fill: $blue;
    }

    &.dark {

        .logo-letter {
            fill: $black;
        }
    }

    &.form-opened {
        top: -121px;
        opacity: 0;
    }

    &.back {
        animation: toUp $topPanelAnimationTime ease-out both;
    }
}