.logo {
    position: relative;
    left: 0;
    padding: 10px 0 0 10px;
    width: 90px;
    transition: left $time;

    &-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $logoZIndex;
    }

    &__letter {
        transition: opacity $time;
    }

    &__arrow {
        fill: $blue;
    }

    &.scrolled {
        left: -30px;

        .logo {

            &__letter {
                opacity: 0;

                &--visible {
                    opacity: 1;
                }
            }
        }
    }

    &.light {

        .logo {

            &__letter {
                fill: $white;
            }
        }
    }
}