@import '../desktop';

& {

    .blue-line {
        left: px(300);
    }

    .info {
        margin-left: px(180);
        width: px(1540);
    }

    .new-title {

        .text-container {

            &:before {
                height: px(12);
                bottom: px(6);
            }

            span {
                font-size: px(40);
                line-height: px(50);
            }
        }
    }

    article {
        padding-right: px(300);
        
        p {
            font-size: px(32);
        }
    }
}