@import '../desktop';

& {
    height: 100vh;
    min-height: 650px;
    max-height: 800px;

    .blue-line {
        width: px(300);
        left: px(200);
    }

    .container {
        justify-content: center;
        align-items: center;
        padding-top: 0;
        width: 85%;
        height: 100%;

        &:after {
            top: px(800);
        }
    }

    .image-container {
        width: px(900);
        height: px(1100);
    }

    .info {
        margin-left: px(150);
        padding-top: 0;
        width: px(1200);
    }

    .new-title {
        margin-top: px(40);
        margin-bottom: px(40);

        .text-container {

            span {
                font-size: px(70);
                line-height: px(80);
            }
        }
    }

    article {
        padding-left: px(100);
        padding-right: px(250);
    }

    .crossed-button {
        margin-top: px(30);
        margin-left: px(100);
    }
}