.home-blog {

    .container {
        padding: 15vh 0;
        width: 82%;
    }

    .blue-line {
        right: 30%;
        height: 280px;
    }

    .text-block {
        min-width: 440px;
    }

    .text-container {

        &:before {
            height: 20px;
        }
    }

    .new-title-text {
        font-size: 32px;
    }

    .special-button {
        margin-right: 50px;
        width: 40%;
    }

    .image-block {
        width: 45%;
    }

    .image-container {
        height: 300px;
    }

    .date {
        margin-top: 10px;
        padding-right: 20px;
    }
}
