.home-blog {

    .container {
        justify-content: center;
    }

    .blue-line {
        height: 200px;
    }

    .text-block {
        align-self: center;
        width: 55%;
    }

    .image-block {
        display: none;
    }
}
