@import '../desktop';

// ----- table -----
.table .container {
	max-width: 700px;
	
	// ----- vertical-text -----
	.vertical-text { left: px(-20); }
	
	// ----- item -----
	.item {
		.block {
			margin-top: 37vh;
			img {
			    max-width: 150px;
			    max-height: 25px;
			    margin-bottom: 8vh;
			}
		}
		& + .title { margin-top: 20vh; }
	}
}