.marketing-services {

    .line {

        &--2 {
            display: none;
        }
    }

    .marketing-services-title {
        width: 100%;
    }

    .types {

        &__item {
            width: 100%;

            &:nth-child(2) {
                margin-top: 50px;
                margin-left: 0;
            }
        }
    }
}
