& {
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    z-index: 0;
    
     // ----- animation -----
     .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
     .logo { animation: fadeInDown $PPLogoAnimationTime $time * 3 both; }
     .contacts-info {
         li:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
         li:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
         li:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
     }
     .menu { animation: fadeInDown $time * 3 $time * 3 both; }
     .social {
         .facebook, .instagram { animation-delay: $time * 3; } 
         .jumping-button { animation-delay: $time * 6; }
     }
    
    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            width: 100vw;
            height: 100vh;
            position: fixed;
            overflow: hidden;
            &:before, &:after {
                position: absolute;
                display: block;
                height: 100vh;
                content: '';
                width: 50vw;
                top: 0;
            }
            &:before {
                left: 0;
                animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
            }
            &:after {
                right: 0;
                animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
            }
        }
    }
    
    // ----- letter c -----
    .big-background-letter {
        top: 4vh;
        z-index: 4;
        right: -2vh;
        font-size: 120vh;
        color: rgba(68,68,68,.3);
        span::before  { content: 'c'; }
    }
    
    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            position: fixed;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 0;
                width: 50vw;
                height: 100vh;
                content: '';
                background: $background;
            }
            &:before {
                left: 0;
                animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
            }
            &:after {
                right: 0;
                animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
            }
        }
    }
    
    // ----- title -----
    .title {
        margin: 27vh 0 0 px(590);
        span.name { top: -2vh; }
        .word {
            margin-bottom: 0;
            padding-bottom: 6px;
            &:after { top: 33px; }
        }
    }

    // ----- contacts-info -----
    .contacts-info {
        z-index: 1;
        position: absolute;
        margin: 35vh 0 0 px(630);
        li {
            color: $white;
            font-size: px(24);
            @include inline-block;
            &:nth-of-type(1) { margin-right: px(290); }
            &:nth-of-type(2) { margin-right: px(605); }
            &:nth-of-type(3) a {
                transition: $time;
                padding-bottom: 4px;
                border-bottom: 1px solid;
                &:hover { border: none; }
            }
            a {
                color: $white;
                display: block;
            }
        }
    }
}