& {
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    z-index: 0;
    
    // ----- animation -----
    .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
    .logo { animation: fadeInDown $PPLogoAnimationTime $time * 3 both; }
    .contacts-info {
        li:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
        li:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
        li:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
    }
    .menu { animation: fadeInDown $time * 3 $time * 3 both; }
    .social {
        .facebook, .instagram { animation-delay: $time * 3; } 
        .jumping-button { animation-delay: $time * 6; }
    }

    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            width: 100vw;
            height: 100vh;
            position: fixed;
            overflow: hidden;
            &:before, &:after {
                position: absolute;
                display: block;
                height: 100vh;
                content: '';
                width: 50vw;
                top: 0;
            }
            &:before {
                left: 0;
                animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
            }
            &:after {
                right: 0;
                animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
            }
        }
    }
    
    // ----- letter c -----
    .big-background-letter {
        bottom: 0;
        right: 7vh;
        z-index: 4;
        font-size: 60vh;
        color: rgba(68,68,68,.3);
        span::before  { content: 'c'; }
    }
    
    // ----- title -----
    .title {
        display: inherit;
        margin-top: 23vh;
        margin-left: 3vh;
        span.name {
            font-size: 2.1vh;
            left: 11vh;
            top: -3vh;
            span {
                color: lighten($gray, 20%);
                display: inherit;
            }
            &:before {
                background: lighten($gray, 20%);
                left: -11vh;
                width: 9vh;
                top: 1vh;
            }
        }
        .animation-border { display: none; }
        .word {
            &:after { display: none; }
            text-align: left;
            height: 7.5vh;
            span {
                bottom: -100px;
                font-size: 3.9vh;
                letter-spacing: 1.5px;
            }
        }
    }

    // ----- page-layer -----
    .page-layer {
        top: 0;
        left: 0;
        &.back-layer {
            position: fixed;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 0;
                width: 50vw;
                height: 100vh;
                content: '';
                background: $background;
            }
            &:before {
                left: 0;
                animation: Down $PPLeftBlockAnimationTime $PPLeftBlockDelayTime both;
            }
            &:after {
                right: 0;
                animation: Up $PPRightBlockAnimationTime $PPRightBlockDelayTime both;
            }
        }
    }

    // ----- contacts-info -----
    .contacts-info {
        display: inherit;
        margin: 9vh 0 0 12.5vh;
        li {
            color: $white;
            font-size: 2vh;
            margin-bottom: 4.5vh;
            &:nth-of-type(3) a {
                transition: $time;
                padding-bottom: 4px;
                border-bottom: 1px solid;
                &:hover { border: none; }
            }
            a {
                color: $white;
                display: block;
                font-size: 2.6vh;
                margin-top: -.5vh;
            }
        }
    }

    // ----- language -----
    .language {
        display: inherit;
        bottom: 33vh;
    }

    // ----- small-gray-lines -----
    .small-gray-lines { display: none; }

    // ----- animation -----
    .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
    .logo { animation: fadeInDown $PPLogoAnimationTime $time * 3 both; }
    .contacts-info {
        li:nth-of-type(1) { animation: fadeInUp $time * 3 $time both; }
        li:nth-of-type(2) { animation: fadeInUp $time * 6 $time both; }
        li:nth-of-type(3) { animation: fadeInUp $time * 9 $time both; }
    }
    .menu { animation: fadeInDown $time * 3 $time * 3 both; }
    .social {
        .facebook, .instagram { animation-delay: $time * 3; } 
        .jumping-button { animation-delay: $time * 6; }
    }
}