.blog-three {

    .title {
        bottom: 150px;

        .word {

            span {
                font-size: 45px;
            }
        }
    }

    .blue-line {
        width: 300px;
        right: 600px;
    }

    .image-block {
        width: 615px;
        height: 427px;
        right: 200px;
        top: 50px;
    }
}
