.blog-three {
    box-shadow: 0 15px 50px 7px rgba(0, 0, 0, .3);
    font-family: $Raleway-Regular;
    background: $white;
    overflow: hidden;

    .big-background-letter {
        top: 0;
        right: 7vh;
        z-index: 3;
        color: $darkGray;
        font-size: 58vh;

        span {

            &:before {
                content: 'c';
            }
        }
    }

    .title {
        position: absolute;
        left: 140px;
        bottom: 200px;

        .word {

            span {
                font-size: 45px;
            }

            &:nth-of-type(2) {
                margin-bottom: 5px;
            }
        }
    }

    .special-buttons {
        display: -webkit-inline-box;
        margin: 30px 0 0 85px;

        .special-button {
            display: block;
            position: relative;
            margin-right: 50px;
            height: 55px;
            width: 255px;
            color: $blue;
            font-family: $Roboto-Black;
            font-size: 14px;
            line-height: 55px;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            transition: $time;

            &-text {
                position: relative;
                z-index: 2;
            }

            &:after {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15%;
                content: '';
                background: $blue;
                transition: height $timeHalf ease-out;
            }

            &:hover {
                color: $white;

                &:after {
                    height: 100%;
                }
            }
        }

        .animated-button {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: 0 20px;
            width: px(300);
            height: px(110);
            color: $black;
            cursor: pointer;
            font-family: $Roboto-Black;
            font-size: px(28);
            line-height: px(110);
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            transition: $time;

            &:before,
            &:after {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                content: '';
                transform: scale(.15);
                transition: $time;
            }

            &:hover {

                &:after,
                &:before {
                    transform: scale(1);
                }
            }

            &.option {

                &:before {
                    border-left: 2px solid $black;
                    border-bottom: 2px solid $black;
                    transform-origin: 0 100%;
                }

                &:after {
                    border-top: 2px solid $black;
                    border-right: 2px solid $black;
                    transform-origin: 100% 0%;
                }
            }
        }
    }

    .blue-line {
        position: absolute;
        top: 0;
        right: 850px;
        z-index: 2;
        width: 425px;
        background: $blue;
    }

    .image-block {
        position: absolute;
        top: 19vh;
        right: 300px;
        z-index: 3;
        width: 770px;
        height: 535px;

        .image-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                z-index: 2;
                position: absolute;
                height: 100%;
                width: 100%;
                background: $darkGray;
                content: '';
                transform: translate3d(-90%, 90%, 0);
            }
        }

        p {
            position: absolute;
            right: 45px;
            bottom: -29px;
            font-size: 16px;
            font-family: $Roboto-Regular;
        }
    }

    .service-info {
        z-index: 1;
        position: absolute;

        &.vertical {
            bottom: 29vh;
            right: 36px;
            width: 150px;
            transform: rotate(90deg);

            p {
                font-family: $Raleway-Medium;
                font-size: 11px;
                line-height: 1.3;
            }
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Right $time * 3 0s both;

        .special-buttons {
            animation: fadeInUp $ANBStickerTextAnimationTime $ANBStickerTextDelayTime both;
        }

        .logo,
        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .big-background-letter {
            animation: fadeIn $time * 3 $time * 9 both;
        }

        .service-info {

            p {
                animation: fadeInDown $time * 2 $time * 9 both;
            }
        }

        .jumping-button {
            animation: fadeInUp $time * 2 $time * 9 both;
        }

        .bottom-button {

            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }

            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .title {

            p {
                animation: fadeInUp $time * 2 $time * 7 linear both;
            }

            .name {

                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }

                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }

            .word {

                &:after {
                    animation: halfDown $time * 2 linear $time * 4 both;
                }

                &:nth-of-type(1) {

                    span {
                        animation: titleWord $time * 2 $time * 5 linear forwards;
                    }
                }

                &:nth-of-type(2) {

                    span {
                        animation: titleWord $time * 2 $time * 6 linear forwards;
                    }
                }

                &:nth-of-type(3) {

                    span {
                        animation: titleWord $time * 2 $time * 7 linear forwards;
                    }
                }
            }
        }

        .small-gray-lines {

            .line {
                animation: lineUp 1s $time * 3 both;

                &.down {
                    animation-name: lineDown;
                }
            }
        }

        .blue-line {
            animation: heightChangingBlogThree $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both;
        }

        .image-block {

            p {
                animation: fadeIn $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both;
            }

            .image-container {

                img {
                    animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both;
                }

                &:before {
                    animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both;
                }
            }
        }
    }

    &.previous,
    &.previous-back {
        animation: slideLeft $time * 3 $topPanelAnimationTime both;
        animation-play-state: paused;

        .special-buttons {
            animation-play-state: paused;
        }

        .logo,
        .menu {
            animation: fadeInDown $time * 3 $time * 3 both;
        }

        .big-background-letter {
            animation: fadeIn $time * 3 $time * 9 both;
        }

        .service-info {

            p {
                animation: fadeInDown $time * 2 $time * 9 both;
            }
        }

        .jumping-button {
            animation: fadeInUp $time * 2 $time * 9 both;
        }

        .bottom-button {

            span {
                animation: fadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;
            }

            .line {
                animation: Right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
            }
        }

        .title {

            p {
                animation: fadeInUp $time * 2 $time * 7 linear both;
            }

            .name {

                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }

                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }

            .word {

                &:after {
                    animation: halfDown $time * 2 linear $time * 4 both;
                }

                &:nth-of-type(1) {

                    span {
                        animation: titleWord $time * 2 $time * 5 linear;
                        animation-fill-mode: forwards;
                    }
                }

                &:nth-of-type(2) {

                    span {
                        animation: titleWord $time * 2 $time * 6 linear;
                        animation-fill-mode: forwards;
                    }
                }

                &:nth-of-type(3) {

                    span {
                        animation: titleWord $time * 2 $time * 7 linear;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }

        .small-gray-lines .line {
            animation: lineUp 1s $time * 3 both;

            &.down {
                animation-name: lineDown;
            }
        }

        .blue-line {
            animation: heightChangingBlogThree $portfolioEuroclubBlueLineAnimationTime $portfolioEuroclubBlueLineDelayTime both;
        }

        .image-block {

            p {
                animation: fadeIn $portfolioEuroclubImageTextAnimationTime $portfolioEuroclubImageTextDelayTime both;
            }

            .image-container {

                img {
                    animation: imageApear $portfolioEuroclubImageAnimationTime linear $portfolioEuroclubImageDelayTime both;
                }

                &:before {
                    animation: beforeApear $portfolioEuroclubGrayBlockAnimationTime linear $portfolioEuroclubGrayBlockDelayTime both;
                }
            }
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}
