@import '../desktop';

& {

    .development {
        top: -10vh;

        h2 {
            width: px(850);
        }
    }

    h2 {
        margin-top: px(40);
        width: px(900);
        font-size: px(100);
    }

    .lines {

        .line {

            &--2 {
                left: px(850);
            }

            &--3 {
                left: px(1500);
            }
        }
    }

    .steps {
        width: px(1500);
    }

    .step {
        margin-bottom: px(70);
        padding-right: px(100);
        width: px(650);
    }

    .questions {
        width: px(650);

        p {
            padding-right: px(100);
        }
    }

    .back-layer {
        padding-right: px(80);
    }
}