@import '../desktop';

& {

    .front-layer,
    .back-layer {
        min-height: 650px;
    }

    .container {
        padding: px(30) 0;
        min-height: 650px;
    }

    .development {
        top: -10vh;
        width: 25%;
    }

    .marketing-brand-title {
        margin-top: px(40);
        width: 100%;
        font-size: px(80);
    }

    .lines {

        .line {

            &--2 {
                left: 25%;
            }

            &--3 {
                left: 62.5%;
            }
        }
    }

    .steps {
        top: 0;
        width: 75%;
    }

    .step {
        margin-bottom: px(70);
        padding-right: px(70);
        width: 50%;

        .index {
            top: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }

        &:nth-child(2),
        &:nth-child(4) {
            padding-right: 0;
        }
    }

    .questions {
        width: 50%;

        p {
            margin-bottom: px(20);
            padding-right: px(100);
        }
    }

    .back-layer {
        padding-right: px(80);
    }
}