<div id="design-two" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- menu -->
    @@include('./components/menu.html')

    <!-- services-schedule -->
    <div class="services-schedule">      
        <div class="container">
            <div class="item up">
                <p class="name cyrillic">
                    <span>Услуги</span><br>
                    <span>дизайна</span>
                </p>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <section class="title">
                    <div class="word">
                        <span>UX / UI (web design)</span>
                    </div>
                    <p>Проектирование пространства страниц веб-сайта с целью создания максимально привлекательного, удобного и эффективного восприятия информации вашей аудиторией.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>
            <div class="item up">
                <div class="services-line"></div>
                <div class="services-line right"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>Разработка Brand Book</span>
                    </div>
                    <p>Официальный внутрикорпоративный документ, который содержит подробную информацию об основных элементах идентичности и атрибутах бренда.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>
        </div>
    </div>
</div>