<div id="design-three" class="screen-block">

    <!-- front-layer -->
    <div class="front-layer">
        <div class="dark">
            
            <!-- language -->
            @@include('./components/languages.html')
        </div>

        <!-- big-background-letter -->
        @@include('./components/big-background-letter.html')
        
        <!-- container -->
        <div class="container">
            <div class="result">

                <!-- title -->
                <div class="title dark">
                    <span class="name"><span>услуги дизайна</span></span>
                    <div class="word">
                        <span>почему стоит</span>
                    </div>
                    <div class="word">
                        <span>выбрать нас?</span>
                    </div>
                </div>  
            </div>

            <!-- lines -->
            <div class="lines">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
            </div>

            <!-- steps -->
            <div class="steps">
                <div class="step">
                    <div class="index">
                        <span>01</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Мы - трудоголики и фанаты своего дела</span>
                        <p>Полностью погружаемся в ваш бизнес, готовы до 6 утра разбираться во всех тонкостях бизнеса клиента, а все ради одной цели – новый эффективный проект и бесценный багаж наших знаний и опыта. Если мы беремся разрабатывать для вас дизайн сайта, или создаем логотип, мы тщательно изучаем сферу вашей деятельности, добиваемся личного понимания всех важных нюансов, присущих вашему бизнесу, чтобы конечный результат был высококачественным и компетентным.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>03</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Самые строгие критики – мы сами</span>
                        <p>Очень критично относимся к результату. Мы очень амбициозны и каждый наш проект стремимся сделать лидером в своей нише. Ставя высокую планку, мы очень требовательно относимся к себе и результату своего труда. В итоге — на финальной стадии разработки дизайна ваш проект будет выглядеть (и работать!) действительно потрясающе.</p>
                    </div>
                </div>
                <div class="step">
                    <div class="index">
                        <span>02</span>
                    </div>
                    <div class="content">
                        <span class="content-title">Нет - шаблонным решениям. МЫ – Креатив</span>
                        <p>Используем только свои идеи и инструменты. Для нас неприемлемы готовые шаблоны и чужие идеи — пусть даже ведущих игроков рынка. Каждый наш проект уникален, детально продуман и зачастую становится настоящим событием для своей аудитории.</p>
                    </div>
                </div>
            </div>

            <!-- questions -->
            <div class="questions">
                <span class="questions-title">Появились вопросы?</span>
                <p>Для экономии Вашего времени и нервов просто обратитесь к нам за успехом для Вашего бизнеса.</p>
                <button class="open-form">Да</button>
            </div>
        </div>
    </div>
    
    <!-- back-layer -->
    <div class="back-layer">

        <!-- big-brackground-letter -->
        @@include('./components/big-background-letter.html')
        
        <!-- form -->
        @@include('./components/form.html')
    </div>
</div>