<div id="design-one" class="screen-block">

    <!-- logo -->
    <div class="dark-logo">
        @@include('./components/logo.html')
    </div>

    <!-- menu -->
    <div class="dark-menu">
        @@include('./components/menu.html')
    </div>

    <!-- language -->
    <div class="dark">
        @@include('./components/language.html')
    </div>

    <!-- small-gray-lines -->
    <div class="light">
        @@include('./components/small-gray-lines.html')
    </div>

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- back-layer -->
    <div class="page-layer back-layer"></div>

    <div class="image-block">
        <div class="image-container">
            <img src="../../images/services/design/design-1.jpg " alt="design-one">
        </div>
    </div>

    <!-- title -->
    <div class="title dark">
        <span class="name"><span class="cyrillic">услуги дизайна</span></span>
        <div class="word">
            <span>Разработка дизайна</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ratione earum, provident corporis qui magnam laboriosam, dolor quas inventore, vel, facere labore beatae libero voluptatum adipisci quibusdam amet? Minima, atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, et laudantium illum molestias ipsam tenetur architecto, vitae excepturi similique optio laboriosam fugiat laborum fuga error earum, id soluta consequatur! Minima.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ratione earum, provident corporis qui magnam laboriosam, dolor quas inventore, vel, facere labore beatae libero voluptatum adipisci quibusdam amet? Minima, atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, et laudantium illum molestias ipsam tenetur architecto, vitae excepturi similique optio laboriosam fugiat laborum fuga error earum, id soluta consequatur! Minima.</p>

        <!-- crossed-button -->
        @@include('./components/crossed-button.html')
    </div>
</div>