<div id="design-two" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- language -->
    @@include('./components/languages.html')
    
    <!-- menu -->
    @@include('./components/menu.html')

    <!-- services-schedule -->
    <div class="services-schedule">      
        <div class="container">
            <div class="item up">
                <p class="name cyrillic">
                    <span>Услуги</span><br>
                    <span>дизайна</span>
                </p>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <section class="title">
                    <div class="word">
                        <span>UX / UI (web design)</span>
                    </div>
                    <p>Это продающий сайт который как правило состоит из одной страницы. Самое короткое время на превращение посетителя в клиента. Cамый быстроокупаемый тип сайта.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>
            <div class="item up">
                <div class="services-line"></div>
                <div class="services-line right"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>Разработка Brand Book</span>
                    </div>
                    <p>Если посадочная — лицо товара, то корпоративный сайт — лицо вашего бизнеса. Работает как продающий, когда для принятия решения клиенту нужно понять, с какой компанией он имеет дело.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                @@include('./components/crossed-button.html')
            </div>
        </div>
    </div>
</div>