<div class="design-services">
    <div class="container">
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="info">
            <div class="title">
                <span class="blue">Услуги</span>
                дизайна
            </div>

            <div class="services">
                <div class="service">
                    <div class="index">01</div>

                    <div class="new-title">
                        <div class="text-container">
                            <span class="new-title-text">UI/UX (web design)</span>
                        </div>
                    </div>

                    <p class="service-text">
                        Проектирование пространства страниц 
                        веб-сайта с целью создания максимально 
                        привлекательного, удобного и эффективного 
                        восприятия информации вашей аудиторией.
                    </p>

                    <a href="design/ui-ux.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                        <span>Подробнее</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </a>
                </div>

                <div class="service">
                    <div class="index">02</div>

                    <div class="new-title">
                        <div class="text-container">
                            <span class="new-title-text">Разработка Brand Book</span>
                        </div>
                    </div>

                    <p class="service-text">
                        Официальный внутрикорпоративный документ, который 
                        содержит подробную информацию об основных элементах 
                        идентичности и атрибутах бренда.
                    </p>

                    <a href="design/ui-ux.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                        <span>Подробнее</span>
                        <div class="arrow-container">
                            <svg class="arrow" x="0px" y="0px"
                                viewBox="0 0 34.8 7.3">
                                <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                            </svg>      
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>