<div id="screen-block">

    @@include('./components/small-gray-lines.html')

    <div class="big-background-letter">
        <span>c</span>
    </div>
    
    <div class="image-block">
        <div class="image-container">
            <img src="../../images/services/design/design-1.jpg " alt="design-one">
        </div>
    </div>

    <div class="title dark">
        <span class="name">
            <span>услуги дизайна</span>
        </span>
        <div class="word">
            <h1>Разработка дизайна</h1>
        </div>
        <p>
            Дизайн — важный инструмент Web-Production и сильнейший 
            инструмент маркетинга. С развитием интернета и повышением 
            спроса на создание сайтов, web-дизайн получил мощный толчок 
            к развитию. Назначение современного дизайна в веб-среде — 
            на стыке эстетики и стиля, функциональности и логики. Это 
            профессиональная художественно-техническая деятельность 
            по проектированию пользовательских интерфейсов сайтов.
            <span class="bold">
                Именно дизайн делает ваш сайт уникальным и выразительным, 
                визуально транслирует в массы философию бренда.
            </span>
        </p>
    </div>
</div>