<div id="design-one" class="screen-block">
    <div class="dark-logo">
        
        <!-- logo -->
        @@include('./components/logo.html')
    </div>
    <div class="dark-menu">

        <!-- menu -->
        @@include('./components/menu.html')
    </div>
    <div class="dark">
        
        <!-- languages -->
        @@include('./components/languages.html')
    </div>
    <div class="light">
        
        <!-- small-gray-lines -->
        @@include('./components/small-gray-lines.html')
    </div>

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')
    
    <!-- image-block -->
    <div class="image-block">
        <div class="image-container">
            <img data-target-long-read="true" src="../../images/services/design/design-1.jpg " alt="design-one">
        </div>
    </div>

    <!-- title -->
    <div class="title dark">
        <span class="name"><span>услуги дизайна</span></span>
        <div class="word">
            <span>Разработка дизайна</span>
        </div>
        <p>Дизайн — важный инструмент Web-Production и сильнейший инструмент маркетинга. С развитием интернета и повышением спроса на создание сайтов, web-дизайн получил мощный толчок к развитию. Назначение современного дизайна в веб-среде — на стыке эстетики и стиля, функциональности и логики. Это профессиональная художественно-техническая деятельность по проектированию пользовательских интерфейсов сайтов.<br><br>
        <span class="bold">Именно дизайн делает ваш сайт уникальным и выразительным, визуально транслирует в массы философию бренда.</span></p>

        <!-- crossed-button -->
        <button class="crossed-button open-long-read">
            <span></span>
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </button>
    </div>

    <!-- long-read -->
    <div class="long-read long-read--design">
        <div class="long-read-background"></div>
        <div class="long-read-container">
            <button class="cross close-long-read wow fadeIn">
                <span></span>
                <span></span>    
            </button>

            <!-- row -->
            <div class="row row--1">
                <div></div>
                <div>
                    <p class="wow fadeInUp">Современный интернет — самый конкурентный рынок, и профессиональные услуги дизайна — инструмент, который сможет выгодно выделить ваш бренд. Качественный web-дизайн привлекает внимание широкой аудитории и позволяет существенно укрепить позиции в веб-пространстве, привлечь новых клиентов и улучшить ваш имидж. И наоборот, при плохом, «шаблонном» дизайне даже самая ценная информация останется незамеченной.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--2">
                <div>
                    <h3 class="wow fadeInUp">Как мы понимаем современный <span>дизайн</span>?</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Clock Creative Lab предлагает профессиональные услуги по разработке web-дизайна и созданию фирменного стиля бренда. Мы предлагаем только уникальный, «ручной» web-продукт — стильный, конкурентоспособный, функциональный и эффективный. Дизайн должен делать мир, в котором мы живём, лучше и приносить деньги — так мы считаем, такой дизайн мы и делаем.</p>
                    <p class="wow fadeInUp">Вместо шаблонов, готовых идей и бюджетных решений — эксклюзивный стратегический дизайн, созданный с учётом ведущих мировых примеров, но ориентированный на клиента и его аудиторию. В нашей лаборатории мы постоянно отслеживаем последние мировые тренды дизайна, изучаем лучшее из богатейшей практики веб-дизайна и — делаем лучше!</p>
                    <p class="left-bordered wow fadeInUp">Для нас логотип или цветовое решение сайта — лишь часть целостной визуальной системы идентичности, на которой должен держаться хороший современный бренд. И каждый элемент в созданной нами визуальной системе имеет высокие потребительские свойства и эстетические качества.</p>
                    <p class="wow fadeInUp">Мы создаём дизайн международного уровня — логичный, удобный, эстетичный и актуальный. Если вы цените такое погружение в дело, такой уровень ответственности, вам обязательно понравится то, что мы делаем!</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--3">
                <div>
                    <p class="bottom-bordered wow fadeInUp">Дизайн — не только эстетика, он имеет цели и решает конкретные задачи.</p>
                </div>
                <div>
                    <p class="wow fadeInUp">Поскольку дизайн несёт в себе элементы искусства и инженерии, на него распространяются их правила, которые могут обеспечить создание качественных макетов и, главное, впечатляющих веб-сайтов. К примеру, существуют рекомендации, касающиеся необходимого количества цветов и шрифтов в макете, симметрии, отступов, порядка подачи материалов.</p>
                    <p class="left-bordered wow fadeInUp">Одно из главных правил, которым мы пользуемся — дизайн должен иметь цель. В зависимости от задачей и целей избираются и средства. Таким образом, дизайном является не оформление веб-страниц, а конструкторская деятельность, которая призвана реализовать заранее продуманные цели.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--4">
                <div>
                    <h3 class="wow fadeInUp"><span>UI/UX</span> дизайн</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Новое время требует новых решений. Ещё 10 лет назад дизайн был однообразным и тривиальным, но сейчас web-дизайн — одна из наиболее быстро развивающихся сфер веб-технологий. UI/UX дизайн — это современный и прогрессивный подход к проектированию сайтов и пользовательских интерфейсов. Его цель — создавать по-настоящему привлекательные, удобные и эффективные интернет-проекты, где на первое место поставлена забота о пользователе.</p>
                    <p class="wow fadeInUp">Используя UI/UX дизайн, мы делаем сайты не только красивыми: всё их содержимое логически связано, информация для посетителей подана правильно и доступно, а все элементы на его страницах подводят к совершению целевых действий, выгодных для вас.</p>
                    <p class="bordered wow fadeInUp">Используя UI/UX дизайн, мы делаем сайты не только красивыми: всё их содержимое логически связано, информация для посетителей подана правильно и доступно, а все элементы на его страницах подводят к совершению целевых действий, выгодных для вас.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--5">
                <div>
                    <h3 class="wow fadeInUp">Работа над <span>UI/UX</span> дизайном построена по такой схеме:</h3>
                </div>
                <div>
                    <ul class="indexed indexed-double wow fadeInUp">
                        <li>
                            <p>Анализ и определение задач</p>
                        </li>
                        <li>
                            <p>Иследование рынка</p>
                        </li>
                        <li>
                            <p>Проектирование структуры</p>
                        </li>
                        <li>
                            <p>Прорисовка уникального дизайна</p>
                        </li>
                    </ul>
                    <p class="wow fadeInUp">При создании страниц вед-сайта идёт тщательное продумывание вероятных пользовательских сценариев, в большом количестве создаются рабочие макеты и прототипы, а затем детально прорисовывается каждая деталь в пользовательском интерфейсе.</p>
                    <p class="wow fadeInUp">При разработке web-дизайна мы не упускаем ни одной важной детали, способной повлиять на конечный результат. Clock Creative Lab доводит каждый проект до состояния безупречного соответствия внешнего вида и логики. Мы делаем сайты, которые нравятся людям, которые запоминаются и мотивируют к покупке.</p>
                </div>
            </div>

            <!-- row -->
            <div class="row row--6">
                <div>
                    <h3 class="wow fadeInUp">Разработка <span>Brand Book</span> и создание фирменного стиля компании</h3>
                </div>
                <div>
                    <p class="wow fadeInUp">Мы оказываем полный комплекс услуг по разработке брендбука и фирменного стиля компании. Успешный современный бренд невозможно представить без качественных, уникальных образов, в которых читается его философия и идея, проявляются стиль и достоинства компании. В нашей лаборатории мы разрабатываем яркие, смелые и эффективные решения для брендов, а затем подробно расписываем руководство по их использованию в официальном корпоративном документе — Brand Book.</p>
                    <p class="left-bordered wow fadeInUp">Наша команда может с чистого листа разработать для вас идеологию, концепцию и фирменный стиль бренда. Готовый брендбук смогут с пользой применять в отделе маркетинга, все ваши сотрудники, включая отдалённые филиалы и пользователи вашей франшизы, а также ваши партнёры, оказывающие услуги по изготовлению наружной рекламы и другие.</p>
                    <h4 class="big wow fadeInUp">Наши услуги по разработке фирменного стиля компании:</h4>
                    <ul class="circled">
                        <li class="wow fadeInUp">Разработка имени бренда (нейминг)</li>
                        <li class="wow fadeInUp">Разработка визуального образа бренда (фирменного стиля)</li>
                        <li class="wow fadeInUp">Разработка носителей фирменного стиля</li>
                        <li class="wow fadeInUp">Написание руководства по использованию фирменного стиля (гайдлайн)</li>
                        <li class="wow fadeInUp">Дизайн упаковки / этикеток</li>
                        <li class="wow fadeInUp">Дизайн печатной / наружной рекламы</li>
                        <li class="wow fadeInUp">Разработка концепции и дизайна корпоративной атрибутики</li>
                        <li class="wow fadeInUp">Разработка логотипа</li>
                        <li class="wow fadeInUp">Брендинг</li>
                        <li class="wow fadeInUp">Ребрендинг</li>
                    </ul>
                </div>
            </div>

            <!-- row -->
            <div class="row row--7">
                <div>
                    <h3 class="wow fadeInUp">Как мы работаем над <span>брендбуком</span> и фирменной стилистикой бренда?</h3>
                </div>
                <div class="wow fadeInUp">
                    <ul class="indexed">
                        <li>
                            <p>Вначале мы <span>проводим общий анализ</span> ваших конкурентов и общей рыночной ситуации.</p>
                        </li>
                        <li>
                            <p>Далее <span>определяем ваши отличительные достоинства</span> вашей компании. На их основе создаём «смысловой образ», из которого в дальнейшем вырастет «фирменный стиль» бренда.</p>
                        </li>
                        <li>
                            <p>На основе собранной информации и продуманной стратегии <span>создаём логотип и другие элементы фирменного стиля.</span></p>
                        </li>
                        <li>
                            <p>Параллельно мы <span>разработаем стандарты и правила</span> нанесения ваших корпоративных образов на любые носители.</p>
                        </li>
                        <li>
                            <p>Финальным результатом нашего участия в проекте является <span>составление точного и подробного руководства</span> по воспроизведению созданного фирменного стиля.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- jumping-button -->
            <div class="jumping-button wow fadeInUp">
                <button class="close-long-read">
                    <span>З</span>
                    <span>а</span>
                    <span>к</span>
                    <span>р</span>
                    <span>ы</span>
                    <span>т</span>
                    <span>ь</span>
                </button>
            </div>
        </div>
    </div>
</div>