<div id="design-two" class="screen-block">

    <!-- language -->
    @@include('./components/languages.html')

    <!-- services-schedule -->
    <div class="services-schedule">      
        <div class="container">
            <div class="item up">
                <p class="name cyrillic">
                    <span>Услуги</span><br>
                    <span>дизайна</span>
                </p>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <section class="title">
                    <div class="word">
                        <span>UI/UX (web design)</span>
                    </div>
                    <p>Проектирование пространства страниц веб-сайта с целью создания максимально привлекательного, удобного и эффективного восприятия информации вашей аудиторией.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                <a href="design/ui-ux.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>
            <div class="item up">
                <div class="services-line"></div>
                <div class="services-line right"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <div class="services-line"></div>
            </div>
            <div class="item">
                <section class="title">
                    <div class="word">
                        <span>Разработка Brand Book</span>
                    </div>
                    <p>Официальный внутрикорпоративный документ, который содержит подробную информацию об основных элементах идентичности и атрибутах бренда.</p>
                </section>
                <div class="services-line"></div>

                <!-- crossed-button -->
                <a href="design/brand-book.html" class="crossed-button wow fadeInLeft" data-wow-delay=".3s">
                    <span>Подробнее</span>
                    <div class="arrow-container">
                        <svg class="arrow" x="0px" y="0px"
                            viewBox="0 0 34.8 7.3">
                            <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                            <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                            <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                        </svg>      
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>