.menu {
    $menuItemWidth: 90px;
    $menuItemWidthSmall: 55px;
    $dif: 1px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: $menuZIndex;
    width: $menuItemWidthSmall;
    height: $menuItemWidthSmall;
    background: transparent;
    color: $black;
    font-family: $Roboto-Regular;
    overflow: hidden;
    perspective: 300px;
    perspective-origin: 50% 50%;
    transition: width 0s $time * 7, height 0s $time * 7, background $time $time * 5;

    .hamburger {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 26px;
        height: 17px;
        transform: translate(-50%, -50%);
        transition: left $time;

        &__item {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            background: $black;
            transform-origin: 50% 50%;

            &--small {
                width: 50%;
            }

            &:nth-child(1) {
                top: 0;
                transition: top $time $time, width 0s $time;
            }

            &:nth-child(2) {
                top: calc(100% / 3);
                transition: top $time $time, transform $time;
            }

            &:nth-child(3) {
                top: calc(100% / 3 * 2);
                transition: top $time $time, width 0s $time;
            }

            &:nth-child(4) {
                top: 100%;
                transition: top $time $time, transform $time;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 5px;
        width: $menuItemWidth;
        height: $menuItemWidth;
        border: 1px solid $black;
        backface-visibility: hidden;
        color: $white;
        transition: transform $time linear;

        &--small {
            display: block;
            padding-top: 0;
            width: $menuItemWidthSmall;
            height: $menuItemWidthSmall;
        }

        &--diagonal-transformed {
            transform-origin: 100% 0;
            transform: rotate3d(1, 1, 0, -180deg);
        }

        &--top-transformed {
            transform-origin: 50% 0;
            transform: rotateX(-180deg);
        }

        &--right-transformed {
            transform-origin: 100% 50%;
            transform: rotateY(-180deg);
        }

        &:nth-child(1) {
            top: 0;
            right: 0;
            transition-delay: $time * 6;
        }

        &:nth-child(2) {
            top: $menuItemWidthSmall - $dif;
            right: $menuItemWidthSmall - $dif;
            transition-delay: $time * 5;
        }

        &:nth-child(3) {
            top: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            right: $menuItemWidthSmall - $dif;
            transition-delay: $time * 4;
        }

        &:nth-child(4) {
            top: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            right: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            transition-delay: $time * 3;
        }

        &:nth-child(5) {
            top: $menuItemWidthSmall + $menuItemWidth * 2 - $dif * 3;
            right: $menuItemWidthSmall - $dif;
            transition-delay: $time * 3;
        }

        &:nth-child(6) {
            top: $menuItemWidthSmall + $menuItemWidth * 2 - $dif * 3;
            right: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            transition-delay: $time * 2;
        }

        &:nth-child(7) {
            top: $menuItemWidthSmall + $menuItemWidth * 3 - $dif * 4;
            right: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            transition-delay: $time;
        }
    }

    &__index {
        align-self: flex-end;
        color: $black;
        font-family: $Roboto-Regular;
        font-size: 14px;
    }

    &__icon {
        margin-top: 5px;
        color: $black;
        font-family: $Raleway-ExtraBold;
        font-size: 30px;
        text-align: center;
    }

    &__name {
        margin-top: 10px;
        color: $black;
        font-family: $Roboto-Regular;
        font-size: 16px;
        text-align: center;
    }

    &.scrolled {

        .hamburger {
            left: 65%;
        }

        .menu {

            &__item {

                &--small {
                    border: 0;
                }
            }
        }
    }

    &.opened {
        width: 100vw;
        height: 100vh;
        background: $white;
        transition: width 0s, height 0s, background $time;

        .menu {

            &__item {
                transform: none;

                &:nth-child(2) {
                    transition-delay: $time;
                }

                &:nth-child(3) {
                    transition-delay: $time * 2;
                }

                &:nth-child(4) {
                    transition-delay: $time * 3;
                }

                &:nth-child(5) {
                    transition-delay: $time * 3;
                }

                &:nth-child(6) {
                    transition-delay: $time * 4;
                }

                &:nth-child(7) {
                    transition-delay: $time * 5;
                }

                &--small {
                    border: 1px solid $black;
                }
            }
        }

        .hamburger {
            left: 50%;

            &__item {

                &:nth-child(1),
                &:nth-child(3) {
                    top: 50%;
                    width: 0;
                    transition: top $time, width 0s $time;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    top: 50%;
                    transform: rotate(45deg);
                    transition: top $time, transform $time $time;
                }

                &:nth-child(4) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}