& {  

    position: absolute;
    top: 0;
    right: 0;
    z-index: 9998;
    width: px(126);
    height: px(126);
    color: $white;
    transition: width 0s 2s, height 0s 2s, background $time * 3 $time * 5;

    $menuItemHeight: px(196);
    $menuItemWidth: px(196);
    $menuItemWidthSmall: px(126);
    $dif: px(2);

    .menu__item {
        box-sizing: border-box;
        position: absolute;
        float: right;
        padding-top: px(52);
        width: px(196);
        height: px(196);
        border: 1px solid $white;
        backface-visibility: hidden;
        color: $white;
        transition: transform $menuMobileAnimationTime;

        .serial-number {
            position: absolute;
            top: px(14);
            right: px(10);
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: px(28);
        } 

        .symbol {
            font-family: $Raleway-ExtraBold;
            font-size: px(60);
            text-align: center;
        }

        .name {
            margin-top: px(40);
            font-family: $Roboto-Regular;
            font-size: px(32);
            text-align: center;
        }

        &--open-close {
            position: relative;
            padding-top: px(32);
            width: $menuItemWidthSmall;
            height: $menuItemWidthSmall;

            .hamburger {
                position: relative;
                margin: 0 auto;
                width: px(52);
                height: px(34);
    
                &-tick {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 3px;
                    background: $white;
                    transform-origin: 50% 50%;
    
                    &-1 {
                        top: 0;
                        width: 50%;
                        transition: top $time $time, width 0s $time;
                    }
    
                    &-2 {
                        top: calc(100% / 3);
                        transition: top $time $time, transform $time;
                    }
    
                    &-3 {
                        top: calc(100% / 3 * 2);
                        width: 50%;
                        transition: top $time $time, width 0s $time;
                    }
                    
                    &-4 {
                        top: 100%;
                        transition: top $time $time, transform $time;
                    }
                }
            }

            .name {
                margin-top: px(20);
                font-size: px(24);
            }
        }

        &--about-us {
            top: $menuItemWidthSmall - $dif;
            right: $menuItemWidthSmall - $dif;   
        }

        &--portfolio {
            top: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            right: $menuItemWidthSmall - $dif;   
        }

        &--services {
            top: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
            right: $menuItemWidthSmall + $menuItemWidth - $dif * 2;   
        }

        &--contact {
            top: $menuItemWidthSmall + $menuItemWidth * 2 - $dif * 3;
            right: $menuItemWidthSmall - $dif;   
        }

        &--blog {
            top: $menuItemWidthSmall + $menuItemWidth * 2 - $dif * 3;
            right: $menuItemWidthSmall + $menuItemWidth - $dif * 2;
        }

        /* STYLES FOR ANIMATION */
        &--about-us {
            transform-origin: 100% 0;
            transform: perspective(300px) rotateX(90deg) rotateY(90deg);
        }

        &--portfolio,
        &--contact {
            transform-origin: 50% 0;
            transform: perspective(300px) rotateX(-90deg);
        }

        &--services,
        &--blog {
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        &--about-us {
            transition-delay: $timeTick * 2 + $time + $menuMobileAnimationTime * 3;
        }

        &--portfolio {
            transition-delay: $timeTick * 2 + $time + $menuMobileAnimationTime * 2;
        }

        &--services,
        &--contact {
            transition-delay: $timeTick * 2 + $time + $menuMobileAnimationTime;
        }

        &--blog {
            transition-delay: $timeTick * 2 + $time;
        }
        /* STYLES FOR ANIMATION END */
    }

    .social {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 60px;
        left: 0;
        padding: 0 px(30);
        width: 100%;
        color: $gray;
        // color: $white;
        font-family: $Roboto-Thin;
        font-size: px(24);

        &__item {
            overflow: hidden;

            span {
                display: block;
                padding: px(20) 0;
                transform: translateY(101%);
                transition: transform $time;
            }

            &--facebook {
                
                span {
                    transition-delay: $timeTick * 2;
                }
            }

            &--instagram {
                
                span {
                    transition-delay: $timeTick;
                }
            }

            &--behance {
                
                span {
                    transition-delay: 0s;
                }
            }
        }
    }

    &.opened {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .85);
        transition: width 0s, height 0s, background $time;

        .menu__item {
            transform: none;

            &--open-close {

                .hamburger {
    
                    &-tick {
    
                        &:nth-child(1),
                        &:nth-child(3) {
                            top: 50%;
                            width: 0;
                            transition: top $time, width 0s $time;
                        }

                        &:nth-child(2),
                        &:nth-child(4) {
                            top: 50%;
                            transform: rotate(45deg);
                            transition: top $time, transform $time $time;
                        }

                        &:nth-child(4) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            /* STYLES FOR ANIMATION */
            &--about-us {
                transition-delay: 0s;
            }

            &--portfolio {
                transition-delay: $menuMobileAnimationTime;
            }

            &--services,
            &--contact {
                transition-delay: $menuMobileAnimationTime * 2;
            }

            &--blog {
                transition-delay: $menuMobileAnimationTime * 3;
            }
            /* STYLES FOR ANIMATION ENDS */
        }

        .social {

            &__item {

                span {
                    transform: none;
                }

                &--facebook {
                    
                    span {
                        transition-delay: $menuMobileAnimationTime * 4;
                    }
                }
    
                &--instagram {
                    
                    span {
                        transition-delay: $menuMobileAnimationTime * 4 + $timeTick;
                    }
                }
    
                &--behance {
                    
                    span {
                        transition-delay: $menuMobileAnimationTime * 4 + $timeTick * 2;
                    }
                }
            }
        }
    }
}
