& {  
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    bottom: px(60);
    left: 0;
    z-index: 6;
    margin-left: 3%;
    width: 93%;
    overflow: hidden;

    a {
        display: flex;
        height: px(40);
        cursor: pointer;

        &:hover {

            span {
                padding: 0 px(60) 0 px(50);
            }

            .arrow {
                opacity: 1;
                transform: translateX(10%);
            }
        } 
    }

    span {
        position: relative;
        padding-left: px(96);
        color: $lightGray;
        font-size: px(24);
        font-family: $raleway;
        line-height: 16px;
        font-weight: 700; 
        text-transform: uppercase;
        transition: padding $timeTick;
        // animation: FadeInRight $portfolioBottomTextAnimationTime $portfolioBottomTextDelayTime both;

        &:before {
            content: 'К портфолио';
        }
    }

    .arrow-container {
        width: px(80);
        overflow: hidden;
    }

    .arrow {
        width: 90%;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity $timeTickHalf, transform $time;

        .st0 {
            fill: $lightGray;
            stroke: $lightGray;
            stroke-width: 0.75;
            stroke-miterlimit: 10;
        }

        .st1 {
            fill: none;
            stroke: $lightGray;
            stroke-width: 0.75;
            stroke-miterlimit: 10;
        }
    }

    .line {
        flex-grow: 1;
        height: 1px;
        background: $lightGray;
        transition: width $timeTick;
        // animation: right $portfolioBottomLineAnimationTime $portfolioBottomLineDelayTime both;
    }
}