& {  
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    bottom: px(50);
    padding: 0 px(30);
    width: 100%;

    a {
        display: flex;
        height: px(40);
        cursor: pointer;

        &:hover {
            span {
                padding: 0 px(88) 0 px(20);
            }

            .arrow {
                opacity: 1;
                transform: translateX(10%);
            }
        } 
    }

    span {
        padding-left: px(60);
        color: rgba(0, 0, 0, .4);
        font-size: px(24);
        line-height: 16px;
        font-weight: 700; 
        text-transform: uppercase;
        transition: padding $timeTick;
    }

    .arrow-container {
        position: absolute;
        right: px(30);
        width: px(74);
        overflow: hidden;
    }

    .arrow {
        width: 90%;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity $timeTickHalf, transform $time;

        .st0 {
            fill: $gray;
            stroke: $gray;
            stroke-width: 0.75;
            stroke-miterlimit: 10;
        }

        .st1 {
            fill: none;
            stroke: $gray;
            stroke-width: 0.75;
            stroke-miterlimit: 10;
        }
    }

    .line {
        flex-grow: 1;
        height: 1px;
        background: rgba(0, 0, 0, .3);
        transition: width $timeTick;
    }
}