<div class="audi screen-block">

    <img class="audi-block-image" src="../../../images/index/audi-rs4-mirror.jpg">

    <div id="mirror" class="mirror">
        <img class="audi-block-image" src="../../../images/index/audi-rs4-mirror.jpg">
    </div>

    <div class="portfolio-client">
        <span class="client">Client/</span>
        <span class="client-name-container">
            <span>Audi</span>
        </span>
    </div>

    <div class="info">
        <div class="sticker">
            <span>Портфолио</span>
        </div>

        <span class="project-name">Audi</span>

        <div class="about-work">
            <p>
                Мы обеспечили официальному представителю
                Audi лидерство на украинском рынке!
            </p>
        </div>

        <a class="special-button" href="#">
            <span class="special-button-text">Посмотреть проект</span>
        </a>
    </div>

    <div class="portfolio-right-panel">
        <div class="date">
            <span class="date-month">April</span>
            <span class="date-year"> /2016</span>
        </div>
        <div class="devices">
            <span>Development</span>
            <span>Marketing</span>
            <span>SEO</span>
        </div>
    </div>

    <div class="bottom-button">
        <a href="#">
            <span>К портфолио</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>

    <script>
        var substrate = document.currentScript.parentElement,
            ttl = substrate.querySelector('.project-name')

        substrate.onmousemove = function(e) {
            ttl.style.transform = `translateX(${- e.clientX * 0.03}px)`;
        }
    </script>
</div>