<div id="blog-one" class="screen-block">
    <div class="light">
        
        <!-- small-gray-lines -->
        @@include('./components/small-gray-lines.html')
    </div>
    
    <!-- image-block -->
    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="../images/index/blog-1.png" alt="blog-one">
        </div>
        <p>6 октября 2017</p>
    </div>

    <!-- title -->
    <div class="title dark padding">
    	<span class="name"><span>блог</span></span>
        <div class="word">
            <span>Шаблон или индивидуальная</span>
    	</div>
        <div class="word">
            <span>разработка: что выбрать</span>
        </div>
        <div class="word">
            <span>при создании сайта?</span>
        </div>
        <p>На рынке веб-разработки нет какой-то единой, общепризнанной модели поведения — одни компании уверенно тратят сотни тысяч на сайт, а другие за сутки моделируют сайт на основе шаблона. И первые, и вторые, вероятно, считают свой выбор правильным. Но для нас важный критерий — это эффективность сайта для бизнеса, уровень посещаемости и позиции в Google. Разберёмся, какой сайт  — по шаблону или индивидуальной разработке — лучше по этим критериям.</p>

        <!-- jumping-button -->
        <div class="jumping-button jump-letters">
            <a href="#" class="cyrillic" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div>
    </div>

    <!-- service-info -->
    <!-- <div class="service-info vertical">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div> -->
    
    <!-- bottom-button -->
    <div class="bottom-button">
        <a href="">
            <span>Все новости</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>
</div>