<div id="blog-two" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- menu -->
    @@include('./components/menu.html')

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')
    
    <!-- image-block -->
    <div class="image-block up">
        <div class="image-container">
            <img src="../images/index/blog-2.png" alt="blog-two">
        </div>
        <div class="gray"></div>
        <p>10 октября 2017</p>
    </div>
    <div class="image-block down">
        <div class="image-container">
            <img src="../images/index/blog-3.png" alt="blog-three">
        </div>
    </div>

    <!-- title -->
    <div class="title padding">
        <span class="name"><span>блог</span></span>
        <div class="word">
            <span>Слишком затратно: 6 примеров</span>
        </div>
        <div class="word">
            <span>UX дизайна, который</span>
        </div>
        <div class="word">
            <span>дорого обходится компаниям</span>
        </div>
        <p>Исследования в области Web Production показывают, что с каждым годом компании по всему миру всё более увеличивают свой бюджет на UX дизайн. Эта тенденция говорит о том, что бизнес, наконец, начинает понимать важность качественного, удобного и функционального веб-дизайна. Однако всё не так хорошо, как хотелось бы: многие компании всё ещё пользуются устаревшими, несовершенными методами UX дизайна, почти впустую растрачивая десятки тысяч долларов.</p>

        <!-- jumping-button -->
        <div class="jumping-button jump-letters">
            <a href="#" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div>
    </div>

    <!-- service-info -->
    <!-- <div class="service-info vertical one">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="service-info horizontal">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, recusandae laboriosam minus sed!</p>
    </div> -->

    <!-- bottom-button -->
    @@include('./components/bottom-button.html')
</div>