<div id="blog-one" class="screen-block">
    <div class="dark-logo">
        
        <!-- logo -->
        @@include('./components/logo.html')
    </div>
    <div class="dark-menu">

        <!-- menu -->
        @@include('./components/menu.html')
    </div>
    <div class="light">
        <!-- small-gray-lines -->
        @@include('./components/small-gray-lines.html')
    </div>
    
    <!-- image-block -->
    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="../images/index/blog-1.png" alt="blog-one">
        </div>
        <p>20 April 2017</p>
    </div>

    <!-- title -->
    <div class="title dark padding">
    	<span class="name"><span>блог</span></span>
        <div class="word">
            <span>Lorem ipsum</span>
    	</div>
        <div class="word">
            <span>dolor sit amet</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <!-- jumping-button -->
        <div class="jumping-button jump-letters">
            <a href="#" class="cyrillic" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    
    <!-- portfolio-right-panel -->
    @@include('./components/bottom-button.html')
</div>