<div id="blog-three" class="screen-block">
    <div class="light">

        <!-- small-gray-lines -->
        @@include('./components/small-gray-lines.html')
    </div>

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')
    
    <!-- image-block -->
    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="../images/index/blog-3.png" alt="blog-three">
        </div>
        <p>12 октября 2017</p>
    </div>

    <!-- title -->
    <div class="title dark padding">
        <span class="name"><span>блог</span></span>
        <div class="word">
            <span>Почему комплексное</span>
        </div>
        <div class="word">
            <span>продвижение сайта</span>
        </div>
        <div class="word">
            <span>эффективнее?</span>
        </div>
        <p>Комплексные решения по продвижению сайта — это большой пакет услуг для бизнеса, объединяющий все основные инструменты маркетинга и Web-Production. Комплексное решение направлено на цельное и всесторонне решение одной масштабной задачи — качественно презентовать ваш бизнес в интернете.</p>
        
        <!-- special-buttons -->
        <div class="special-buttons">
            <a class="special-button" href="#">
                <span class="special-button-text">Читать статью</span>
            </a>
            <a class="animated-button option" href="#">
                <span>К блогу</span>
            </a>
        </div>
    
        <!-- jumping-button -->
        <!-- <div class="jumping-button jump-letters">
            <a href="#" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div> -->
    </div>

    <!-- service-info -->
    <!-- <div class="service-info vertical">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div> -->

    <!-- bottom-button -->
    @@include('./components/bottom-button.html')
</div>