<div id="blog-three" class="screen-block">

    <!-- logo -->
    <div class="dark-logo">
        @@include('./components/logo.html')
    </div>
    <!-- menu -->
    <div class="dark-menu">
        @@include('./components/menu.html')
    </div>
    <!-- small-gray-lines -->
    <div class="light">
        @@include('./components/small-gray-lines.html')
    </div>

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- back-layer -->
    <div class="page-layer back-layer"></div>

    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="../images/index/blog-3.png" alt="blog-three">
        </div>
        <p>20 April 2017</p>
    </div>

    <!-- title -->
    <div class="title dark padding">
        <span class="name"><span class="cyrillic">блог</span></span>
        <div class="word">
            <span>Lorem ipsum</span>
        </div>
        <div class="word">
            <span>dolor sit amet</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
        <!-- jump-button -->
        <div class="jump-button jump-letters">
            <a href="#" class="cyrillic" target="_blank">
                <span>п</span>
                <span>о</span>
                <span>д</span>
                <span>р</span>
                <span>о</span>
                <span>б</span>
                <span>н</span>
                <span>е</span>
                <span>е</span>
            </a>
        </div>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <!-- portfolio-right-panel -->
    @@include('./components/bottom-button.html')
</div>