<div id="clock" class="screen-block">

    <!-- logo -->
    <!-- @@include('./components/logo.html') -->

    <!-- menu -->
    <!-- @@include('./components/menu.html') -->

    <!-- scroll -->
    @@include('./components/scroll.html')

    <!-- social -->
    @@include('./components/social.html')

    <!-- languages -->
    @@include('./components/languages.html')
    
    <!-- copyright -->
    @@include('./components/copyright.html')

    <!-- letter c -->
    @@include('./components/big-background-letter.html')

    <!-- title -->
    <section class="title">
        <div class="word">
            <span>Let's rock the world</span>
        </div>
        <div class="word">
            <span>with our ideas</span>
        </div>
        <div class="word">
            <span>Підкорюйте світ разом з нашими ідеями</span>
        </div>
    </section>

    <!-- watch -->
    <div class="watch-light"></div>
    <div class="watch-shadow"></div>
    <div class="watch">
        <div class="hours-container">
            <div class="hours"></div>
        </div>
        <div class="minutes-container">
            <div class="minutes"></div>
        </div>
        <div class="seconds-container">
            <div class="seconds"></div>
        </div>
    </div>
</div>