<div class="clock screen-block">

    @@include('./components/social.html')

    @@include('./components/languages.html')
    
    @@include('./components/copyright.html')

    @@include('./components/big-background-letter.html')

    <section class="title">
        <div class="word">
            <h1 class="up">Digital агенство Clock Creative Lab</h1>
        </div>
        <div class="word">
            <span class="down">Підкорюйте світ разом з нашими ідеями</span>
        </div>
    </section>

    <div class="watch-light"></div>
    <div class="watch-shadow"></div>
    <div class="watch">
        <div class="hours-container">
            <div class="hours"></div>
        </div>
        <div class="minutes-container">
            <div class="minutes"></div>
        </div>
        <div class="seconds-container">
            <div class="seconds"></div>
        </div>
    </div>

    @@include('./components/scroll.html')
</div>