<div class="company-description screen-block">
    @@include('./components/languages-dark.html')

    <div class="big-background-letter">
        <span>C</span>
    </div>

    <div class="container">
        <div class="texts">
            <span class="sticker">
                <span class="sticker-text">О Компании</span>
            </span>

            <div class="phrases-container">
                <span class="phrase">Let's rock the </span>
                <span class="phrase">world with our </span>
                <span class="phrase">ideas</span>
            </div>

            <p class="phrase-translation">
                Покоряйте мир вместе с нашими идеями
            </p>
    
            <p class="phrase-description">
                Мы &mdash; балансируем между студией веб-дизайна, 
                агенством диджитал маркетинга и брендингового агенства
            </p>
    
            <a href="about-company.html" class="crossed-button">
                <span>Перейти на страницу</span>
                <div class="arrow-container">
                    <svg class="arrow" x="0px" y="0px"
                        viewBox="0 0 34.8 7.3">
                        <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                        <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                        <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                    </svg>      
                </div>
            </a>
        </div>
    
        <div class="images">
            <div class="image-container">
                <img src="../images/about-company/about-company-1.png" alt="about-company-two">
            </div>
            <div class="image-container">
                <img src="../images/about-company/about-company-3.png" alt="about-company-two">
            </div>
        </div>
    </div>

    <div class="rotated-text">
        <p>
            Мы не работаем строго по ТЗ, наша философия - 
            заставить ваш бизнес работать.
        </p>
    </div>
</div>