<div class="screen-block euro-club">
    
    <!-- logo -->
    <div class="dark-logo">
        @@include('./components/logo.html')
    </div>
    
    <!-- menu -->
    <div class="dark-menu">
        @@include('./components/menu.html')
    </div>

    <!-- portfolio-client -->
    <div class="dark-portfolio-client">
        @@include('./components/portfolio-client.html')
    </div>
    
    <!-- small-gray-lines -->
    @@include('./components/small-gray-lines.html')

    <!-- big-background-letter o -->
    @@include('./components/big-background-letter.html')

    <!-- info -->
    <div class="info">
        <div class="sticker">
            <span></span>
        </div>
        <h2 class="new-title">
            <div class="text-container">
                <span>Euro club</span>
            </div>
        </h2>
        <div class="about-work">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua.                    
            </p>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>

    <div class="blue-line"></div>
    <div class="image-block">
        <div class="image-container">
            <img src="../../../images/index/euro-club.jpg" alt="euro-club">
        </div>
        <p>
            Lorem ip sum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor
        </p>
    </div>

    <!-- portfolio-right-panel -->
    <div class="dark-portfolio-right-panel">
        @@include('./components/portfolio-right-panel.html')
    </div>
    
    <!-- bottom-button -->
    @@include('./components/bottom-button.html')

    <!-- long-text -->
    <!-- @@include('./components/long-text.html') -->
    
</div>