<div class="home-blog screen-block">
    <div class="light">
        @@include('./components/small-gray-lines.html')
    </div>

    <div class="big-background-letter">
        <span>C</span>
    </div>

    <div class="container">
        <div class="blue-line"></div>

        <div class="text-block">
            <div class="sticker">
                <span class="sticker-text">блог</span>
            </div>
            
            <div class="new-title">
                <div class="text-container">
                    <span class="new-title-text">Почему комплексное</span>
                </div>
                <div class="text-container">
                    <span class="new-title-text">продвижение сайта</span>
                </div>
                <div class="text-container">
                    <span class="new-title-text">эффективнее</span>
                </div>
            </div>

            <p class="text">
                Комплексные решения по продвижению сайта — это 
                большой пакет услуг для бизнеса, объединяющий 
                все основные инструменты маркетинга и Web-Production. 
                Комплексное решение направлено на цельное и 
                всесторонне решение одной масштабной задачи — 
                качественно презентовать ваш бизнес в интернете.
            </p>
            
            <div class="special-buttons">
                <a class="special-button" href="#">
                    <span class="special-button-text">Читать статью</span>
                </a>
                <a class="animated-button option" href="#">
                    <span>К блогу</span>
                </a>
            </div>
        </div>

        <div class="image-block">
            <div class="image-container">
                <img src="../images/index/blog-3.png" alt="blog-three">
            </div>
            <p class="date">12 октября 2017</p>
        </div>
    </div>

    <div class="bottom-button">
        <a href="#">
            <span>Все новости</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>
</div>