<div class="our-best-works screen-block">

    <div class="front-layer">
        @@include('./components/big-background-letter.html')

        <div class="lines">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            <div class="line line--4"></div>
            <div class="line line--5"></div>
        </div>

        <div class="container">
            <div class="info">
                <div class="sticker">
                    <span>Портфолио</span>
                </div>
                <div class="new-title">
                    <div class="text-container">
                        <span>Наши лучшие работы</span>
                    </div>
                </div>
                <a href="portfolio.html" class="special-button">
                    <span class="special-button-text">Смотреть все проекты</span>
                </a>
            </div>
            <div class="portfolio">
                <a href="" class="portfolio__item portfolio__item--audi">
                    <div class="front">
                        <span class="project-name">Audi</span>
                        <div class="image-container">
                            <img src="../../../images/portfolio/audi.jpg" alt="audi">
                        </div>
                    </div>
                    <div class="back">
                        <div class="project-logo">
                            <img src="../../../images/about-company/brands/audi.png" alt="audi-logo">
                        </div>
                        <p class="project-description">
                            EuroClub — официальная локация международного песенного конкурса 
                            «Евровидение-2017», предназначенная для проведения вечеринок и 
                            мероприятий для участников конкурса, их фанатов, а также 
                            представителей прессы. Команда Clock Creative Lab работала 
                            над созданием Landing Page для EuroClub, одним из важных 
                            элементов официального сайта конкурса «Евровидение-2017».
                        </p>
                        <button class="go-to-project">
                            <span>Посмотреть проект</span>
                        </button>
                    </div>
                </a>
                <a href="" class="portfolio__item portfolio__item--dela">
                    <div class="front">
                        <span class="project-name">Dela ua</span>
                        <div class="image-container">
                            <img src="../../../images/portfolio/dela.jpg" alt="dela">
                        </div>
                    </div>
                    <div class="back">
                        <div class="project-logo">
                            <img src="../../../images/about-company/brands/dela.png" alt="dela-logo">
                        </div>
                        <p class="project-description">
                            EuroClub — официальная локация международного песенного конкурса 
                            «Евровидение-2017», предназначенная для проведения вечеринок и 
                            мероприятий для участников конкурса, их фанатов, а также 
                            представителей прессы. Команда Clock Creative Lab работала 
                            над созданием Landing Page для EuroClub, одним из важных 
                            элементов официального сайта конкурса «Евровидение-2017».
                        </p>
                        <button class="go-to-project">
                            <span>Посмотреть проект</span>
                        </button>
                    </div>
                </a>
                <a href="" class="portfolio__item portfolio__item--euro-club">
                    <div class="front">
                        <span class="project-name">Euro club</span>
                        <div class="image-container">
                            <img src="../../../images/portfolio/euro-club.jpg" alt="dela">
                        </div>
                    </div>
                    <div class="back">
                        <div class="project-logo">
                            <img src="../../../images/about-company/brands/eurovision.png" alt="euro-club-logo">
                        </div>
                        <p class="project-description">
                            EuroClub — официальная локация международного песенного конкурса 
                            «Евровидение-2017», предназначенная для проведения вечеринок и 
                            мероприятий для участников конкурса, их фанатов, а также 
                            представителей прессы. Команда Clock Creative Lab работала 
                            над созданием Landing Page для EuroClub, одним из важных 
                            элементов официального сайта конкурса «Евровидение-2017».
                        </p>
                        <button class="go-to-project">
                            <span>Посмотреть проект</span>
                        </button>
                    </div>
                </a>
                <a href="" class="portfolio__item portfolio__item--your-project open-form">
                    <div class="front">
                        <span class="project-name">Ваш проект</span>
                        <div class="plus">
                            <div class="plus-row plus-row--1"></div>
                            <div class="plus-row plus-row--2"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @@include('./components/bottom-button.html')
    </div>

    <div class="back-layer">
        @@include('./components/form.html')
    </div>
    
</div>