<div class="our-clients screen-block">

    <div class="lines">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
        <div class="line line--4"></div>
        <div class="line line--5"></div>
    </div>

    <div class="container">  
        <div class="sticker">
            <span>Наши клиенты</span>
        </div>

        <div class="new-title">
            <div class="text-container">
                <span>Нам доверяют, нас знают, нас ценят</span>
            </div>
        </div>

        <div class="clients">
            <div class="client">
                <img src="../images/about-company/brands/audi.png" alt="Audi">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/accessorize.png" alt="Accessorize">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/pepe-jeans.png" alt="Pepe Jeans">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/shell.png" alt="Shell">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/eurovision.png" alt="Eurovision">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/walker.png" alt="Walker">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/zabirya.png" alt="Zabirya">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/jti.png" alt="JTI">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/gstar-raw.png" alt="G-Star Raw">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/alta-capital.png" alt="Alta Capital">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/gant.png" alt="GANT">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/stem.png" alt="Stem">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/dkny-men.png" alt="DKNY">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/dela.png" alt="Dela">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/diesel.png" alt="Diesel">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/oodji.png" alt="Oodji">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/lets-help.png" alt="Let's Help">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/vinograd.png" alt="Vinograd">
            </div>
            <div class="client">
                <img src="../images/about-company/brands/bobo.png" alt="Bobo">
            </div>
        </div>
    </div>

    <p class="vertical-text">
        Предлагаем то, что нужно именно Вам. Идей много, но решение 
        одно — самое эффективное.
    </p>
</div>