<div class="screen-block q7">
    
    <!-- logo -->
    <div class="dark-logo">
        @@include('./components/logo.html')
    </div>
    
    <!-- menu -->
    <div class="dark-menu">
        @@include('./components/menu.html')
    </div>

    <!-- portfolio-client -->
    <div class="dark-portfolio-client">
        @@include('./components/portfolio-client.html')
    </div>

    <!-- info -->
    <div class="info">
        
        @@include('./components/sticker.html')

        <h2 class="new-title">
            <div class="text-container">
                <span>Audi</span>
            </div>
        </h2>
        <div class="about-work">
            <p>«Ауди Центр Киев Юг» – официальный дилер немецкого автомобильного концерна Audi. Как и Audi AG, дилер «Ауди Центр Киев Юг» динамично растёт и развивается. Качественное продвижение собственных дилерских услуг, а также популяризация бренда Audi в интернете — одна из главных амбиций. Команда Clock Creative Lab была выбрана как исполнитель миссии.</p>
        </div>
    </div>

    <div class="car-covering-layer car-covering-layer--left">
        <div class="image-container">
            <img src="../../../images/index/q7.jpg" alt="q7">
        </div>
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--right">
        <div class="lines">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>
    </div>
    <div class="car-covering-layer car-covering-layer--center">
        <img src="../../../images/index/q7.jpg" alt="q7">
    </div>

    <!-- portfolio-right-panel -->
    <div class="dark-portfolio-right-panel">
        @@include('./components/portfolio-right-panel.html')
    </div>

    <!-- bottom-button -->
    <!-- ссылка на страницу portfolio.html -->
    @@include('./components/bottom-button.html')

</div> 