<div id="service-two" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- menu -->
    @@include('./components/menu.html')

    <!-- small-gray-lines -->
    @@include('./components/small-gray-lines.html')

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- title -->
    <div class="title">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Lorem ipsum</span>
    	</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p>Lorem ipsum dolor sit amet</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>

    <!-- portfolio-right-panel -->
    @@include('./components/bottom-button.html')
</div>