<div id="service-one" class="screen-block">
    <div class="dark-logo">
        
        <!-- logo -->
        @@include('./components/logo.html')
    </div>
    <div class="dark-menu">
        
        <!-- menu -->
        @@include('./components/menu.html')
    </div>

    <!-- clock-bg -->
    @@include('./components/clock-bg.html')

    <!-- title -->
    <div class="title dark">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Разработка дизайна</span>
    	</div>
        <p>Дизайн — важный инструмент Web-Production и сильнейший инструмент маркетинга. С развитием интернета и повышением спроса на создание сайтов, web-дизайн получил мощный толчок к развитию. Назначение современного дизайна в веб-среде — на стыке эстетики и стиля, функциональности и логики. Это профессиональная художественно-техническая деятельность по проектированию пользовательских интерфейсов сайтов.</p>
    </div>

    <!-- service-info -->
    <div class="service-info horizontal">
        <p>Именно дизайн делает ваш сайт уникальным и выразительным, визуально транслирует в массы философию бренда.</p>
    </div>
    <div class="service-info vertical one">
        <p>Дизайн — не только эстетика, он имеет цели и решает конкретные задачи.</p>
    </div>
    <div class="service-info vertical two">
        <p>Мы оказываем полный комплекс услуг по разработке брендбука и фирменного стиля компании.</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>
    
    <!-- bottom-button -->
    @@include('./components/bottom-button.html')
</div>