<div id="service-one" class="screen-block">
    <div class="dark-logo">
        
        <!-- logo -->
        @@include('./components/logo.html')
    </div>
    <div class="dark-menu">
        
        <!-- menu -->
        @@include('./components/menu.html')
    </div>

    <!-- clock-bg -->
    @@include('./components/clock-bg.html')

    <!-- title -->
    <div class="title dark">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Lorem ipsum dolor</span>
    	</div>
        <div class="word">
            <span>sit amet</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.t enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <!-- service-info -->
    <div class="service-info horizontal">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quisquam perspiciatis, eos praesentium error repellendus porro doloribus.</p>
    </div>
    <div class="service-info vertical one">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quisquam perspiciatis.</p>
    </div>
    <div class="service-info vertical two">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>
    
    <!-- bottom-button -->
    @@include('./components/bottom-button.html')
</div>