<div id="services" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- menu -->
    @@include('./components/menu.html')

    <!-- social -->
    @@include('./components/social.html')

    <!-- languages -->
    @@include('./components/languages.html')

    <!-- copyright -->
    @@include('./components/copyright.html')
    
    <!-- letter c -->
    @@include('./components/big-background-letter.html')

    <!-- services-schedule -->
    <div class="services-schedule">      
        <div class="container">
            <span class="name"><span>Услуги</span></span>
            <div class="item up">
                <a href="web-production.html" class="types__item">
                    <span class="index">
                        <span>01</span>
                    </span>
                    <div class="content">
                        <h3>WEB-PRODUCTION</h3>
                        <h3>(Разработка)</h3>
                        <ul>
                            <li><a href="services/web-production/landing.html">Landing Page</a></li>
                            <li><a href="services/web-production/corporate.html">Корпоративный сайт</a></li>
                            <li><a href="services/web-production/shop.html">Интернет-магазин</a></li>
                            <li><a href="services/web-production/card.html">Сайт визитка</a></li>
                        </ul>
                        <button class="crossed-button">
                            <span></span>
                            <div class="arrow-container">
                                <svg class="arrow" x="0px" y="0px"
                                    viewBox="0 0 34.8 7.3">
                                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                                </svg>      
                            </div>
                        </button>
                    </div>
                </a>
                <div class="services-line"></div>
            </div>
           <div class="item up">
                <a href="design.html" class="types__item">
                    <span class="index">
                        <span>02</span>
                    </span>
                    <div class="content">
                        <h3>Услуги дизайна</h3>
                        <ul>
                            <li><a href="services/design/ui-ux.html">UI/UX дизайн (web дизайн)</a></li>
                            <li><a href="services/design/brand-book.html">Разработка Brand Book</a></li>
                        </ul>
                        <button class="crossed-button">
                            <span></span>
                            <div class="arrow-container">
                                <svg class="arrow" x="0px" y="0px"
                                    viewBox="0 0 34.8 7.3">
                                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                                </svg>      
                            </div>
                        </button>
                    </div>
                </a>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <a href="marketing.html" class="types__item">
                    <span class="index">
                        <span>03</span>
                    </span>
                    <div class="content">
                        <h3>Маркетинг</h3>
                        <ul>
                            <li><a href="services/marketing/marketing-strategy.html">Разработка маркетинговой стратегии</a></li>
                            <li><a href="services/marketing/internet-marketing.html">Интернет-маркетинг</a></li>
                        </ul>
                        <button class="crossed-button">
                            <span></span>
                            <div class="arrow-container">
                                <svg class="arrow" x="0px" y="0px"
                                    viewBox="0 0 34.8 7.3">
                                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                                </svg>      
                            </div>
                        </button>
                    </div>
                </a>
                <div class="services-line"></div>
                <div class="services-line right"></div>
            </div>
            <div class="item">
                <a href="seo.html" class="types__item">
                    <span class="index">
                        <span>04</span>
                    </span>
                    <div class="content">
                        <h3>SEO</h3>
                        <ul>
                            <li><a href="services/seo/audit.html">SEO-аудит</a></li>
                            <li><a href="services/seo/creating.html">SEO на этапе создания сайта</a></li>
                            <li><a href="services/seo/sanctions.html">Снятие санкций поисковых систем</a></li>
                        </ul>
                        <button class="crossed-button">
                            <span></span>
                            <div class="arrow-container">
                                <svg class="arrow" x="0px" y="0px"
                                    viewBox="0 0 34.8 7.3">
                                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                                </svg>      
                            </div>
                        </button>
                    </div>
                </a>
                <div class="services-line"></div>
            </div>
            <div class="item">
                <a href="complex.html" class="types__item">
                    <span class="index">
                        <span>05</span>
                    </span>
                    <div class="content">
                        <h3>Комплексные решения &mdash;</h3>
                        <h3>"стратегия flexible"</h3>
                        <p>Наша уникальная услуга - формирование бренда с нуля от логотипа до полноценного бренда приносящего прибыль.</p>
                        <button class="crossed-button">
                            <span></span>
                            <div class="arrow-container">
                                <svg class="arrow" x="0px" y="0px"
                                    viewBox="0 0 34.8 7.3">
                                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                                </svg>      
                            </div>
                        </button>
                    </div>
                </a>
                <div class="services-line"></div>
            </div>
        </div>
    </div>
</div>