<div id="service-two" class="screen-block">

    <!-- small-gray-lines -->
    @@include('./components/small-gray-lines.html')

    <!-- big-background-letter -->
    @@include('./components/big-background-letter.html')

    <!-- title -->
    <div class="title">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Мы умеем делать крутые</span>
    	</div>
        <div class="word">
            <span>сайты и WEB-сервисы</span>
        </div>
        <p>Разработка веб-сайта — не механическая работа, а полноценное творчество; продукт сотрудничества креативной команды, у которой есть идеи, и узкопрофильных специалистов, умеющих обеспечить качественную техническую опору для них.<br><br>
        В разработке сайта невозможно обойтись лишь заботой о «красивом» дизайне и технических нюансах: нужна продуманная стратегия, необходимо учитывать маркетинговые и бизнес-задачи, требуется хорошая аналитика и компетентный прогноз. Чтобы получить в своё распоряжение один из лучших сайтов на рынке, обладающие высокой конкурентоспособностью, вам нужна профессиональная команда, их опыт, экспертиза и навыки.<br><br>
        В нашем понимании веб-сайт — прежде всего удобный и эффективный бизнес-инструмент. Сайт должен выполнять конкретные задачи и цели, иметь на 100% соответствующий общей стратегии стиль и функционал.</p>
    </div>

    <!-- service-info -->
    <div class="service-info vertical">
        <p>Сайт должен выполнять конкретные задачи</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>

    <!-- bottom-button -->
    <div class="bottom-button">
        <a href="">
            <span>Всу услуги</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>
</div>