<div id="service-three" class="screen-block">
    
    <!-- bg-image -->
    <img class="bg-image" src="../images/index/office.jpg" alt="">
    
    <!-- shadow -->
    <div class="shadow">
        <div></div>
        <div></div>
    </div>

    <!-- title -->
    <div class="title">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Комплексные решения &mdash;</span>
    	</div>
        <div class="word">
            <span>"стратегия flexible"</span>
        </div>
    </div>

    <!-- info-block -->
    <p class="info-block">“Стратегия Flexible” — проектирование пространства страниц веб-сайта с целью создания максимально привлекательного, удобного и эффективного восприятия информации вашей аудиторией.<br><br>
    Пользовательский интерфейс вашего сайта должен не просто быть красивым: содержимое должно быть логически связано, правильно подавать информацию для посетителя, а также подводить его к совершению определённых целевых действий, которые вам выгодны.</p>

    <!-- service-info -->
    <div class="service-info vertical one">
        <p>Разработаем уникальность Вашего бизнеса и донесем эту мысль до Луны и обратно.</p>
    </div>
    <div class="service-info vertical two">
        <p>Мы создаем бренды, которые взбудоражат Мир.</p>
    </div>
    <div class="service-info horizontal">
        <p>Стратегия Flexible — это и есть web-дизайн, его более глубокое и точное определение. Его задача — сделать пользовательский интерфейс сайта максимально привлекательным, удобным и логически правильным.</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>

    <!-- bottom-button -->
    <div class="bottom-button">
        <a href="">
            <span>Все услуги</span>      
            <div class="arrow-container">
                <svg class="arrow" x="0px" y="0px"
                    viewBox="0 0 34.8 7.3">
                    <line class="st0" x1="0.2" y1="3.5" x2="34.6" y2="3.5"/>
                    <line class="st1" x1="29.1" y1="0.3" x2="34.3" y2="3.5"/>
                    <line class="st1" x1="34.3" y1="3.5" x2="29.1" y2="6.7"/>
                </svg>      
            </div>
        </a>
        <div class="line"></div>
    </div>
</div>
