<div id="service-three" class="screen-block">

    <!-- logo -->
    <!-- @@include('./components/logo.html') -->

    <!-- menu -->
    <!-- @@include('./components/menu.html') -->
    
    <!-- bg-image -->
    <img class="bg-image" src="../images/index/office.jpg" alt="">
    
    <!-- shadow -->
    <div class="shadow">
        <div></div>
        <div></div>
    </div>

    <!-- title -->
    <div class="title">
    	<span class="name"><span>услуги</span></span>
        <div class="word">
            <span>Комплексные решения &mdash;</span>
    	</div>
        <div class="word">
            <span>"стратегия flexible"</span>
        </div>
    </div>

    <!-- info-block -->
    <p class="info-block">“Стратегия Flexible” — проектирование пространства страниц веб-сайта с целью создания максимально привлекательного, удобного и эффективного восприятия информации вашей аудиторией.<br><br>
    Пользовательский интерфейс вашего сайта должен не просто быть красивым: содержимое должно быть логически связано, правильно подавать информацию для посетителя, а также подводить его к совершению определённых целевых действий, которые вам выгодны.</p>

    <!-- service-info -->
    <div class="service-info vertical one">
        <p>Разработаем уникальность Вашего бизнеса и донесем эту мысль до Луны и обратно.</p>
    </div>
    <div class="service-info vertical two">
        <p>Мы создаем бренды, которые взбудоражат Мир.</p>
    </div>
    <div class="service-info horizontal">
        <p>Стратегия Flexible — это и есть web-дизайн, его более глубокое и точное определение. Его задача — сделать пользовательский интерфейс сайта максимально привлекательным, удобным и логически правильным.</p>
    </div>

    <!-- jumping-button -->
    <div class="jumping-button jump-letters">
        <a href="#" target="_blank">
            <span>п</span>
            <span>о</span>
            <span>с</span>
            <span>м</span>
            <span>о</span>
            <span>т</span>
            <span>р</span>
            <span>е</span>
            <span>т</span>
            <span>ь</span>
            <span>р</span>
            <span>а</span>
            <span>б</span>
            <span>о</span>
            <span>т</span>
            <span>ы</span>
        </a>
    </div>

    <!-- bottom-button -->
    @@include('./components/bottom-button.html')
</div>
