<div class="services screen-block">
    <div class="big-background-letter">
        <span>o</span>
    </div>

    <!-- @@include('./components/languages.html') -->

    @@include('./components/copyright.html')

    <div class="lines">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
        <div class="line line--4"></div>
    </div>

    <div class="container">
        <span class="sticker white">
            <span class="sticker-text">Услуги</span>
        </span>

        <div class="services-list">
            <div class="item">
                <span class="index">
                    <span>01</span>
                </span>
                <div class="content">
                    <a class="content-title" href="web-production.html">
                        <span class="content-title-text">WEB-PRODUCTION</span>
                        <br />
                        <span class="content-title-text">(Разработка)</span>
                    </a>
                    <ul class="content-list">
                        <li><a href="services/web-production/landing.html">Landing Page</a></li>
                        <li><a href="services/web-production/corporate.html">Корпоративный сайт</a></li>
                        <li><a href="services/web-production/shop.html">Интернет-магазин</a></li>
                        <li><a href="services/web-production/card.html">Сайт визитка</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <span class="index">
                    <span>02</span>
                </span>
                <div class="content">
                    <a class="content-title" href="design.html">
                        <span class="content-title-text">Услуги дизайна</span>
                    </a>
                    <ul class="content-list">
                        <li><a href="services/design/ui-ux.html">UI/UX дизайн (web дизайн)</a></li>
                        <li><a href="services/design/brand-book.html">Разработка Brand Book</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <span class="index">
                    <span>03</span>
                </span>
                <div class="content">
                    <a class="content-title" href="marketing.html">
                        <span class="content-title-text">Маркетинг</span>
                    </a>
                    <ul class="content-list">
                        <li><a href="">Разработка маркетинговой стратегии</a></li>
                        <li><a href="">Интернет-маркетинг</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <span class="index">
                    <span>04</span>
                </span>
                <div class="content">
                    <a class="content-title" href="seo.html">
                        <span class="content-title-text">SEO</span>
                    </a>
                    <ul class="content-list">
                        <li><a href="services/seo/audit.html">SEO-аудит</a></li>
                        <li><a href="services/seo/creating.html">SEO на этапе создания сайта</a></li>
                        <li><a href="services/seo/sanctions.html">Снятие санкций поисковых систем</a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <span class="index">
                    <span>05</span>
                </span>
                <div class="content">
                    <a class="content-title" href="complex.html">
                        <span class="content-title-text">Комплексные решения &mdash;</span>
                        <br />
                        <span class="content-title-text">"стратегия flexible"</span>
                    </a>
                    <p class="content-text">
                        Комплексное решение от Clock Creative Lab – это большой 
                        пакет услуг, направленных на цельное и всестороннее решение 
                        одной глобальной задачи – качественно презентовать ваш бизнес 
                        в интернете.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @@include('./components/social.html')
</div>