<div id="services" class="screen-block">

    <!-- logo -->
    @@include('./components/logo.html')

    <!-- menu -->
    @@include('./components/menu.html')

    <!-- social -->
    @@include('./components/social.html')

    <!-- languages -->
    @@include('./components/languages.html')

    <!-- copyright -->
    @@include('./components/copyright.html')
    
    <!-- letter c -->
    @@include('./components/big-background-letter.html')

    <!-- services-schedule -->
    <div class="services-schedule">
        <div class="container">
            <div class="item up">
                <section class="title">
                    <span class="name"><span class="cyrillic">услуги</span></span>
                    <div class="both">
                        <div class="word">
                            <a href="services/web-production.html"><span>WEB-PRODUCTION</span></a>
                        </div>
                        <div class="word">
                            <a href="services/web-production.html"><span>(разработка)</span></a>
                        </div>
                    </div>
                    <ul>
                        <li class="word">
                            <a href="services/web-production/landing.html">Landing Page</a>
                        </li>
                        <li class="word">
                            <a href="services/web-production/corporate.html">Корпоративный сайт</a>
                        </li>
                        <li class="word">
                            <a href="services/web-production/shop.html">Интернет-магазин</a>
                        </li>
                        <li class="word">
                            <a href="services/web-production/card.html">Сайт визитка</a>
                        </li>
                    </ul>
                </section>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <section class="title">
                    <div class="word">
                        <a href="services/design.html"><span>Услуги дизайна</span></a>
                    </div>
                    <ul>
                        <li class="word">
                            <a href="services/design/ux-ui.html">UI/UX дизайн (web дизайн)</a>
                        </li>
                        <li class="word">
                            <a href="services/design/brand-book.html">Разработка Brand Book</a>
                        </li>
                    </ul>
                </section>
                <div class="services-line"></div>
            </div>
            <div class="item up">
                <section class="title">
                    <div class="word">
                        <a href="services/marketing.html"></a><span>Маркетинг</span>
                    </div>
                    <ul>
                        <li class="word">
                            <a href="services/marketing/marketing-strategy.html">Разработка маркетинговой стратегии</a>
                        </li>
                        <li class="word">
                            <a href="services/marketing/internet-marketing.html">Интернет-маркетинг</a>
                        </li>
                    </ul>
                </section>
                <div class="services-line"></div>
                <div class="services-line right"></div>
            </div>
            <div class="item">
                <section class="title">
                    <div class="word">
                        <a href="services/seo.html"><span>SEO</span></a>
                    </div>
                    <ul>
                        <li class="word">
                            <a href="services/seo/audit.html">SEO-аудит</a>
                        </li>
                        <li class="word">
                            <a href="services/seo/creating.html">SEO на этапе создания сайта</a>
                        </li>
                        <li class="word">
                            <a href="services/seo/sanctions.html">Снятие санкций поисковых систем</a>
                        </li>
                    </ul>
                </section>
                <div class="services-line"></div>
            </div>
            <div class="item">
                <section class="title">
                    <div class="both">
                        <div class="word">
                            <a href="services/complex.html"><span>Комлпексные решения &mdash;</span></a>
                        </div>
                        <div class="word">
                            <a href="services/complex.html"><span>"стратегия flexible"</span></a>
                        </div>
                    </div>
                    <p>Наша уникальная услуга - формирование бренда с нуля от логотипа до полноценного бренда приносящего прибыль.</p>
                </section>
                <div class="services-line"></div>
            </div>
        </div>
    </div>
</div>