<div class="screen-block vinograd">
    
    <!-- portfolio-client -->
    @@include('./components/portfolio-client.html')
    
    <!-- small-gray-lines -->
    @@include('./components/small-gray-lines.html')

    <!-- info -->
    <div class="info">
        <div class="sticker">
            <span></span>
        </div>
        <div class="new-title">
            <div class="text-container">
                <span>Vino grad</span>
            </div>
        </div>
        <div class="about-work">
            <p>
                «ВиноГрад» — итальянский ресторан премиум-класса с обширной винной 
                картой и традиционной европейской кухней. 
            </p>
            <p>
                Заведение расположено в центральной части Киева, в старинном особняке 
                19 века, интерьеру ресторана присущи одновременно простота и элегантность. 
            </p>
        </div>
    </div>

    <div class="poster">
        <div class="image-container">
            <img src="../../../images/index/vinograd.jpg" alt="vino grad">
        </div>
        <span>restaurant</span>
    </div>
    
    <!-- portfolio-right-panel -->
    @@include('./components/portfolio-right-panel.html')

    <!-- bottom-button -->
    <!-- ссылка на страницу portfolio.html -->
    @@include('./components/bottom-button.html')

</div>