@import '../desktop';

// ----- table -----
.front-layer .table .container {
	max-width: 700px;
	.item {
		span {
			font-size: px(40);
			line-height: 1.4;
		}
		& + .title .word span {
			font-size: px(70);
			letter-spacing: 1px;
		}
	}
}