.blog {

    $BPostWidth: 43.75vh;

    .blog-top-panel {
        padding-top: 75px;
        padding-left: 300px;
    }

    .new-header {
        font-size: 40px;
    }

    .grid {
        margin-top: 140px;
        min-height: 490px;

        &__item {
            min-width: 285px;
            min-height: 245px;
        }
    }

    .feed-container {
        top: 140px;
        min-height: 490px;
    }

    .feed {

        &__post {
            min-width: 285px;
            min-height: 245px;

            .post-info {
                margin-top: 75px;

                .title {
                    margin-bottom: 25px;
                    font-size: 19px;
                    line-height: 1.1;
                }
            }
        }
    }

    .filter {

        &--date {
            margin-right: 150px;
        }
    }
}
