.blog {

    .grid {
        min-height: 600px;

        &__item {
            min-width: 350px;
            min-height: 300px;
        }
    }

    .feed-container {
        min-height: 600px;
    }

    .feed {

        &__post {
            min-width: 350px;
            min-height: 300px;

            .post-info {
                margin-top: 100px;

                .title {
                    font-size: 25px;
                }
            }
        }
    }

    .filter {

        &--date {
            margin-right: 200px;
        }
    }
}
