.blog {

    .front-layer {
        height: initial;
        overflow: visible;
    }

    .new-title {
        margin-bottom: 30px;
        padding: 0;

        span {
            font-size: 24px;
            line-height: 37px;
        }
    }

    .top-panel {
        position: fixed;
    }

    .blog-top-panel {
        margin-top: 0;
        padding-left: 15px;
    }

    .grid {
        display: block;
        margin-top: 0;
        // padding-top: 150px;
        width: 100vw;
        height: 100vh;
        min-height: initial;
        overflow: hidden;

        &__item {
            display: block;
            width: 300px;
            height: 150px;
            min-width: 300px;
            min-height: 150px;

            &--bordered {

                &:before {
                    bottom: initial;
                    top: 0;
                    left: -11.5vh;
                }
            }
        }
    }

    .feed-container {
        position: relative;
        top: initial;
        margin-top: 10px;
        margin-left: 0;
        padding-left: 11.5vh;
        width: 100%;
        height: initial;
        min-height: initial;
        overflow: visible;
    }

    .feed {
        display: block;
        position: relative;
        padding-right: 20px;
        padding-bottom: 10px;
        width: 100%;

        &__post {
            display: flex;
            margin-bottom: 20px;
            padding: 0;
            width: 100%;
            min-width: 100%;
            height: 150px;
            min-height: 150px;

            .image-container {
                position: relative;
                width: 300px;
                min-width: 300px;
                height: 100%;
            }

            .post-date {
                right: initial;
                left: 250px;
            }

            .number {
                font-size: 18px;
            }

            .day {
                color: $gray;
                font-size: 12px;
                text-transform: uppercase;
                transform-origin: 0 0;
                transform: translate3d(65%, 20%, 0) rotate(90deg);
                animation: leftDay $BPostDateDayAnimationTime $BPostDateDayDelayTime both;
            }

            .post-info {
                margin-top: 20px;
                padding-left: 20px;
                transform: none;

                .sticker {
                    display: none;
                }

                .title {
                    font-size: 16px;
                }
            }

            &:nth-child(even) {
                transform: none;
            }
        }
    }
}
