.blog {

    .grid {
        padding-left: 15px;

        &__item {
            position: relative;
            width: 45%;
            height: 150px;
            min-width: 45%;
            min-height: 150px;

            .line {
                left: -15px;
            }

            &:nth-child(even) {
                transform: none;
            }

            &:not(:first-child) {

                &:before {
                    display: none;
                }

                &:after {
                    display: block;
                    position: absolute;
                    top: initial;
                    bottom: 0;
                    left: -15px;
                    width: 100vw;
                    height: 1px;
                    background: $gray;
                    content: '';
                }
            }
        }
    }

    .feed-container {
        padding-left: 0;
    }

    .feed {
        padding-left: 15px;
        padding-right: 0;

        &__post {
            height: initial;

            .image-container {
                width: 45%;
                min-width: 45%;
                height: initial;
            }

            .post-date {
                top: 10px;
                left: 35%;
                padding-top: 0;
            }

            .post-info {
                margin-top: 10px;
                padding-left: 10px;
                padding-right: 20px;
                transform: none;

                .title {
                    font-size: 14px;
                }

                .crossed-button {
                    transform: none;
                }
            }
        }
    }
}
