.bread-crumbs {

    // padding-right:  * 2;

    &__item {
        width: 60px;

        .symbol {
            margin-top: 15px;
            font-size: 26px;
        }

        .link {

            span {
                display: none;
            }
        }
    }
}
