& {  

    .language {
        position: absolute;
        z-index: 3;
    }

    .clock-bg {
        font-family: $raleway;
        font-weight: 500;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0 auto;
        padding-left: px(150);
        width: 80%;
        height: 100vh;
    }

    .images {
        position: relative;
        width: 40%;

        .image-container {
            position: relative;
            overflow: hidden;

            img {
                position: relative;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
            }

            &--1 {
                width: 100%;
                height: px(950);

                &:after {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    right: 0;
                    width: px(140);
                    height: px(340);
                    background: $white;
                    content: '';
                }
            }

            &--2 {
                position: absolute;
                bottom: px(-260);
                right: px(-200);
                width: px(820);
                height: px(440);
            }
        }
    }

    .info {
        position: relative;
        top: -7vh;
        width: 60%;
    }

    .sticker {
        
        span {

            &:before {
                content: 'Услуги web-production'
            }
        }
    }

    .new-title {
        margin-top: px(80);
        margin-bottom: px(80);
        font-family: $raleway;
        
        .text-container {
            display: inline-block;
            margin-bottom: px(10);
            font-weight: 800;
        }
    }

    article {
        padding-left: px(330);

        p {
            margin-bottom: px(50);
            font-family: $roboto;
            font-size: px(28);
            line-height: 1.4;
        }
    }

    .crossed-button {
        margin-top: px(50);
        margin-left: px(330);
        font-family: $raleway;

        span {
            &:after {
                content: 'Читать далее';
            }
        }
    }

    .long-read {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;

        &:after {
            display: block;
            position: absolute;
            bottom: 1.2vh;
            left: 0;
            width: 100%;
            height: 0;
            background: $gray;
            content: '';
            transition: height $time * 2, bottom $time * 2;
        }

        &.opened {
            z-index: 9999;
            
            &:after {
                bottom: 0;
                height: 100vh;
            }
        }
    }
}