@import '../desktop';

& {

    .container {
        width: 82%;
    }

    .back-layer {
        padding-right: px(100);
    }

    &.opened {

        .front-layer {
            transform: rotateY(20deg) scaleX(.8);
        }
    }
}