<ul class="bread-crumbs dark wow fadeInDown">
    <li class="bread-crumbs__item current-page">
        <span class="index">41</span>
        <span class="symbol">Sc</span>
        <a class="link" href="#">
            <span>Сайт визитка</span>
        </a>
    </li>
    <li class="bread-crumbs__item">
        <span class="index">28</span>
        <span class="symbol">Wb</span>
        <a class="link" href="/sozdanie-saytov">
            <span>Web-production</span>
        </a>
    </li>
    <li class="bread-crumbs__item">
        <span class="index">13</span>
        <span class="symbol">Se</span>
        <a class="link" href="/uslugi">
            <span>Услуги</span>
        </a>
    </li>
    <li class="bread-crumbs__item">
        <span class="index">1</span>
        <span class="symbol">H</span>
        <a class="link" href="/">
            <span>Главная</span>
        </a>
    </li>
</ul>