.home-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: initial;

    .home-contacts-title {
        display: none;
    }

    .form {
        display: none;
    }

    .home-contacts-info {
        position: relative;
        left: initial;
        bottom: initial;

        li {
            margin-bottom: 35px;
            font-size: 18px;
        }

        .type {
            margin-bottom: 15px;
        }
    }
}
