@import '../desktop';

// ----- title ------
.title {
    &.long {
        top: px(250);
        left: px(200);
    }
    &.main {
        top: px(350);
        left: px(350);
        p { font-size: px(30); }
        .crossed-button { margin: 50px 0 0 -10px; }
        .word {
            &:nth-of-type(1) span, &:nth-of-type(2) span,
            &:nth-of-type(3) span { font-size: px(100); }
            &:nth-of-type(4) span { font-size: px(50); }
        } 
    }
}

// ----- image-block -----
.image-block {
    z-index: 3;
    position: absolute;
    &.one {
        right: px(340);
        width: px(1100);
        height: px(1280);
    }
    &.two {
    	height: px(450);
    	width: px(450);
    }
}

// ----- service-info -----
.service-info {
    right: 0;
    top: 32vh;
}