@import '../desktop';

// ----- title ------
.title {
    top: px(450);
    left: px(350);
    &.main {
        p { font-size: px(40); }
        .crossed-button { margin: 75px 0 0 -10px; }
        .word {
            &:nth-of-type(1) span, &:nth-of-type(2) span,
            &:nth-of-type(3) span { font-size: px(125); }
            &:nth-of-type(4) span { font-size: px(75); }
        }
    }
}

// ----- image-block -----
.image-block {
    z-index: 3;
    position: absolute;
    &.one { right: px(340); }
    &.two {
    	height: px(800);
    	width: px(800);
    }
}

// ----- service-info -----
.service-info {
    right: 0;
    top: 32vh;
}

// ----- jump-button -----
.jump-button { left: px(1000); }