@import '../desktop';

// ----- title ------
.title {
    top: px(500);
    left: px(400);
    &.main {
    	p { font-size: px(50); }
	    .crossed-button { margin: 75px 0 0 -10px; }
	    .word {
	        &:nth-of-type(1) span, &:nth-of-type(2) span,
	        &:nth-of-type(3) span { font-size: px(150); }
	        &:nth-of-type(4) span { font-size: px(100); }
	    }
    }
}

// ----- jump-button -----
.jump-button { left: px(1000); }