& {  
    height: px(2500);
    position: relative;
    background: $white;
    .front-layer, .back-layer { height: px(1920); }

    // ----- front-layer -----
    .front-layer {
        z-index: 2;
        overflow: hidden;
        position: relative;
        background: $white;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;
        &:after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            content: '';
            z-index: -1;
            height: 100%;
            display: block;
            position: absolute;
            transition: opacity $time;
            background: rgba(0,0,0,.4);
        }
        
        // ----- small-gray-lines -----
        .small-gray-lines {
            z-index: 1;
            .line {
                opacity: .2;
                background: gray;
                visibility: visible;
                &.up { transform: rotate(-65deg) translate3d(100%,0,0); }
                &.down { transform: rotate(-65deg) translate3d(-100%,0,0); }
                &.up, &.down { animation: none; }
            }
        }
        
        // ----- big-background-letter ------
        .big-background-letter {
            top: 15vh;
            width: 100%;
            right: initial;
            text-align: center;
            font-size: px(1500);
            text-transform: uppercase;
            font-family: $Raleway-ExtraBold;
            span:before { content: 'c'; }
        }

        // ----- container -----
        .container {
            padding-top: px(80);
            position: relative;
            margin: 0 auto;
            display: flex;
            z-index: 3;
            width: 85%;
        }
        h2 {
            color: $darkGray;
            font-size: px(96);
            align-self: center;
            margin-right: px(180);
            font-family: $Raleway-Bold;
            transform: translateY(px(70));
            span {
                display: block;
                color: $blue;
            }
        }

        // ----- works -----
        .works {
            width: px(1800);
            height: px(1400);
            position: relative;
        }
        .work {
            position: absolute;
            span {
                display: block;
                color: $darkGray;
                font-size: px(40);
                margin-top: px(20);
                letter-spacing: .5px;
                text-transform: uppercase;
                font-family: $Raleway-Bold;
            }
            img {
                object-fit: cover;
                transition: transform $timeHalf;
                &:hover { transform: scale(1.05); }
            }

            // ----- eurovision -----
            &--eurovision {
                left: 0;
                top: 0;
                img {
                    width: px(500);
                    height: px(820);
                }
            }
            
            // ----- alta -----
            &--alta {
                top: px(40);
                right: 0;
                img {
                    width: px(820);
                    height: px(500);
                }
            }

            // ----- audi -----
            &--audi {
                bottom: 0;
                left: px(360);
                img {
                    width: px(710);
                    height: px(400);
                }
            }

            // ----- vinograd -----
            &--vinograd {
                bottom: px(140);
                right: px(70);
                img {
                    width: px(490);
                    height: px(490);
                }
            }
        }
        // ----- crossed-button -----
        .crossed-button {
            position: relative;
            margin-left: px(90);
            align-self: flex-end;
            font-family: $Roboto-Regular;
            span {
                font-size: px(32);
                &:after { content: 'Посмотреть все работы'; }
            }
        }
    }
    
    // ----- back-layer -----
    .back-layer {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        position: absolute;
        background: $black;
        align-items: center;
        padding-right: px(140);
        justify-content: flex-end;
    }

    // ----- discuss -----
    .discuss {
        z-index: 3;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin: px(250) auto 0;
        width: px(1960);
        left: px(-150);
        .offer { width: px(1050); }
        h3 {
            color: $darkGray;
            font-size: px(72);
            margin-bottom: px(24);
            text-transform: uppercase;
            font-family: $Raleway-ExtraBold;
        }
        p {
            font-family: $Roboto-Regular;
            padding-right: px(150);
            font-size: px(28);
            line-height: 1.4;
            color: $gray;
        }
        .open-form {
            position: relative;
            display: block;
            margin: 0 auto;
            width: px(420);
            height: px(110);
            color: $white;
            font-size: px(32);
            background: $blue;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
            span {
                position: relative;
                letter-spacing: 1px;
                z-index: 2;
            }
            &:before {
                display: block;
                position: absolute;
                top: px(24);
                left: px(-24);
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
                opacity: 0;
                transition: top $time, left $time, opacity $time;
            }
            &:hover:before {
                top: px(10);
                left: px(-10);
                opacity: 1;
            }
        }
    }

    // ----- dark -----
    &--dark .front-layer {
        background: $lightBlack;
        h2 { color: $white; }
        .work span { color: $white; }
        .crossed-button {
            span {
                color: $white;
                &:before { background: $white; }
            }
            .arrow { .st0, .st1 { stroke: $white; } }
        }
    }
    
    // ----- opened -----
    &.opened .front-layer {
        transform: rotateY(15deg) scaleX(.85);
        &:after {
            z-index: 9999;
            opacity: 1;
        }
    }
}