& { 
    font-family: $raleway;
    font-weight: $regular;
    position: relative;
    transition: perspective $time * 2;
    
    &.current {

        // ----- navigation-elements -----
        .logo, .menu, .language a { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 9 both; }

        // ----- title -----
        .title {
            animation: fadeIn $time * 2 $time * 6 linear;
            animation-fill-mode: forwards;
            span.name {
                span {
                    animation: titleName $time * 2 $time * 12 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 11 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 8 both; }
                span {
                    animation: titleWord $time * 2 $time * 9 linear;
                    animation-fill-mode: forwards;
                }
                span {
                    animation: titleWord $time * 2 $time * 11 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    // ----- language -----
    .language {
        overflow: visible;
        transform: rotate(-90deg);
        position: absolute;
        font-size: px(29);
        left: px(105);
        bottom: 42vh;
        z-index: 2;
        &.dark a {
            color: $dark;
            &:hover { color: $gray; }
            &.select {
                color: $gray;
                &:hover { color: $black; }
                &:before { color: $gray; }
            }
        }
        a {
            text-transform: uppercase;
            display: inline-block;
            font-weight: $thin;
            cursor: pointer;
            color: $gray;
            &:nth-of-type(2) { margin-right: px(30); }
            &.select {
                color: $white;
                &::before {
                    position: absolute;
                    color: $white;
                    bottom: 1.5px;
                    right: 30px;
                    content: '—';
                }
            }
            &:hover {
                color: $white;
                transition: $time;
            }
        }
    }

    .front-layer {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100vh;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: $white;
            content: '';
        }

        &:after {
            opacity: 0;
            z-index: -1;
            transition: opacity $time;
            background: rgba(0, 0, 0, .4);
        }
    }

    // ----- letter c -----
    .big-background-letter {
        top: -70vh;
        z-index: 3;
        left: -3vw;
        font-family: $raleway;
        font-size: 175vh;
        color: rgba(68,68,68,.2);
        span::before  { content: 'с'; }
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: 100vh;
    }

    .result {
        position: relative;
        z-index: 3;
        padding-top: px(260);
        font-family: $raleway;
    }

    .title { margin-top: px(330); }

    .steps {
        position: absolute;
        display: flex;
        align-items: flex-end;
        z-index: 1;
        bottom: 0;
        left: 0;
        padding-bottom: px(230);
        width: 100%;
        height: 100vh;
    }

    .step {
        position: relative;
        z-index: 2;
        width: 30%;
        color: $darkGray;
        font-family: $roboto;
        .index {
            position: absolute;
            top: px(-110);
            right: 100%;
            color: $gray;
            font-size: px(36);
            text-transform: lowercase;
            overflow: hidden;
            span {
                display: block;
                width: px(75);
            }
        }

        .content {
            overflow: hidden;
        }

        h3 {
            margin-bottom: px(24);
            font-family: $raleway;
            font-weight: 700;
            font-size: px(48);
            text-transform: uppercase;
        }

        p {
            padding-right: px(40);
            font-size: px(28);
            line-height: 1.4;
        }

        &:before {
            display: block;
            position: absolute;
            top: px(-45);
            left: -4px;
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            content: "";
        }


        &:nth-child(1) {
            left: 40%;
            bottom: 58vh;
        }
        &:nth-child(2) {
            left: 10%;
            bottom: 8vh;
        }
        &:nth-child(3) {
            left: 0;
            bottom: 35vh;
        }
    }
    
    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .line {
            top: 0;
            width: 1px;
            height: 100vh;
            position: absolute;
            background: $darkWhite;
            &--1 { left: 40%;}
            &--2 { left: 60%;}
            &--3 { left: 80%;}
        }
    }

    .questions {
        position: absolute;
        bottom: 8.5vh;
        right: 0;
        z-index: 3;
        width: 20%;
        overflow: hidden;

        h3 {
            margin-bottom: px(34);
            color: $darkGray;
            font-family: $raleway;
            font-size: px(48);
            font-weight: 800;
            text-transform: uppercase;
        }

        p {
            margin-bottom: px(66);
            color: $gray;
            font-family: $roboto;
            font-size: px(28);
            line-height: 1.4;
        }

        button {
            display: block;
            width: px(332);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 700;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: px(140);
        width: 100%;
        height: 100vh;
        background: $black;
    }

    form {
        position: relative;
        padding-top: px(250);
        width: px(830);
        height: px(1200);
        // height: 62.5vh;
        color: $white;
        font-family: $roboto;

        .close-form {
            position: absolute;
            top: 0;
            right: 0;
            width: px(56);
            height: px(56);
            background: transparent;

            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: px(40);
                height: 2px;
                background: $gray;
                content: '';
                transition: background $time;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {

                &:before,
                &:after {
                    background: $white;
                }
            }
        }

        h3 {
            margin-bottom: px(220);
            font-family: $raleway;
            font-size: px(60);
            font-weight: 800;
            text-transform: uppercase;
        }

        label {
            display: block;
            padding: 0 px(20);
            width: 100%;
            margin-bottom: px(56);
            border-bottom: 1px solid $gray;

            span {
                display: block;
                margin-bottom: px(16);
                font-family: $roboto;
                font-size: px(30);
            }

            .mistake {
                position: absolute;
                top: 100%;
                padding-top: px(6);
                color: $red;
                font-size: px(24);
                opacity: 0;
            }

            input {
                display: block;
                padding: px(5) 0;
                width: 100%;
                background: transparent;
                border: none;
                color: $white;
                font-size: px(32);
            }

            &:nth-of-type(2) {
                margin-bottom: px(150);
            }
        }

        .send {
            display: block;
            margin: px(90) 0 0 auto;
            width: px(340);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 500;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: $white;
                color: $blue;
            }
        }
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: $white;
        content: '';
    }

    &:after {
        left: 50%;
    }

    &.opened {

        .front-layer {
            transform: rotateY(30deg);

            &:after {
                z-index: 9999;
                opacity: 1;
            }
        }
    }

    &.current {

        &:before,
        &:after {
            animation: Right $WFBeforeAnimationTime $WFBeforeDelayTime both;
        }

        &:after {
            animation-name: Left;
        }

        .sticker {
            
            span {
                animation: FadeInRightHalf $WFStickerTextAnimationTime $WFStickerTextDelayTime both;
            }

            &:before {
                animation: widthIncreaseStickerLine $WFStickerLineAnimationTime $WFStickerLineDelayTime both;
            }
        }

        .lines {
            
            .line {
                animation: heightIncreaseFull $WFLineAnimationTime $WFLineOneDelayTime both;

                &--2 {
                    animation-delay: $WFLineTwoDelayTime;
                }

                &--3 {
                    animation-delay: $WFLineThreeDelayTime;
                }

                &--4 {
                    animation-delay: $WFLineFourDelayTime;
                }

                &--5 {
                    animation-delay: $WFLineFiveDelayTime;
                }
            }
        }

        .step {

            .index {

                span {
                    animation: Left $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
                }
            }

            h3 {
                animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            p {
                animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            &:before {
                animation: fadeIn $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            &:nth-child(2) {

                .index {
                    
                    span {
                        animation-delay: $WFTextSecondColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
            }

            &:nth-child(3) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextThirdColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
            }

            &:nth-child(4) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextFourthColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
            }

            &:nth-child(5) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextFifthColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
            }
        }

        .questions {

            h3,
            p,
            button {
                animation: Right $WFQustionsAnimationTime $WFQustionsDelayTime both;
            }
        }

        .back-layer {
            animation: fadeIn $WFBackLayerAnimationTime $WFBackLayerDelayTime both;
        }

        .front-layer {

            &:before,
            &:after {
                animation: fadeIn $WFFrontLayerAnimationTime $WFFrontLayerDelayTime both;
            }
        }
    }
}