 .clock-bg {
    justify-content: space-between;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    span {
        width: 20%;
        font-size: 0;
        color: $white;
        line-height: 100vh;
        text-align: center;
        overflow-x: hidden;
        font-weight: $extra-bold;
        &:before {
            display: block;
            font-size: 30vw;
            animation: right $PPClockAnimationTime both;
            @media only screen and (max-width: 768px) { text-shadow: 8px 8px 8px rgba(0,0,0,.05); }
        }
        &:nth-child(1) {
            &:before {
                content: 'c';
                animation-delay: $PPClockFirstDelayTime;
            }
        }
        &:nth-child(2) {
            &:before {
                content: 'l';
                animation-delay: $PPClockSecondDelayTime;
            }
        }
        &:nth-child(3) {
            &:before {
                content: 'o';
                animation-delay: $PPClockThirdDelayTime;
            }
        }
        &:nth-child(4) {
            &:before {
                content: 'c';
                animation-delay: $PPClockFourthDelayTime;
            }
        }
        &:nth-child(5) {
            &:before {
                content: 'k';
                animation-delay: $PPClockFifthDelayTime;
            }
        }
    }
}
