.svg-filters {
    position: absolute;
    height: 0;
    width: 0;
}
.jelly-button, .jelly-button .bg {
    background-color: $blue;
    display: inline-block;
    text-decoration: none;
    font-weight: $bold;
    user-select: none;
    font-size: .85em;
    border: none;
    color: $white;
    padding: 20px 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    transition: background-color 0.1s ease-out;
    &:hover {
        background-color: $blue;
        background: none;
        color: $white;
    }
    &:focus {
        outline: none;
        color: $white;
    }
}
.jelly-button {
    position: absolute;
    right: 32.5vw;
    bottom: 28vh;
    z-index: 1;
    padding: 0;
    width: 120px;
    height: 120px;
    background: none;
    line-height: 120px;
    &:active .bg { transform: scale(.8); }
    &:hover { background: none; }
    &:focus { outline: none; }
    &:before {
        font-size: 24px;
        content: 'еще';
    }
    .bg {
        position: absolute;
        font-weight: $bold;
        z-index: -2;
        left: 0;
        top: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: none;
        border-radius: 100px;
        transform: translateZ(0);
        transition: all 0.1s ease-out;
        outline: 90px solid transparent !important;
        &:hover { background: none; }
        .blob {
            transition: background .1s ease-out;
            pointer-events: none;
            border-radius: 70px;
            position: absolute;
            background: $blue;
            margin: auto;
            opacity: .3;
            z-index: -1;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            &:first-child { opacity: 1; }
            &:nth-child(n+2) {
                width: 100%;
                height: 100%;
            }
        }
    }
}