.mockup-back-button {
    background: $background;
    position: relative;
    height: px(35);
    z-index: 999;
    width: 100%;
    bottom: 0;
    .crossed-button {
        left: px(50);
        bottom: px(12);
        position: absolute;
        font-family: $roboto;
        font-weight: $medium;
        animation: fadeInLeft $POPBackAnimationTime $POPBackDelayTime both;
        .arrow { .st0, .st1, .st2 { stroke: $white; } }
        span {
            color: $white;
            font-size: px(12);
            &:before { background: $white; }
            &:after { content: 'Назад'; }
        }
    }
}