.scroll {
    position: absolute;
    margin: 0 auto;
    bottom: 6.8vh;
    z-index: 1;
    right: 50%;
    left: 50%;
    .circle {
        width: 4px;
        height: 4px;
        margin-left: -10px;
        background: $white;
        border-radius: 50px;
    }
    .arrow:before {
        transform: translateY(-50%) rotate(45deg);
        animation: bounce 3s 1s infinite;
        border: 1.5px solid $white;
        position: absolute;
        display: block;
        height: .5rem;
        bottom: -2vh;
        right: 4px;
        content: '';
        width: .5rem;
        border-top: 0;
        border-left: 0;
    }
}