// ----- small-gray-lines -----
.small-gray-lines {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 0;
    .line {
        background-color: $silver;
        visibility: hidden;
        position: absolute;
        display: block;
        height: 1px;
        width: 24vh;
        &.light { background-color: #F1F1F1; }
        &.up {
           animation: lineUp 1s $time * 3 both;
           transform: rotate(-65deg) translate3d(100%, 0, 0);
        }
        &.down {
           transform: rotate(-65deg) translate3d(100%, 0, 0);
           animation: lineDown 1s $time * 3 both;
        }
        &.up, &.down { animation: none; }
        &:nth-of-type(1) {
            left: 18vh;
            top: -3vh;
        }
        &:nth-of-type(2) {
            left: 100vh;
            top: -19vh;
        }
        &:nth-of-type(3) {
            right: 9vh;
            top: 14vh;
        }
        &:nth-of-type(4) {
            bottom: -3vh;
            left: 29vh;
        }
        &:nth-of-type(5) {
            bottom: 21vh;
            right: 91vh;
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}