.founders {
    align-items: flex-start;
    padding-bottom: 150px;

    .image-block {
        width: 50%;
        height: initial;
    }

    .text-block {
        width: 50%;
        top: 100px;
    }
}
