@import '../desktop';

// ----- watch -----
.watch { background: url('../images/watch.png') no-repeat 52.5%; }
.hours-container, .minutes-container,
.seconds-container { left: .5%; }

// ----- title -----
.title .word {
    span { font-size: px(116); }
    &:last-of-type span { font-size: px(46); }
}