@import '../desktop';

// ----- letter c -----
.big-background-letter {
    top: -38vh;
    right: 62vh;
    font-size: 100vh;
}

// ----- title -----
.title {
    top: 17vh;
    .word {
        span { font-size: px(90); }
        &:last-of-type span { font-size: px(30); }
    }
}