@import '../mobile';

// ----- title -----
.title {
    top: 22%;
    left: 11%;
    .word {
        span { font-size: px(84); }
        &:last-of-type {
            margin: px(60) 0 0 px(20);
            span {
                color: $blue;
                font-size: px(25);
                font-weight: $medium;
                font-family: $roboto;
            }
        }
    }
}

// ----- watch -----
.watch {
    background: url('../images/watch.png') no-repeat 55.5%;
    background-size: 40%;
    margin: 22% auto 0;
}
.hours-container, .minutes-container,
.seconds-container { left: 0; }
.hours-container { zoom: .75; }
.minutes-container { zoom: .7; }
.seconds-container { zoom: .75; }

// ----- bg letter -----
.bg-letter { background-size: 52%; }