@import '../desktop';

// ----- letter c -----
.big-background-letter {
    top: -37vh;
    right: 33vh;
    font-size: 100vh;
}

// ----- title -----
.title {
    top: 22%;
    left: 11%;
    .word {
        span { font-size: px(84); }
        &:last-of-type {
            margin: px(60) 0 0 px(20);
            span {
                color: $blue;
                font-size: px(25);
                font-weight: $medium;
                font-family: $roboto;
            }
        }
    }
}

// ----- watch -----
.seconds-container, .hours-container { zoom: .65; }
.minutes-container { zoom: .6; }
.watch {
    background-size: 20%;
    margin: 6% auto 0;
}