@import 'tabletLandscape';

// ----- letter c -----
.big-background-letter {
    top: -37vh;
    right: 46vh;
    font-size: 100vh;
}

// ----- watch -----
.watch {
    background-size: 40%;
    margin: 10% auto 0;
}