<form class="form" action="">
    <button class="close-form"></button>
    <span class="form-title">Задать вопрос</span>
    <label>
        <input type="text" required>
        <span class="placeholder">имя</span>
    </label>
    <label>
        <input type="text" required id="tel">
        <span class="placeholder">телефон</span>
    </label>
    <label>
        <input type="email" required>
        <span class="placeholder">e-mail</span>
    </label>
    <label class="question">
        <textarea type="text"></textarea>
        <span class="placeholder">Ваш вопрос</span>
    </label>
    <button class="send">
        <span>Отправить</span>
    </button>
</form>