<form class="form" action="">
    <button class="close-form"></button>
    <h3>Задать вопрос</h3>
    <label class="name">
        <input type="text" required>
        <span class="placeholder">имя</span>
        <div class="tick"></div>
        <span class="message"></span>
    </label>
    <label class="number">
        <input type="text" required>
        <span class="placeholder">телефон</span>
        <div class="tick"></div>
        <span class="message"></span>
    </label>
    <label class="question">
        <input type="text">
        <span class="placeholder">Ваш вопрос</span>
        <div class="tick"></div>
    </label>
    <button class="send">
        <span>Отправить</span>
    </button>
</form>