<nav class="menu">
    <a href="#" class="menu__item menu__item--open-close">
        <div class="hamburger">
            <span class="hamburger-tick hamburger-tick-1">
                <span class="inner-tick inner-tick-1"></span>
                <span class="inner-tick inner-tick-2"></span>
            </span>
            <span class="hamburger-tick hamburger-tick-2">
                <span class="inner-tick inner-tick-1"></span>
                <span class="inner-tick inner-tick-2"></span>
            </span>
            <span class="hamburger-tick hamburger-tick-3">
                <span class="inner-tick inner-tick-1"></span>
                <span class="inner-tick inner-tick-2"></span>
            </span>
            <span class="hamburger-tick hamburger-tick-4">
                <span class="inner-tick inner-tick-1"></span>
                <span class="inner-tick inner-tick-2"></span>
            </span>
        </div>
        <div class="name">MeNu</div>
        <div class="border-left"></div>
        <div class="border-bottom"></div>
    </a>
    <a href="/about-company.html" class="menu__item menu__item--about-us">
        <div class="text-block">
            <div class="serial-number">36</div>
            <div class="symbol">Au</div>
            <div class="name">О нас</div>
        </div>
    </a>
    <a href="/portfolio.html" class="menu__item menu__item--portfolio">
        <div class="text-block">
            <div class="serial-number">1</div>
            <div class="symbol">P</div>
            <div class="name">Портфолио</div>
        </div>
        <div class="border-left"></div>
    </a>
    <a href="/index.html" class="menu__item menu__item--home">
        <div class="text-block">
            <div class="serial-number">5</div>
            <div class="symbol">H</div>
            <div class="name">Главная</div>
        </div>
        <div class="border-left"></div>
    </a>
    <a href="/blog.html" class="menu__item menu__item--blog">
        <div class="text-block">
            <div class="serial-number">23</div>
            <div class="symbol">B</div>
            <div class="name">Блог</div>
        </div>  
    </a>
    <a href="/services.html" class="menu__item menu__item--services">
        <div class="text-block">
            <div class="serial-number">3</div>
            <div class="symbol">Se</div>
            <div class="name">Услуги</div>
        </div>
        <div class="border-left"></div>
        <div class="border-bottom"></div>
    </a>
    <a href="/contacts.html" class="menu__item menu__item--contact">
        <div class="text-block">
            <div class="serial-number">17</div>
            <div class="symbol">Co</div>
            <div class="name">Контакты</div>
        </div>   
        <div class="border-bottom"></div>
    </a> 

    <div class="menu__background"></div> 
</nav>