<div class="web-production-our-works">
    <div class="front-layer">
        @@include('./components/small-gray-lines.html')
        @@include('./components/big-background-letter.html')

        <div class="container">
            <span class="our-works-title wow fadeIn">
                Примеры
                <span>наших работ</span>
            </span>
            <div class="works wow fadeInUp">
                <div class="work work--eurovision">
                    <a href="#">
                        <img src="../../../images/services/eurovision.jpg" alt="eurovision">
                        <span>Eurovision</span>
                    </a>
                </div>
                <div class="work work--alta">
                    <a href="#">
                        <img src="../../../images/services/alta.jpg" alt="eurovision">
                        <span>Alta capital</span>
                    </a>
                </div>
                <div class="work work--audi">
                    <a href="#">
                        <img src="../../../images/services/audi.jpg" alt="eurovision">
                        <span>Audi</span>
                    </a>
                </div>
                <div class="work work--vinograd">
                    <a href="#">
                        <img src="../../../images/services/vinograd.jpg" alt="eurovision">
                        <span>Vino grad</span>
                    </a>
                </div>
            </div>

            <!-- ссылка на страницу portfolio.html -->
            @@include('./components/crossed-button.html')
        </div>
    </div>

    <div class="back-layer">
        @@include('./components/big-background-letter.html')
        @@include('./components/form.html')
    </div>

    <div class="discuss wow fadeInUp">
        <div class="offer">
            <span class="offer-title">Хотите обсудить проект?</span>
            <p>
                Для экономии Вашего времени и нервов просто обратитесь к нам  
                за  успехом  для Вашего бизнеса.
            </p>
        </div>
        <button class="open-form">
            <span>Обсудить</span>
        </button>
    </div>
</div>