<div class="web-production-our-works">
    <div class="front-layer">
        @@include('./components/small-gray-lines.html')
        @@include('./components/big-background-letter.html')

        <div class="container">
            <h2 class="wow fadeIn">
                Примеры
                <span>наших работ</span>
            </h2>
            <div class="works wow fadeInUp">
                <div class="work work--eurovision">
                    <img src="../../images/services/eurovision.jpg" alt="eurovision">
                    <span>Eurovision</span>
                </div>
                <div class="work work--alta">
                    <img src="../../images/services/alta.jpg" alt="eurovision">
                    <span>Alta capital</span>
                </div>
                <div class="work work--audi">
                    <img src="../../images/services/audi.jpg" alt="eurovision">
                    <span>Audi</span>
                </div>
                <div class="work work--vinograd">
                    <img src="../../images/services/vinograd.jpg" alt="eurovision">
                    <span>Vino grad</span>
                </div>
            </div>

            <!-- ссылка на страницу portfolio.html -->
            @@include('./components/crossed-button.html')
        </div>
    </div>

    <div class="back-layer">
        @@include('./components/big-background-letter.html')
        <form action="">
            <button class="close-form"></button>
            <h3>Задать вопрос</h3>
            <label class="name">
                <input type="text" required>
                <span>имя</span>
                <div class="tick"></div>
            </label>
            <label class="phone">
                <input type="text" required>
                <span>телефон</span>
                <div class="tick"></div>
            </label>
            <label class="question">
                <input type="text">
                <span>Ваш вопрос</span>
                <div class="tick"></div>
            </label>
            <button class="send">
                <span>Отправить</span>
            </button>
        </form>
    </div>

    <div class="discuss wow fadeInUp">
        <div class="offer">
            <h3>Хотите обсудить проект?</h3>
            <p>
                Для экономии Вашего времени и нервов просто обратитесь к нам  
                за  успехом  для Вашего бизнеса.
            </p>
        </div>
        <button class="open-form">
            <span>Обсудить</span>
        </button>
    </div>
</div>