.design-why-us {
    position: relative;
    z-index: 3;
    width: 0;
    height: 100vh;
    min-height: 900px;
    font-family: $Raleway-Regular;
    transition: perspective $time * 2;

    .front-layer {
        position: relative;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        min-height: 900px;
        background: $white;
        overflow: hidden;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        &:after {
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
            content: '';
            opacity: 0;
            transition: opacity $time;
        }
    }

    .big-background-letter {
        z-index: 3;
        top: -500px;
        left: -220px;
        color: rgba(68, 68, 68, .2);
        font-size: 1300px;
    }

    .container {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 1170px;
        height: 100%;
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: $darkWhite;

        &--1 {
            left: calc(100% / 3);
        }

        &--2 {
            left: calc(100% / 3 * 2);
        }

        &--3 {
            left: 100%;
        }
    }

    .result {
        position: relative;
        left: -200px;
        z-index: 3;
        padding-top: 250px;
        width: calc(100% / 3);
    }

    .sticker {
        margin-bottom: 30px;
    }

    .new-title {

        .text-container {
            display: inline-block;
        }

        &-text {
            color: $darkGray;
        }
    }

    .steps {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 100px 0 150px;
        width: calc(100% / 3 * 2);
        height: 100%;
    }

    .step {
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
        width: 66%;
        color: $darkGray;
        font-family: $Roboto-Regular;

        &:before {
            display: block;
            position: absolute;
            top: -22px;
            left: -4px;
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            content: '';
        }

        &:nth-child(2) {
            margin-left: 50%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .index {
        position: absolute;
        top: -55px;
        right: 100%;
        color: $gray;
        font-size: 18px;
        text-transform: lowercase;
        overflow: hidden;

        span {
            display: block;
            width: 37px;
        }
    }

    .content {
        overflow: hidden;

        .content-title {
            display: block;
            font-family: $Raleway-Bold;
            text-transform: uppercase;
            margin-bottom: 12px;
            font-size: 24px;
        }

        p {
            padding-right: 20px;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    .questions {
        position: absolute;
        bottom: 8.5vh;
        left: 100%;
        z-index: 3;
        width: 20%;
        overflow: hidden;

        &-title {
            display: block;
            margin-bottom: 17px;
            color: $darkGray;
            font-size: 24px;
            font-family: $Raleway-ExtraBold;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 33px;
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: 14px;
            line-height: 1.4;
        }

        button {
            display: block;
            width: 166px;
            height: 45px;
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $Roboto-Bold;
            font-size: 14px;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg);

            &:after {
                z-index: 9999;
                opacity: .4;
            }
        }
    }
}
