.design-why-us {
    min-height: initial;
    height: initial;

    .front-layer {
        min-height: initial;
        height: initial;
    }

    .result {
        left: initial;
    }

    .sticker {
        margin-bottom: 20px;
    }

    .new-title {

        .text-container {

            &:before {
                height: 20px;
            }
        }

        &-text {
            font-size: 44px;
        }
    }

    .step {
        margin-bottom: 100px;
        width: 50%;
    }

    .questions {
        left: initial;
        right: 0;

        &-title {
            text-align: right;
        }

        p {
            text-align: right;
        }

        button {
            margin-left: auto;
        }
    }

    &.opened {

        .front-layer {
            transform: rotateY(20deg);
        }
    }
}