@import '../desktop';

// ----- title -----
.title { margin: px(428) 0 0 px(484); }

// ----- lines -----
.lines div:nth-of-type(1) { left: px(484); }

// ----- jelly-button -----
.jelly-button { bottom: 20vh; }