.complex-time {

    .container {
        padding: 60px 0 50px;
    }

    .column {

        &--2 {
            width: 100%;
        }

        &--1,
        &--3 {
            order: 2;
            width: 50%;
        }
    }

    .line {

        &--2 {
            left: 50%;
        }

        &--3 {
            display: none;
        }
    }

    .complex-time-title {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .watch {
        width: 60vw;
        height: 60vw;
    }
}
