.post {

    .crossed-button {
        left: 30px;
    }

    .social {
        bottom: 105px;
        left: 20%;
    }

    header {
        width: 70%;
    }

    .image-container {
        height: 350px;
    }

    .date {
        right: -50px;
        padding: 10px 15px;
        width: 200px;
        height: 80px;
    }

    main {
        position: relative;
        z-index: 2;
        margin: 30px auto 0;
        padding-bottom: 75px;
        width: 50%;

        .title {
            font-size: 44px;
        }
    }
}
