.post {

    .social {
        left: 250px;
    }

    .nav-arrows {
        right: 25px;
    }

    .image-container {
        width: 750px;
        height: 400px;
    }

    .date {
        left: 950px;
    }
}
