.post {

    header {
        padding-left: 400px;
    }

    .image-container {
        width: 1150px;
        height: 600px;
    }

    .date {
        left: 1435px;
    }

    main {
        width: 1200px;

        article {

            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
