.post {

    header {
        width: 80%;
    }

    .image-container {
        height: 600px;
    }


    main {
        margin-top: 50px;
        width: 55%;

        article {

            p {
                margin-bottom: 30px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
