.post {

    .crossed-button {
        left: 10px;
    }

    .social {
        bottom: 105px;
        left: 70px;
    }

    header {
        padding-left: 25%;
        width: 75%;
    }

    .image-container {
        height: 250px;
    }

    .date {
        right: -30px;
        width: 150px;
        height: 70px;

        .day {
            font-size: 26px;

            span {
                font-size: 14px;
            }
        }

        .year {
            right: 15px;
            bottom: 10px;
            transform: none;
            animation: fadeInLeft $POPYearAnimationTime $POPYearDelayTime both;
        }
    }


    main {
        padding-bottom: 55px;
        width: 50%;

        .sticker {
            margin-left: 50px;
        }

        .title {
            margin-left: 0;
            width: 100%;
            font-size: 32px;
        }

        article {
            margin-left: 50px;
            margin-top: 20px;
        }
    }
}
