.post {

    .crossed-button {
        left: 35px;
    }

    .social {
        bottom: 150px;
        left: 150px;
    }

    .nav-arrows {
        bottom: 15px;
        right: 15px;
    }

    header {
        padding-left: 275px;
    }

    .image-container {
        width: 550px;
        height: 365px;
    }

    .date {
        left: 725px;
        width: 165px;
        height: 80px;
    }

    main {
        width: 650px;

        .sticker {
            margin-left: 85px;
        }

        h1 {
            margin-left: 85px;
        }

        article {
            margin-left: 125px;
        }
    }
}
