.design-header {
    padding-bottom: 30px;
    min-height: 750px;

    .image-block {
        width: 50%;
        height: 60vh;
        min-height: 400px;
    }

    .info-block {
        padding: 50px 70px 50px 0;
    }
}
