.design-header {
    $padding-top: 140px;
    $padding-right: 10%;

    display: flex;
    align-items: flex-end;
    position: relative;
    padding: $padding-top $padding-right 80px;
    height: 100vh;
    min-height: 900px;
    background: $white;
    font-family: $Raleway-Regular;
    overflow: hidden;

    .languages {
        position: absolute;
        top: 350px;

        a {
            animation: Down $PPLangAnimationTime $PPLangDelayTime both;
        }
    }

    .big-background-letter {
        top: 30vh;
        right: -2vw;
        z-index: 1;
        font-size: 78vh;
        color: rgba(68, 68, 68, .2);
    }

    .image-block {
        position: absolute;
        z-index: 1;
        top: $padding-top;
        right: $padding-right;
        width: 60%;
        height: 65vh;
        min-height: 600px;

        img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .info-block {
        position: relative;
        z-index: 2;
        padding: 90px 70px 120px 0;
        width: 43%;
        min-width: 770px;
        background: $white;
    }

    .sticker {
        margin-bottom: 20px;
    }

    .new-title {
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 20px;
        color: $lightBlack;
        font-family: $Roboto-Regular;
        line-height: 1.3;

        &.bold {
            font-family: $Roboto-Bold;
        }
    }
}