& {
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    background: url('../images/dots.png');
    background-color: $white;
    font-family: $raleway;
    font-weight: $regular;
    overflow: hidden;
    
    // ----- animation right -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Right $time * 3 0s both;
        
        // ----- jelly-button -----
        .jelly-button { animation: fadeIn $time $time * 9 both; }

        // ----- social -----
        .social-panel {
            .instagram { animation: social $time * 3 $time * 9 both; }
            .facebook { animation: socialReverse $time * 3 $time * 9 both; }
        }
        
        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
        
        // ----- lines -----
        .lines div { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }
        
        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    
    // ----- animation left -----
    &.previous, &.previous-back {
        animation: slideLeft $time * 3 0s both;
        animation-play-state: paused;
        
        // ----- jelly-button -----
        .jelly-button { animation: fadeIn $time $time * 9 both; }

        // ----- social -----
        .social-panel {
            .instagram {  animation: social $time * 3 $time * 9 both; }
            .facebook { animation: socialReverse $time * 3 $time * 9 both; }
        } 
        
        // ----- big-background-letter -----
        .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
        
        // ----- lines -----
        .lines div { animation: heightChanging $time * 9 $portfolioEuroclubBlueLineDelayTime both; }
        
        // ----- navigation-elements -----
        .logo, .menu { animation: fadeInDown $time * 3 $time * 3 both; }

        // ----- title -----
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 7 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 8 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 7 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 4 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 5 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }
    
    // ----- social-panel -----
    .social-panel {
        position: absolute;
        left: px(1524);
        z-index: 3;
        top: 46vh;
        .instagram, .facebook {
            display: flex;
            border: 1px solid $darkGray;
            justify-content: center;
            align-items: center;
            position: relative;
            width: px(60);
            height: px(60);
            path, circle { fill: $darkGray }
            svg {
                width: 60%;
                z-index: 2;
            }
            &:before {
                top: 10px;
                opacity: 0;
                content: '';
                right: 10px;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                background: $blue;
                transition: top $time, right $time, opacity $time;
            }
            &:hover {
                path, circle { fill: $white; }
                &:before {
                    top: 3px;
                    right: 3px;
                    opacity: 1;
                }
            }
        }
        .facebook svg { width: 55%; }
        .instagram {
            top: px(-24);
            .big-circle {
                stroke-width: 2;
                stroke-miterlimit: 10;
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    // ----- bottom-button -----
    .bottom-button span:before { content: 'Все услуги'; }

    // ----- letter o -----
    .big-background-letter {
        top: 28vh;
        left: 16vh;
        font-size: 75vh;
        span::before  { content: 'o'; }
    }
    
    // ----- lines -----
    .lines div {
        width: 1px;
        height: 100vh;
        background: #E0E1E0;
        position: absolute;
        &:nth-of-type(1) { left: px(645); }
        &:nth-of-type(2) { left: px(1525); }
        &:nth-of-type(3) { right: px(745); }
    }

    // ----- title -----
    .title {
        margin: px(428) 0 0 39.7vw;
        span.name { top: -1.4vh; }
        p {
            text-transform: uppercase;
            font-size: px(29);
            padding: 9vh 0 0;
        }
        .word {
            word-spacing: -3px;
            &:after { display: none; }
            span {
                font-size: px(60);
            }
        }
    }
}