@import '../desktop';

& {

    .container {
        padding-right: px(100);
        padding-bottom: px(100);
    }

    .description {
        padding-top: px(250);
    }

    .info {
        top: px(-400);
        padding-top: px(120);
    }

    .new-title {
        margin-bottom: px(80);
    }

    article {

        p {

            &.big {
                margin-bottom: px(60);
            }
        }
    }

    .cases {
        margin-top: px(-120);
    }

    .list {

        h3 {
            margin-bottom: px(200);
        }
    }

    .images {

        img {

            &:first-child {
                left: px(100);
            }

            &:last-child {
                top: px(200);
            }
        }
    }

    .advantages {

        h2 {
            margin-bottom: px(180);
        }

        ul {
            height: px(1200);
        }
    }
}