.work-flow {
    position: relative;
    background: $white;
    perspective: 800px;

    $steps: 5;
    $stepsHeight: 65vh;

    .front-layer,
    .back-layer {
        min-height: 800px;
    }

    .front-layer {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            content: '';
        }

        &:after {
            z-index: -1;
            background: rgba(0, 0, 0, .4);
            opacity: 0;
            transition: opacity $time;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 79%;
        height: 100vh;
        min-height: 800px;
    }

    .result {
        position: relative;
        z-index: 3;
        padding-top: 190px;
        font-family: $Raleway-Regular;
    }

    .new-title {
        margin-top: 30px;
        width: 600px;

        .text-container {
            display: inline-block;
            margin-bottom: 15px;
            font-family: $Raleway-ExtraBold;
        }
    }

    .steps {
        position: absolute;
        display: flex;
        align-items: flex-end;
        z-index: 1;
        bottom: 0;
        left: 0;
        padding-bottom: 115px;
        width: 100%;
        height: $stepsHeight;
    }

    .step {
        position: relative;
        z-index: 2;
        width: 100% / $steps;
        color: $darkGray;
        font-family: $Roboto-Regular;

        .index {
            position: absolute;
            top: -55px;
            right: 100%;
            color: $gray;
            font-size: 18px;
            text-transform: lowercase;
            overflow: hidden;

            span {
                display: block;
                padding: 10px 5px;
                width: 75px;
            }
        }

        .content {
            overflow: hidden;
        }

        .content-title {
            display: block;
            margin-bottom: 12px;
            font-family: $Raleway-Bold;
            font-size: 24px;
            text-transform: uppercase;
        }

        p {
            padding-right: 20px;
            font-size: 14px;
            line-height: 1.4;
        }

        &:before {
            display: block;
            position: absolute;
            top: -22px;
            left: -4px;
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            content: '';
        }

        &:nth-child(1) {
            bottom: 0;
        }

        &:nth-child(2) {
            bottom: $stepsHeight / $steps;
        }

        &:nth-child(3) {
            bottom: $stepsHeight / $steps * 2;
        }

        &:nth-child(4) {
            bottom: $stepsHeight / $steps * 3;
        }

        &:nth-child(5) {
            bottom: $stepsHeight / $steps * 4;
        }
    }

    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: $darkWhite;

        &--1 {
            left: 0;
        }

        &--2 {
            left: 100% / $steps;
        }

        &--3 {
            left: 100% / $steps * 2;
        }

        &--4 {
            left: 100% / $steps * 3;
        }

        &--5 {
            left: 100% / $steps * 4;
        }
    }

    .questions {
        position: absolute;
        bottom: 80px;
        right: 0;
        z-index: 3;
        width: 20%;

        .questions-title {
            display: block;
            margin-bottom: 17px;
            color: $darkGray;
            font-family: $Raleway-ExtraBold;
            font-size: 24px;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 33px;
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: 14px;
            line-height: 1.4;
        }

        .open-form {
            display: block;
            position: relative;
            width: 166px;
            height: 45px;
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $Roboto-Bold;
            font-size: 14px;
            text-transform: uppercase;

            span {
                position: relative;
                letter-spacing: 1px;
                z-index: 2;
            }

            &:before {
                display: block;
                position: absolute;
                top: 12px;
                left: -12px;
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
                opacity: 0;
                transition: top $time, left $time, opacity $time;
            }

            &:hover {

                &:before {
                    top: 5px;
                    left: -5px;
                    opacity: 1;
                }
            }
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: 70px;
        width: 100%;
        height: 100vh;
        background: $black;
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg) scaleX(.85);

            &:after {
                z-index: 9999;
                opacity: 1;
            }
        }
    }
}