& {  

    position: relative;
    background: $white;
    // transition: perspective $time * 2;
    perspective: 800px;

    .front-layer,
    .back-layer {
        min-height: 800px;
    }

    .front-layer {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            content: '';
        }

        &:after {
            z-index: -1;
            background: rgba(0, 0, 0, .4);
            opacity: 0;
            transition: opacity $time;
        }
    }

    .language {
        position: absolute;
        z-index: 5;

        a {
            animation: none;
        }
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 79%;
        height: 100vh;
        min-height: 800px;
    }

    .result {
        position: relative;
        z-index: 3;
        padding-top: px(380);
        font-family: $raleway;
    }

    .sticker {

        span {

            &:before {
                content: 'Услуги web-production'
            }
        }
    }

    .new-title {
        margin-top: px(60);
        width: px(1200);
        
        .text-container {
            display: inline-block;
            margin-bottom: px(30);
            font-weight: 800;
        }
    }

    $steps: 5;
    $stepsHeight: 65vh;

    .steps {
        position: absolute;
        display: flex;
        align-items: flex-end;
        z-index: 1;
        bottom: 0;
        left: 0;
        padding-bottom: px(230);
        width: 100%;
        height: $stepsHeight;
    }

    .step {
        position: relative;
        z-index: 2;
        width: 100% / $steps;
        color: $darkGray;
        font-family: $roboto;

        .index {
            position: absolute;
            top: px(-110);
            right: 100%;
            color: $gray;
            font-size: px(36);
            text-transform: lowercase;
            overflow: hidden;

            span {
                display: block;
                padding: px(20) px(10);
                width: px(150);
            }
        }

        .content {
            overflow: hidden;
        }

        h3 {
            margin-bottom: px(24);
            font-family: $raleway;
            font-weight: 700;
            font-size: px(48);
            text-transform: uppercase;
        }

        p {
            padding-right: px(40);
            font-size: px(28);
            line-height: 1.4;
        }

        &:before {
            display: block;
            position: absolute;
            top: px(-45);
            left: -4px;
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            content: "";
        }

        &:nth-child(1) {
            bottom: 0;
        }

        &:nth-child(2) {
            bottom: $stepsHeight / $steps;
        }

        &:nth-child(3) {
            bottom: $stepsHeight / $steps * 2;
        }

        &:nth-child(4) {
            bottom: $stepsHeight / $steps * 3;
        }

        &:nth-child(5) {
            bottom: $stepsHeight / $steps * 4;
        }
    }
    
    .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        .line {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100vh;
            background: $darkWhite;

            &--1 {
                left: 0;
            }

            &--2 {
                left: 100% / $steps;
            }

            &--3 {
                left: 100% / $steps * 2;
            }

            &--4 {
                left: 100% / $steps * 3;
            }

            &--5 {
                left: 100% / $steps * 4;
            }
        }
    }

    .questions {
        position: absolute;
        bottom: px(160);
        right: 0;
        z-index: 3;
        width: 20%;
        overflow: hidden;

        h3 {
            margin-bottom: px(34);
            color: $darkGray;
            font-family: $raleway;
            font-size: px(48);
            font-weight: 800;
            text-transform: uppercase;
        }

        p {
            margin-bottom: px(66);
            color: $gray;
            font-family: $roboto;
            font-size: px(28);
            line-height: 1.4;
        }

        button {
            display: block;
            width: px(332);
            height: px(90);
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            font-weight: 700;
            text-transform: uppercase;
            transition: color $time, background $time;

            &:hover {
                background: transparent;
                color: $blue;
            }
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: px(140);
        width: 100%;
        height: 100vh;
        background: $black;
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg) scaleX(.85);

            &:after {
                z-index: 9999;
                opacity: 1;
            }
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Left $time * 3 0s both;

        &:before,
        &:after {
            animation: Right $WFBeforeAnimationTime $WFBeforeDelayTime both;
        }

        &:after {
            animation-name: Left;
        }

        .logo {
            animation: fadeInDown $WFBorderElAnimationTime $WFBorderElDelayTime both;
        }

        .menu {
            animation: fadeInDown $WFBorderElAnimationTime $WFBorderElDelayTime both;
        }

        .language {

            a {
                animation: Down $WFBorderElAnimationTime $WFBorderElDelayTime both;
            }
        }

        .sticker {
            
            span {
                animation: FadeInRightHalf $WFStickerTextAnimationTime $WFStickerTextDelayTime both;
            }

            &:before {
                animation: widthIncreaseStickerLine $WFStickerLineAnimationTime $WFStickerLineDelayTime both;
            }
        }

        .new-title {
            
            .text-container {
    
                &:before {
                    animation: halfDown $WFTitleLineAnimationTime linear $WFTitleLineDelayTime both;
                }
            }
    
            span {
                animation: Up $WFTitleTextAnimationTime $WFTitleTextDelayTime both;
            }
        }

        .lines {
            
            .line {
                animation: heightIncreaseFull $WFLineAnimationTime $WFLineOneDelayTime both;

                &--2 {
                    animation-delay: $WFLineTwoDelayTime;
                }

                &--3 {
                    animation-delay: $WFLineThreeDelayTime;
                }

                &--4 {
                    animation-delay: $WFLineFourDelayTime;
                }

                &--5 {
                    animation-delay: $WFLineFiveDelayTime;
                }
            }
        }

        .step {

            .index {

                span {
                    animation: Left $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
                }
            }

            h3 {
                animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            p {
                animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            &:before {
                animation: fadeIn $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both;
            }

            &:nth-child(2) {

                .index {
                    
                    span {
                        animation-delay: $WFTextSecondColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextSecondColumnDelayTime;
                }
            }

            &:nth-child(3) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextThirdColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextThirdColumnDelayTime;
                }
            }

            &:nth-child(4) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextFourthColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextFourthColumnDelayTime;
                }
            }

            &:nth-child(5) {
                
                .index {
                    
                    span {
                        animation-delay: $WFTextFifthColumnDelayTime;
                    }
                }
    
                h3 {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
    
                p {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
    
                &:before {
                    animation-delay: $WFTextFifthColumnDelayTime;
                }
            }
        }

        .questions {

            h3,
            p,
            button {
                animation: Right $WFQustionsAnimationTime $WFQustionsDelayTime both;
            }
        }

        .back-layer {
            animation: fadeIn $WFBackLayerAnimationTime $WFBackLayerDelayTime both;
        }

        .front-layer {

            &:before,
            &:after {
                animation: fadeIn $WFFrontLayerAnimationTime $WFFrontLayerDelayTime both;
            }
        }
    }

    &.previous,
    &.previous-back {
        animation: slideRight $time * 3 0s both;
        animation-play-state: paused;

        .logo {
            animation-play-state: paused;
        }

        .menu {
            animation-play-state: paused;
        }

        .language {

            a {
                animation-play-state: paused;
            }
        }

        .sticker {
            
            span {
                animation-play-state: paused;
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .new-title {
            
            .text-container {
    
                &:before {
                    animation-play-state: paused;
                }
            }
    
            span {
                animation-play-state: paused;
            }
        }

        .lines {
            
            .line {
                animation-play-state: paused;
            }
        }

        .step {

            .index {

                span {
                    animation-play-state: paused;
                }
            }

            h3 {
                animation-play-state: paused;
            }

            p {
                animation-play-state: paused;
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .questions {

            h3,
            p,
            button {
                animation-play-state: paused;
            }
        }

        .back-layer {
            animation-play-state: paused;
        }

        .front-layer {

            &:before,
            &:after {
                animation-play-state: paused;
            }
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }
}