.company-description {

    .phrase {
        font-size: 70px;
    }

    .phrase-translation {
        margin-top: 30px;
        font-size: 40px;
    }

    .phrase-description {
        margin-top: 40px;
        font-size: 22px;
        line-height: 1.2;
    }

    .crossed-button {
        margin-top: 40px;

        span {
            font-size: 18px;
        }
    }
}
