.marketing-brand {

    .marketing-brand-title {
        font-size: 52px;
    }

    .content-title {
        font-size: 20px;
    }

    .form {
        width: 25%;
    }

    &.opened {

        .front-layer {
            transform: rotateY(20deg) scaleX(.8);
        }
    }
}
