@import '../desktop';

// ----- title ------
.title { left: px(300); }

// ----- image-block -----
.image-block {
    z-index: 3;
    position: absolute;
    &.one {
        right: px(340);
        width: px(1100);
        height: px(1280);
    }
    &.two {
    	height: px(450);
    	width: px(450);
    }
}

// ----- service-info -----
.service-info {
    right: 0;
    top: 32vh;
}