& {
    z-index: 3;
    display: inherit;
    position: relative;
    width: min-content;
    &.dark {
        span.name span, .word span, p { color: $dark; }
        span.name:before { background: $dark; }
    }
    &.padding {
        p { padding: px(70) 0 0 px(170); }
        .jump-button {
            position: initial;
            padding: px(70) 0 0 px(150);
        }
    }
    span.name {
        text-transform: uppercase;
        position: relative;
        font-size: px(28);
        top: -4vh;
        span {
            color: $white;
            display: block;
            visibility: hidden;
            font-weight: $bold;
            animation: titleName $time * 2 $time * 8 linear;
            animation-fill-mode: forwards;
        }
        &:before {
            animation: titleNameShape $time * 2 $time * 7 linear;
            animation-fill-mode: forwards;
            background: $white;
            visibility: hidden;
            position: absolute;
            display: block;
            width: px(100);
            left: px(-124);
            height: px(6);
            content: '';
            top: px(8);
        }
    }
    .word {
        position: relative;
        overflow: hidden;
        display: inherit;
        &:nth-of-type(1) {
            margin-bottom: 5px;
            span {
                // animation: titleWord $time * 2 $time * 5 linear;
                // animation-fill-mode: forwards;
            }
        }
        &:nth-of-type(2) span {
            // animation: titleWord $time * 2 $time * 6 linear;
            // animation-fill-mode: forwards;
        }
        &:nth-of-type(3) span {
            // animation: titleWord $time * 2 $time * 7 linear;
            // animation-fill-mode: forwards;
        }
        &:after {
            background-color: $blue;
            transform: translate3d(0, 50%, 0);
            animation: halfDown $time * 2 linear $time * 4 both;
            position: absolute;
            background: $blue;
            display: block;
            height: px(60);
            content: '';
            width: 100%;
            bottom: 0;
            left: 0;
        }
        span {
            z-index: 1;
            width: 100%;
            color: $white;
            bottom: -100px;
            display: block;
            font-size: px(120);
            position: relative;
            white-space: nowrap;
            font-weight: $extra-bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            overflow: hidden;
        }
    }
    p { 
        padding: 5% 1vh 0;
        font-size: px(32);
        color: $white;
        line-height: 1.4;
        letter-spacing: 0;
        font-family: $roboto;
        font-weight: $regular;
    }
}