& {
    z-index: 1;
    margin-top: 20vh;
    margin-left: 35vh;
    position: relative;
    &.dark {
        span.name span, .word span, p { color: $dark; }
        span.name:before { background: $dark; }
    }
    p {
        font-weight: $medium;
        padding: 2vh 1vh 0;
        line-height: 2vh;
        color: $white;
    }
    span.name {
        text-transform: uppercase;
        position: relative;
        font-size: 1.3vh;
        top: -5vh;
        span {
            color: $white;
            display: block;
            visibility: hidden;
            animation: titleName .5s linear;
            animation-fill-mode: forwards;
            animation-delay: .5s;
        }
        &:before {
            animation: titleNameShape .5s linear;
            background: $white;
            position: absolute;
            display: block;
            height: 0.4vh;
            width: 5.2vh;
            left: -6.5vh;
            content: '';
            top: .4vh;
        }
    }
    .word {
        text-align: center;
        overflow: hidden;
        span {
            width: 100%;
            color: $white;
            display: block;
            font-size: 6vh;
            position: relative;
            font-weight: $extra-bold;
            text-transform: uppercase;
            animation: titleWord .5s .5s linear;
            animation-fill-mode: forwards;
            overflow: hidden;
        }
    }
    .animation-border {
        background-color: $blue;
        animation: titleWordShape 2s linear;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        position: absolute;
        z-index: -1;
        height: 2vh;
        width: 100%;
        left: 0;
    }
}
