& {
    z-index: 3;
    display: inherit;
    position: relative;
    width: min-content;
    &.dark {
        span.name span, .word span, p { color: $dark; }
        span.name:before { background: $dark; }
    }
    span.name {
        text-transform: uppercase;
        position: relative;
        font-size: px(28);
        top: -4vh;
        span {
            color: $white;
            display: block;
            visibility: hidden;
            font-weight: $bold;
            animation: titleName .5s linear;
            animation-fill-mode: forwards;
            animation-delay: .5s;
        }
        &:before {
            animation: titleNameShape .5s linear;
            background: $white;
            position: absolute;
            display: block;
            width: px(100);
            left: px(-124);
            height: px(6);
            content: '';
            top: px(8);
        }
    }
    .word {
        position: relative;
        overflow: hidden;
        display: inherit;
        &:nth-of-type(1) {
            margin-bottom: px(10);
            span {
                animation: titleWord .75s .75s linear;
                animation-fill-mode: forwards;
            }
        }
        &:nth-of-type(2) span {
            animation: titleWord .75s 1.25s linear;
            animation-fill-mode: forwards;
        }
        &:nth-of-type(3) span {
            animation: titleWord .75s 1.75s linear;
            animation-fill-mode: forwards;
        }
        &:after {
            background-color: $blue;
            animation: titleWordShape 2s .5s linear;
            animation-fill-mode: forwards;
            animation-duration: .5s;
            visibility: hidden;
            position: absolute;
            height: 15px;
            content: '';
            z-index: -1;
            width: 100%;
            top: 29px;
            left: 0;
        }
        span {
            width: 100%;
            color: $white;
            bottom: -100px;
            display: block;
            font-size: px(120);
            position: relative;
            white-space: nowrap;
            font-weight: $extra-bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            overflow: hidden;
        }
    }
    p { 
        padding: 5% 1vh 0;
        font-size: px(32);
        color: $white;
        line-height: 1.3;
        letter-spacing: 0;
        font-family: $roboto;
        font-weight: $regular;
    }
}