& {
    z-index: 3;
    display: inherit;
    margin-top: 20vh;
    margin-left: 35vh;
    position: relative;
    width: min-content;
    &.dark {
        span.name span, .word span, p { color: $dark; }
        span.name:before { background: $dark; }
    }
    p {
        font-weight: $medium;
        font-size: px(28);
        line-height: 1.5;
        padding: 0 1vh;
        color: $white;
    }
    span.name {
        text-transform: uppercase;
        position: relative;
        font-size: 1.3vh;
        top: -4vh;
        span {
            color: $white;
            display: block;
            visibility: hidden;
            font-weight: $bold;
            animation: titleName .5s linear;
            animation-fill-mode: forwards;
            animation-delay: .5s;
        }
        &:before {
            animation: titleNameShape .5s linear;
            background: $white;
            position: absolute;
            display: block;
            height: 0.4vh;
            width: 5.2vh;
            left: -6.5vh;
            content: '';
            top: .4vh;
        }
    }
    .word {
        position: relative;
        overflow: hidden;
        display: inherit;
        &:after {
            background-color: $blue;
            animation: titleWordShape 2s linear;
            animation-fill-mode: forwards;
            animation-duration: .5s;
            position: absolute;
            height: 18px;
            content: '';
            z-index: -1;
            width: 100%;
            top: 15px;
            left: 0;
        }
        span {
            bottom: -97px;
            width: 100%;
            color: $white;
            display: block;
            font-size: px(120);
            position: relative;
            white-space: nowrap;
            font-weight: $extra-bold;
            text-transform: uppercase;
            animation: titleWord .5s .5s linear;
            animation-fill-mode: forwards;
            overflow: hidden;
        }
    }
}