& {  

    position: relative;
    height: px(1220);
    background: $lightBlack;
    
    .clock-bg {

        span {
            color: $lightBlack;
            font-family: $Raleway-Bold;
            line-height: 1;
            
            &:before {
                font-size: 28vw;
            }
        }
    }

    blockquote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        padding-left: px(200);
        width: px(1850);
        height: 100%;

        p {

            &:first-of-type {

                &:before {
                    display: block;
                }
            }
        }
    }

    p {
        position: relative;
        color: #ccc;
        font-family: $Roboto-Light;
        font-size: px(48);
        font-style: italic;
        line-height: 1.4;

        span {
            color: $blue;
        }

        &:before {
            display: block;
            position: absolute;
            left: px(-220);
            top: px(-100);
            width: px(266);
            height: px(176);
            background: url('../../../../../../images/services/web-production/quotes.png') center no-repeat;
            background-size: cover;
            content: '';
        }

        &:last-of-type {
            margin-top: px(70);
            
            &:before {
                display: none;
            }
        } 
    }

    .jumping-button {
        position: absolute;
        bottom: px(150);
        right: 20%;

        a {

            span {
                color: $white;
                font-family: $Raleway-Bold;
                font-size: px(28);

                &.blue {
                    color: $blue;
                }

                &.margined {
                    margin-right: px(8);
                }
            }

            &:before {
                background: $white;
                animation-delay: $timeTickHalf * 13.5;
            }
        }
    }

    .advantages {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-top: px(300);
        padding-right: px(380);
        width: 81%;
        color: $white;
        font-family: $Raleway-Regular;
        
        h2 {
            width: px(1000);
            font-size: px(96);
            font-family: $Raleway-ExtraBold;
            line-height: 1.2;

            span {
                display: block;
                color: $blue;
            }
        }

        ul {
            width: px(1140);
            height: px(700);
        }

        li {
            position: relative;
            margin-bottom: px(150);
            padding-left: px(70);
            width: px(1280);
            color: $lightGray;
            font-family: $Roboto-Regular;
            font-size: px(32);
            line-height: 1.4;

            &:before {
                display: block;
                position: absolute;
                top: px(-30);
                left: 0;
                width: px(70);
                height: px(70);
                background: $darkGray;
                content: '';
                opacity: .7;
            }
        }

        .index {
            position: absolute;
            top: px(-90);
            left: px(-16);
            color: $white;
            font-family: $Raleway-Bold;
            font-size: px(72);
        }
    }

    .lists {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-top: px(200);
        padding-right: px(380);
        width: 81%;
        color: #ccc;
        font-family: $Roboto-Regular;

        ul {

            &:first-child {
                width: px(1190);

                h3 {
                    color: $white;
                }
            }
    
            &:last-child {
                width: px(1140);
            }

            &.gray {
                color: $gray;
            }
        }

        li {
            position: relative;
            margin-bottom: px(50);
            padding-left: px(70);
            font-size: px(32);
            line-height: 1.4;

            &:before {
                display: block;
                position: absolute;
                top: 7px;
                left: 7px;
                width: 7px;
                height: 7px;
                background: $blue;
                border-radius: 50%;
                content: '';
            }
        }

        h3 {
            margin-bottom: px(80);
            font-family: $Raleway-Bold;
            font-size: px(48);
        }
    }

    &--corporate {

        p {

            span {
                font-size: px(72);
                font-family: $Roboto-Bold;
            }
        }
    }
}