& { 
    box-shadow: 0 px(30) px(100) px(14) rgba(0,0,0,.3);
    transition: perspective $time * 2;
    font-family: $Raleway-Regular;
    background: $white;
    overflow: hidden;

    // ----- animation up -----
    &.current, &.current-back,
    &.previous, &.previous-back {
        animation: Up $time * 3 0s both;
        .logo, .menu, .languages a { animation: fadeInDown $time * 3 $time * 3 both; }
        .big-background-letter { animation: fadeIn $time * 3 $time * 15 both; }
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 12 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 13 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 12 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 9 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 10 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 11 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
        &:before, &:after { animation: Right $WFBeforeAnimationTime $WFBeforeDelayTime both; }
        &:after { animation-name: Left; }
        .lines .line {
            animation: heightIncreaseFull $WFLineAnimationTime $WFLineOneDelayTime both;
            &--1 { animation-delay: $WFLineOneDelayTime; }
            &--2 { animation-delay: $WFLineTwoDelayTime; }
            &--3 { animation-delay: $WFLineThreeDelayTime; }
            &--4 { animation-delay: $WFLineFourDelayTime; }
            &--5 { animation-delay: $WFLineFiveDelayTime; }
        }
        .step {
            .index span { animation: Left $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            h3 { animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            p { animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            &:nth-child(2) {
                .index span { animation-delay: $WFTextSecondColumnDelayTime; }
                h3 { animation-delay: $WFTextSecondColumnDelayTime; }
                p { animation-delay: $WFTextSecondColumnDelayTime; }
            }
            &:nth-child(3) {
                .index span { animation-delay: $WFTextThirdColumnDelayTime; }
                h3 { animation-delay: $WFTextThirdColumnDelayTime; }
                p { animation-delay: $WFTextThirdColumnDelayTime; }
            }
            &:nth-child(4) {
                .index span { animation-delay: $WFTextFourthColumnDelayTime; }
                h3 { animation-delay: $WFTextFourthColumnDelayTime; }
                p { animation-delay: $WFTextFourthColumnDelayTime; }
            }
            &:nth-child(5) {
                .index span { animation-delay: $WFTextFifthColumnDelayTime; }
                h3 { animation-delay: $WFTextFifthColumnDelayTime; }
                p { animation-delay: $WFTextFifthColumnDelayTime; }
            }
            &:nth-child(6) {
                .index span { animation-delay: $WFTextSixthColumnDelayTime; }
                h3 { animation-delay: $WFTextSixthColumnDelayTime; }
                p { animation-delay: $WFTextSixthColumnDelayTime; }
            }
        }
    }
    
    // ----- animation down -----
    &.previous, &.previous-back {
        animation: slideDown $time * 3 0s both;
        animation-play-state: paused;
        .logo, .menu, .languages a { animation: fadeInDown $time * 3 $time * 3 both; }
        .big-background-letter { animation: fadeIn $time * 3 $time * 15 both; }
        .title {
            p {
                animation: fadeInUp $time * 2 $time * 12 linear;
                animation-fill-mode: forwards;
            }
            span.name {
                span {
                    animation: titleName $time * 2 $time * 13 linear;
                    animation-fill-mode: forwards;
                }
                &:before {
                    animation: titleNameShape $time * 2 $time * 12 linear;
                    animation-fill-mode: forwards;
                }
            }
            .word {
                &:after { animation: halfDown $time * 2 linear $time * 9 both; }
                &:nth-of-type(1) span {
                    animation: titleWord $time * 2 $time * 10 linear;
                    animation-fill-mode: forwards;
                }
                &:nth-of-type(2) span {
                    animation: titleWord $time * 2 $time * 11 linear;
                    animation-fill-mode: forwards;
                }
            }
        }
        &:before, &:after { animation: Right $WFBeforeAnimationTime $WFBeforeDelayTime both; }
        &:after { animation-name: Left; }
        .lines .line {
            animation: heightIncreaseFull $WFLineAnimationTime $WFLineOneDelayTime both;
            &--1 { animation-delay: $WFLineOneDelayTime; }
            &--2 { animation-delay: $WFLineTwoDelayTime; }
            &--3 { animation-delay: $WFLineThreeDelayTime; }
            &--4 { animation-delay: $WFLineFourDelayTime; }
            &--5 { animation-delay: $WFLineFiveDelayTime; }
        }
        .step {
            .index span { animation: Left $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            h3 { animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            p { animation: Right $WFTextColumnAnimationTime $WFTextFirstColumnDelayTime both; }
            &:nth-child(2) {
                .index span { animation-delay: $WFTextSecondColumnDelayTime; }
                h3 { animation-delay: $WFTextSecondColumnDelayTime; }
                p { animation-delay: $WFTextSecondColumnDelayTime; }
            }
            &:nth-child(3) {
                .index span { animation-delay: $WFTextThirdColumnDelayTime; }
                h3 { animation-delay: $WFTextThirdColumnDelayTime; }
                p { animation-delay: $WFTextThirdColumnDelayTime; }
            }
            &:nth-child(4) {
                .index span { animation-delay: $WFTextFourthColumnDelayTime; }
                h3 { animation-delay: $WFTextFourthColumnDelayTime; }
                p { animation-delay: $WFTextFourthColumnDelayTime; }
            }
            &:nth-child(5) {
                .index span { animation-delay: $WFTextFifthColumnDelayTime; }
                h3 { animation-delay: $WFTextFifthColumnDelayTime; }
                p { animation-delay: $WFTextFifthColumnDelayTime; }
            }
            &:nth-child(6) {
                .index span { animation-delay: $WFTextSixthColumnDelayTime; }
                h3 { animation-delay: $WFTextSixthColumnDelayTime; }
                p { animation-delay: $WFTextSixthColumnDelayTime; }
            }
        }
    }
    &.current-back { animation: none; }
    &.previous-back { animation-play-state: running; }

    // ----- language -----
    .language {
        overflow: visible;
        transform: rotate(-90deg);
        position: absolute;
        font-size: px(29);
        left: px(105);
        bottom: 42vh;
        z-index: 4;
        &.dark a {
            color: $dark;
            &:hover { color: $gray; }
            &.select {
                color: $gray;
                &:hover { color: $black; }
                &:before { color: $gray; }
            }
        }
        a {
            font-family: $Raleway-Thin;
            text-transform: uppercase;
            display: inline-block;
            cursor: pointer;
            color: $gray;
            &:nth-of-type(2) { margin-right: px(30); }
            &.select {
                color: $white;
                &::before {
                    position: absolute;
                    color: $white;
                    bottom: 1.5px;
                    right: 30px;
                    content: '—';
                }
            }
            &:hover {
                color: $white;
                transition: $time;
            }
        }
    }

    // ---- container -----
    .container {
        position: relative;
        margin: 0 auto;
        height: 100vh;
        width: 80%;
        .title {
            margin-top: px(225);
            margin-left: px(70);
            span.name { bottom: -3vh; }
            .word {
                width: max-content;
                span { font-size: px(100); }
                &:nth-of-type(1) { margin-bottom: 13px; }
            }
        }
        .result {
            padding-top: px(260);
            position: relative;
            z-index: 3;
        }
    }

    // ----- lines -----
    .lines {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        .line {
            top: 0;
            width: 1px;
            height: 100vh;
            position: absolute;
            background: $darkWhite;
            &--1 { left: 12%;}
            &--2 { left: 31%;}
            &--3 { left: 50%;}
            &--4 { left: 68%;}
            &--5 { left: 88%;}
        }
    }

    // ----- steps -----
    .steps {
        padding-bottom: px(230);
        align-items: flex-end;
        position: absolute;
        display: flex;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        .step {
            z-index: 2;
            width: 45%;
            left: 50%;
            color: $darkGray;
            position: absolute;
            font-family: $Roboto-Regular;
            .index {
                right: 100%;
                color: $gray;
                top: px(-30);
                font-size: px(28);
                text-transform: lowercase;
                position: absolute;
                overflow: hidden;
                span {
                    display: block;
                    width: px(88);
                }
            }
            .content {
                overflow: hidden;
                h3 {
                    font-family: $Raleway-Bold;
                    margin-bottom: px(24);
                    font-size: px(76);
                }
                p {
                    padding-right: px(40);
                    font-size: px(28);
                    line-height: 1.4;
                }
            }
            &:nth-child(1) { top: 7.5vh; }
            &:nth-child(2) { top: 22.5vh; }
            &:nth-child(3) { top: 37.5vh; }
            &:nth-child(4) { top: 52.5vh; }
            &:nth-child(5) { top: 67.5vh; }
            &:nth-child(6) { top: 82.5vh; }
        }
    }
}