.about-company-four {

    .container {

        .word {

            span {
                font-size: 45px;
            }
        }
    }

    .steps {

        .step {
            width: 50%;
        }

        .content {
            &-title {
                font-size: 15px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}
