@import 'tabletPortrait';

// ***** header *****
header {
	.services .half {
	    #category {
	        line-height: px(75);
	        font-size: px(55);
	    }
	    #subcategory {
	        font-size: px(35);
	        line-height: px(75);
	    }
	}
}