@import '../mobile';

// ***** header *****
header {

    // ----- services -----
    .services {
        .half {
            margin: 2.5% 2.5% 5%;
            float: left;
            width: 45%;
            #category {
                text-align: right;
                text-transform: uppercase;
                font-family: $Roboto-Bold;
                line-height: px(45);
                font-size: px(28);
                color: $white;
            }
            #subcategory {
                color: $gray;
                font-size: px(20);
                line-height: px(45);
                text-transform: uppercase;
                font-family: $Roboto-Bold;
                text-align: left;
            }
        }
    }
}

// ----- our-works -----
.our-works {
    .work .content .opened-work {
        transition: top $time * 2;
        z-index: 9999;
        top: 101%;
    	left: 0;
        &.opened {
            top: 0;
        }
	    .close-work {
			display: none;
	    }
    }
}