@import '../mobile';

// ----- content -----
.content {
	position: relative;
	
	// ----- tablet-lines -----
	.tablet-lines {
		position: absolute;
		height: 100%;
		z-index: -1;
		width: 100%;
		top: 0;
		div {
			background-color: $border-mobile;
			position: absolute;
			height: 100%;
			width: 1px;
			&:first-of-type {
				left: 33.33%;
			}
			&:last-of-type {
				right: 33.33%;
			}
		}
		& + .row .column {
	    	padding-top: 0;
	    }
	}

	// ----- row -----
	.row {
	    display: flex;
	    float: left;
	    width: 100%;
		.column {
	    	padding: px(250) 2% 0 .5%;
			overflow-x: hidden;
		    width: 33.33%;
		    float: left;
		    &.double {
		        width: 66%;
		    }
		    .block {
		    	margin: 0;
		    }
		}
	}
}

// ----- about-company -----
.about-company {
	.content {
		padding: px(200) 0;
		.row {
			&:last-of-type .column {
				padding-right: .5%;
			}
		}
	    .under-title {
	        line-height: px(44);
	    }
	}
	
}

// ----- our-works -----
.our-works {
    .work .content {
        .work-title {
            margin: 25vh 0 20vh;
            font-size: px(145);
        }
        .half {
        	float: left;
        	width: 50%;
        	.button {
        		width: px(500);
        		font-size: px(24);
        		margin-bottom: 37.5vh;
        	}
        }
    }
}

// ----- questions -----
.questions {
	.content {
		padding: px(200) 0 0;
		.questions-title {
	        margin-bottom: px(75);
	        line-height: px(115);
	        font-size: px(96);
	    }
	    .under-questions-title {
	        font-size: px(36);
	    }
	    .open-form {
	    	display: none;
	    }
	    .row {
	    	&:last-of-type .column {
	    		position: absolute;
	    		bottom: px(150);
	    		&:nth-of-type(2) {
		    		left: 33.33%;
	    		}
	    	}
	    	.column {
	    		padding-top: 0;
	    		position: relative;
	    	}
	    }
	    .form {
	    	bottom: px(150);
	    	height: auto;
	    	top: inherit;
	    	left: 66.66%;
		    width: 33.33%;
	    	padding-top: 0;
		    position: absolute;
		    background: transparent;
		    .content {
	    		height: auto;
		    	width: 97%;
		    	.send {
		    		float: right;
		    		width: 100%;
		    		margin: 0;
		    	}
		    	.form-title {
        			margin-bottom: px(90);
		    		color: $darkGray;
		    	}
		    	.close-form, p {
		    		display: none;
		    	}
		    }
	    }
	}
}