@import '../mobile';
.logo, .menu, .small-gray-lines { display: block; }

// ----- main-contacts-title -----
.main-contacts-title {
	padding: 4.5vh 10% 8vh 7%;
	margin-top: 17vh;
	width: 84%;
    p:first-child { font-size: px(94); }
    p:last-child {
        font-size: px(57);
        padding-top: .5vh;
        text-align: right;
    }
}

// ----- main-contacts-info -----
.main-contacts-info {
	position: absolute;
	bottom: 4.5vh;
	left: 5%;
    li {
        margin-bottom: 3.5vh;
    	&:nth-of-type(2) { margin-bottom: 0; }
        &:last-of-type { display: none; }
    }
}

// ----- map -----
#map {
    right: 0;
    width: 68%;
    height: 49vh;
    bottom: 18vh;
    & + .address {
    	top: 70vh;
        left: 18%;
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        p {
            color: $darkGray;
            font-size: px(26);
        }
    }
}