@import '../desktop';

// ----- main-contacts-title -----
.main-contacts-title {
    padding: 6.5vh 19.2vh 8.5vh 4.5vh;
    p {
        &:first-child {
            font-size: px(90);
        }
    }
}

// ----- map -----
    #map {
        margin: 23vh 5% 0 0;
}