@import '../desktop';

& {

    $afterWidth: 3.25520833%;

    padding-top: px(380);
    padding-right: $afterWidth;

    .info {
        left: px(160);
    }

    .new-title {
        font-size: px(96);
        line-height: px(110);
    }

    .portfolio-right-panel {
        display: none;
    }

    .poster {
        width: px(1190);
        height: px(790);

        & > span {
            padding: px(20) px(50);
        }

        .text {
            padding-top: px(40);

            p {
                padding-right: 0;
                width: 47%;
            }
        }
    }

    .controls {
        margin-top: px(250);
        margin-right: px(60);
        transform: none;

        .content-container {

            &:before {
                opacity: 0;
            }
        }
    }

    &:before {
        width: 100% - $afterWidth;
    }

    &:after {
        width: $afterWidth;
    }
}