.small-width {

    .slogan {
        width: 80%;
        font-size: 30px;
    }

    .question {
        width: 80%;

        .blue {
            font-size: 27px;
        }

        .gray {
            font-size: 18px;
        }
    }
}
