.services {
    position: relative;
    padding: 100px 0 60px;
    min-height: 100vh;
    background: $lightBlack;
    color: $white;
    overflow: hidden;

    .container {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 85%;
        color: $white;
    }

    &__title {
        position: relative;
        padding-left: 60px;
        font-family: $Raleway-Bold;
        font-size: 32px;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 50px;
            height: 3px;
            background: $white;
            content: '';
            transform: translateY(-50%);
        }
    }

    .list {
        margin-top: 20px;

        &__item {

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .inner-list {
        display: none;
        overflow: hidden;

        &__item {
            margin-bottom: 25px;

            &:first-child {
                padding-top: 25px;
            }

            &:last-child {
                padding-bottom: 15px;
            }

            &-link {
                color: $gray;
                font-family: $Roboto-Regular;
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }

    .title-block {
        padding: 15px 0;
        transition: background $time;

        &.active {
            background: $blue;

            .index {
                text-decoration-color: $blue;
            }

            .arrow {
                transform: rotate(180deg);
            }
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .name-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .index {
        margin-right: 15px;
        font-family: $Raleway-Bold;
        font-size: 44px;
        text-decoration: line-through;
        text-decoration-color: $lightBlack;
        transition: text-decoration-color $time;
    }

    .name {
        font-family: $Roboto-Regular;
        font-size: 18px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .arrow {
        display: block;
        margin-left: 20px;
        width: 20px;
        min-width: 20px;
        height: 15px;
        transition: transform $time;

        &__part {
            fill: none;
            stroke: $white;
            stroke-width: 2px;
            stroke-linejoin: round;
        }
    }

    .text {
        margin-top: 5px;
        color: $gray;
        font-family: $Roboto-Regular;
        font-size: 16px;
        line-height: 1.3;
    }
}
