@import '../desktop';

// ----- blue-line -----
.blue-line {
	width: px(400);
	right: px(1200);
}

// ----- title -----
.title {
	left: px(200);
	bottom: px(300);
	.word {
        span { font-size: px(55); }
        &:after { height: px(35); }
    }
}

// ----- image-block -----
.image-block {
    right: px(400);
    width: px(1027);
    height: px(714);
    margin-top: px(-200);
}

// ----- service-info -----
.service-info.vertical { 
	right: px(-60);
	bottom: 22vh;
}