@import 'desktop';

// ----- small-gray-lines -----
.small-gray-lines { display: none; }

// ----- title -----
.title { bottom: 10vh; }

// ----- letter c -----
.big-background-letter {
    right: 5vh;
    top: 2vh;
}

// ----- blue-line -----
.blue-line {
	height: 30vh;
	left: px(500);
}

// ----- image-block -----
.image-block {
	width: px(820);
    height: px(575);
    right: px(600);
    top: -20vh;
}