@function pxMedia($px, $media) {
    $k: 0;
    @if $media == phonePortrait {
        $k: .15625;
    } @else if $media == phoneLandscape {
        $k: .08803;     //.07496; //.12048;  
    } @else if $media == tabletPortrait {
        $k:  .065104;
    } @else if $media == tabletLandscape {
        $k:  .04883;    //.065012; //.041
    } @else if $media == desktop {
        $k: .0366;    //.04878; //.04687513;
    } @else if $media == desktopWide {
        $k: .02976;    //.036576; //.04394543;
    } @else if $media == desktopHD {
        $k: .02604;   //.029744; //.0390626;
    } @else if $media == desktopMega {
        $k: .01953;     //.026028; //.0341797;
    }

    @return $px * $k * 1vw;
}