// MEDIA QUERIES
$phonePortrait: '(max-width: 414px)';
$phoneLandscape: '(min-width: 415px) and (max-width: 667px)';
$tabletPortrait: '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop: '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide: '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD: '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega: '(min-width: 1921px)';

$phonePortraitWidth: 320px;
$phoneLandscapeWidth: 415px;
$tabletPortraitWidth: 668px; // 768px;
$iPhone8PlusLandscapeWidth: 736px;
$iPhoneXLandscapeWidth: 812px;
$tabletLandscapeWidth: 1024px;
$iPadProPortraitWidth: $tabletLandscapeWidth;
$iPadProLandscapeWidth: 1366px;
// MEDIA QUERIES END


// Z-INDEXES
$logoZIndex: 10;
$menuZIndex: $logoZIndex + 1;
$formZIndex: $menuZIndex + 1;
// Z-INDEXES END


$bounce: cubic-bezier(.87, -.41, .19, 1.44);


// COLORS VARIABLES
$silver: #2D2D2D;
$blue: #0057FF;
$dark: #333;
$white: #FFF;
$black: #000;
$black-two: #111;
$lightBlack: #1C1C1C;
$lightGray: #D7D7D7;
$gray: #999;
$darkGray: #444;
$secondary: #FAFBFC;
$primary: #24292E;
$border: #E1E4E8;
$border-mobile: #E0E1E0;
$red: #B60000;
$darkWhite: #EEE;
// COLORS VARIABLES END


// FONT VARIABLES
$Raleway-Thin: 'Raleway Thin'; // 100
$Raleway-Light: 'Raleway Light'; // 300
$Raleway-Regular: 'Raleway Regular'; // 400
$Raleway-Medium: 'Raleway Medium'; // 500
$Raleway-SemiBold: 'Raleway SemiBold'; // 600
$Raleway-Bold: 'Raleway Bold'; // 700
$Raleway-ExtraBold: 'Raleway ExtraBold'; // 800

$Roboto-Thin: 'Roboto Thin'; // 100
$Roboto-Light: 'Roboto Light'; // 300
$Roboto-Regular: 'Roboto Regular'; // 400
$Roboto-Medium: 'Roboto Medium'; // 500
$Roboto-Bold: 'Roboto Bold'; // 700
$Roboto-Black: 'Roboto Black'; // 900

$Audi-Regular: 'Audi Regular'; // 400
$Audi-Bold: 'Audi Bold'; // 700
// FONT VARIABLES END


// TIME CONSTANTS
$time: .3s;
$timeHalf: $time / 2;
$timeDouble: $time * 2;
$timeDif: .1s;

$timeTick: .2s;
$timeTickHalf: $timeTick / 2;
// TIME CONSTANTS END


// TOP PANEL
$topPanelAnimationTime: $time * 2;
// TOP PANEL ENDS
