& {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background: $lightBlack;
    padding: px(200) px(75) px(200) px(90);

    // ----- title -----
    .title {
        color: $white;
        display: block;
        letter-spacing: 3px;
        padding-left: px(110);
        margin-bottom: px(64);
        font-family: $Raleway-Bold;
        text-transform: uppercase;
        position: relative;
        font-size: px(62);
        &:before {
            width: 50px;
            height: 2px;
            content: "";
            position: absolute;
            background: $white;
            top: 17px;
            left: 0;
        }
    }
    
    // ----- service -----
    .service {
        margin-bottom: px(40);
        position: relative;
        z-index: 2;
        a {
            display: block;
        }
        & > a,
        & > p {
            line-height: 1.2;
            letter-spacing: 2px;
            margin-bottom: px(40);
            text-transform: uppercase;
            font-family: $Roboto-Regular;
            align-items: center;
            position: relative;
            font-size: px(32);
            display: flex;
            color: $white;
            &.five:after {
                display: none;
            }
            &.active {
                & + .bg {
                    position: absolute;
                    background: $blue;
                    left: px(-90);
                    height: 57px;
                    z-index: -1;
                    width: 200%;
                    top: 0;
                }
                & + .bg + .list {
                    display: block;
                }
                &:before {
                    text-decoration-color: $blue;
                }
                &:after {
                    background: url('../images/services/arrow-down-mobile.png');
                    height: px(15);
                    width: px(30);
                }
            }
            &:after {
                top: px(32);
                width: px(18);
                right: px(-35);
                height: px(28);
                background: url('../images/services/arrow-mobile.png');
                background-size: cover;
                position: absolute;
                display: block;
                content: '';
            }
            &:before {
                text-decoration: line-through;
                text-decoration-color: $lightBlack;
                font-family: $Raleway-Bold;
                margin-right: 15px;
                font-size: 44px;
                float: left;
                left: 0;
                top: 0;
            }
            &.one:before {
                content: "01";
            }
            &.two:before {
                content: "02";
            }
            &.three:before {
                content: "03";
            }
            &.four:before {
                content: "04";
            }
            &.five:before {
                content: "05";
            }
            span {
                display: block;
                margin-top: px(16);
                color: $gray;
            }
        }
        .list {
            display: none;
            a {
                color: #9c9c9c;
                position: relative;
                margin-bottom: px(14);
                font-family: $Roboto-Regular;
                line-height: px(42);
                font-size: px(26);
                display: flex;
                span {
                    margin-left: px(90);
                    letter-spacing: .5px;
                    display: inline-flex;
                }
            }
        }
        .text {
            color: $gray;
            line-height: 1.6;
            font-size: px(26);
            letter-spacing: .5px;
            text-transform: inherit;
            font-family: $Roboto-Regular;
            &:after {
                display: none;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:before,
    &:after {
        top: 0;
        width: 1px;
        height: 100%;
        display: block;
        position: absolute;
        background: $gray;
        content: '';
        opacity: .3;
    }

    &:before {
        left: px(76);
    }

    &:after {
        left: px(476);
    }
}