& {
    font-family: $Raleway-Regular;
    overflow: hidden;
    z-index: 0;
    
    // ----- animation -----
    animation: fadeIn $time * 3 both;
    
    // ----- big-background-letter -----
    .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
    
    // ----- navigation-elements -----
    .logo, .menu, .languages a { animation: fadeInDown $time * 3 $time * 3 both; }
    .copyright p { animation: fadeInUp $time * 3 $time * 3 both; }

    // ----- social -----
    .social {
        .instagram {  animation: social $time * 3 $time * 3 both; }
        .facebook { animation: socialReverse $time * 3 $time * 3 both; }
        .jumping-button { animation: FadeInRight $time * 3 $time * 3 both; }
    }

    // ----- contacts-info -----
    .contacts-info {
        li:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
        li:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
        li:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
    }
    
    // ----- small-gray-lines -----
    .small-gray-lines .line {
        animation: lineUp 1s $time * 4 both;
        &.down { animation-name: lineDown; }
    }

    // ----- title -----
    .title {
        .word {
            &:after { animation: halfDown $time * 2 linear $time * 4 both; }
            &:nth-of-type(1) span {
                animation: titleWord $time * 2 $time * 5 linear;
                animation-fill-mode: forwards;
            }
        }
    }
    
    // ----- bi-background-letter -----
    .big-background-letter {
        top: 4vh;
        z-index: 4;
        right: -2vh;
        position: fixed;
        font-size: 120vh;
        color: rgba(68,68,68,.3);
        span::before  { content: 'c'; }
    }
    
    // ----- title -----
    .title {
        margin: 27vh 0 0 px(590);
        span.name { top: -2vh; }
        .word {
            margin-bottom: 0;
            padding-bottom: 6px;
            &:after { top: 33px; }
        }
    }

    // ----- contacts-info -----
    .contacts-info {
        z-index: 1;
        position: absolute;
        margin: 35vh 0 0 px(630);
        li {
            color: $white;
            font-size: px(30);
            display: inline-block;
            font-family: $Roboto-Regular;
            &:nth-of-type(1) { margin-right: px(290); }
            &:nth-of-type(2) { margin-right: px(605); }
            &:nth-of-type(3) a {
                transition: $time;
                padding-bottom: 4px;
                border-bottom: 1px solid;
                &:hover { border: none; }
            }
            a {
                color: $white;
                display: block;
            }
        }
    }
}