& {
    font-family: $Raleway-Regular;
    background: $background;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: 0;
    top: 0;

    // ----- animation -----
    animation: fadeIn $time * 3 both;
    
    // ----- big-background-letter -----
    .big-background-letter { animation: fadeIn $time * 3 $time * 3 both; }
    
    // ----- copyright -----    
    .copyright p { animation: fadeInUp $time * 3 $time * 3 both; }

    // ----- networks -----
    .networks { animation: fadeInRight $time * 3 $time * 3 both; }

    // ----- back-layer -----
    .back-layer {
        animation: mainConatactsMapRight $time * 3 $time * 6 linear;
        animation-fill-mode: forwards;
    }
    
    // ----- contacts-info -----
    .contacts-info {
        li:nth-of-type(1) { animation: fadeInUp $time * 3 $time * 3 both; }
        li:nth-of-type(2) { animation: fadeInUp $time * 3 $time * 4 both; }
        li:nth-of-type(3) { animation: fadeInUp $time * 3 $time * 5 both; }
    }
    
    // ----- small-gray-lines -----
    .small-gray-lines .line {
        animation: lineUp 1s $time * 4 both;
        &.down { animation-name: lineDown; }
    }

    // ----- title -----
    .title {
        .word {
            &:after { animation: rightAndHalfDown $time * 2 linear $time * 4 both; }
            &:nth-of-type(1) h1 {
                bottom: initial;
                animation: Up $time * 2 $time * 5 linear both;
            }
        }
    }

    // ----- map -----
    #map {
        top: 0;
        left: 40%;
        width: 30%;
        z-index: 4;
        height: 75vh;
        position: absolute;
        visibility: hidden;
        animation: mainConatactsMapDown $time * 3 $time * 5 linear;
        animation-fill-mode: forwards;
    }

    // ----- back-layer -----
    .back-layer {
        width: 30%;
        z-index: 4;
        visibility: hidden;
        background-color: rgba(28,28,28,.9);
        position: absolute;
        bottom: 10vh;
        right: 5%;
        
        // ----- form -----
        form {
            padding-bottom: px(130);
            padding-right: px(260);
            padding-left: px(260);
            position: relative;
            display: table;
            color: $white;
            width: 100%;
            .close-form { display: none; }
        }
    }

    // ----- bi-background-letter -----
    .big-background-letter {
        top: 4vh;
        z-index: 4;
        right: -2vh;
        position: fixed;
        font-size: 120vh;
        color: rgba(68,68,68,.3);
        span::before  { content: 'c'; }
    }

    // ----- networks -----
    .networks {
        display: -webkit-inline-box;
        position: absolute;
        bottom: 7vh;
        z-index: 5;
        left: 23vh;
        li {
            margin-right: px(100);
            &:last-of-type { margin-right: 0; }
            a {
                color: $white;
                transition: $time;
                font-size: px(50);
                font-family: $Roboto-Regular;
                &:hover { color: $blue; }
            }
        }
    }
    
    // ----- title -----
    .title {
        margin: 27vh 0 0 px(590);
        .word {
            margin-bottom: 0;
            padding-bottom: 6px;
            &:after { top: 33px; }
        }
    }

    // ----- contacts-info -----
    .contacts-info {
        z-index: 4;
        position: absolute;
        margin: 15vh 0 0 px(630);
        li {
            color: $white;
            font-size: px(30);
            font-family: $Roboto-Regular;
            &:nth-of-type(1) { margin-bottom: px(60); }
            &:nth-of-type(2) { margin-bottom: px(100); }
            &:nth-of-type(3) a {
                transition: $time;
                padding-bottom: 4px;
                border-bottom: 1px solid;
                &:hover { border: none; }
            }
            a {
                color: $white;
                display: block;
                margin-bottom: px(20);
            }
        }
    }
}