& {

    font-family: $Raleway-Regular;
    overflow: hidden;

    .main-contacts-info {
        display: inherit;
        margin: 9vh 0 0 12.5vh;
        li {
            color: $white;
            font-size: 2vh;
            margin-bottom: 4.5vh;
            &:nth-of-type(3) a {
                transition: $time;
                padding-bottom: 4px;
                border-bottom: 1px solid;
                &:hover { border: none; }
            }
            a {
                color: $white;
                display: block;
                font-size: 2.6vh;
                margin-top: -.5vh;
            }
        }
    }
}