.menu {

    @keyframes innerTickOpenedAnimation1 {
        from {
            left: 10%;
        }

        to {
            left: 101%;
        }
    }

    @keyframes innerTickOpenedAnimation2 {
        from {
            left: -101%;
        }

        to {
            left: 10%;
        }
    }

    $innerTickAnimationDelay: 2s;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 120px;
    height: 120px;
    background: transparent;
    font-family: $Roboto-Regular;
    animation: Down $topPanelAnimationTime $time * 3 ease-out both;
    transition: top $time * 2 ease-out, background $time * 2 2s, width 0s $time * 2 + 2s, height 0s $time * 2 + 2s;

    &__item {
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 120px;
        height: 120px;
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
        outline: 0;
        backface-visibility: hidden;
        transition: transform $HomeMenuBlockAnimationTime;

        .text-block {
            position: relative;
            z-index: 3;
            padding-top: 30px;
            width: 100%;
            height: 100%;
        }

        .serial-number {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 14px;
            color: $gray;
        }

        .symbol,
        .name {
            font-size: 36px;
            text-align: center;
            transition: color $time;
        }

        .symbol {
            font-family: $Raleway-Regular;
        }

        .name {
            display: block;
            position: absolute;
            bottom: 15px;
            width: 100%;
            font-size: 16px;
        }

        .border-left {
            position: absolute;
            top: 0;
            right: 100%;
            width: 1px;
            height: 0;
            background: $white;
            transition: height $time;
        }

        .border-bottom {
            position: absolute;
            top: 100%;
            right: 0;
            width: 0;
            height: 1px;
            background: $white;
            transition: width $time;
        }

        .hamburger {
            position: relative;
            margin: 0 auto;
            width: 45px;
            height: 36px;
            transition: transform $timeTick;

            &-tick {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                border-radius: 3px;
                overflow-x: hidden;

                .inner-tick {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    mix-blend-mode: darken;
                    border-radius: 3px;
                    transition: transform $time;

                    &-2 {
                        transform: translateX(-101%);
                    }
                }

                &-1 {
                    top: 0;
                    width: 50%;
                }

                &-2 {
                    top: calc(100% / 3);
                    transition: width $time;
                }

                &-3 {
                    top: calc(100% / 3 * 2);
                    width: 50%;
                    transition: width $time;
                }

                &-4 {
                    top: 100%;
                }
            }
        }

        &:before {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: $blue;
            content: '';
            opacity: 0;
            visibility: hidden;
            transition: opacity $time, top $time, right $time;
        }

        &:hover {

            .text-block {

                .symbol,
                .name {
                    color: $white;
                }
            }


            &::before {
                top: 5px;
                right: 5px;
                opacity: 1;
                visibility: visible;
            }
        }

        &--open-close {
            padding-top: 35px;
            width: 120px;
            height: 120px;
            transition: border-color $timeTick;

            .name {
                transition: opacity $timeTick;
            }

            &::before {
                display: none;
            }

            &:hover {

                .hamburger-tick {

                    .inner-tick {
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;

                        &-1 {
                            animation-name: toRight;
                        }

                        &-2 {
                            animation-name: Right;
                        }
                    }

                    &-1,
                    &-3 {

                        .inner-tick {
                            animation-duration: $timeTickHalf;
                        }
                    }

                    &-2,
                    &-4 {
                        .inner-tick {
                            animation-duration: $timeTick;
                        }
                    }

                    &-1 {

                        .inner-tick {

                            &-1 {
                                animation-delay: 0s;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 4 + $timeTick * 3;
                            }
                        }
                    }

                    &-2 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 4 + $timeTick * 2;
                            }
                        }
                    }

                    &-3 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf * 2;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 3 + $timeTick * 2;
                            }
                        }
                    }

                    &-4 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf * 3;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 3 + $timeTick;
                            }
                        }
                    }
                }
            }
        }

        &--blog {
            z-index: 5;
            top: 119px;
            transform-origin: 50% 0%;
            transform: perspective(300px) rotateX(-90deg);
        }

        &--about-us {
            z-index: 4;
            right: 119px;
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        &--services {
            z-index: 3;
            top: 119px;
            right: 119px;
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        &--contact {
            top: 119px * 2;
            transform-origin: 50% 0%;
            transform: perspective(300px) rotateX(-90deg);
        }

        &--portfolio {
            z-index: 3;
            right: 119px * 2;
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        &--home {
            z-index: 2;
            right: 119px * 3;
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        /* STYLES FOR ANIMATION */
        &--blog,
        &--about-us {
            transition-delay: $HomeMenuBlock1DelayTimeReversed;
        }

        &--services,
        &--contact,
        &--portfolio {
            transition-delay: $HomeMenuBlock2DelayTimeReversed;
        }

        &--home {
            transition-delay: $HomeMenuBlock3DelayTimeReversed;
        }
        /* STYLES FOR ANIMATION END */

        /* STYLES FOR BORDER ANIMATION */
        &--open-close {

            .border-left {
                transition-delay: $HomeMenuLine7DelayTimeReversed;
            }

            .border-bottom {
                transition-delay: $HomeMenuLine1DelayTimeReversed;
            }
        }

        &--contact {

            .border-bottom {
                transition-delay: $HomeMenuLine3DelayTimeReversed;
            }
        }

        &--portfolio {

            .border-left {
                transition-delay: $HomeMenuLine5DelayTimeReversed;
            }
        }

        &--home {

            .border-left {
                transition-delay: $HomeMenuLine4DelayTimeReversed;
            }
        }

        &--services {

            .border-left {
                top: -100%;
                transition-delay: $HomeMenuLine6DelayTimeReversed;
            }

            .border-bottom {
                right: -100%;
                transition-delay: $HomeMenuLine2DelayTimeReversed;
            }
        }
        /* STYLES FOR BORDER ANIMATION ENDS */

        &.disabled {
            background: $blue;
            cursor: default;
            pointer-events: none;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &.opened {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .85);
        transition: background $time * 2 0s;

        .menu__item {
            transform: none;

            .hamburger {
                width: 50px;
                height: 50px;
                overflow: hidden;

                &-tick {
                    transform-origin: 50% 50%;

                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 50%;
                        width: 100%;

                        .inner-tick {
                            width: 80%;

                            &-1 {
                                left: 10%;
                            }

                            &-2 {
                                left: -101%;
                                transform: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: translateY(-50%) rotate(-45deg);
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 0;
                    }
                }
            }

            &--open-close {
                padding-top: 25px;
                border-color: $white;

                .hamburger {
                    transform: scale(1) translate3d(0, 0, 0);
                }

                .name {
                    opacity: 1;
                }

                &:hover {

                    .hamburger-tick {

                        .inner-tick {
                            animation: none;
                            animation-duration: $timeTick;
                            animation-fill-mode: forwards;
                            animation-timing-function: linear;

                            &-1 {
                                animation-name: innerTickOpenedAnimation1;
                            }

                            &-2 {
                                animation-name: innerTickOpenedAnimation2;
                            }
                        }

                        &-2 {

                            .inner-tick {

                                &-1 {
                                    animation-delay: 0s;
                                }

                                &-2 {
                                    animation-delay: $timeTick * 2 - $timeDif / 2;
                                }
                            }
                        }

                        &-3 {

                            .inner-tick {

                                &-1 {
                                    animation-delay: $timeTick - $timeDif / 2;
                                }

                                &-2 {
                                    animation-delay: $timeTick * 3 - $timeDif / 2;
                                }
                            }
                        }
                    }
                }
            }

            /* STYLES FOR ANIMATION */
            &--blog,
            &--about-us {
                transition-delay: $HomeMenuBlock1DelayTime;
            }

            &--services,
            &--contact,
            &--portfolio {
                transition-delay: $HomeMenuBlock2DelayTime;
            }

            &--home {
                transition-delay: $HomeMenuBlock3DelayTime;
            }
            /* STYLES FOR ANIMATION ENDS */

            /* STYLES FOR BORDER ANIMATION */
            .border-left {
                height: 100vh;
            }

            .border-bottom {
                width: 100vw;
            }

            &--open-close {

                .border-left {
                    transition-delay: $HomeMenuLine7DelayTime;
                }

                .border-bottom {
                    transition-delay: $HomeMenuLine1DelayTime;
                }
            }

            &--services {

                .border-left {
                    transition-delay: $HomeMenuLine6DelayTime;
                }

                .border-bottom {
                    transition-delay: $HomeMenuLine2DelayTime;
                }
            }

            &--home {

                .border-left {
                    transition-delay: $HomeMenuLine4DelayTime;
                }
            }

            &--contact {

                .border-bottom {
                    transition-delay: $HomeMenuLine3DelayTime;
                }
            }

            &--portfolio {

                .border-left {
                    transition-delay: $HomeMenuLine5DelayTime;
                }
            }
            /* STYLES FOR BORDER ANIMATION ENDS */
        }
    }

    &.dark {

        .menu__item {
            border-color: $darkGray;

            .symbol,
            .name {
                color: $darkGray;
            }

            .border-left,
            .border-bottom {
                background: $darkGray;
            }

            .hamburger {

                &-tick {

                    .inner-tick {
                        background: $darkGray;
                    }
                }
            }

            &:hover {

                .text-block {

                    .symbol,
                    .name {
                        color: $white;
                    }
                }
            }

            &--open-close {

                &:hover {

                    .name {
                        color: $darkGray;
                    }
                }
            }
        }

        &.opened {
            background: rgba(255, 255, 255, .95);

            .menu__item {

                &--open-close {
                    border-color: $darkGray;
                }
            }
        }
    }

    &.scrolled {

        .menu__item {

            .hamburger {
                transform: scale(.8) translate3d(0, -70%, 0);
            }

            &--open-close {
                border-color: transparent;

                .name {
                    opacity: 0;
                }

                &:hover {
                    border-color: $darkGray;

                    .hamburger {
                        transform: scale(1) translate3d(0, 0, 0);
                    }

                    .name {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.form-opened {
        top: -121px;
        opacity: 0;
    }

    &.back {
        animation: toUp $topPanelAnimationTime ease-out both;
    }
}
