& {  
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    font-family: 'Roboto';
    animation: fadeInDown $time * 3 both;

    &__item {
        box-sizing: border-box;
        display: block;
        position: relative;
        z-index: 2;
        float: right;
        width: px(240);
        height: px(240);
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
        outline: 0;
        backface-visibility: hidden;
        transition: transform $time;

        .text-block {
            position: relative;
            z-index: 3;
            padding-top: px(60);
            width: 100%;
            height: 100%;
        }

        .serial-number {
            position: absolute;
            top: px(20);
            right: px(20);
            font-size: px(28);
            color: $gray;
        } 

        .symbol,
        .name {
            font-size: px(72);
            text-align: center;
            transition: color $time;
        }

        .symbol {
            font-family: 'Raleway';
        }

        .name {
            display: block;
            position: absolute;
            bottom: px(30);
            width: 100%;
            font-size: px(32);
        }

        .border-left {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 0;
            background: $gray;
            transition: height $time; 
        }

        .border-bottom {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background: $gray;
            transition: width $time;
        }

        .hamburger {
            position: relative;
            margin: 0 auto;
            width: px(90);
            height: px(72);

            &-tick {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                //background: $white;
                border-radius: 3px;
                overflow: hidden;

                .inner-tick {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    border-radius: 3px;
                    transition: transform $time;

                    &-2 {
                        transform: translateX(-100%);
                    }
                }

                &-1 {
                    top: 0;
                    width: 50%;
                }

                &-2 {
                    top: calc(100% / 3);
                    transform: translateY(-1.5px);
                    transition: width $time;
                }

                &-3 {
                    top: calc(100% / 3 * 2);
                    width: 50%;
                    transform: translateY(-1.5px);
                    transition: width $time;
                }
                
                &-4 {
                    bottom: 0;
                }
            }
        }

        &::before {
            position: absolute;
            top: px(50);
            right: px(50);
            z-index: 2;
            width: 100%;
            height: 100%;
            background: $blue;
            content: '';
            opacity: 0;
            visibility: hidden;
            transition: opacity $time, top $time, right $time;
        }

        &:hover {

            .symbol,
            .name {
                color: $white;
            }

            &::before {
                top: px(10);
                right: px(10);
                opacity: 1;
                visibility: visible;
            }
        }

        &--open-close {
            padding-top: px(70);

            &::before {
                display: none;
            }

            &:hover {

                .hamburger-tick {

                    .inner-tick {
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;

                        &-1 {
                            animation-name: innerTickAnimation1;
                        }

                        &-2 {
                            animation-name: innerTickAnimation2;
                        }
                    }

                    &-1,
                    &-3 {

                        .inner-tick {
                            animation-duration: $timeTickHalf;
                        }
                    }

                    &-2,
                    &-4 {
                        .inner-tick {
                            animation-duration: $timeTick;
                        }
                    }

                    &-1 {

                        .inner-tick {

                            &-1 {
                                animation-delay: 0s;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 4 + $timeTick * 3;
                            }
                        }
                    }

                    &-2 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 4 + $timeTick * 2;
                            }
                        }
                    }

                    &-3 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf * 2;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 3 + $timeTick * 2;
                            }
                        }
                    }

                    &-4 {

                        .inner-tick {

                            &-1 {
                                animation-delay: $timeTickHalf * 3;
                            }

                            &-2 {
                                animation-delay: $timeTickHalf * 3 + $timeTick;
                            }
                        }
                    }
                }
            }
        }

        &--about-us {
            z-index: 3;
        }

        &--team {
            z-index: 4;
        }

        &--services {
            z-index: 3;
        }

        &--blog {
            z-index: 5;
        }

        &--blog,
        &--contact {
            clear: right;
        }

        &--portfolio,
        &--about-us,
        &--team,
        &--services {
            
            .border-block {
                border-right: 0;
            }
        }

        &--services,
        &--blog,
        &--contact {

            .border-block {
                border-top: 0;
            }
        }

        /* STYLES FOR ANIMATION */
        &--team,
        &--about-us,
        &--portfolio,
        &--services {
            transform-origin: 100% 50%;
            transform: perspective(300px) rotateY(-90deg);
        }

        &--blog,
        &--contact {
            transform-origin: 50% 0;
            transform: perspective(300px) rotateX(-90deg);
        }

        &--portfolio {
            transition-delay: $timeDif * 7;
        }

        &--services,
        &--contact,
        &--about-us {
            transition-delay: $timeDif * 7 + $time;
        }

        &--team,
        &--blog {
            transition-delay: $timeDif * 7 + $time * 2;
        }
        /* STYLES FOR ANIMATION END */

        /* STYLES FOR BORDER ANIMATION */
        &--open-close {

            .border-left {
                transition-delay: 0s;
            }

            .border-bottom {
                transition-delay: $timeDif * 6;   
            }
        }

        &--contact {

            .border-bottom {
                transition-delay: $timeDif * 4;
            }
        }

        &--portfolio {

            .border-left {
                transition-delay: $timeDif * 3;
            }
        }

        &--about-us {

            .border-left {
                transition-delay: $timeDif * 2;
            }
        }

        &--services {

            .border-left {
                top: -100%;
                transition-delay: $timeDif;
            }

            .border-bottom {
                right: -100%;
                transition-delay: $timeDif * 5;   
            }
        }
        /* STYLES FOR BORDER ANIMATION ENDS */
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        cursor: pointer;
        transition: opacity $time * 2;
    }

    &.opened {
        width: 100%;
        height: 100%;

        .menu__item {
            transform: perspective(0) rotate(0);

            .hamburger {
                width: px(100);
                height: px(100);
                overflow: hidden;

                &-tick {
                    transform-origin: 50% 50%;

                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 50%;
                        width: 100%;

                        .inner-tick {
                            width: 80%;

                            &-1 {
                                left: 10%;
                            }

                            &-2 {
                                left: -101%;
                                transform: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: translateY(-50%) rotate(-45deg);
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        width: 0;
                    }
                }
            }

            &--open-close {
                padding-top: px(50);

                &:hover {

                    .hamburger-tick {

                        .inner-tick {
                            animation: none;
                            animation-duration: $timeTick;
                            animation-fill-mode: forwards;
                            animation-timing-function: linear; 

                            &-1 {
                                animation-name: innerTickOpenedAnimation1; 
                            }

                            &-2 {
                                animation-name: innerTickOpenedAnimation2;
                            }
                        }

                        &-2 {

                            .inner-tick {

                                &-1 {
                                    animation-delay: 0s;
                                }

                                &-2 {
                                    animation-delay: $timeTick * 2 - $timeDif / 2;
                                }
                            }
                        }

                        &-3 {

                            .inner-tick {

                                &-1 {
                                    animation-delay: $timeTick - $timeDif / 2;
                                }

                                &-2 {
                                    animation-delay: $timeTick * 3 - $timeDif / 2;
                                }
                            }
                        }
                    }
                }
            }

            /* STYLES FOR ANIMATION */
            &--team,
            &--blog {
                transition-delay: 0s;
            }

            &--services,
            &--contact,
            &--about-us {
                transition-delay: $time;
            }

            &--portfolio {
                transition-delay: $time * 2;
            }
            /* STYLES FOR ANIMATION ENDS */

            /* STYLES FOR BORDER ANIMATION */
            .border-left {
                height: 100vh;
            }

            .border-bottom {
                width: 100vw;
            }

            &--open-close {

                .border-left {
                    transition-delay: $time * 3 + $timeDif * 6;
                }

                .border-bottom {
                    transition-delay: $time * 3;   
                }
            }

            &--services {

                .border-left {
                    transition-delay: $time * 3 + $timeDif * 5;
                }

                .border-bottom {
                    transition-delay: $time * 3 + $timeDif;   
                }
            }

            &--contact {

                .border-bottom {
                    transition-delay: $time * 3 + $timeDif * 2;
                }
            }

            &--portfolio {

                .border-left {
                    transition-delay: $time * 3 + $timeDif * 3;
                }
            }

            &--about-us {

                .border-left {
                    transition-delay: $time * 3 + $timeDif * 4;
                }
            }
            /* STYLES FOR BORDER ANIMATION ENDS */
        }

        .menu__background {
            visibility: visible;
            opacity: 1;
        }
    }

    &.gray {

        .menu__item {
            border-color: $darkGray;

            .symbol,
            .name {
                color: $darkGray;
            }

            .hamburger {

                &-tick {

                    .inner-tick {
                        background: $darkGray;
                    }
                }
            }
        }
    }
}
