.menu {
    width: 100px;
    height: 100px;

    &__item {
        width: 100px;
        height: 100px;

        .text-block {
            padding-top: 25px;
        }

        .symbol,
        .name {
            font-size: 34px;
        }

        .name {
            bottom: 10px;
            font-size: 14px;
        }

        .hamburger {
            width: 40px;
            height: 30px;
        }

        &--open-close {
            padding-top: 25px;
            width: 100px;
            height: 100px;
        }

        &--blog {
            top: 99px;
        }

        &--about-us {
            right: 99px;
        }

        &--services {
            top: 99px;
            right: 99px;
        }

        &--contact {
            top: 99px * 2;
        }

        &--portfolio {
            right: 99px * 2;
        }

        &--home {
            right: 99px * 3;
        }
    }

    &.opened {

        .menu__item {

            &--open-close {
                padding-top: 20px;
            }
        }
    }

    &.form-opened {
        top: -101px;
    }
}
