.our-clients {
    position: relative;
    padding: 40px 5%;
    background: $lightBlack;

    &__title {
        padding: 30px 0;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        color: $white;
        font-family: $Roboto-Bold;
        font-size: 20px;
        line-height: 1.1;
    }

    .slider-clients-wrapper {
        overflow-x: hidden;
        position: relative;
        margin-top: 10px;
        width: 100%;
    }

    .slider-clients {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        width: 300%;
    }

    .slide {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
        position: relative;
        width: 100%;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 50%;
            height: 70px;
        }

        &__image {
            max-width: 100%;
            object-fit: contain;

            &--big {
                height: 75%;
            }

            &--middle {
                height: 55%;
            }

            &--small {
                height: 25%;
            }
        }

        .open-form {
            display: block;
            color: $white;
            font-family: $Roboto-Black;
            font-size: 18px;
            text-align: left;

            span {
                display: block;
                color: $blue;
            }
        }
    }

    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            width: 8px;
            height: 8px;

            &:last-child {
                margin-right: 0;
            }

            &.active {

                .dots {

                    &__inner-item {
                        background: $blue;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }

        &__inner-item {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $gray;
            transition: width $timeTick, height $timeTick, background $timeTick;
        }
    }
}
