& {

    & > header {
        position: relative;
        padding-bottom: 100px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .title {
            display: block;
            margin-top: 35px;
            padding-left: 15px;
            color: $gray;
            font-family: $Raleway-ExtraBold;
            font-size: 11px;
            text-transform: uppercase;
        }

        .title-name {
            display: block;
            margin-top: 10px;
            padding-left: 15px;
            padding-right: 20px;
            font-family: $Roboto-Black;
            font-size: 30px;
            color: $darkGray;

            span {
                color: $blue;
            }
        }

        .long-read-container {
            position: relative;
            margin-top: 35px;
            max-height: 640px;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 55px;
                background: linear-gradient(0deg, $white 0%, $white 20%, rgba(255, 255, 255, .8) 70%, rgba(255, 255, 255, 0) 100%);
                content: '';
            }

            &.opened {
                max-height: initial;

                &:before {
                    background: transparent;
                }
            }

            &--seo {
                max-height: 550px;
            }

            &--design {
                max-height: 400px;
            }
        }

        .long-read {
            position: relative;
            padding: 0 15px 60px;

            p {
                position: relative;
                margin-bottom: 30px;
                color: $darkGray;
                font-family: $Roboto-Regular;
                font-size: 16px;
                line-height: 1.4;

                span {
                    font-family: $Roboto-Bold;
                }

                &.big {
                    margin: 60px 0 45px;
                    font-family: $Roboto-Black;
                    font-size: 24px;

                    span {
                        color: $blue;
                    }
                }

                &.bold {
                    font-family: $Roboto-Bold;
                }

                &.italic {
                    font-style: italic;
                }

                &.left-bordered {

                    &:before {
                        position: absolute;
                        top: 0;
                        left: -15px;
                        width: 4px;
                        height: 100%;
                        background: $blue;
                        content: '';
                    }
                }

                &.bordered {
                    margin: 50px 0 75px;
                    padding: 20px 0;
                    border-top: 1px solid $gray;
                    border-bottom: 1px solid $gray;
                }
            }

            ul {
                font-family: $Roboto-Regular;
                font-size: 16px;
                line-height: 1.4;
            }

            .indexed {

                .list-item-title {
                    display: block;
                    margin-bottom: 20px;
                    font-family: $Roboto-Black;
                    font-size: 24px;
                    line-height: 1.2;
                }
            }

            .blue {
                color: $blue;
            }

            .list-title {
                display: block;
                margin-bottom: 20px;
                font-family: $Roboto-Black;
                font-size: 18px;
            }

            .circled {

                .list-item-title {
                    display: block;
                    font-family: $Roboto-Black;
                }

                li {
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 25px;

                    &:before {
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 15px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: $blue;
                        content: '';
                    }
                }
            }

            blockquote {
                margin: 60px 0 50px;
                padding-bottom: 30px;
                border-bottom: 1px solid $gray;
                font-family: $Roboto-Regular;
                font-style: italic;
                font-size: 14px;
                line-height: 1.4;

                .dots {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto 40px;
                    width: 50px;
                }

                .dot {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $gray;
                }
            }

            span {

                .bold {
                    padding-left: 20px;

                    span {
                        color: $blue;
                    }
                }
            }

            .text-title {
                font-family: $Roboto-Black;
                font-size: 18px;
            }

            .quotes {
                position: absolute;
                top: -35px;
                left: -15px;
            }

            .open-form {
                display: block;
                margin-top: 50px;
                color: $blue;
                font-family: $Roboto-Bold;
                font-size: 24px;
            }

            &--seo,
            &--design {

                .indexed {
                    margin-bottom: 45px;

                    li {
                        margin-bottom: 20px;
                        padding-left: 20px;
                    }
                }

                .bold {
                    display: block;
                    padding-left: 0;
                }

                .bolder {
                    font-family: $Roboto-Bold;
                }

                .blue {
                    font-family: $Roboto-Black;
                }
            }
        }

        .open-close-long-read {
            display: block;
            position: absolute;
            z-index: 3;
            bottom: 30px;
            padding: 0;
            width: 100vw;
            height: 50px;
            color: $darkGray;
            font-family: $Raleway-Bold;
            font-size: 12px;
            text-transform: uppercase;
            overflow: hidden;
            transition: bottom $time;

            .text-container {
                width: 100%;
                transition: transform $time * 2, background $time;
            }

            .open,
            .close {
                display: block;
                height: 50px;
                line-height: 50px;
            }

            &:before,
            &:after {
                position: absolute;
                left: 5%;
                z-index: 2;
                width: 90%;
                height: 1px;
                background: $darkGray;
                content: '';
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &.opened {
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 3;

                .text-container {
                    transform: translateY(-50%);
                    background: #f9f9f9;
                }
            }
        }
    }

    .services {
        margin-top: 35px;
        padding: 40px 15px 20px;
        background: $lightBlack;

        .title {
            padding-right: 15px;
            margin-bottom: 40px;
            color: $white;
            font-family: $Roboto-Black;
            font-size: 36px;
            line-height: 1.2;

            span {
                color: $blue;
            }
        }

        li {
            margin-bottom: 44px;
            color: $white;
        }

        .list-item-title {
            display: block;
            position: relative;
            margin-bottom: 15px;
            padding-left: 20px;
            font-family: $Roboto-Black;
            font-size: 24px;

            &:before {
                display: block;
                position: absolute;
                top: 6px;
                left: 0;
                width: 9px;
                height: 14px;
                background: url('../../../../../images/services/arrow-mobile.png') no-repeat center;
                content: '';
            }
        }

        p {
            color: $lightGray;
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .work-flow {
        padding: 60px 15px 40px;
        color: $darkGray;

        .indexed {
            padding-left: 20px;
        }

        .title {
            margin-bottom: 40px;
            font-family: $Roboto-Black;
            font-size: 36px;
            line-height: 1.2;

            span {
                color: $blue;
            }
        }

        li {
            margin-bottom: 45px;
        }

        .list-item-title {
            display: block;
            margin-bottom: 15px;
            font-family: $Roboto-Black;
            font-size: 24px;
            line-height: 1.2;
        }

        .blue {
            color: $blue;
            font-family: $Roboto-Black;
        }

        p {
            font-family: $Roboto-Regular;
            font-size: 16px;
            line-height: 1.4;
        }
    }

    form {
        position: relative;
        left: initial;
        z-index: 1;

        .form-title {
            font-size: 23px;
        }
    }
}