@import '../desktop';

// ----- title -----
.title {
	width: 100%;
	padding: 26vh px(36) 0 px(170);
	span.name { top: -3vh; }
	.word {
		span { font-size: px(120); }
	}
}

// ----- service-info -----
.service-info { left: px(76); }