@import '../desktop';

// ----- title -----
.title {
	width: 100%;
	padding: 26vh px(50) 0 px(200);
	span.name { top: -3vh; }
	.word span { font-size: px(120); }
}

// ----- jump-button -----
.jump-button { right: 10%; }

// ----- service-info -----
.service-info {
    bottom: 35.5vh;
    left: px(130);
}