& {

    .portfolio__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding: 0 px(50) px(120);
        width: 100vw;
        height: 100vh;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .portfolio-item-title,
        a {
            position: relative;
            z-index: 2;
            color: $white;
        }

        .portfolio-item-title {
            font-family: $Roboto-Black;
            font-size: px(96);
            line-height: px(100);
        }

        a {
            margin-top: px(40);
            font-family: $Raleway-Bold;
            font-size: px(24);
            text-transform: uppercase;
        }

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            content: '';
        }

        &--q7 {

            &:before {
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}