& {
    display: grid;
    
    // ----- our-works -----
    .our-works {
        background: $white;

        // ----- title -----
        .title {
            display: none;
        }

        // ----- portfolio -----
        .portfolio {
            padding: 100px 44px 0;
            position: relative;
            overflow: hidden;
            height: 100vh;
            img {
                width: 100%;
                height: 175px;
                object-fit: cover;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &__title {
                font-family: $Raleway-Medium;
                text-transform: uppercase;
                font-size: px(34);
                line-height: 1.2;
                display: block;
                margin: 20px 0;
                span {
                    font-family: $Raleway-Bold;
                }
            }
            .opened-work {
                color: $white;
                z-index: 9999;
                padding: 60px 44px 0;
                transition: top $time * 2;
                font-family: $Roboto-Regular;
                background: rgb(0,0,0);
                position: absolute;
                overflow: hidden;
                height: 100vh;
                width: 100%;
                top: 101%;
                left: 0;
                .content {
                    position: relative;
                }
                &.fadeInWork {
                    img {
                        animation: fadeInWork $time * 1.25 linear;
                    }
                    p {
                        animation: fadeInWork $time * 2 linear;
                    }
                }
                &.fadeOutWork {
                    img {
                        animation: fadeOutWork .01s linear forwards;
                    }
                    p {
                        animation: fadeOutWork .05s linear forwards;
                    }
                }
                img {
                    top: 0;
                    z-index: 1;
                    left: px(2);
                    height: auto;
                    width: 120px;
                }
                p {
                    font-family: $Roboto-Regular;
                    line-height: px(35);
                    font-size: px(30);
                    margin: px(75) 0;
                    text-align: left;
                    color: #CCC;
                    
                }
                &.opened {
                    width: 100%;
                    top: 0;
                }
                .close-work {
                    display: none;
                }
            }

            // ----- button -----
            .button {
                text-transform: uppercase;
                vertical-align: middle;
                margin-bottom: px(50);
                display: inline-block;
                text-align: center;
                line-height: 55px;
                font-size: px(26);
                width: 99.99%;
                height: 55px;
                z-index: 99999;
                position: relative;
                letter-spacing: 2px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                
                // ----- transparent -----
                &.transparent {
                    color: $black;
                    padding: 0 20px;
                    font-family: $Roboto-Black;
                    &.white {
                        color: $white;
                        &.option::before {
                            border-left: 5px solid $white;
                            border-bottom: 1px solid $white;
                        }
                        &.option::after {
                            border-top: 1px solid $white;
                            border-right: 5px solid $white;
                        }
                    }
                    &::before, &::after {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        z-index: 3;
                        content: '';
                        transition: $time;
                        box-sizing: border-box;
                    }
                    &.option::before {
                        border-left: 5px solid $black;
                        border-bottom: 1px solid $black;
                        transform-origin: 0 100%;
                        transform: scale(.1,.5);
                    }
                    &.option::after {
                        border-top: 1px solid $black;
                        border-right: 5px solid $black;
                        transform-origin: 100% 0%;
                        transform: scale(.1,.5);
                    }
                }
                
                // ----- special -----
                &.special {
                    color: $white;
                    border: 1px solid;
                    font-family: $Roboto-Bold;
                    .element {
                        background-color: $white;
                        font-family: $Raleway-ExtraBold;
                        text-transform: none;
                        position: absolute;
                        padding: px(10);
                        left: px(45);
                        top: px(-65);
                    }
                    &.blue {
                        background-color: $blue;
                        border-color: $blue;
                        span, a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    // ***** keyframes *****
    @keyframes fadeInWork {
        0%, 50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeOutWork {
        100% {
            opacity: 0;
        }
    }
}