.our-clients {

    $container-width: 68%;

    .lines,
    .container {
        width: $container-width;
    }

    .container {
        top: 25px;
    }

    .new-title {
        margin-top: 15px;
    }

    .new-title-text {
        font-size: 30px;
    }

    .clients {
        margin-top: 30px;
    }

    .client {
        margin-top: 20px;
    }

    .vertical-text {
        bottom: 10.5vh;
        left: 30px;
    }

    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
    &.about-company {
        min-height: 650px;

        .open-form {
            font-size: 24px;
        }

        .back-layer {
            padding-right: 2%;
        }

        &.opened {

            .front-layer {
                transform: rotateY(15deg) scaleX(.8);
            }
        }
    }
    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
}
