.our-clients {

    $container-width: 80%;

    .lines,
    .container {
        width: $container-width;
    }

    .container {
        top: 30px;
    }

    .new-title {
        margin-top: 10px;
    }

    .text-container {
        width: 90%;

        &:before {
            display: none;
        }
    }

    .new-title-text {
        line-height: 1.2;
    }

    .clients {
        margin-top: 20px;
    }

    .client {
        margin-top: 0;

        img {
            width: 70%;
            height: 45px;
        }
    }

    .vertical-text {
        display: none;
    }

    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
    &.about-company {
        min-height: 568px;

        .back-layer {
            padding-right: 0;
        }

        .form {
            margin: 0 auto;
            width: 70%;
        }
    
        &.opened {
    
            .front-layer {
                transform: rotateY(120deg) scaleX(1);
            }
        }
    }
    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
}
