.our-clients {

    $container-width: 94%;

    .languages {
        display: none;
    }

    .lines,
    .container {
        width: $container-width;
    }

    .client {
        margin-top: 10px;

        img {
            width: 80%;
            height: 55px;
        }
    }
}
