.our-clients {

    $container-width: 76%;

    .lines,
    .container {
        width: $container-width;
    }

    .text-container {

        span {
            font-size: 24px;
        }
    }

    .vertical-text {
        left: 20px;
        width: 350px;
        line-height: 1.2;
    }

    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
    &.about-company {
        min-height: 1024px;

        .open-form {
            font-size: 16px;
            line-height: 1;
        }
    }
    // ----- STYLES FOR ABOUT-COMPANY PAGE -----
}
