.our-clients {

    .client {

        img {
            width: 80%;
            height: 50px;
            object-fit: contain;
        }
    }

    .text-container {

        span {
            font-size: 24px;
        }
    }
}
