& {  
    height: px(2500);
    position: relative;
    background: $white;
    
    &.seo {
        z-index: -1;
    }
    
    .front-layer,
    .back-layer {
        height: px(1920);
    }

    .front-layer {
        border-bottom: 1px solid $lightGray;
        position: relative;
        z-index: 2;
        background: $white;
        overflow: hidden;
        transform-origin: 0 50%;
        transform-style: preserve-3d;
        transition: transform $time * 2;

        .small-gray-lines {
            z-index: 1;
    
            .line {
                visibility: visible;
                background: gray;
                opacity: .2;
    
                &.up {
                    transform: rotate(-65deg) translate3d(100%, 0, 0);
                }
    
                &.down {
                    transform: rotate(-65deg) translate3d(-100%, 0, 0);
                }
    
                &.up,
                &.down {
                    animation: none;
                }
            }
        }

        .big-background-letter {
            top: 15vh;
            right: initial;
            width: 100%;
            font-family: $Raleway-Bold;
            font-size: px(1500);
            text-align: center;
            text-transform: uppercase;

            span {

                &:before {
                    content: 'c';
                }
            }
        }

        .container {
            display: flex;
            position: relative;
            z-index: 3;
            margin: 0 auto;
            padding-top: px(80);
            width: 85%;
        }

        .our-works-title {
            display: block;
            margin-right: px(180);
            align-self: center;
            color: $darkGray;
            font-size: px(96);
            font-family: $Raleway-Bold;
            transform: translateY(px(70));

            span {
                display: block;
                color: $blue;
            }
        }

        .works {
            width: px(1800);
            height: px(1400);
            position: relative;
        }

        .work {
            position: absolute;

            span {
                display: block;
                margin-top: px(20);
                color: $darkGray;
                font-size: px(40);
                font-family: $Raleway-Bold;
                text-transform: uppercase;
                letter-spacing: .5px;
            }

            img {
                object-fit: cover;
                transition: transform $timeHalf;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &--eurovision {
                top: 0;
                left: 0;
                
                img {
                    width: px(500);
                    height: px(820);
                }
            }

            &--alta {
                top: px(40);
                right: 0;
                
                img {
                    width: px(820);
                    height: px(500);
                }
            }

            &--audi {
                bottom: 0;
                left: px(360);
                
                img {
                    width: px(710);
                    height: px(400);
                }
            }

            &--vinograd {
                bottom: px(140);
                right: px(70);
                
                img {
                    width: px(490);
                    height: px(490);
                }
            }
        }

        .crossed-button {
            position: relative;
            margin-left: px(90);
            align-self: flex-end;
            font-family: $Roboto-Regular;
            
            span {
                font-size: px(32);

                &:after {
                    content: 'Посмотреть все работы';
                }
            }
        }

        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .4);
            content: '';
            opacity: 0;
            transition: opacity $time;
        }
    }

    .back-layer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-right: px(140);
        width: 100%;
        background: $black;
    }

    .discuss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: px(-150);
        z-index: 3;
        margin: px(250) auto 0;
        width: px(1960);

        .offer {
            width: px(1050);
        }

        .offer-title {
            display: block;
            margin-bottom: px(24);
            color: $darkGray;
            font-family: $Raleway-ExtraBold;
            font-size: px(72);
            text-transform: uppercase;
        }

        p {
            padding-right: px(150);
            color: $gray;
            font-family: $Roboto-Regular;
            font-size: px(28);
            line-height: 1.4;
        }

        .open-form {
            display: block;
            position: relative;
            margin: 0 auto;
            width: px(420);
            height: px(110);
            background: $blue;
            color: $white;
            font-family: $Roboto-Bold;
            font-size: px(32);
            text-transform: uppercase;

            span {
                position: relative;
                z-index: 2;
                letter-spacing: 1px;
            }

            &:before {
                display: block;
                position: absolute;
                top: px(24);
                left: px(-24);
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
                opacity: 0;
                transition: top $time, left $time, opacity $time;
            }

            &:hover {
                
                &:before {
                    top: px(10);
                    left: px(-10);
                    opacity: 1;
                }
            }
        }
    }

    &--dark {

        .front-layer {
            background: $lightBlack;

            .our-works-title {
                color: $white;
            }

            .work {

                span {
                    color: $white;
                }
            }

            .crossed-button {

                span {
                    color: $white;

                    &:before {
                        background: $white;
                    }
                }

                .arrow {
                    
                    .st0,
                    .st1 {
                        stroke: $white;
                    }                        
                }
            }
        }
    }

    &.opened {

        .front-layer {
            transform: rotateY(15deg) scaleX(.85);
    
            &:after {
                z-index: 9999;
                opacity: 1;
            }
        }
    }
}
