@import '../desktop';

& {

    .grid {
        min-height: 720px;

        &__item {
            min-width: 420px;
            min-height: 360px;
        }
    }

    .feed-container {
        min-height: 720px;
    }

    .feed {

        &__post {
            min-width: 420px;
            min-height: 360px;
        }
    }
}