.we-can {

    .languages {
        left: 20px;
    }

    .image-container {

        &--1 {
            height: 350px;
        }

        &--2 {
            right: -20px;
            bottom: -80px;
            width: 100%;
            height: initial;
        }
    }

    .new-header {
        font-size: 40px;
    }

    article {
        padding-left: 50px;
    }
}