& {  

    position: relative;
    background: $white;

    .language {
        position: absolute;
        z-index: 3;

        a {
            animation: none;
        }
    }

    .clock-bg {
        z-index: 1;
        font-family: $Raleway-Medium;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding-left: px(150);
        width: 80%;
        height: 100vh;
        min-height: 800px;
    }

    .images {
        position: relative;
        width: 40%;

        .image-container {
            position: relative;
            overflow: hidden;

            img {
                position: relative;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $darkGray;
                content: '';
            }

            &--1 {
                width: 100%;
                height: px(950);

                &:after {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    right: 0;
                    width: px(140);
                    height: px(340);
                    background: $white;
                    content: '';
                }
            }

            &--2 {
                position: absolute;
                bottom: px(-260);
                right: px(-200);
                width: px(820);
                height: px(440);
            }
        }
    }

    .info {
        position: relative;
        top: -7vh;
        width: 60%;
    }

    .sticker {
        
        span {

            &:before {
                content: 'Услуги web-production'
            }
        }
    }

    .new-header {
        margin-top: px(80);
        margin-bottom: px(80);
        font-family: $Raleway-ExtraBold;
        font-size: px(110);
        line-height: px(120);
        text-transform: uppercase;
    }

    article {
        padding-left: px(330);

        p {
            margin-bottom: px(50);
            font-family: $Roboto-Regular;
            font-size: px(32);
            line-height: 1.4;
        }
    }

    .crossed-button {
        margin-top: px(50);
        margin-left: px(330);
        font-family: $Raleway-Bold;

        span {
            &:after {
                content: 'Читать далее';
            }
        }
    }

    @keyframes leftWidthIncrease {
        from {
            left: 50%;
            width: 0;
        }
        to {
            left: 0;
            width: 100%;
        }
    }

    // &.current,
    // &.current-back,
    // &.previous,
    // &.previous-back {
    //     animation: Down $time * 3 0s both;

    //     .logo {
    //         animation: fadeInDown $WCBorderElAnimationTime $WCBorderElDelayTime both;
    //     }

    //     .menu {
    //         animation: fadeInDown $WCBorderElAnimationTime $WCBorderElDelayTime both;
    //     }

    //     .language {

    //         a {
    //             animation: Down $WCBorderElAnimationTime $WCBorderElDelayTime both;
    //         }
    //     }

    //     .clock-bg {

    //         span {
                
    //             &:before {
    //                 animation: Right $WCClockAnimationTime both;
    //             }
    
    //             &:nth-child(1) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFirstDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(2) {
    
    //                 &:before {
    //                     animation-delay: $WCClockSecondDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(3) {
    
    //                 &:before {
    //                     animation-delay: $WCClockThirdDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(4) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFourthDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(5) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFifthDelayTime;
    //                 }
    //             }
    //         }
    //     }

    //     .new-title {
            
    //         .text-container {
    
    //             &:before {
    //                 animation: halfDown $WCTitleLineAnimationTime linear $WCTitleLineDelayTime both;
    //             }
    //         }
    
    //         span {
    //             animation: Up $WCTitleTextAnimationTime $WCTitleTextDelayTime both;
    //         }
    //     }

    //     article {

    //         p {
    //             animation: fadeInUp $WCTextAnimationTime $WCTextDelayTime both;
    //         }
    //     }

    //     .sticker {

    //         span {
    //             animation: FadeInRightHalf $WCStickerTextAnimationTime $WCStickerTextDelayTime both;
    //         }

    //         &:before {
    //             animation: widthIncreaseStickerLine $WCStickerLineAnimationTime $WCStickerLineDelayTime both;
    //         }
    //     }

    //     .images {
    
    //         .image-container {
    
    //             img {
    //                 animation: Right $WCImageAnimationTime $WCImageDelayTime both;
    //             }
    
    //             &:before {
    //                 animation: Right $WCImageBeforeAnimationTime $WCImageBeforeDelayTime both;
    //             }
    
    //             &--1 {
    
    //                 &:after {
    //                     animation: fadeIn $WCImageAfterAnimationTime $WCImageAfterDelayTime both;
    //                 }
    //             }
    //         }
    //     }

    //     .crossed-button {
    //         animation: fadeInRight $WCCrossedBtnAnimationTime $WCCrossedBtnDelayTime both;
    //     }
    // }

    // &.previous,
    // &.previous-back {
    //     animation: slideUp $time * 3 0s both;
    //     animation-play-state: paused;

    //     .logo {
    //         animation-play-state: paused;
    //     }

    //     .menu {
    //         animation-play-state: paused;
    //     }

    //     .language {

    //         a {
    //             animation-play-state: paused;
    //         }
    //     }

    //     .clock-bg {

    //         span {
                
    //             &:before {
    //                 animation-play-state: paused;
    //             }
    
    //             &:nth-child(1) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFirstDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(2) {
    
    //                 &:before {
    //                     animation-delay: $WCClockSecondDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(3) {
    
    //                 &:before {
    //                     animation-delay: $WCClockThirdDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(4) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFourthDelayTime;
    //                 }
    //             }
    
    //             &:nth-child(5) {
    
    //                 &:before {
    //                     animation-delay: $WCClockFifthDelayTime;
    //                 }
    //             }
    //         }
    //     }

    //     .new-title {
            
    //         .text-container {
    
    //             &:before {
    //                 animation-play-state: paused;
    //             }
    //         }
    
    //         span {
    //             animation-play-state: paused;
    //         }
    //     }

    //     article {

    //         p {
    //             animation-play-state: paused;
    //         }
    //     }

    //     .sticker {

    //         span {
    //             animation-play-state: paused;
    //         }

    //         &:before {
    //             animation-play-state: paused;
    //         }
    //     }

    //     .images {
    
    //         .image-container {
    
    //             img {
    //                 animation-play-state: paused;
    //             }
    
    //             &:before {
    //                 animation-play-state: paused;
    //             }
    
    //             &--1 {
    
    //                 &:after {
    //                     animation-play-state: paused;
    //                 }
    //             }
    //         }
    //     }

    //     .crossed-button {
    //         animation-play-state: paused;
    //     }
    // }

    // &.current-back {
    //     animation: none;
    // }

    // &.previous-back {
    //     animation-play-state: running;
    // }

    // &.first-slide {
    //     animation: fadeIn $time * 3 0s both;
    // }
}