& {  
    
    position: relative;
    padding-top: 14.6vh;
    width: 100vw;
    height: 100vh;
    background: $black;
    overflow: hidden;

    .language {
        position: absolute;
        z-index: 5;

        a {
            animation: none;
        }
    }

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        margin-left: auto;
        padding-right: px(300);
        width: 98%;
        height: 82.3vh;
        min-height: 730px;

        .gray-block,
        .blue-block {
            position: absolute;
            top: 0;
            height: 100%;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }

        .gray-block {
            left: 0;
            width: 74%;

            &:before {
                background: $lightBlack;
            }
        }

        .blue-block {
            right: 0;
            width: 24%;
            
            &:before {
                background: $blue;
            }
        }
    }

    .info {
        align-self: flex-end;
        position: relative;
        left: px(200);
        z-index: 3;
        width: px(1400);
    }

    .sticker {
        position: relative;
        top: px(140);
        
        span {
            color: $lightGray;

            &:before {
                content: 'Услуги маркетинга';
            }
        }

        &:before {
            background: $lightGray;
        }
    }

    .new-title {
        position: relative;
        z-index: 2;
        top: px(140);
        margin-top: px(80);
        margin-bottom: px(80);
        font-family: $raleway;
        
        .text-container {
            display: inline-block;
            margin-bottom: px(10);
            font-weight: 800;

            span {
                color: $white;
            }
        }
    }

    article {
        padding: px(140) px(110) px(300) 0;
        background: $lightBlack;
        overflow: hidden;

        p {
            margin-bottom: px(50);
            color: $white;
            font-family: $roboto;
            font-size: px(28);
            line-height: 1.4;
        }
    }

    .crossed-button {
        margin-top: px(50);
        font-family: $raleway;

        span {

            &:after {
                color: $white;
                content: 'Читать далее';
            }

            &:before {
                background: $white;
            }
        }

        .arrow {

            .st0,
            .st1 {
                stroke: $white;
            }
        }
    }

    .image-container {
        position: relative;
        z-index: 2;
        width: px(1650);
        height: px(1360);
        overflow: hidden;

        img {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $gray;
            content: '';
        }
    }

    &.current,
    &.current-back,
    &.previous,
    &.previous-back {
        animation: Down $time * 3 0s both;

        .logo {
            animation: fadeInDown $STBorderElAnimationTime $STBorderElDelayTime both;
        }

        .menu {
            animation: fadeInDown $STBorderElAnimationTime $STBorderElDelayTime both;
        }

        .language {

            a {
                animation: Down $STBorderElAnimationTime $STBorderElDelayTime both;
            }
        }

        .container {

            .gray-block {

                &:before {
                    animation: Right $MHGrayBlockAnimationTime $MHGrayBlockDelayTime both;
                }
            }

            .blue-block {

                &:before {
                    animation: Left $MHBlueBlockAnimationTime $MHBlueBlockDelayTime both;
                }
            } 
        }

        .image-container {

            img {
                animation: Right $MHImageAnimationTime $MHImageDelayTime both;
            }

            &:before {
                animation: Right $MHImageBeforeAnimationTime $MHImageBeforeDelayTime both;
            }
        }

        .sticker {

            span {
                animation: fadeInLeft $MHTitleTextAnimationTime $MHTitleTextDelayTime both;           
            }

            &:before {
                animation: fadeInLeft $MHTitleLineAnimationTime $MHTitleLineDelayTime both;
            }
        }

        .new-title {

            .text-container {

                span {
                    animation: Up $MHTitleTextAnimationTime $MHTitleTextDelayTime both;
                }

                &:before {
                    animation: halfDown $MHTitleLineAnimationTime $MHTitleLineDelayTime both;
                }
            }
        }

        article {
            animation: fadeIn $MHArticleAnimationTime $MHArticleDelayTime both;

            p {
                animation: fadeInUp $MHTextAnimationTime $MHTextDelayTime both;
            }
        }

        .crossed-button {
            animation: fadeInUp $MHTextAnimationTime $MHTextDelayTime both;
        }
    }

    &.previous,
    &.previous-back {
        animation: slideUp $time * 3 0s both;
        animation-play-state: paused;

        .logo {
            animation-play-state: paused;
        }

        .menu {
            animation-play-state: paused;
        }

        .language {

            a {
                animation-play-state: paused;
            }
        }

        .container {

            .gray-block {

                &:before {
                    animation-play-state: paused;
                }
            }

            .blue-block {

                &:before {
                    animation-play-state: paused;
                }
            } 
        }

        .image-container {

            img {
                animation-play-state: paused;
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .sticker {

            span {
                animation-play-state: paused;        
            }

            &:before {
                animation-play-state: paused;
            }
        }

        .new-title {

            .text-container {

                span {
                    animation-play-state: paused;
                }

                &:before {
                    animation-play-state: paused;
                }
            }
        }

        article {
            animation-play-state: paused;

            p {
                animation-play-state: paused;
            }
        }

        .crossed-button {
            animation-play-state: paused;
        }
    }

    &.current-back {
        animation: none;
    }

    &.previous-back {
        animation-play-state: running;
    }

    &.first-slide {
        animation: fadeIn $time * 3 0s both;
    }
}