.work-examples {

    .front-layer {

        .our-works-title {
            margin-right: 180px;
        }

        .works {
            width: 1100px;
            height: 850px;
        }

        .work {

            &--eurovision {

                img {
                    width: 300px;
                    height: 500px;
                }
            }

            &--alta {

                img {
                    width: 500px;
                    height: 325px;
                }
            }

            &--audi {

                img {
                    width: 450px;
                    height: 270px;
                }
            }

            &--vinograd {

                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    .back-layer {
        padding-right: 150px;
    }

    &.opened {

        .front-layer {
            transform: rotateY(10deg) scaleX(.85);
        }
    }
}
