@import '../desktop';

& {  
    
    .cross {
        top: px(50);
        right: px(50);
    }
    
    .long-read-container {
        padding: px(200) px(150) px(100) px(100);
    }
    
    .row {
        display: flex;
        justify-content: space-between;
    
        & > div {
    
            &:first-child {
                width: 50%;
            }
    
            &:last-child {
                width: 50%;
            }
        }

        &--1 {

            & > div {

                &:nth-child(1) {
                    padding-right: px(200);
                }
            }
        }
    
        &--2 {
            margin-top: px(150);

            & > div {

                &:nth-child(1) {
                    padding-right: px(250);
                }
            }
        }
    
        &--3 {
            margin-top: px(150);

            & > div {

                &:nth-child(1) {
                    padding-right: px(300);
                }
            }
        }
    
        &--4 {
            margin-top: px(150);

            & > div {

                &:nth-child(1) {
                    padding-right: px(500);
                }
            }
        }
    
        &--5 {
            margin-top: px(150);
        }
    
        &--6 {
            margin-top: px(150);
        }
    
        &--7 {
            margin-top: px(150);
        }
    
        &--8 {
            margin-top: px(150);

            & > div {

                &:nth-child(1) {
                    padding-right: px(400);
                }
            }
        }
    }
    
    h3 {
        font-size: px(80);
        line-height: px(90);
    }
    
    p {
    
        &.bordered {
            margin-top: px(90);
            padding: px(50) 0;
            font-size: px(40);
        }
    
        &.left-bordered {
            margin: px(70) 0;
        }
    
        &.bottom-bordered {
            padding-bottom: px(50);
        }
    }
    
    ul {
    
        &.circled {
    
            li {
                margin-bottom: px(50);
                padding-left: px(24); 
            }

            h4 {
                margin-bottom: px(20);
            }
        }

        &.circled-double {
            flex-direction: row;
            height: initial;

            li {
                padding-right: px(20);
                width: px(600);
            }
        }

        &.indexed {

            li {
                margin-bottom: px(80);
                padding-left: px(20);

                &:before {
                    top: px(-70);
                    left: px(-80);
                    font-size: px(76);
                }

                &:after {
                    top: px(-20);
                    left: px(-20);
                    width: px(60);
                    height: px(60);
                }
            }

            h4 {
                margin-bottom: px(30);
                font-size: px(34);
            }
        }

        &.indexed-double {

            li {
                padding-left: px(20);
                padding-right: px(20);
                width: px(600); 

                &:nth-child(1),
                &:nth-child(3) {
                    padding-left: px(20);

                    &:before {
                        left: px(-80);
                    }
    
                    &:after {
                        left: px(-20);
                    }
                }
            }
        }
    }
    
    .jumping-button {
        margin: px(50) auto 0;
    }
}