@import '../desktop';

& {
    
    $contentWidth: px(1950);

    a {
        width: $contentWidth / 4;

        &.big {
            font-size: px(60);
        }

        &.middle {
            font-size: px(48);
        }

        &.small {
            font-size: px(36);
        }

        &.tiny {
            font-size: px(30);
        }
    }

    .content {
        padding-bottom: px(200);

        &-second-level {
            width: $contentWidth / 4 * 3;
        }

        &-third-level {
            width: $contentWidth / 2;
        }

        &-fourth-level {
            width: $contentWidth / 4;
        }
    }

    .row {
        margin-bottom: px(30);

        &-second-level {
            margin-bottom: px(50);
        }

        &-third-level {
            margin-bottom: px(40);
        }

        &-fourth-level {
            margin-bottom: px(30);
        }
    }

    .container {
        padding-top: px(280);
        width: $contentWidth;
    }

    .page-title {
        padding-bottom: px(60);
        font-size: px(70);
    }
}