& {  

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding: 0 px(50);
    background: $black;

    p {
        margin-bottom: px(40);
        color: $white;
        font-family: $roboto;
        font-size: px(28);
        line-height: 1.4;
        text-align: center;
    }

    span {
        display: block;
    }

    img {
        display: block;
        margin: 0 auto;
        width: px(250);
        height: px(250);
        object-fit: cover;
    }
}